Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(gcp/function): forward telemetry to stage
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(client): remove MDN Plus launch banner (#8575)
  client/src/banners/active-banner.tsx
  client/src/banners/index.tsx
Labels: none

Revert "chore(gcp/function): forward telemetry to stage"
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): set logLevel = debug
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): set secure = false
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): test with httpbin.org
  gcp/function/src/handlers/telemetry.ts
Labels: none

fixup! chore(gcp/function): test with httpbin.org
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): revert telemetry proxy
  gcp/function/src/handlers/telemetry.ts
Labels: none

fix(top-nav): top navigation not sticky
  client/src/app.tsx
  client/src/ui/organisms/top-navigation/index.tsx
Labels: none

fix(top-navigation): restore stickiness on desktop (#8585)
  client/src/app.tsx
  client/src/ui/organisms/top-navigation/index.tsx
Labels: none

chore(gcp/function): use http-proxy-middleware@beta
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/handlers/content.ts
Labels: none

chore(glean-context): set Context.testing = true if localhost
  client/src/telemetry/glean-context.tsx
Labels: none

Revert "ci(xyz-build): disable build"
  .github/workflows/xyz-build.yml
Labels: github-actions

Revert "chore(glean-context): set Context.testing = true if localhost"
  client/src/telemetry/glean-context.tsx
Labels: none

Revert "Revert "ci(xyz-build): disable build""
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(gcp/function): proxy telemetry with http-proxy
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/handlers/telemetry.ts
Labels: none

fixup! chore(gcp/function): proxy telemetry with http-proxy
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): do not transform telemetry requests
  gcp/function/src/app.ts
  gcp/function/src/middlewares/noCacheNoTransform.ts
Labels: none

Revert "fixup! chore(gcp/function): proxy telemetry with http-proxy"
  gcp/function/src/handlers/telemetry.ts
Labels: none

Revert "chore(gcp/function): proxy telemetry with http-proxy"
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): downgrade to Node.js 16
  .github/workflows/xyz-build.yml
  gcp/function/package.json
Labels: github-actions

chore(gcp/function): downgrade to Node.js 14
  .github/workflows/xyz-build.yml
  gcp/function/package.json
Labels: github-actions

chore(gcp/function): bump back to Node.js 18
  .github/workflows/xyz-build.yml
  gcp/function/package.json
Labels: github-actions

chore(gcp/function): replace noCacheNoTransform with raw() middleware
  gcp/function/src/app.ts
  gcp/function/src/middlewares/noCacheNoTransform.ts
Labels: none

chore(gcp/function): pull express.raw() up
  gcp/function/src/app.ts
Labels: none

feat(gcp/function): support local HTTPS
  gcp/function/src/cli.ts
  gcp/function/src/env.ts
Labels: none

feat(gcp/function): use nodemon to auto-restart the app
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/cli.ts
  gcp/function/src/env.ts
Labels: none

Revert "chore(gcp/function): use http-proxy-middleware@beta"
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/handlers/content.ts
Labels: none

feat(gcp/function): add DEBUG_TELEMETRY option
  gcp/function/src/cli.ts
  gcp/function/src/env.ts
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): remove express.raw()
  gcp/function/src/app.ts
Labels: none

fixup! feat(gcp/function): add DEBUG_TELEMETRY option
  gcp/function/src/cli.ts
Labels: none

fixup! feat(gcp/function): use nodemon to auto-restart the app
  gcp/function/package.json
Labels: none

chore(gcp/function): use compression() for telemetry
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/app.ts
Labels: none

chore(gcp/function): use fixRequestBody
  gcp/function/src/handlers/telemetry.ts
Labels: none

Revert "Revert "Revert "ci(xyz-build): disable build"""
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): skip steps via env vars
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! ci(xyz-build): skip steps via env vars
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(macros): delete {{mediawiki.external}} macro
  kumascript/macros/mediawiki.external.ejs
Labels: macros

fix(deployer): add content encoding when exists (#8498)
  deployer/src/deployer/upload.py
Labels: deployer, python

chore(macros): delete {{mediawiki.external}} macro (#8592)
  kumascript/macros/mediawiki.external.ejs
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
