Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix
  libs/env/index.js
Labels: none

fix(libs/env): get correct `ROOT` by relative path (#8177)
  libs/env/index.js
Labels: none

chore(deps): remove rehype-minify-whitespace (#8174)
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update mdast-util-from-markdown usage
  build/flaws/broken-links.ts
Labels: flaw-system

fix(deps): update unified usage
  markdown/m2h/index.ts
Labels: markdown

deployer(fix): fix lambda update + update python
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/poetry.lock
  deployer/pyproject.toml
  deployer/src/deployer/update_lambda_functions.py
  testing/integration/poetry.lock
  testing/integration/pyproject.toml
Labels: dependencies, deployer, github-actions, python

chore(syntax-highlight): support Svelte via prism-svelte (#8114)
  build/syntax-highlight.ts
  package.json
  yarn.lock
Labels: dependencies

deployer(fix): fix lambda update + update python (#8184)
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/poetry.lock
  deployer/pyproject.toml
  deployer/src/deployer/update_lambda_functions.py
  testing/integration/poetry.lock
  testing/integration/pyproject.toml
Labels: dependencies, deployer, github-actions, python

refactor(tool): extract commands in separate files
  tool/build-robots-txt.ts
  tool/cli.ts
  tool/commands/add-redirect.ts
  tool/commands/build-robots-txt.ts
  tool/commands/create.ts
  tool/commands/delete.ts
  tool/commands/edit.ts
  tool/commands/fix-flaws.ts
  tool/commands/fix-redirects.ts
  tool/commands/flaws.ts
  tool/commands/gather-git-history.ts
  tool/commands/google-analytics-code.ts
  tool/commands/index.ts
  tool/commands/inventory.ts
  tool/commands/macro-usage-report.ts
  tool/commands/move.ts
  tool/commands/mozilla.dnthelper.min.js
  tool/commands/optimize-client-build.ts
  tool/commands/popularities.ts
  tool/commands/preview.ts
  tool/commands/redundant-translations.ts
  tool/commands/spas.ts
  tool/commands/sync-translated-content.ts
  tool/commands/test-redirects.ts
  tool/commands/validate-redirects.ts
  tool/commands/validate.ts
  tool/popularities.ts
  tool/util.ts
Labels: none

feat(scripts): add install:all + run in prepare
  package.json
Labels: none

chore(scripts): use sh in check:tsc
  package.json
Labels: none

fix(tool): update relative paths
  tool/commands/macro-usage-report.ts
  tool/commands/popularities.ts
Labels: none

let LANGUAGE_TAGS be a frozen object
  ssr/render.ts
  testing/tests/index.test.ts
Labels: none

Bump .nvmrc and GitHub Actions from Node v16 to v18
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  .nvmrc
Labels: github-actions

ci: use built-in setup-python caching
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

fix: try use pipx install poetry
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

try remove direct venv call
  .github/workflows/pr-deployer.yml
Labels: github-actions

fix: use working-directory
  .github/workflows/pr-deployer.yml
Labels: github-actions

fix(client): Fix exports from constants.ts
  client/src/constants.ts
Labels: none

chore(macros): remove nesting for css selectors
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

fix(server): point start:server to index.ts
  package.json
Labels: none

chore(deps): bump node in package.json to v18
  package.json
Labels: none

style(workflows): use number of node-version
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
Labels: github-actions

fix(server): point start:server to index.ts (#8196)
  package.json
Labels: none

chore(deps): bump NodeJS from Node v16 to v18 (#8188)
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  .nvmrc
  package.json
Labels: github-actions

feat(scripts): add `install:all` + automatically run it as part of `prepare` (#8130)
  package.json
Labels: none

fix(macros/JSRef): add missing `await` keyword for async function call
  kumascript/macros/JSRef.ejs
Labels: macros

fix(macros/JSRef): add missing `await` keyword for async function call (#8197)
  kumascript/macros/JSRef.ejs
Labels: macros

Remove deleted page from GamesSidebar
  kumascript/macros/GamesSidebar.ejs
Labels: macros

refactor(macros): Remove {{DeprecatedGeneric}}; merge {{DeprecatedBadge}} into {{Deprecated_Inline}}
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/Deprecated_Inline.ejs
Labels: macros

Remove now-irrelevant tests
  kumascript/tests/macros/Deprecated.test.ts
Labels: macros

Fix whitespace in tests
  kumascript/tests/macros/Deprecated.test.ts
Labels: macros

refactor(macros): Merge {{ObsoleteBadge}} into {{Obsolete_Inline}}
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/Obsolete_Inline.ejs
Labels: macros

Actually remove the entry
  kumascript/macros/GamesSidebar.ejs
Labels: macros

Remove deleted page from GamesSidebar (#8198)
  kumascript/macros/GamesSidebar.ejs
Labels: macros

refactor(macros): remove {{CanvasSidebar}} macro
  kumascript/macros/CanvasSidebar.ejs
Labels: macros

refactor(macros): remove {{CanvasSidebar}} macro (#8211)
  kumascript/macros/CanvasSidebar.ejs
Labels: macros

chore(macros): remove {{gecko}} macro
  kumascript/macros/gecko.ejs
Labels: macros

fix(offline-settings): treat initial phase like idle
  client/src/settings/offline-settings.tsx
Labels: none

chore(macros): remove {{gecko}} macro (#8212)
  kumascript/macros/gecko.ejs
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
