Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

Convert kumascript/tests/* to async
  kumascript/tests/macros.test.ts
  kumascript/tests/macros/Compat.test.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/svginfo.test.ts
  kumascript/tests/render.test.ts
Labels: macros

Convert server/* to async
  server/document.ts
  server/fake-v1-api.ts
  server/flaws.ts
  server/index.ts
  server/search-index.ts
  server/translations.ts
Labels: none

Convert tool/* to async
  tool/build-robots-txt.ts
  tool/cli.ts
  tool/optimize-client-build.ts
  tool/popularities.ts
  tool/sync-translated-content.ts
Labels: none

Convert ssr/* to async
  build/spas.ts
  ssr/render.ts
Labels: none

Convert build/* to async
  build/cli.ts
  build/git-history.ts
  build/index.ts
  build/spas.ts
  build/utils.ts
Labels: none

Convert testing/tests/destructive.test.ts to async
  testing/tests/destructive.test.ts
Labels: none

Fix missing await declarations
  server/translations.ts
Labels: none

Fix tests
  testing/tests/destructive.test.ts
Labels: none

fix(macros): add data-macro to JSRef/SVGRef
  kumascript/macros/JSRef.ejs
  kumascript/macros/SVGRef.ejs
Labels: macros

Add missing async/await declarations
  server/index.ts
  ssr/index.ts
Labels: none

Update macros used for badges
  kumascript/src/lib/badges.ts
Labels: macros

Follow ESM migration
  server/index.ts
Labels: none

lint
  client/src/document/ingredients/interactive-example.tsx
  libs/types/document.ts
Labels: none

Update kumascript/macros/JSRef.ejs
  kumascript/macros/JSRef.ejs
Labels: macros

fix(macros): add data-macro attribute to JSRef/SVGRef (#8311)
  kumascript/macros/JSRef.ejs
  kumascript/macros/SVGRef.ejs
Labels: macros

fix(telemetry/sidebar-click): ignore TOC clicks
  client/src/telemetry/sidebar-click.ts
Labels: none

Update client/src/telemetry/sidebar-click.ts
  client/src/telemetry/sidebar-click.ts
Labels: none

Update client/src/telemetry/sidebar-click.ts
  client/src/telemetry/sidebar-click.ts
Labels: none

refactor(telemetry/sidebar-click): check for sidebar first
  client/src/telemetry/sidebar-click.ts
Labels: none

fix(telemetry/sidebar-click): ignore mobile TOC incl placement
  client/src/telemetry/sidebar-click.ts
Labels: none

fix(telemetry/sidebar-click): ignore mobile TOC clicks (#8312)
  client/src/telemetry/sidebar-click.ts
Labels: none

chore(short-survey): MDN Web Docs content discovery
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

Update .github/workflows/prod-build.yml
  .github/workflows/prod-build.yml
Labels: github-actions

Update .github/workflows/stage-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

Apply suggestions from code review
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

chore(short-survey): add content discovery survey (#8315)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

chore(placement): record HTTP status with fetched event
  client/src/document/organisms/toc/placement.tsx
Labels: none

feat(build): support chunking
  build-fast.sh
  build/build-options.ts
  build/cli.ts
  content/document.ts
  package.json
Labels: none

chore(git): ignore Procfile.tmp
  .gitignore
Labels: none

chore(build): add cleanup as task
  build-fast.sh
Labels: none

chore(build): time build:fast
  package.json
Labels: none

chore(build-fast): use yarn, cleanup afterwards
  build-fast.sh
Labels: none

chore(placement): record HTTP status with fetched event (#8319)
  client/src/document/organisms/toc/placement.tsx
Labels: none

fix(tool/sync-translated-content): find document by dir only (#8253)
  tool/sync-translated-content.ts
Labels: none

fix(macros/JSRef): rewrite and show correct subpages (#8134)
  kumascript/macros/JSRef.ejs
Labels: macros

fix: remove repeated extra className
  client/src/ui/organisms/top-navigation/index.tsx
Labels: none

fix(content/image): avoid passing Buffer to is-svg
  content/image.ts
Labels: none

ci(prod-build): use interactive-examples base url
  .github/workflows/prod-build.yml
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
