Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(macros/LearnSidebar): add MathML tutorial (#6953)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

lint
  client/src/plus/collections/v2/index.scss
Labels: plus

GLEAN_DISABLED to GLEAN_ENABLED
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/telemetry/glean-context.tsx
  docs/envvars.md
  testing/.env
Labels: github-actions

feature(plus) add preview banner (#7071)
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/plus/collections/v2/index.scss
Labels: plus

test(macros/jsxref): replace removed pages in examples
  kumascript/macros/jsxref.ejs
Labels: macros

fix(macros/jsxref): link to en-US, if page doesn't exist in locale (#6672)
  kumascript/macros/jsxref.ejs
  kumascript/src/api/wiki.js
  kumascript/tests/macros/jsxref.test.js
Labels: macros

refactor: extract simulate-padding-border() mixin
  client/src/document/index.scss
Labels: none

refactor: reuse --elem-radius, rename mixin
  client/src/document/index.scss
Labels: none

fix: add margin all around
  client/src/document/index.scss
Labels: none

revert: inline mixin and restore previous state
  client/src/document/index.scss
Labels: none

fix(live-samples): restore padding, use content-box sizing
  client/src/document/index.scss
Labels: none

chore(macros/SectionOnPage): add Chinese translation (#7051)
  kumascript/macros/SectionOnPage.ejs
Labels: macros

chore(syntax-highlight): add hyphen to nolint aliases
  build/syntax-highlight.ts
Labels: none

chore(syntax-highlight): add nolint aliases for html/js (#7017)
  build/syntax-highlight.ts
Labels: none

fix(macros/ListSubpagesForSidebar): list parent + subpages, if requested
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

chore(macros/ListSubpagesForSidebar): label parent page as "Overview"
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

chore(macros/JsSidebar): add "Overview" items
  kumascript/macros/JsSidebar.ejs
Labels: macros

feat(macros): localize ExperimentalBadge
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

Add Trailing commas page to JS sidebar
  kumascript/macros/JsSidebar.ejs
Labels: macros

chore(macros/ExperimentalBadge): add other locales
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

chore(macros/JsSidebar): use translated titles where available
  kumascript/macros/JsSidebar.ejs
Labels: macros

chore(macros/JsSidebar): add "Trailing commas" page (#7082)
  kumascript/macros/JsSidebar.ejs
Labels: macros

Update kumascript/macros/ExperimentalBadge.ejs
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

Apply suggestions from code review
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

chore(macros/CSSRef): remove German translations
  kumascript/macros/CSSRef.ejs
Labels: macros

chore(macros/CSSRef): update Japanese translations
  kumascript/macros/CSSRef.ejs
Labels: macros

chore(macros/CSSRef): update zh-CN translations
  kumascript/macros/CSSRef.ejs
Labels: macros

Update client/src/env.ts
  client/src/env.ts
Labels: none

chore(sidebar): open menu, highlight current page
  build/document-extractor.ts
  build/index.ts
Labels: none

PR Changes. Changed page_view back to page for consistency. Documented toggling glean enabled
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  docs/envvars.md
Labels: none

Update client/src/telemetry/glean-context.tsx
  client/src/telemetry/glean-context.tsx
Labels: none

fix(sidebar): open menu, highlight current page
  build/document-extractor.ts
  build/index.ts
Labels: none

Add French translation
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

lints
  client/src/telemetry/glean-context.tsx
Labels: none

fix(glean-context): remove trailing semicolon
  client/src/telemetry/glean-context.tsx
Labels: none

docs(envvars): update REACT_APP_GLEAN_CHANNEL default
  docs/envvars.md
Labels: none

build glean before test
  package.json
Labels: none

test(env): remove unnecessary key/value pair
  testing/.env
Labels: none

chore(macros/CSS_Ref): separate columns per character
  client/src/document/index.scss
Labels: none

chore(macros/CSS_Ref): use h3 for characters
  client/src/document/index.scss
  kumascript/macros/CSS_Ref.ejs
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
