Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(build): check for SkippedDocumentBuild
  build/cli.ts
Labels: none

ci(testing): separate lint from test
  .github/workflows/testing.yml
Labels: github-actions

chore(build/flaws): print {newRawBody,rawBody}
  build/flaws/index.ts
Labels: flaw-system

fix(build): allow {id,title} to be null
  build/document-extractor.ts
  libs/types/document.ts
Labels: none

fix(build): revert filtering text nodes
  build/document-extractor.ts
Labels: none

fix(build): make GenericFlaw.explanation optional
  build/bcd-urls.ts
  libs/types/document.ts
Labels: none

feat(macros): localize DeprecatedBadge
  kumascript/macros/DeprecatedBadge.ejs
Labels: macros

Update DeprecatedBadge.ejs
  kumascript/macros/DeprecatedBadge.ejs
Labels: macros

feat(macros): localize DeprecatedBadge (#6954)
  kumascript/macros/DeprecatedBadge.ejs
Labels: macros

MP-96 fix stale data in collection edit modal
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Labels: plus

MP-96 fix stale data in collection edit modal (#6955)
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Labels: plus

Revert "chore(build/flaws): print {newRawBody,rawBody}"
  build/flaws/index.ts
Labels: flaw-system

test(destructive): print stdout
  .github/workflows/testing.yml
  testing/tests/destructive.test.ts
Labels: github-actions

chore(build): revert flaws to JS
  build/flaws/bad-bcd-queries.js
  build/flaws/broken-links.js
  build/flaws/heading-links.js
  build/flaws/index.js
  build/flaws/pre-tags.js
  build/flaws/sections.js
  build/flaws/translation-differences.js
  build/flaws/unsafe-html.js
Labels: flaw-system

revert(build): unfix syncAllTranslatedContent()
  build/sync-translated-content.ts
Labels: none

chore(macros): delete {{Exception}} macro
  kumascript/macros/Exception.ejs
Labels: macros

Delete Exception.ejs
  kumascript/macros/Exception.ejs
Labels: macros

ci(dev-build): notify PRs about successful builds (#6950)
  .github/workflows/dev-build.yml
Labels: github-actions

chore(macros): delete {{Exception}} macro (#6961)
  kumascript/macros/Exception.ejs
Labels: macros

merge the script tags
  client/public/index.html
  libs/constants/index.js
Labels: none

MP-96 clear new collection modal
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Labels: plus

chore(macros): delete {{ifmethod}} macro
  kumascript/macros/ifmethod.ejs
Labels: macros

MP-96 clear new collection modal (#6980)
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Labels: plus

chore(macros): delete {{ifmethod}} macro (#6982)
  kumascript/macros/ifmethod.ejs
Labels: macros

fix(tests): stabilize flaky tests
  testing/tests/developing.spec.ts
  testing/tests/headless.sitesearch.spec.ts
Labels: none

refactor(scripts): extract lint.sh
  scripts/lint.sh
  scripts/testing.sh
Labels: none

Update libs/constants/index.js
  libs/constants/index.js
Labels: none

chore(macros): deprecate {{warning}} macro
  kumascript/macros/warning.ejs
Labels: macros

chore(macros): deprecate {{warning}} macro (#6994)
  kumascript/macros/warning.ejs
Labels: macros

build(deps): drop node 17
  package.json
Labels: none

chore(libs/constants): declare types
  libs/constants/index.d.ts
  libs/constants/package.json
Labels: none

move item edit/delete into components
  client/src/plus/collections/v2/collection.tsx
Labels: plus

chore(libs/fundamental-redirects): declare types
  libs/fundamental-redirects/index.d.ts
  libs/fundamental-redirects/package.json
Labels: none

chore(libs/env): declare types
  libs/env/index.d.ts
  libs/env/package.json
Labels: none

chore(libs/get-locale): declare types
  libs/get-locale/index.d.ts
  libs/get-locale/package.json
Labels: none

chore(libs/slug-utils): declare types
  libs/slug-utils/index.d.ts
  libs/slug-utils/package.json
Labels: none

chore(libs/languages): declare types
  libs/languages/index.d.ts
  libs/languages/package.json
Labels: none

chore(libs): declare types (#7006)
  libs/constants/index.d.ts
  libs/constants/package.json
  libs/env/index.d.ts
  libs/env/package.json
  libs/fundamental-redirects/index.d.ts
  libs/fundamental-redirects/package.json
  libs/get-locale/index.d.ts
  libs/get-locale/package.json
  libs/languages/index.d.ts
  libs/languages/package.json
  libs/slug-utils/index.d.ts
  libs/slug-utils/package.json
Labels: none

refactor(build): convert to typescript
  .gitignore
  build/bcd-urls.ts
  build/build-options.ts
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/document-utils.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/git-history.ts
  build/index.ts
  build/matches-in-text.ts
  build/page-title.ts
  build/resolve-bcd.ts
  build/search-index.ts
  build/sitemaps.ts
  build/spas.ts
  build/sync-translated-content.ts
  build/syntax-highlight.ts
  build/tsconfig.json
  build/utils.ts
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/site-search/form.tsx
  client/src/site-search/search-results.tsx
  libs/types/document.ts
  package.json
  server/flaws.ts
Labels: flaw-system

build(dist): transpile build
  tsconfig.dist.json
Labels: none
