Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

Apply suggestions from code review
  client/src/document/hooks.ts
Labels: none

id -> index
  client/src/document/hooks.ts
  client/src/plus/collections/collection-list-item.tsx
  libs/types/document.ts
Labels: plus

Persist indexes to local storage
  client/src/document/hooks.ts
Labels: none

nit
  client/src/document/hooks.ts
Labels: none

chore(macros): delete {{Tag}} macro
  kumascript/macros/Tag.ejs
Labels: macros

chore(macros): delete {{Tag}} macro (#7039)
  kumascript/macros/Tag.ejs
Labels: macros

refactor(build/spas): extract fetchRecentContributions()
  build/spas.ts
Labels: none

fix(build/spas): filter recently merged contributions
  build/spas.ts
Labels: none

fix(interactive-examples): post theme message only to loaded iframes (#6560)
  client/public/index.html
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
  libs/constants/index.js
Labels: none

chore(localstorage): consistently console.warn() on error
  client/public/index.html
  client/src/banners/banner-utils.ts
  client/src/document/hooks.ts
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Labels: none

fixup! chore(localstorage): consistently console.warn() on error
  client/public/index.html
  libs/constants/index.js
Labels: none

chore(localstorage): make warnings more consistent
  client/src/document/toolbar/index.tsx
  client/src/settings/mdn-worker.tsx
Labels: none

fix(libs/constants): keep previous hash
  libs/constants/index.js
Labels: none

style(prettier): fix issue
  client/src/document/toolbar/index.tsx
Labels: none

fix(client): make site work if localStorage is disabled (#6352)
  client/public/index.html
  client/src/banners/banner-utils.ts
  client/src/document/hooks.ts
  client/src/document/toolbar/index.tsx
  client/src/settings/mdn-worker.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
  client/src/writers-homepage/viewed-documents.tsx
  libs/constants/index.js
Labels: none

Replace re-introduction to JS with language overview in JS sidebar
  kumascript/macros/JsSidebar.ejs
Labels: macros

chore(macros/JsSidebar): replace "Re-introduction" with new "Language overview" (#7048)
  kumascript/macros/JsSidebar.ejs
Labels: macros

refactor(hooks): move index assignment into getFrequentlyViewed()
  client/src/document/hooks.ts
Labels: none

refactor(hooks): rename getNext{FrequentlyViewed}Index()
  client/src/document/hooks.ts
Labels: none

CSSSyntax: handle hash+curly brackets
  kumascript/macros/CSSSyntax.ejs
Labels: macros

Update the script hash on the main page
  libs/constants/index.js
Labels: none

fix(csp): update script-src hash for inline script (#7050)
  libs/constants/index.js
Labels: none

test(csp): verify that inline scripts have CSP entry
  client/public/index.html
  libs/constants/index.d.ts
  libs/constants/index.js
  testing/tests/csp.test.ts
Labels: none

refactor(libs/constants): rename CSP_SCRIPT_SRC_VALUES
  client/public/index.html
  libs/constants/index.d.ts
  libs/constants/index.js
  testing/tests/csp.test.ts
Labels: none

test(csp): verify that inline scripts have CSP entry (#6992)
  client/public/index.html
  libs/constants/index.d.ts
  libs/constants/index.js
  testing/tests/csp.test.ts
Labels: none

Small improvement
  client/src/document/hooks.ts
Labels: none

chore(macros/SectionOnPage): add l10n-zh translation
  kumascript/macros/SectionOnPage.ejs
Labels: macros

Refactor section splitting to reduce duplication
  testing/tests/index.test.ts
Labels: none

Add missing encoding parameter to fs.readFileSync
  testing/tests/index.test.ts
Labels: none

Add missing isH4 property to Section types
  libs/types/document.ts
Labels: none

Add isH4 to the ProseSection value to match updated type definition
  build/document-extractor.ts
Labels: none

Remove .html() after extracting Cheerio element to variable
  testing/tests/index.test.ts
Labels: none

Experimenting with link matching for section splitting tests
  testing/tests/index.test.ts
Labels: none

Debugging getting the innerHTML from a specific h2/h3/h4 element
  testing/tests/index.test.ts
Labels: none

Add closure function to reduce duplication in heading extraction
  build/document-extractor.ts
Labels: none

Remove stale function definition for extractHeadings
  build/document-extractor.ts
Labels: none

Debugging section splitting tests
  build/document-extractor.ts
Labels: none

Testing section splitting
  build/document-extractor.ts
Labels: none

Tinkering with helper function
  build/document-extractor.ts
Labels: none

Debugging
  build/document-extractor.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
