Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(plus): render collection filter correct
  client/src/plus/updates/index.tsx
Labels: plus

enhance(plus): enable newsletter on prod (#7988)
  .github/workflows/prod-build.yml
Labels: github-actions

lint
  client/src/plus/updates/index.tsx
Labels: plus

fix: old asset-manifest is returned from disk cache
  client/pwa/src/service-worker.ts
Labels: plus:offline

fix(offline): when actually offline article pages error out
  client/pwa/src/fetch-interceptors.ts
Labels: plus:offline

fix(offline): when actually offline article pages error out (#7997)
  client/pwa/src/fetch-interceptors.ts
Labels: plus:offline

Remove inconsistant colons in HTMLSidebar
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

Remove inconsistent colons in JSSidebar
  kumascript/macros/JsSidebar.ejs
Labels: macros

Add Web Performance to sidebar
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Remove inconsistent colons in HTTPSidebar
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

Add few types
  build/check-images.ts
  build/cli.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/index.ts
  build/page-title.ts
  build/spas.ts
  build/syntax-highlight.ts
  build/utils.ts
  build/wrap-tables.ts
  content/image.ts
  content/redirect.ts
  content/translation.ts
  content/utils.ts
  server/index.ts
Labels: flaw-system

Remove useless boolean type
  build/flaws/broken-links.ts
Labels: flaw-system

Filter out non-tags in `unsafe-html`
  build/flaws/unsafe-html.ts
Labels: flaw-system

Add `domhandler` explicitly
  package.json
Labels: none

Add `domhandler` explicitly
  build/flaws/sections.ts
  build/flaws/unsafe-html.ts
Labels: flaw-system

Remove not yet ready type
  build/flaws/sections.ts
Labels: flaw-system

fix(plus): render collection filter correct (#7996)
  client/src/plus/updates/index.tsx
Labels: plus

MP-231: migrate from bcd.json to bcd-utils-api (#7957)
  build/bcd-urls.ts
  build/cli.ts
  build/extract-bcd.ts
  build/extract-sections.ts
  build/index.ts
  client/pwa/src/fetcher.ts
  client/pwa/src/service-worker.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/lazy-bcd-table.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/flaw-utils.js
  libs/constants/index.js
  libs/types/document.ts
  server/index.ts
  testing/tests/index.test.ts
Labels: plus:offline

fix(breadcrumbs): "javascript > javascript"
  build/document-utils.ts
Labels: none

fix(breadcrumbs): "javascript > javascript" (#8020)
  build/document-utils.ts
Labels: none

Use precommit hooks also for `.ts` files
  .lintstagedrc.json
Labels: none

chore: use precommit hooks also for `.ts` files (#8021)
  .lintstagedrc.json
Labels: none

fix: remove inconsistent colons in HTTPSidebar (#8010)
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

fix: remove inconsistent colons in JSSidebar (#8006)
  kumascript/macros/JsSidebar.ejs
Labels: macros

fix: remove inconsistant colons in HTMLSidebar (#8005)
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

Make spec-urls an override for browser-compat
  build/extract-specifications.ts
Labels: none

Update kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
Labels: macros

Learn sidebar - cascade layers into English sidebar
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Remove duplicate key
  kumascript/macros/ObsoleteBadge.ejs
Labels: macros

Deprecate ARIARole macro
  kumascript/macros/ARIARole.ejs
Labels: macros

fix: use proper brand for GitHub
  client/src/document/on-github.tsx
Labels: none

Add release date label in BCD timeline
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: none

chore(macros/LearnSidebar): Complete and update `fr` translation (#7848)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore: remove WebRTCSidebar
  content/translation.ts
  kumascript/macros/WebRTCSidebar.ejs
Labels: macros

chore: remove ServiceWorkerSidebar
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: macros

fix: remove deleted Side Bar refs in translations
  content/translation.ts
Labels: none

Add constructor to JS sidebar
  kumascript/macros/JSRef.ejs
Labels: macros

update MDNSidebar macro
  kumascript/macros/MDNSidebar.ejs
Labels: macros

Rewrite Learn sidebar
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Update ARIARole.ejs
  kumascript/macros/ARIARole.ejs
Labels: macros
