Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

Revert "chore(gcp/function): reduce memory to 128M"
  gcp/function/package.json
Labels: none

fix(locale-utils): add dependencies
  libs/locale-utils/package.json
  libs/locale-utils/yarn.lock
Labels: dependencies

fixup! fix(locale-utils): add dependencies
  libs/locale-utils/package-lock.json
Labels: none

fix(gcp/function): update package-lock
  gcp/function/package-lock.json
Labels: none

fix(gcp/function): do not resolveIndexHTML in /static
  gcp/function/src/handlers/client.ts
Labels: none

ci: add xyz-build
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): switch to interactive-examples.mdn.allizom.net
  .github/workflows/stage-build.yml
  libs/constants/index.js
Labels: github-actions

ci(xyz-build): deploy function
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): enable plus/auth
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): switch to interactive-examples.mdn.allizom.net (#8378)
  .github/workflows/stage-build.yml
  libs/constants/index.js
Labels: github-actions

chore(gcp/function): remove spa handler
  gcp/function/src/app.ts
  gcp/function/src/handlers/spa.ts
Labels: none

fix(build/spas): type params, pass locale to m2h
  build/spas.ts
Labels: none

fix(bcd): add space before the preference name
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: none

ci(xyz-build): run gsutil with -q
  .github/workflows/xyz-build.yml
Labels: github-actions

chore: split CRUD_MODE env var into WRITER_MODE and DEV_MODE
  .env-dist
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  client/src/app.tsx
  client/src/banners/README.md
  client/src/banners/index.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/document/index.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/document/toolbar/index.tsx
  client/src/env.ts
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/site-search/search-results.tsx
  client/src/sitemap/index.tsx
  client/src/telemetry/glean-context.tsx
  docs/envvars.md
  docs/npm-packaging.md
  testing/README.md
Labels: github-actions, plus

fix(bcd): add space before the preference name (#8354)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: none

fix(spas): use cased locale for homepage, not lowercase (#8377)
  build/spas.ts
Labels: none

fix
  .github/workflows/developing.yml
  docs/envvars.md
  scripts/developing.sh
Labels: github-actions

chore(gcp/function): add @types/http-proxy
  gcp/function/package-lock.json
  gcp/function/package.json
Labels: none

chore(gcp): remove content build from gcp.sh
  .env.gcp
  gcp.sh
Labels: none

fix(gcp/function): omit trailing slash in cp command
  gcp/function/package.json
Labels: none

chore(gcp/function): add @swc/core
  gcp/function/package-lock.json
  gcp/function/package.json
Labels: none

fixup! ci(xyz-build): deploy function
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(pr-commit-signatures): explain how to sign existing commits
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

ci(xyz-build): temporarily deploy function only
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): specify project_id
  .github/workflows/xyz-build.yml
Labels: github-actions

Revert "ci(xyz-build): specify project_id"
  .github/workflows/xyz-build.yml
Labels: github-actions

Revert "ci(xyz-build): temporarily deploy function only"
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): use working-directory instead of cd
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(gcp/function): do not upload .env files
  gcp/function/.gcloudignore
Labels: none

ci(xyz-build): avoid concurrent execution
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): remove non-build env vars
  .github/workflows/xyz-build.yml
Labels: github-actions

review fixes
  client/src/document/toolbar/flaws.tsx
  client/src/env.ts
  docs/envvars.md
Labels: none

feat(plus): show newsletter opt-in to core users (#8353)
  client/src/settings/newsletter.tsx
Labels: none

chore(gcp/function): rename {redirect => contentOriginRequest}
  gcp/function/src/app.ts
  gcp/function/src/middlewares/content-origin-request.ts
Labels: none

feat(gcp/function): resolve relative source paths
  gcp/function/src/env.ts
Labels: none

feat(gcp/function): always add response headers
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/client.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/headers.ts
Labels: none

ci(xyz-build): use stage interactive-examples
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(csp): group by env, add xyz urls
  libs/constants/index.js
Labels: none

chore(csp): add xyz urls
  libs/constants/index.js
Labels: none
