Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(gcp/function): use gcloud beta functions
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

fix(gcp/function): call gcloud beta with --quiet
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): use setup-gcloud with install_components instead of --quiet
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): set --cpu=1 to allow concurrency
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): set --memory=2GB
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): avoid yarn install if we don't build
  .github/workflows/stage-build.yml
Labels: github-actions

chore(gcp/function): add 404 fallback
  gcp/function/src/app.ts
  gcp/function/src/middlewares/notFound.ts
Labels: none

ci(stage-build): increase max-instances from 100 to 1000
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): set --min-instances=100
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): reduce timeout to 30s
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): increase concurrency from 8 to 16
  .github/workflows/stage-build.yml
Labels: github-actions

feat(gcp/function): add shortcut route for /
  gcp/function/src/app.ts
Labels: none

ci(xyz-build): test with 1 instance @ 16G / 4-cores
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): avoid --quiet
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): avoid yarn install if SKIP_BUILD
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): increase concurrency from 8 to 64
  .github/workflows/xyz-build.yml
Labels: github-actions

fix(gcp/function): lowercase image pathnames in /docs
  gcp/function/src/app.ts
Labels: none

ci(workflows): lint
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): increase concurrency from 32 to 100
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): update scaling
  .github/workflows/stage-build.yml
Labels: github-actions

ci(xyz-build): increase max-instances from 1 to 100
  .github/workflows/xyz-build.yml
Labels: github-actions

refactor(macros/CSSSyntax): extract to lib + add snapshot tests (#8563)
  kumascript/macros/CSSSyntax.ejs
  kumascript/src/api/page.ts
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Labels: macros

ci(prod-build): sync build with GCS
  .github/workflows/prod-build.yml
Labels: github-actions

add linter as a command to tool cli
  fmlint/cli.ts
  fmlint/linter.ts
  fmlint/types.ts
  tool/cli.ts
Labels: none

feat(lint): Implement front matter validator and linter
  fmlint/cli.ts
  fmlint/front-matter-config.json
  fmlint/linter.ts
  fmlint/types.ts
  package.json
  tsconfig.dist.json
  yarn.lock
Labels: dependencies

support short-title and add remaining page types
  fmlint/front-matter-config.json
  fmlint/linter.ts
Labels: none

fixup! ci(prod-build): sync build with GCS
  .github/workflows/prod-build.yml
Labels: github-actions

fix(sidebar): end of toc cut off
  client/src/ui/molecules/grids/_document-page.scss
Labels: none

fix(sidebar): elements peeking through mobile sidebar overlay
  client/src/document/index.scss
Labels: none

refactor(whatsdeployed): move from deployer to tool
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/src/deployer/main.py
  deployer/src/deployer/whatsdeployed.py
  tool/cli.ts
  tool/whatsdeployed.ts
Labels: deployer, github-actions, python

fix(lambda): add keyword allow list to pong
  libs/pong/get.js
Labels: none

fixup! ci(prod-build): sync build with GCS (#8632)
  .github/workflows/prod-build.yml
Labels: github-actions

chore(gcp): use 2GB function
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): set SENTRY_TRACES_SAMPLE_RATE
  .github/workflows/stage-build.yml
Labels: github-actions

ci(prod-build): replicate GCP changes from stage-build
  .github/workflows/prod-build.yml
Labels: github-actions

fixup! ci(prod-build): replicate GCP changes from stage-build
  .github/workflows/prod-build.yml
Labels: github-actions

fixup! ci(prod-build): replicate GCP changes from stage-build
  .github/workflows/prod-build.yml
Labels: github-actions

Update .github/workflows/prod-build.yml
  .github/workflows/prod-build.yml
Labels: github-actions

fix(gcp/function): use Cloudfront-Viewer-Country header
  gcp/function/src/utils.ts
Labels: none

chore(gcp/function): warn if headers already sent
  gcp/function/src/headers.ts
Labels: none
