Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

Fix Data URL entry in HTTPSidebar
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

fix(macros/MDNSidebar): remove repeated `<details>` tag
  kumascript/macros/MDNSidebar.ejs
Labels: macros

fix(macros/MDNSidebar): remove repeated `<details>` tag (#8123)
  kumascript/macros/MDNSidebar.ejs
Labels: macros

enhance(bcd): show browser release dates in timeline (#8041)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: none

fix(server): avoid type confusion
  server/translations.ts
Labels: none

fix(macros/HTTPSidebar): update Data URLs entry (#8122)
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

fix(server): use replace() instead of replaceAll()
  server/translations.ts
Labels: none

chore(macros): deprecate {{page}} + remove test cases (#8072)
  kumascript/macros/page.ejs
  kumascript/tests/index.test.ts
  testing/content/files/en-us/_wikihistory.json
  testing/content/files/en-us/chicken_and_egg/chicken/index.html
  testing/content/files/en-us/chicken_and_egg/egg/index.html
  testing/content/files/en-us/chicken_and_egg/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/stuff/index.html
  testing/content/files/en-us/web/foo/index.html
  testing/content/files/en-us/web/fubar/index.html
  testing/tests/index.test.ts
Labels: macros

fix(macros): add leading space conditionally
  kumascript/macros/APIListAlpha.ejs
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

chore(sidebars): extract badge logic from sidebars + move badges to the right (#8059)
  kumascript/macros/APIListAlpha.ejs
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/api/page.ts
  kumascript/src/environment.ts
  kumascript/src/lib/badges.ts
Labels: macros

chore(sidebar): remove "Related Topics" header
  client/src/document/organisms/sidebar/index.tsx
Labels: none

chore(sidebar): remove margin-top from first "header"
  client/src/document/organisms/sidebar/index.scss
Labels: none

chore(macros): remove translations for retired locales
  docs/kumascript/README.md
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/unimplementedGeneric.ejs
  kumascript/src/api/mdn.ts
  testing/content/files/jsondata/L10n-CSS.json
  testing/content/files/jsondata/L10n-Common.json
  testing/content/files/jsondata/L10n-JavaScript.json
Labels: macros

fix(server): avoid type confusion (#8124)
  server/translations.ts
Labels: none

chore(search): remove unused class
  client/src/ui/atoms/search/index.tsx
Labels: none

chore(search): remove unnecessary capture
  client/src/ui/atoms/search/index.tsx
Labels: none

chore(search): show reset even if focused
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
Labels: none

Update kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousMenuNext.ejs
Labels: macros

fixup! chore(macros): remove translations for retired locales
  kumascript/macros/unimplementedGeneric.ejs
Labels: macros

Update kumascript/src/api/mdn.ts
  kumascript/src/api/mdn.ts
Labels: macros

chore(kumascript): remove BUILD_MACROS_USED_LOGFILE feature
  docs/envvars.md
  kumascript/src/templates.ts
Labels: macros

chore(client): load only ENV_FILE or .env, remove dotenv-expand
  client/config/env.js
  package.json
  yarn.lock
Labels: dependencies

fix(a11y): add aria-label to "Related topics" sidebar
  client/src/document/organisms/sidebar/index.tsx
Labels: none

fix(client): resolve .env properly/only + move testing/.env to .env.testing + improve how ENV_FILE works (#8116)
  .env.testing
  .github/workflows/testing.yml
  client/config/env.js
  client/config/paths.js
  package.json
  scripts/testing.sh
  testing/README.md
  testing/scripts/functional-test.sh
  testing/tests/index.test.ts
  yarn.lock
Labels: dependencies, github-actions

fixup! fix(a11y): add aria-label to "Related topics" sidebar
  client/src/document/organisms/sidebar/index.tsx
Labels: none

chore(kumascript): remove BUILD_MACROS_USED_LOGFILE feature (#8128)
  docs/envvars.md
  kumascript/src/templates.ts
Labels: macros

chore(sidebar): remove "Related Topics" header (#8126)
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Labels: none

chore(macros): remove usage of the obsolete tag
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSS_Ref.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/macros/spec2.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

chore(macros): revert obsolete removals
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

chore(macros): remove translations for retired locales (#8127)
  docs/kumascript/README.md
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/unimplementedGeneric.ejs
  kumascript/src/api/mdn.ts
  testing/content/files/jsondata/L10n-CSS.json
  testing/content/files/jsondata/L10n-Common.json
  testing/content/files/jsondata/L10n-JavaScript.json
Labels: macros

chore(search): remove "undefined" class
  client/src/ui/atoms/search/index.tsx
Labels: none

fix(search): restore molecule style
  client/src/ui/molecules/search/index.scss
Labels: none

chore(search): adjust position for consistency
  client/src/ui/atoms/search/index.scss
Labels: none

feat(plus/search-filter): add clear button (#8120)
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
Labels: plus

chore(scripts): remove "md" script
  package.json
Labels: none

chore(scripts): remove "md" script (#7966)
  package.json
Labels: none

fix(plus): clicking "learn more" links caused stale or broken pages
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/ui/molecules/menu/index.tsx
Labels: plus

fix lint
  client/src/ui/molecules/menu/index.tsx
Labels: none

fix(navigation): avoid Link in menu + offer-overview (#8131)
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/ui/molecules/menu/index.tsx
Labels: plus

Add ENV_FILE to npm-published-simulation
  .github/workflows/npm-published-simulation.yml
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
