Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

feat(gcp/function): use @google-cloud/functions-framework
  gcp/function/.gcloudignore
  gcp/function/.gitignore
  gcp/function/package.json
  gcp/function/redirects.json
  gcp/function/src/index.ts
Labels: none

refactor(gcp/function): merge routers + add HTTPS proxy
  gcp/function/Procfile
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/app.ts
  gcp/function/src/cli.ts
  gcp/function/src/env.ts
  gcp/function/src/middlewares/requireOrigin.ts
  gcp/function/src/proxy.ts
  gcp/function/tsconfig.json
Labels: none

fixup! feat(gcp/function): use @google-cloud/functions-framework
  gcp/function/.gcloudignore
Labels: none

fixup! fixup! feat(gcp/function): use @google-cloud/functions-framework
  gcp/function/.gcloudignore
Labels: none

fix(gcp/function): add DOM to lib
  gcp/function/tsconfig.json
Labels: none

fix(gcp/function): reference @yari-internal directly
  gcp/function/src/build.ts
  gcp/function/src/headers.ts
  gcp/function/src/middlewares/redirectFundamental.ts
  gcp/function/src/middlewares/redirectLocale.ts
  gcp/function/src/middlewares/redirectMovedPages.ts
  gcp/function/src/middlewares/redirectTrailingSlash.ts
  gcp/function/src/middlewares/resolveIndexHTML.ts
Labels: none

fixup! fix(gcp/function): reference @yari-internal directly
  gcp/function/src/middlewares/redirectFundamental.ts
Labels: none

fixup! fixup! fixup! feat(gcp/function): use @google-cloud/functions-framework
  gcp/function/.gcloudignore
Labels: none

chore(gcp/function): generate redirects map on demand only
  .github/workflows/xyz-build.yml
  gcp/function/package.json
Labels: github-actions

feat(gcp/function): deploy functions concurrently in all regions
  .github/workflows/xyz-build.yml
  gcp/function/.gitignore
Labels: github-actions

ci(xyz-build): redirect build into log files
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): print tail headers for function deploy
  .github/workflows/xyz-build.yml
Labels: github-actions

Add guide to MathML sidebar
  kumascript/macros/MathMLRef.ejs
Labels: macros

ci(stage-build): add SKIP conditions
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): invalidate cdn cache in GCP
  .github/workflows/stage-build.yml
Labels: github-actions

ci(xyz-build): only run on function changes
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! ci(stage-build): invalidate cdn cache in GCP
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): GCP_LOAD_BALANCER_NAME is a secret
  .github/workflows/stage-build.yml
Labels: github-actions

fixup! ci(stage-build): add SKIP conditions
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): generate redirects map
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): deploy Function concurrently
  .github/workflows/stage-build.yml
Labels: github-actions

chore(workflows): prefix function build output
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): use rumba in GCP
  .github/workflows/xyz-build.yml
Labels: github-actions

Update OWD info on community page
  client/src/community/index.tsx
Labels: none

Update WebView icon from old Android logo to its new logo
  client/src/assets/icons/webview.svg
Labels: none

enhance(kevel): extract libs/pong + support more formats (#8572)
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  libs/pong/cc2ip.js
  libs/pong/click.js
  libs/pong/coding.js
  libs/pong/fallback.js
  libs/pong/get.js
  libs/pong/image.js
  libs/pong/index.js
  libs/pong/package.json
  libs/pong/viewed.js
  libs/pong/yarn.lock
Labels: dependencies, deployer

ci(stage-build): support skipping AWS
  .github/workflows/stage-build.yml
Labels: github-actions

ci(workflows): prefix stderr as well
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

fix: Wrap SVG Mandala to reduce CPU usage
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Labels: none

ci(xyz-build): prefix build logs with sed
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): add sentry env vars
  .github/workflows/stage-build.yml
Labels: github-actions

fix(gcp/function): use fixRequestBody for content/rumba as well
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/rumba.ts
Labels: none

refactor(gcp/function): rename withContentResponseHeaders
  gcp/function/src/handlers/content.ts
  gcp/function/src/headers.ts
Labels: none

fix(gcp/function): set Cache-Control for content
  gcp/function/src/headers.ts
Labels: none

fixup! chore(live-samples): use live-samples.mdn.mozilla/allizom.net (#8573)
  .github/workflows/stage-build.yml
Labels: github-actions

fix: tool `yarn content move` converts double quotes to single quotes in title
  content/document.ts
Labels: none

fixup! refactor(gcp/function): merge routers + add HTTPS proxy
  gcp/function/package.json
Labels: none

fix(gcp/function): make middlewares + handlers async
  gcp/function/src/handlers/plans.ts
  gcp/function/src/middlewares/pathnameLC.ts
  gcp/function/src/middlewares/redirectFundamental.ts
  gcp/function/src/middlewares/redirectLeadingSlash.ts
  gcp/function/src/middlewares/redirectLocale.ts
  gcp/function/src/middlewares/redirectMovedPages.ts
  gcp/function/src/middlewares/redirectTrailingSlash.ts
  gcp/function/src/middlewares/resolveIndexHTML.ts
Labels: none

chore(gcp/function): set --concurrency=8
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): run on push to gcp
  .github/workflows/stage-build.yml
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
