Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore(macros/DeprecatedGeneric): remove unused gecko branch
  kumascript/macros/DeprecatedGeneric.ejs
Labels: macros

chore(macros): deprecate GeckoRelease (#6920)
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/geckoRelease.ejs
Labels: macros

fix(macros/DeprecatedGeneric): remove failing tests
  kumascript/tests/macros/Deprecated.test.js
Labels: macros

fix(macros/DeprecatedGeneric): remove failing tests (#6921)
  kumascript/tests/macros/Deprecated.test.js
Labels: macros

fix(menu): remove misleading ARIA attributes
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: none

fix merge whoopsy
  docs/envvars.md
Labels: none

fix(menu): remove misleading ARIA attributes (#6929)
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: none

fix: interactive iframe postMessage error
  client/public/index.html
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
  libs/constants/index.js
Labels: none

chore(markdown): add pt-BR locale (#6804)
  markdown/localizations/pt-BR.json
Labels: markdown

feat(translate): 各日本語ページリンク更新
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(macros/LearnSidebar): add Japanese translation
  kumascript/macros/LearnSidebar.ejs
Labels: macros

MP-16: style collections v2
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/plus/index.tsx
  client/src/utils.ts
Labels: plus

fix(macros): remove write to /tmp
  kumascript/src/api/web.js
Labels: macros

fix(macros): remove write to /tmp (#6930)
  kumascript/src/api/web.js
Labels: macros

chore(macros/AddonSidebar): add "Extending the developer tools" (#6851)
  kumascript/macros/AddonSidebar.ejs
Labels: macros

fix(macros/HTMLRef): rename "Heading Elements" label (#6512)
  kumascript/macros/HTMLRef.ejs
  testing/tests/index.test.ts
Labels: macros

Make site work even without localStorage
  client/public/index.html
  client/src/document/hooks.ts
  client/src/document/toolbar/index.tsx
  client/src/settings/mdn-worker.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
  client/src/writers-homepage/viewed-documents.tsx
  libs/constants/index.js
Labels: none

fix(build): prevent doc.title = null
  build/index.js
Labels: none

fix(build): prevent doc.title = null (#6934)
  build/index.js
Labels: none

chore(client): remove CSRF remainders
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/types.ts
  client/src/plus/common/api.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/types/notifications.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
  server/static.ts
Labels: plus

fixup! chore(client): remove CSRF remainders
  client/src/plus/notifications/notification-card.tsx
Labels: plus

Update syntax highlighting list
  build/syntax-highlight.js
Labels: none

Remove duplicated `sql`
  build/syntax-highlight.js
Labels: none

add abbreviation localization support
  kumascript/macros/NonStandardBadge.ejs
Labels: macros

keep consistent for abbreviations
  kumascript/macros/NonStandardBadge.ejs
Labels: macros

chore(client): remove CSRF remainders (#6903)
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/types.ts
  client/src/plus/common/api.tsx
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/types/notifications.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
  server/static.ts
Labels: plus

feat(macros): localize NonStandardBadge (#6666)
  kumascript/macros/NonStandardBadge.ejs
Labels: macros

review updates
  client/src/hooks.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
Labels: plus

MP-16: style collections v2 (#6933)
  client/src/hooks.ts
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/plus/index.tsx
  client/src/utils.ts
Labels: plus

Order list
  build/syntax-highlight.js
Labels: none

ci(workflows): skip npm-publish if dependabot merged
  .github/workflows/npm-publish.yml
Labels: github-actions

ci(workflows): skip npm-publish if dependabot merged (#6949)
  .github/workflows/npm-publish.yml
Labels: github-actions

Further sort
  build/syntax-highlight.js
Labels: none

chore(syntax-highlight): add C + TSX, deduplicate and reorder (#6943)
  build/syntax-highlight.js
Labels: none

ci(dev-build): notify PRs about successful builds
  .github/workflows/dev-build.yml
Labels: github-actions

add ja translation
  kumascript/macros/SectionOnPage.ejs
Labels: macros

refactor(build): convert to typescript
  .gitignore
  build/bcd-urls.ts
  build/build-options.ts
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/document-utils.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/git-history.ts
  build/index.ts
  build/matches-in-text.ts
  build/page-title.ts
  build/resolve-bcd.ts
  build/search-index.ts
  build/sitemaps.ts
  build/spas.ts
  build/sync-translated-content.ts
  build/syntax-highlight.ts
  build/tsconfig.json
  build/utils.ts
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/site-search/form.tsx
  client/src/site-search/search-results.tsx
  libs/types/document.ts
  package.json
  server/flaws.ts
Labels: flaw-system

fix(build): add types
  build/bcd-urls.ts
  build/cli.ts
  build/document-extractor.ts
  build/index.ts
  build/resolve-bcd.ts
  libs/types/document.ts
Labels: none

build(dist): transpile build
  tsconfig.dist.json
Labels: none

fix(build): fix cheerio types
  build/document-extractor.ts
Labels: none
