Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

Updating link of creative common license
  client/src/ui/organisms/footer/index.tsx
Labels: none

Deduplicate JS sidebar entries (#7578)
  kumascript/macros/JsSidebar.ejs
Labels: macros

Update index.tsx
  client/src/community/index.tsx
Labels: none

chore(community): update links + wordings (#7558)
  client/src/community/index.tsx
Labels: none

refactor(tables): rename table-{wrap => container}
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
  client/src/document/ingredients/browser-compatibility-table/index.tsx
Labels: none

fix(tables): wrap in figure, not div
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/index.tsx
Labels: none

feat(sidebar): scroll to the current page (#7444)
  client/src/document/organisms/sidebar/index.tsx
Labels: none

I add locale to URL
  client/src/ui/organisms/footer/index.tsx
Labels: none

Update client/src/ui/organisms/footer/index.tsx
  client/src/ui/organisms/footer/index.tsx
Labels: none

fix(footer): update Creative Common license link (#7579)
  client/src/ui/organisms/footer/index.tsx
Labels: none

chore(tool/add-redirect): accept URLs with origin
  tool/cli.ts
Labels: none

Delete NoteEnd.ejs
  kumascript/macros/NoteEnd.ejs
Labels: macros

Delete NoteStart.ejs
  kumascript/macros/NoteStart.ejs
Labels: macros

Remove useless title attribute
  client/src/document/ingredients/utils.tsx
Labels: none

chore: Remove CSS_Key_Concepts macro
  kumascript/macros/CSS_key_concepts.ejs
Labels: macros

chore: remove Source macro
  kumascript/macros/source.ejs
Labels: macros

test: remove jest `globals` config
  package.json
  tsconfig.json
Labels: none

fix: remove allowJs to fix npm pack
  tsconfig.json
Labels: none

fix(tables): wrap in figure.table-container, not div.table-scroll (#7585)
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
  client/src/document/ingredients/browser-compatibility-table/index.tsx
Labels: none

chore(tool/add-redirect): accept URLs with origin (#7587)
  tool/cli.ts
Labels: none

fix(permalink): remove unnecessary title (#7591)
  client/src/document/ingredients/utils.tsx
Labels: none

Update package.json
  package.json
Labels: none

refactor(kumascript): introduce KumaThis
  kumascript/src/api/mdn.ts
  kumascript/src/api/page.ts
  kumascript/src/api/web.ts
  kumascript/src/api/wiki.ts
  kumascript/src/environment.ts
Labels: macros

refactor: type caught errors
  build/flaws/index.ts
  build/index.ts
  kumascript/src/render.ts
  kumascript/tests/render.test.ts
  markdown/m2h/cli.ts
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: macros, flaw-system, markdown

refactor: distinguish cheerio.{AnyNode,Element}
  build/utils.ts
  filecheck/checker.ts
  kumascript/src/api/util.ts
Labels: macros

fix(kumascript): make SourceCodeError properties public
  kumascript/src/errors.ts
Labels: macros

refactor(tool/cli): improve tryOrExit() type
  tool/cli.ts
Labels: none

fix(tool/cli): validate if value is string
  tool/cli.ts
Labels: none

refactor(content): move Object.entries() type assertion to usage
  content/popularities.ts
Labels: none

fix(content/utils): add type assertion for memoize()
  content/utils.ts
Labels: none

fixup! refactor: distinguish cheerio.{AnyNode,Element}
  build/utils.ts
Labels: none

style(eslint): remove unused import
  build/cli.ts
Labels: none

style(eslint): disable for destructuring Doc
  build/cli.ts
  server/index.ts
Labels: none

chore(client/tsconfig): remove unnecessary strict + noImplicitAny
  client/tsconfig.json
Labels: none

refactor(kumascript): extract MacroInvocationError.is() helper
  kumascript/src/errors.ts
  tool/cli.ts
Labels: macros

Clear fv storage on logout, split types of frequrently viewed. PR fixes and tweaks
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
  client/src/user-context.tsx
Labels: plus

Improve es l10n strings
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Labels: macros

Improve es l10n strings
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Labels: macros

fix(bcd): Don't show exact version when feature was removed in range
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

Add compare-versions dependency and use it for version comparison
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Labels: dependencies
