Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(lint): run check:tsc with 2 processes (#8098)
  package.json
Labels: none

chore(macros/LearnSidebar): add Cascade layers (#8024)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Replace browser-specs with web-specs
  build/extract-specifications.ts
  package.json
  yarn.lock
Labels: dependencies

Add django to list of Prism.js languages
  build/syntax-highlight.ts
Labels: none

Add @zip.js/zip.js as a dependency
  package.json
  yarn.lock
Labels: dependencies

chore(macros): add missing CSS selectros pages to sidebars
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(syntax-highlight): add django to Prism.js languages (#8108)
  build/syntax-highlight.ts
Labels: none

chore(macros): actually add Cascade layers to sidebar
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(workflows/pr-commit-signatures): pipe to tee
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

chore(deps): replace browser-specs with web-specs (#7941)
  build/extract-specifications.ts
  package.json
  yarn.lock
Labels: dependencies

change copy on plus page
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

remove(plus): remove notifcations and watching
  build/spas.ts
  client/src/constants.ts
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/index.tsx
  client/src/plus/notifications/index.scss
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/limit-banner/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/manage-upgrade-dialog/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.scss
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-start.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
Labels: plus

fmt
  client/src/plus/common/api.tsx
  copy/plus/faq.md
Labels: plus

update copy and images
  client/public/assets/collections.png
  client/public/assets/collections_light.png
  client/public/assets/offline.png
  client/public/assets/offline_settings_light.png
  client/public/assets/updates.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

fix layout
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

copy changes
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  copy/plus/faq.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
Labels: plus

update copy
  client/public/assets/plus-docs/updates/collections.png
  client/public/assets/plus-docs/updates/updates.png
  client/public/assets/plus-docs/updates/updates_bcd.png
  client/public/assets/plus-docs/updates/updates_collection.png
  client/public/assets/plus-docs/updates/updates_filter.png
  client/public/assets/plus-docs/updates/updates_search.png
  client/src/plus/plus-docs/index.tsx
  copy/plus/features/notifications.md
  copy/plus/features/updates.md
Labels: plus

fix homepage search
  client/src/homepage/homepage-hero/index.scss
Labels: none

update copy
  copy/plus/features/updates.md
Labels: none

Update .github/workflows/pr-commit-signatures.yml
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

chore(workflows/pr-commit-signatures): use tee + GitHub CLI (#8110)
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

Accept `-nolint` suffix for all syntax languages
  build/syntax-highlight.ts
Labels: none

Add Handlebars to syntax highlighting
  build/syntax-highlight.ts
Labels: none

fix: pass through aira- props on Button component
  client/src/plus/collections/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/button/index.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/ui/organisms/top-navigation/index.tsx
Labels: plus

Add Svelte to syntax highlighting
  build/syntax-highlight.ts
  package.json
  yarn.lock
Labels: dependencies

fix: improve aria labels on mobile sidebar button
  client/src/ui/organisms/article-actions-container/index.tsx
Labels: none

feat(quicksearch): boost exact matches (#7867)
  client/src/search.tsx
Labels: none

chore(syntax-highlight): add Handlebars to Prism.js languages (#8113)
  build/syntax-highlight.ts
Labels: none

chore(macros): add Korean translations for several macros (#7971)
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CanvasSidebar.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
  kumascript/macros/xref_cssvisual.ejs
Labels: macros

Add back `footnote`
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: none

enhancement: attempt to fall back to static html when react unmounts
  client/src/index.tsx
Labels: none

chore(lint-staged): don't run check:tsc
  lint-staged.config.js
Labels: none

dashedProps -> passthroughAttrs
  client/src/ui/atoms/button/index.tsx
Labels: none

chore(lint-staged): don't run check:tsc (#8118)
  lint-staged.config.js
Labels: none

fix(Button): pass through ARIA attrs (#8115)
  client/src/plus/collections/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/button/index.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/ui/organisms/top-navigation/index.tsx
Labels: plus

feat(plus/search-filter): add clear button
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
  client/src/ui/molecules/search/index.scss
Labels: plus

fix(client): resolve .env/package.json/yarn.lock/node_modules properly
  client/config/paths.js
Labels: none

fix(testing): make ENV_FILE a filename, move testing/.env to .env.testing
  .env.testing
  .github/workflows/testing.yml
  client/config/env.js
  package.json
  scripts/testing.sh
  testing/README.md
  testing/scripts/functional-test.sh
  testing/tests/index.test.ts
Labels: github-actions

chore(package): remove ENV_FILE from start:static-server
  package.json
Labels: none

Still allow for aliases
  build/syntax-highlight.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
