Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore(macros/MathML): add "Attribute values" guide (#8611)
  kumascript/macros/MathMLRef.ejs
Labels: macros

Update client/src/document/index.scss
  client/src/document/index.scss
Labels: none

fix(sidebar): end of toc cut off (#8634)
  client/src/ui/molecules/grids/_document-page.scss
Labels: none

chore(gcp): copy static first, rsync -d, introduce GCP_BUCKET_NAME var
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

feat(user-context): show maintenance message if whoami failed
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/ui/atoms/avatar/index.tsx
  client/src/user-context.tsx
  client/src/utils.ts
  server/index.ts
Labels: plus

chore(macros): delete `{{HTMLRefTable}}` macro
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

ci(xyz-build): extract invalidate job
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! ci(xyz-build): extract invalidate job
  .github/workflows/xyz-build.yml
Labels: github-actions

migrage(pong): use pong internal lib in gcp
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/handlers/kevel.ts
Labels: none

chore(libs/pong): add TypeScript declarations
  libs/pong/cc2ip.d.ts
  libs/pong/click.d.ts
  libs/pong/coding.d.ts
  libs/pong/fallback.d.ts
  libs/pong/get.d.ts
  libs/pong/image.d.ts
  libs/pong/index.d.ts
  libs/pong/viewed.d.ts
Labels: none

chore(libs/pong): improve TypeScript definitions
  libs/pong/cc2ip.d.ts
  libs/pong/click.d.ts
  libs/pong/fallback.d.ts
  libs/pong/get.d.ts
  libs/pong/image.d.ts
  libs/pong/viewed.d.ts
Labels: none

chore(gcp/function): update package-lock.json
  gcp/function/package-lock.json
Labels: none

chore(gcp/function): avoid userAgent being null
  gcp/function/src/handlers/kevel.ts
Labels: none

fix(gcp/function): use body, as body-parser already parses it
  gcp/function/src/handlers/kevel.ts
Labels: none

ci(stage-build): extract invalidate job
  .github/workflows/stage-build.yml
Labels: github-actions

chore(gcp/function): remove @adzerk/decision-sdk from deps
  gcp/function/package-lock.json
  gcp/function/package.json
Labels: none

ci(stage,prod): run on ubuntu-latest-4core
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage,prod): build all locales concurrently
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

Revert "chore(gcp/function): remove @adzerk/decision-sdk from deps"
  gcp/function/package-lock.json
  gcp/function/package.json
Labels: none

rename
  libs/pong/get.js
Labels: none

style: lint .github/workflows/*.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(prod-build): extract invalidate job
  .github/workflows/prod-build.yml
Labels: github-actions

fixup! ci(prod-build): extract invalidate job
  .github/workflows/prod-build.yml
Labels: github-actions

style(prettier): ignore /gcp/function/src/internal
  .prettierignore
Labels: none

fix(libs/pong): filter keywords with allow list (#8639)
  libs/pong/get.js
Labels: none

chore(macros): delete {{HTMLRefTable}} macro (#8641)
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

chore(macros): delete {{HTMLVersionInline}} macro
  kumascript/macros/HTMLVersionInline.ejs
Labels: macros

Remove unused block
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: none

Sticky BCD table - version 3
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Labels: none

Relocate margin
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
Labels: none

Linting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
Labels: none

Simplify nesting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Labels: none

Remove fx differentiators as a companion of mdn/content#26242
  kumascript/macros/AddonSidebar.ejs
Labels: macros

Update gcp/function/src/handlers/kevel.ts
  gcp/function/src/handlers/kevel.ts
Labels: none

chore(macros): delete {{HTMLVersionInline}} macro (#8648)
  kumascript/macros/HTMLVersionInline.ejs
Labels: macros

Update libs/pong/coding.d.ts
  libs/pong/coding.d.ts
Labels: none

fix(gcp/function): check against null
  gcp/function/src/handlers/kevel.ts
Labels: none

chore(libs/locale-utils): remove package-lock.json
  libs/locale-utils/package-lock.json
Labels: none

refactor(whatsdeployed): move from deployer to tool (#8633)
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/src/deployer/main.py
  deployer/src/deployer/whatsdeployed.py
  tool/cli.ts
  tool/whatsdeployed.ts
Labels: deployer, github-actions, python

ci(stage,prod): build all locales concurrently on 4core runner (#8642)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions
