Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

account for border
  client/src/ui/atoms/form/expanding-textarea.tsx
Labels: none

enhance(quicksearch): add a qs paramater (#7691)
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Labels: none

fix(code): move font-family to pre/code/.code-example
  client/src/document/index.scss
Labels: none

fix(code): move font-family to pre/code/.code-example (#7702)
  client/src/document/index.scss
Labels: none

fix(client): reduce pre/code font-size
  client/src/document/index.scss
Labels: none

Revert dependencies with markers removed by Dependabot
  deployer/poetry.lock
Labels: dependencies, deployer

Promote only function in macro to default export
  kumascript/tests/fixtures/server/macros/library1-used.ejs
  kumascript/tests/fixtures/server/macros/library1.ejs
Labels: macros

chore: use un-nested navs for better semantics
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
Labels: none

Simplify exports
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/src/plus/contexts/search-filters.tsx
  client/src/settings/db.ts
  libs/fundamental-redirects/index.js
  playwright.config.js
Labels: plus, plus:offline

Don't rename "slugToFolder"
  content/redirect.ts
  content/utils.ts
  libs/slug-utils/index.d.ts
  libs/slug-utils/index.js
Labels: none

Remove leftover debugging
  tool/cli.ts
Labels: none

Update comment
  kumascript/tests/templates.test.ts
Labels: macros

Fix imports
  kumascript/tests/macros/Deprecated.test.ts
  kumascript/tests/macros/EmbedInteractiveExample.test.ts
  kumascript/tests/macros/EmbedLiveSample.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
  kumascript/tests/macros/addonsidebar.test.ts
  kumascript/tests/macros/cssxref.test.ts
  kumascript/tests/macros/httpheader.test.ts
  kumascript/tests/macros/jsxref.test.ts
  kumascript/tests/macros/svginfo.test.ts
Labels: macros

fix(plus): textarea grow broken when zoomed out (#7690)
  client/src/ui/atoms/form/expanding-textarea.tsx
Labels: none

fix(quicksearch): click pings for quicksearch
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Labels: none

fix(quicksearch): click pings for quicksearch (#7706)
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Labels: none

fix(live-sample): inject MathML font/polyfill (#7621)
  kumascript/src/api/util.ts
  kumascript/src/live-sample.ts
Labels: macros

Apply suggestions from code review
  client/src/document/mathml-polyfill/mathml-font.scss
  client/src/document/mathml-polyfill/mathml.css
Labels: none

refactor(aws-lambda): convert to ESM (#7673)
  .eslintrc.js
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
Labels: dependencies, deployer

chore(client): remove Array.flat/ES6 polyfill (#7689)
  client/public/index.html
  libs/constants/index.js
  testing/tests/csp.test.ts
Labels: none

feat(mathml): always load MathML font, update Polyfill, use latest woff2 font (#7620)
  .lintstagedrc.json
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.otf
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.woff2
  client/src/document/mathml-polyfill/index.tsx
  client/src/document/mathml-polyfill/mathml-font.scss
  client/src/document/mathml-polyfill/mathml.css
Labels: none

chore(docs): Add details of KumaScript troubleshooting, docs README
  docs/README.md
  docs/kumascript/README.md
  docs/kumascript/troubleshooting-errors.md
Labels: none

chore(docs): Add details of KumaScript troubleshooting
  docs/kumascript/README.md
Labels: none

chore(docs): Add details of Yari to docs README
  docs/README.md
  docs/what-yari-does.md
Labels: none

chore(docs): Format list of params for KumaScript macros
  docs/kumascript/README.md
Labels: none

chore(docs): Format list of params for KumaScript macros
  docs/kumascript/README.md
Labels: none

chore(docs): Format list of params for KumaScript macros
  docs/kumascript/README.md
Labels: none

fix(ssr): avoid null in <title> on 404 pages
  ssr/render.ts
Labels: none

chore(docs): Fix markdownlint errors
  docs/kumascript/README.md
Labels: none

fix(ssr): avoid null in <title> on 404 pages (#7714)
  ssr/render.ts
Labels: none

chore(macros/FirefoxSidebar): add pt-BR translation (#7626)
  kumascript/macros/FirefoxSidebar.ejs
Labels: macros

refactor(libs): convert to ESM
  libs/constants/index.js
  libs/constants/package.json
  libs/env/index.js
  libs/env/package.json
  libs/fundamental-redirects/index.js
  libs/fundamental-redirects/package.json
  libs/languages/index.js
  libs/languages/package.json
  libs/locale-utils/index.js
  libs/locale-utils/package.json
  libs/locale-utils/yarn.lock
  libs/slug-utils/index.js
  libs/slug-utils/package.json
  libs/types/package.json
Labels: dependencies

chore(docs): Remove unused dls
  docs/kumascript/troubleshooting-errors.md
Labels: none

chore(docs): Add details of KumaScript troubleshooting
  docs/kumascript/troubleshooting-errors.md
Labels: none

Update docs/README.md
  docs/README.md
Labels: none

chore(meta): Format doc after merging in reviewer suggestion
  docs/README.md
Labels: none

Update docs/kumascript/README.md
  docs/kumascript/README.md
Labels: none

chore(docs): add kumascript docs from content (#7713)
  docs/README.md
  docs/kumascript/README.md
  docs/kumascript/troubleshooting-errors.md
Labels: none

Delete the `{{TemplateLink}}` macro
  kumascript/macros/TemplateLink.ejs
Labels: macros

chore(macros): remove CSS_Key_Concepts macro (#7592)
  kumascript/macros/CSS_key_concepts.ejs
Labels: macros
