Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

wording
  client/public/assets/afree.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: plus

copy
  client/public/assets/ads-free.png
  client/src/advertisement/about/index.tsx
  client/src/advertisement/with_us/index.scss
  client/src/advertisement/with_us/index.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: plus

copy and tests
  client/src/advertising/about/index.tsx
  testing/tests/headless.auth.spec.ts
  testing/tests/headless.plus.bookmarks.spec.ts
Labels: none

lint
  client/src/ui/molecules/grids/_document-page.scss
Labels: none

lint
  deployer/aws-lambda/kevel/index.js
Labels: deployer

more feedback
  client/src/advertising/about/index.tsx
  client/src/advertising/with_us/index.tsx
Labels: none

fix client side nav
  client/src/document/organisms/toc/placement.tsx
  client/src/index.tsx
  client/src/placement-context.tsx
Labels: none

more feedback
  client/src/advertising/about/index.tsx
  client/src/advertising/with_us/index.tsx
  client/src/document/organisms/toc/index.scss
  client/src/document/organisms/toc/placement.scss
  client/src/document/organisms/toc/placement.tsx
  client/src/settings/manage.tsx
Labels: none

naming
  build/spas.ts
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
  client/src/advertising/index.tsx
  client/src/advertising/with_us/index.scss
  client/src/advertising/with_us/index.tsx
  client/src/app.tsx
  client/src/document/organisms/toc/placement.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/settings/manage.tsx
  client/src/ui/organisms/footer/index.tsx
Labels: plus

fix callback
  client/src/document/organisms/toc/placement.tsx
Labels: none

telemetry
  client/src/document/organisms/toc/placement.tsx
  client/src/telemetry/glean-context.tsx
Labels: none

copy
  client/src/advertising/about/index.tsx
Labels: none

more feedback
  client/src/advertising/with_us/index.tsx
  client/src/document/organisms/toc/placement.tsx
  client/src/settings/manage.tsx
  deployer/aws-lambda/kevel/index.js
Labels: deployer

fix lambda
  deployer/aws-lambda/kevel/index.js
Labels: deployer

missing t
  client/src/advertising/with_us/index.tsx
Labels: none

prepare for prod
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/aws-lambda/kevel/index.js
Labels: deployer, github-actions

don't show ads settings
  client/src/settings/manage.tsx
Labels: none

prettier
  .github/workflows/prod-build.yml
Labels: github-actions

copy changes
  build/spas.ts
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
Labels: none

add eslint skip
  deployer/aws-lambda/kevel/index.js
Labels: deployer

last header fix
  client/src/advertising/about/index.scss
Labels: none

enable placement on prod
  .github/workflows/prod-build.yml
Labels: github-actions

chore(breadcrumbs): add metric
  client/src/telemetry/constants.ts
  client/src/ui/molecules/breadcrumbs/index.tsx
Labels: none

fix: off by one
  client/src/settings/manage.tsx
Labels: none

fix: off by one (#8228)
  client/src/settings/manage.tsx
Labels: none

Update ssr/render.ts
  ssr/render.ts
Labels: none

Apply suggestions from code review
  testing/tests/index.test.ts
Labels: none

Update testing/tests/index.test.ts
  testing/tests/index.test.ts
Labels: none

fix(ssr): avoid duplicate hreflang for zh-CN/zh-TW alternate links (#7921)
  ssr/render.ts
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/foo/index.md
Labels: none

add documation about copying images test
  testing/translated-content/files/zh-cn/web/foo/index.md
Labels: none

testing: add back cpying image test
  testing/tests/index.test.ts
Labels: none

feat(breadcrumbs): add a little bit of space to the multiple lines layout
  client/src/ui/molecules/breadcrumbs/index.scss
Labels: none

Create a PWA sidebar
  kumascript/macros/PWASidebar.ejs
Labels: macros

Remove Obsolete_Header, Obsolete_Inline and geckoRelease
  kumascript/macros/Obsolete_Header.ejs
  kumascript/macros/Obsolete_Inline.ejs
  kumascript/macros/geckoRelease.ejs
Labels: macros

fix(lib/env,ssr): determine env paths properly (#8219)
  .npmignore
  libs/env/index.d.ts
  libs/env/index.js
  ssr/index.ts
Labels: none

perf(content): use `translationsOf()` to get cached translations
  content/translations.ts
  server/index.ts
Labels: none

fix(content): remove unused import
  content/translations.ts
Labels: none

add type to `translationsOf()`
  content/translations.ts
Labels: none

feat(kumascript): add translations to page info
  kumascript/src/info.ts
Labels: macros

fix(macros): do not get translations' urls
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
