Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

refactor(gcp/function): extract redirectMovedPages middleware
  gcp/function/src/app.ts
  gcp/function/src/middlewares/content-origin-request.ts
  gcp/function/src/middlewares/redirectMovedPages.ts
Labels: none

refactor(gcp/function): extract redirectLocale middleware
  gcp/function/src/app.ts
  gcp/function/src/middlewares/content-origin-request.ts
  gcp/function/src/middlewares/redirectLocale.ts
Labels: none

refactor(gcp/function): extract redirectTrailingSlash middleware
  gcp/function/src/app.ts
  gcp/function/src/middlewares/content-origin-request.ts
  gcp/function/src/middlewares/redirectTrailingSlash.ts
Labels: none

chore(gcp/function): remove contentOriginRequest middleware
  gcp/function/src/app.ts
  gcp/function/src/middlewares/content-origin-request.ts
Labels: none

refactor(gcp/function): extract plans to TS
  gcp/function/src/handlers/plans.ts
  gcp/function/src/plans/index.ts
  gcp/function/src/plans/prod.ts
  gcp/function/src/plans/stage.ts
Labels: none

refactor(gcp/function): migrate to http-proxy-middleware
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/rumba.ts
  gcp/function/src/handlers/telemetry.ts
Labels: none

fix(gcp/function): add req.originalUrl workaround
  gcp/function/src/middlewares/resolveIndexHTML.ts
Labels: none

feat(gcp/function): handle 404 in content
  gcp/function/src/handlers/content.ts
Labels: none

Revert "chore(gcp/function): make libs copy read-only"
  gcp/function/package.json
Labels: none

chore(placement): move out of toc (#8458)
  client/src/document/organisms/toc/index.tsx
  client/src/site-search/index.scss
  client/src/site-search/index.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Labels: none

enhance(placement): use body for placement status
  client/src/ui/organisms/placement/index.tsx
  deployer/aws-lambda/kevel/index.js
Labels: deployer

feedback
  client/src/ui/organisms/placement/index.tsx
  deployer/aws-lambda/kevel/index.js
Labels: deployer

better safe
  client/src/ui/organisms/placement/index.tsx
Labels: none

fixup! feat(bcd): fetch compat data from bcd.developer.mozilla/allizom.org
  client/src/plus/updates/api.ts
Labels: plus

fix(env): use null-coalesce + document REACT_APP_BCD_BASE_URL
  client/src/env.ts
  docs/envvars.md
  server/index.ts
Labels: none

Apply suggestions from code review
  client/src/ui/organisms/placement/index.tsx
Labels: none

fix
  client/src/ui/organisms/placement/index.tsx
Labels: none

enhance(placement): use body for placement status (#8469)
  client/src/ui/organisms/placement/index.tsx
  deployer/aws-lambda/kevel/index.js
Labels: deployer

ci(stage-build): prevent concurrent runs
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): run on pushes to main
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): ignore Dependabot merges
  .github/workflows/stage-build.yml
Labels: github-actions

feat(bcd): fetch compat data from bcd.developer.mozilla/allizom.org (#8470)
  .github/workflows/prod-build.yml
  client/src/document/lazy-bcd-table.tsx
  client/src/env.ts
  client/src/plus/updates/api.ts
  docs/envvars.md
  server/index.ts
Labels: github-actions, plus

fix lint
  client/src/ui/organisms/top-navigation/index.tsx
Labels: none

feature(tool/delete): list files pointing to the deleted document (#8412)
  tool/cli.ts
Labels: none

chore(styles): remove repeated extra class name (#8326)
  client/src/ui/organisms/top-navigation/index.tsx
Labels: none

chore(client): add geo.country_iso to UserContext
  client/src/env.ts
  client/src/user-context.tsx
  docs/envvars.md
Labels: none

chore(gcp/function): remove /bcd handling
  gcp/function/src/app.ts
  gcp/function/src/env.ts
  gcp/function/src/handlers/bcdApi.ts
Labels: none

chore(gcp/function): stick with /api/v1/stripe/plans
  gcp/function/src/app.ts
Labels: none

ci(xyz-build): remove build temporarily
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): use google-github-actions/deploy-cloud-functions
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! ci(xyz-build): use google-github-actions/deploy-cloud-functions
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): allow concurrency
  .github/workflows/xyz-build.yml
Labels: github-actions

fix(gcp/function): set secret_environment_variables
  .github/workflows/xyz-build.yml
Labels: github-actions

fix(gcp/function): set entry_point
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! fix(gcp/function): set entry_point
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! fix(gcp/function): set secret_environment_variables
  .github/workflows/xyz-build.yml
Labels: github-actions

Revert "ci(xyz-build): allow concurrency"
  .github/workflows/xyz-build.yml
Labels: github-actions

Revert "ci(xyz-build): remove build temporarily"
  .github/workflows/xyz-build.yml
Labels: github-actions

fix(gcp/function): apply req.originalUrl workaround to search-index.json route
  gcp/function/src/app.ts
  gcp/function/src/middlewares/pathnameLC.ts
  gcp/function/src/middlewares/resolveIndexHTML.ts
Labels: none

fix(csp): add bcd.developer.mozilla/allizom.org as connect-src
  libs/constants/index.js
Labels: none
