Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore(macros): remove WebRTCSidebar (#8012)
  content/translation.ts
  kumascript/macros/WebRTCSidebar.ejs
Labels: macros

chore(macros): deprecate SectionOnPage (#7985)
  kumascript/macros/SectionOnPage.ejs
Labels: macros

Update kumascript/macros/js_property_attributes.ejs
  kumascript/macros/js_property_attributes.ejs
Labels: macros

fix: sendBeacon can be undefined
  client/src/hooks.ts
Labels: none

Delete WebRTCSidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
Labels: macros

Update client/src/hooks.ts
  client/src/hooks.ts
Labels: none

fix(client/hooks): sendBeacon can be undefined (#8089)
  client/src/hooks.ts
Labels: none

chore(short-survey): add web compat survey
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

Update kumascript/macros/js_property_attributes.ejs
  kumascript/macros/js_property_attributes.ejs
Labels: macros

add to stage and prod yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

fix(content): allow whitespace above content folder (#7987)
  content/document.ts
Labels: none

remove interop survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

update survey url
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

Update package.json
  package.json
Labels: none

fix(lint): run check:tsc with 2 processes
  package.json
Labels: none

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

add year
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

update yml files
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

Sort keys alphabetically with signed commit
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
Labels: macros

Apply suggestions from code review
  kumascript/macros/CSSRef.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/JsSidebar.ejs
Labels: macros

fix layout
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

Update build/extract-specifications.ts
  build/extract-specifications.ts
Labels: none

docs(README): fix broken badge
  README.md
Labels: none

chore(short-survey): add web compat survey (#8097)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

Remove console log
  kumascript/macros/JSRef.ejs
Labels: macros

Remove `Non Standard` case
  kumascript/src/api/page.ts
Labels: macros

Make `args` parameter as array type
  kumascript/src/environment.ts
Labels: macros

copy changes
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  copy/plus/faq.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
Labels: plus

fix(build): make spec-urls an override for browser-compat (#8023)
  build/extract-specifications.ts
Labels: none

fix(search-results): avoid horizontal scrollbar (#8060)
  client/src/site-search/search-results.scss
Labels: none

Apply suggestions from code review
  kumascript/macros/NonStandardBadge.ejs
Labels: macros

docs(README): fix broken badge (#7945)
  README.md
Labels: none

Add error when `CONTENT_ROOT` is missing
  content/document-paths.ts
Labels: none

Export logic to `badges.ts` and return array of templates
  kumascript/macros/APIListAlpha.ejs
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/api/page.ts
  kumascript/src/lib/badges.ts
Labels: macros

Update Non-standardGeneric.ejs
  kumascript/macros/Non-standardGeneric.ejs
Labels: macros

Update ObsoleteGeneric.ejs
  kumascript/macros/ObsoleteGeneric.ejs
Labels: macros

Merge {{optionalGeneric}} into {{optional_inline}}
  kumascript/macros/optionalGeneric.ejs
  kumascript/macros/optional_inline.ejs
Labels: macros

Merge {{Non-standardGeneric}} into {{Non-standard_Header}}
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/Non-standard_Header.ejs
Labels: macros

chore(macros): merge {{optionalGeneric}} into {{optional_inline}} (#8100)
  kumascript/macros/optionalGeneric.ejs
  kumascript/macros/optional_inline.ejs
Labels: macros

chore(macros): merge {{Non-standardGeneric}} into {{Non-standard_Header}} (#8101)
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/Non-standard_Header.ejs
Labels: macros
