Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

Minor change to retrigger tests
  kumascript/macros/ARIARole.ejs
Labels: macros

chore: remove ServiceWorkerSidebar (#8011)
  content/translation.ts
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: macros

Delete ServiceWorkerSidebar.ejs
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: macros

Move status badges to the right side of sidebar links
  kumascript/macros/APIListAlpha.ejs
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/api/page.ts
  kumascript/src/environment.ts
Labels: macros

Add constructor to JS sidebar (#8055)
  kumascript/macros/JSRef.ejs
Labels: macros

Fix horizontal scrollbar in search results
  client/src/site-search/search-results.scss
Labels: none

Update kumascript/macros/LearnSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore: add yarn check:tsc command to check all files
  .github/workflows/testing.yml
  client/pwa/tsconfig.json
  package.json
  testing/tests/developing.spec.ts
  testing/tests/headless.sitesearch.spec.ts
Labels: github-actions

run check:tsc in pre-commit hook
  .lintstagedrc.json
  build/cli.ts
  build/spas.ts
  lint-staged.config.js
  package.json
  server/index.ts
Labels: none

install pwa deps, update lint.sh
  .github/workflows/testing.yml
  scripts/lint.sh
Labels: github-actions

fix workflow
  .github/workflows/testing.yml
Labels: github-actions

chore: add yarn check:tsc command to check all files (#7963)
  .github/workflows/testing.yml
  .lintstagedrc.json
  build/cli.ts
  build/spas.ts
  client/pwa/tsconfig.json
  lint-staged.config.js
  package.json
  scripts/lint.sh
  server/index.ts
  testing/tests/developing.spec.ts
  testing/tests/headless.sitesearch.spec.ts
Labels: github-actions

Add missing quotation mark
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Deprecate {{gecko}} macro
  kumascript/macros/gecko.ejs
Labels: macros

Deprecate {{page}} macro
  kumascript/macros/page.ejs
Labels: macros

Update client/src/search.tsx
  client/src/search.tsx
Labels: none

fix(quicksearch): split query before dot (#7866)
  client/src/search.tsx
Labels: none

remove(plus): remove notifcations and watching
  build/spas.ts
  client/src/constants.ts
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/index.tsx
  client/src/plus/notifications/index.scss
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/limit-banner/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/manage-upgrade-dialog/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.scss
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-start.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
Labels: plus

change copy on plus page
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

update copy
  client/public/assets/plus-docs/updates/collections.png
  client/public/assets/plus-docs/updates/updates.png
  client/public/assets/plus-docs/updates/updates_bcd.png
  client/public/assets/plus-docs/updates/updates_collection.png
  client/public/assets/plus-docs/updates/updates_filter.png
  client/public/assets/plus-docs/updates/updates_search.png
  client/src/plus/plus-docs/index.tsx
  copy/plus/features/notifications.md
  copy/plus/features/updates.md
Labels: plus

chore(tsc): sort compilerOptions in tsconfigs
  client/pwa/tsconfig.json
  client/tsconfig.json
  tsconfig.json
Labels: none

update copy and images
  client/public/assets/collections.png
  client/public/assets/collections_light.png
  client/public/assets/offline.png
  client/public/assets/offline_settings_light.png
  client/public/assets/updates.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

feat(quicksearch): boost exact matches
  client/src/search.tsx
Labels: none

Apply suggestions from code review
  client/src/search.tsx
Labels: none

refactor(search): extract FlexItem
  client/src/search.tsx
Labels: none

chore(search): replace `as` with return type
  client/src/search.tsx
Labels: none

chore(search): exactly match title + slugTail
  client/src/search.tsx
Labels: none

fix(search): str.split().pop() is never undefined
  client/src/search.tsx
Labels: none

chore(macros): deprecate {{gecko}} macro (#8071)
  kumascript/macros/gecko.ejs
Labels: macros

chore(lint): run check:tsc in parallel
  package.json
Labels: none

fix(lambda): use single set of bcd api jsons across all dev builds
  deployer/aws-lambda/content-origin-request/index.js
Labels: deployer

chore(macros): deprecate ARIARole macro (#8025)
  kumascript/macros/ARIARole.ejs
Labels: macros

chore(macros/MDNSidebar): add Communication channels page(#8061)
  kumascript/macros/MDNSidebar.ejs
Labels: macros

chore(lint): run check:tsc in parallel (#8083)
  package.json
Labels: none

fix: use proper brand for GitHub (#8027)
  client/src/document/on-github.tsx
Labels: none

test(macros): remove {{page}} from test cases
  kumascript/tests/index.test.ts
  testing/content/files/en-us/chicken_and_egg/chicken/index.html
  testing/content/files/en-us/chicken_and_egg/egg/index.html
  testing/content/files/en-us/chicken_and_egg/index.html
  testing/content/files/en-us/web/foo/index.html
  testing/content/files/en-us/web/fubar/index.html
  testing/tests/index.test.ts
Labels: macros

Add AppProps type
  build/spas.ts
  build/utils.ts
  client/src/app.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/document/index.tsx
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/index.tsx
  client/src/plus/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/types/hydration.ts
  ssr/index.ts
  ssr/render.ts
Labels: plus

fixup! test(macros): remove {{page}} from test cases
  testing/content/files/en-us/_wikihistory.json
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/stuff/index.html
  testing/tests/index.test.ts
Labels: none

fix(lambda): use single set of bcd api jsons across all dev builds (#8084)
  deployer/aws-lambda/content-origin-request/index.js
Labels: deployer

fix(lint): run check:tsc even if nproc is unavailable
  package.json
Labels: none
