Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore: update NPM packaging ignores
  .gitignore
  .npmignore
Labels: none

fix: build SSR before packaging
  package.json
Labels: none

chore(deps-dev): replace eslint-plugin-node with n (#7401)
  .eslintrc.js
  build/cli.ts
  build/spas.ts
  content/utils.ts
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  package.json
  sd-config.js
  server/dev.ts
  yarn.lock
Labels: dependencies, deployer

style(stylelint): fix function-no-unknown (#7399)
  .stylelintrc.json
  client/src/minimal-prism.scss
Labels: none

chore(macros): deprecate {{source}} (#7164)
  kumascript/macros/source.ejs
Labels: macros

refactor(sync-translated-content): move from /build to /tool
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: none

refactor(libs/types): extract DocFrontmatter from /build
  build/spas.ts
  content/document.ts
  libs/types/document.ts
  tool/sync-translated-content.ts
Labels: none

fix: stylelint no-duplicate-selectors
  .stylelintrc.json
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/flaws/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Labels: plus

fix: stylelint scss/at-extend-no-missing-placeholder
  .stylelintrc.json
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
Labels: plus

fix(bcd): Show child compat data even when parent has none
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

Address feedback to avoid type assertions
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

fix(bcd): Make BCD show grandchildren only when ancestors have no data
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

Address review comments by doing BFS
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

fix(macro): update HTMLSideBar macro
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

Bring block and inline element links closer
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

Make guides section top level
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

Add non global attributes to the sidebar
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

ci: run tests on Linux and Windows
  .github/workflows/testing.yml
Labels: github-actions

ci: use env for /dev/null Windows compat
  .github/workflows/testing.yml
Labels: github-actions

fix(bcd): list descendant features even if parent has no data (#7167)
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

style(stylelint): fix scss/at-extend-no-missing-placeholder (#7433)
  .stylelintrc.json
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
Labels: plus

style(stylelint): fix no-duplicate-selectors (#7432)
  .stylelintrc.json
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/flaws/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Labels: plus

Add combinators to CSS sidebar
  kumascript/macros/CSSRef.ejs
Labels: macros

feat(surveys): add Interop 2023 survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

chore(macros/CSSRef): add Combinator pages (#7439)
  kumascript/macros/CSSRef.ejs
Labels: macros

Group CSS properties in the sidebar
  kumascript/macros/CSSRef.ejs
Labels: macros

Remove code formatting; let->const
  kumascript/macros/CSSRef.ejs
Labels: macros

Remvoe 'HTML atrribute' prefix from the links
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

Refactor
  kumascript/macros/CSSRef.ejs
Labels: macros

Open all details elements, not just the closest
  build/document-extractor.ts
Labels: none

Update kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

Add description to the smartLink function
  kumascript/src/api/web.ts
Labels: macros

Make the sidebar scroll to the current page
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Labels: none

fix(macros/HTMLSidebar): replace Documentation section by Guides section (#7402)
  kumascript/macros/HTMLSidebar.ejs
  kumascript/src/api/web.ts
Labels: macros

chore(client/fallback-link): remove empty block
  client/src/page-not-found/fallback-link.tsx
Labels: none

feat(page-not-found): suggest search terms (#7070)
  client/src/document/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/ui/molecules/notecards/index.scss
Labels: none

refactor(sync-translated-content): move from /build to /tool (#7151)
  build/spas.ts
  content/document.ts
  libs/types/document.ts
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: none

MP-128: validate collections forms when submitting with return key
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: plus

Expand all collapsible sidebar sectiona, not just the closest
  build/document-extractor.ts
Labels: none

Add isSidebarOpen dependency
  client/src/document/organisms/sidebar/index.tsx
Labels: none
