Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(kumascript): ignore smartlink warning for links with fallback
  kumascript/src/api/web.ts
Labels: macros

chore(kumascript): ensure broken flaw warning has details
  kumascript/src/api/web.ts
Labels: macros

fixup! chore(csp): group by env, add xyz urls
  libs/constants/index.js
Labels: none

Remove "attr-" from HTML Element attribute links
  kumascript/macros/htmlattrxref.ejs
Labels: macros

reduce ja time to 214s with git rev-list
  server/translations.ts
Labels: none

feat: source commit error report
  .gitignore
  server/translations.ts
Labels: none

Optimize source commit logic Generate source commit error report
  .gitignore
  server/translations.ts
Labels: none

feat: source commit importance color
  client/src/translations/differences/index.tsx
  server/translations.ts
Labels: none

Depreciate htmlattrxref
  kumascript/macros/htmlattrxref.ejs
Labels: macros

Update htmlattrdef.ejs
  kumascript/macros/htmlattrdef.ejs
Labels: macros

Apply suggestions from code review
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
Labels: none

fix
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
Labels: none

fix(types/document): rename shortTitle back to short_title
  build/document-utils.ts
  build/index.ts
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
  libs/types/document.ts
Labels: macros

chore(telemetry): remove unnecessary isServer check in useEffect
  client/src/telemetry/glean-context.tsx
Labels: none

feat(client/user-context): use undefined value while loading
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/user-context.tsx
Labels: plus

fix(telemetry): send page event even if whoami request failed
  client/src/telemetry/glean-context.tsx
Labels: none

enhance(glean): add viewport metrics to pings (#8367)
  client/src/telemetry/constants.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Labels: none

refactor(client): extract interactive-examples action handler hook
  client/src/document/hooks.ts
  client/src/document/index.tsx
Labels: none

refactor(client): move interactive-examples hook to telemetry
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/telemetry/interactive-examples.ts
Labels: none

refactor(offer-overview): use optional chaining
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: plus

fix(glean): set page metrics asap + send ping when whoami returns or fails (#8294)
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/glean-context.tsx
  client/src/user-context.tsx
Labels: plus

fix(types/document): rename shortTitle back to short_title (#8411)
  build/document-utils.ts
  build/index.ts
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
  libs/types/document.ts
Labels: macros

feature(tool/delete): list files pointing to the deleted document
  tool/cli.ts
Labels: none

Fix typo
  tool/cli.ts
Labels: none

enhance(glean): add http_status metric to pings
  client/src/app.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/telemetry/generated/page.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/types/hydration.ts
  libs/types/hydration.ts
  ssr/render.ts
Labels: none

review updates
  client/src/app.tsx
  client/src/telemetry/metrics.yaml
  libs/types/hydration.ts
Labels: none

ci(pr-commit-signatures): use --exec, not -x
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

ci(pr-commit-signatures): explain how to sign existing commits (#8384)
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

fix(kumascript): ignore smartlink warning for links with fallback (#8389)
  kumascript/src/api/web.ts
Labels: macros

fix(interactive-examples): define effect dependencies
  client/src/telemetry/interactive-examples.ts
Labels: none

feat(telemetry): measure interactive-examples actions (#8337)
  client/src/document/index.tsx
  client/src/telemetry/interactive-examples.ts
Labels: none

enhance(glean): add http_status metric to pings (#8420)
  client/src/app.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/telemetry/generated/page.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/types/hydration.ts
  libs/types/hydration.ts
  ssr/render.ts
Labels: none

feat(gcp/function): add stripe/plans api
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/app.ts
  gcp/function/src/handlers/plans-prod-lookup.json
  gcp/function/src/handlers/plans-stage-lookup.json
  gcp/function/src/handlers/stripePlans.ts
Labels: none

chore(gcp/function): add country to stripePlan result
  gcp/function/src/handlers/stripePlans.ts
Labels: none

chore(gcp/function): use bcd.developer.mozilla.org
  gcp/function/src/env.ts
Labels: none

feat(gcp/function): forward telemetry
  gcp/function/src/app.ts
  gcp/function/src/handlers/telemetry.ts
Labels: none

ci(xyz-build): enable glean
  .github/workflows/xyz-build.yml
Labels: github-actions

refactor(gcp/function): extract getRequestCountry()
  gcp/function/src/handlers/stripePlans.ts
  gcp/function/src/utils.ts
Labels: none

feat(gcp/function): add kevel handler
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/app.ts
  gcp/function/src/env.ts
  gcp/function/src/handlers/cc2ip.ts
  gcp/function/src/handlers/kevel.ts
Labels: none

ci(xyz-build): enable placements
  .github/workflows/xyz-build.yml
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
