Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(search): show init/error message as result item
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Labels: none

fix(build): set `@mdn/bcd-utils-api` as build dependency
  package.json
Labels: none

fixes review comments
  client/src/document/on-github.tsx
  client/src/document/organisms/metadata/index.tsx
Labels: none

fix(tool): sync the case changes of slug for content sync
  content/redirect.ts
  tool/sync-translated-content.ts
Labels: none

fix eslint
  tool/sync-translated-content.ts
Labels: none

chore: update performance api featured article
  build/spas.ts
Labels: none

chore: update performance api featured article (#7898)
  build/spas.ts
Labels: none

remove(plus): remove collections in qs preview
  client/src/plus/collections-quicksearch.ts
  client/src/plus/common/api.tsx
  client/src/search.tsx
  client/src/settings/feature-preview.tsx
  client/src/settings/index.tsx
  client/src/user-context.tsx
Labels: plus

Destructure pages[p] to get status in APIListAlpha
  kumascript/macros/APIListAlpha.ejs
Labels: macros

ListGroups: remove unnecessary check for tags/status
  kumascript/macros/ListGroups.ejs
Labels: macros

remove(plus): remove collections in qs preview (#7899)
  client/src/plus/collections-quicksearch.ts
  client/src/plus/common/api.tsx
  client/src/search.tsx
  client/src/settings/feature-preview.tsx
  client/src/settings/index.tsx
  client/src/user-context.tsx
Labels: plus

fix(build): set `@mdn/bcd-utils-api` as build dependency (#7871)
  package.json
Labels: none

fix(search) improve loading/error message (#7869)
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Labels: none

change(plus): link to sumo for documentation
  client/src/app.scss
  client/src/plus/plus-docs/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/molecules/submenu/index.tsx
  copy/plus/faq.md
  copy/plus/features/collections.md
  copy/plus/features/notifications.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
Labels: plus

fix(server): update bcd-utils-api to 0.0.3
  package.json
  server/index.ts
  yarn.lock
Labels: dependencies

fix(server): update bcd-utils-api to 0.0.3 (#7912)
  package.json
  server/index.ts
  yarn.lock
Labels: dependencies

Apply suggestions from code review
  kumascript/macros/LearnSidebar.ejs
Labels: macros

fix testing/integration tests to work with rumba
  testing/integration/conftest.py
  testing/integration/headless/map_301.py
  testing/integration/headless/test_cdn.py
  testing/integration/headless/test_endpoints.py
Labels: python

remove healthz check, treat LambdaGeneratedResponse as miss
  testing/integration/headless/test_cdn.py
Labels: python

add name to action
  .github/workflows/testing-integration.yml
Labels: github-actions

add github action
  .github/workflows/testing-integration.yml
Labels: github-actions

test against https
  .github/workflows/testing-integration.yml
Labels: github-actions

don't fail fast
  .github/workflows/testing-integration.yml
Labels: github-actions

run against stage + prod in one action, test slack notification
  .github/workflows/testing-integration.yml
Labels: github-actions

go back to matrix, unsurprisingly it's faster
  .github/workflows/testing-integration.yml
Labels: github-actions

only slack notify on failure
  .github/workflows/testing-integration.yml
Labels: github-actions

fix(build): copy images that are in default locale only to l10n folder
  build/check-images.ts
  build/cli.ts
  build/index.ts
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/foo/index.md
Labels: none

fix(ssr): use different language tag when with duplicate langs
  ssr/render.ts
Labels: none

add hreflang tag testing
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/foo/index.md
Labels: none

add comments
  testing/tests/index.test.ts
Labels: none

fix(offline): don't intercept api/v? requests
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/service-worker.ts
Labels: plus:offline

fix(offline): don't intercept api/v? requests (#7930)
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/service-worker.ts
Labels: plus:offline

add error handling, disabled state. Add new api endpoint
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Labels: plus

update url
  client/src/plus/updates/api.ts
Labels: plus

feature(plus): add mdn plus newsletter
  client/src/plus/common/api.tsx
  client/src/settings/index.tsx
  client/src/settings/newsletter.tsx
Labels: plus

remove log
  client/src/plus/updates/api.ts
Labels: plus

fix lint
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus): send daily ping about offline feature status
  client/src/app.tsx
  client/src/hooks.ts
  client/src/user-context.tsx
Labels: none

add banner and dot
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/constants.ts
  client/src/settings/newsletter.tsx
  client/src/telemetry/constants.ts
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
Labels: none

set offline settings in swr
  client/src/hooks.ts
  client/src/user-context.tsx
Labels: none
