Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore(plus/updates): rename "Watched pages" filter
  client/src/plus/updates/index.tsx
Labels: plus

refactor(auth-container): make gleanContext a prop
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Labels: none

feat(themes): add --border-success
  client/src/ui/_vars.scss
  client/src/ui/base/_themes.scss
Labels: none

feat(plus/updates): add LoginBanner
  client/src/plus/updates/index.tsx
  client/src/plus/updates/login-banner.scss
  client/src/plus/updates/login-banner.tsx
  client/src/telemetry/constants.ts
Labels: plus

chore(plus/updates): rename "Pages" => "Show"
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus/updates): move "Show" filter to the right
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus/updates): rephrase login banner
  client/src/plus/updates/login-banner.tsx
Labels: plus

fix(ui/button): reduce primary-{hover,active} contrast
  client/src/ui/_vars.scss
Labels: none

fix(plus/updates): rename {area => content_area} filter
  client/src/plus/updates/index.tsx
Labels: plus

fixup! chore(paginator): default to first = 1
  client/src/plus/updates/index.tsx
Labels: plus

Revert "fix(ui/button): reduce primary-{hover,active} contrast"
  client/src/ui/_vars.scss
Labels: none

fix(ui/button): use --button-secondary for select
  client/src/ui/atoms/button/index.scss
Labels: none

fix(plus/search-filter): reduce filter/sort font-size
  client/src/plus/search-filter/index.scss
Labels: plus

ci(workflows): add njsscan workflow
  .github/workflows/njsscan.yml
Labels: github-actions

ci(workflows): add codeql workflow
  .github/workflows/codeql.yml
Labels: github-actions

fix(plus/updates): rename content_updates => category
  client/src/plus/updates/index.tsx
Labels: plus

feat(plus/updates): show status as badge with icon
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
Labels: plus

refactor(search-filter): replace searchFilterContext with searchParams
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/contexts/search-filters.tsx
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/paginator/index.tsx
Labels: plus

fix(plus/updates): add empty result fallback with reset button
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
Labels: plus

style: run prettier-format
  .github/workflows/njsscan.yml
Labels: github-actions

style: run prettier-format
  .github/workflows/codeql.yml
Labels: github-actions

fix(user-menu): add "Updates" entry
  client/src/ui/molecules/user-menu/index.tsx
Labels: none

fix(plus/updates): ignore params unless authenticated
  client/src/plus/updates/api.ts
Labels: plus

fix(signin-link): add search to next
  client/src/ui/atoms/signin-link/index.tsx
Labels: none

fix(plus/updates): ignore zero-width spaces in query
  client/src/plus/search-filter/index.tsx
Labels: plus

chore(plus/updates): always show "Reset all filters"
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus/updates): improve "0 updates" note
  client/src/plus/updates/index.tsx
Labels: plus

fix(plus/updates): display errors
  client/src/plus/updates/index.tsx
Labels: plus

fix(plus/search-filter): highlight active filter/sort
  client/src/plus/search-filter/index.tsx
Labels: plus

fixup! fix(signin-link): add search to next
  client/src/ui/atoms/signin-link/index.tsx
Labels: none

fix(plus/updates): use smaller font for filters/sort/reset
  client/src/plus/search-filter/index.scss
  client/src/plus/updates/index.scss
Labels: plus

chore(plus/updates): rephrase login banner
  client/src/plus/updates/login-banner.tsx
Labels: plus

chore(macros): delete {{gecko_minversion_*}} macros
  kumascript/macros/gecko_minversion_header.ejs
  kumascript/macros/gecko_minversion_inline.ejs
Labels: macros

chore(plus/updates): update header copy again
  client/src/plus/updates/index.tsx
Labels: plus

fix: remove mention of gecko_minversion_* macro
  kumascript/src/info.ts
  kumascript/tests/index.test.ts
  testing/content/files/en-us/web/fixable_flaws/deprecated_macros/index.html
Labels: macros

fix(plus/updates): avoid ? without query
  client/src/plus/updates/api.ts
Labels: plus

remove deprecated macro counter
  kumascript/tests/index.test.ts
Labels: macros

chore(plus/updates): use /watched endpoint
  client/src/plus/updates/api.ts
Labels: plus

fix unit tests
  kumascript/tests/index.test.ts
Labels: macros

fix testing
  testing/tests/index.test.ts
Labels: none
