Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(content): add types
  build/flaws/index.ts
  content/document-paths.ts
  content/document.test.ts
  content/document.ts
  content/githistories.ts
  content/image.ts
  content/index.ts
  content/popularities.ts
  content/redirect.test.ts
  content/redirect.ts
  content/translation.ts
  content/translations.ts
  content/utils.ts
  content/wikihistories.ts
Labels: flaw-system

build(dist): transpile content
  tsconfig.dist.json
Labels: none

fix(build/sync-translated-content): remove invalid parameter
  build/sync-translated-content.ts
Labels: none

chore(gitignore): ignore *.js in {content,kumascript}
  .gitignore
Labels: none

fix(server): redefine RequestWithDocument
  server/document.ts
Labels: none

chore(syntax-highlight): add nolint aliases for CSS
  build/syntax-highlight.ts
Labels: none

chore(macros): localize ExperimentalBadge (#7081)
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

chore(syntax-highlight): add nolint aliases for CSS (#7139)
  build/syntax-highlight.ts
Labels: none

fix(a11y): increase contrast of code sample punctuation/comments (#7128)
  client/src/ui/_vars.scss
Labels: none

fix(live-samples): restore padding, use content-box sizing, reduce MIN_HEIGHT to 24px (#7079)
  client/src/document/index.scss
Labels: none

fix(bcd): apply mobile style only to bc-table (#7130)
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
Labels: none

fix(button): disabled styling
  client/src/ui/atoms/button/index.scss
Labels: none

chore(tool/inventory): use async fs
  tool/cli.ts
Labels: none

refactor(tool/sync-translated-content): use async fs
  build/sync-translated-content.ts
  tool/cli.ts
Labels: none

refactor(build/spas): use klawSync
  build/spas.ts
Labels: none

chore: document deprecated link macro
  kumascript/macros/Link.deprecated.md
  kumascript/macros/Link.ejs
Labels: macros

fix(livesample): support nolint aliases
  markdown/m2h/handlers/code.ts
Labels: markdown

refactor(tool/cli): replace klawSync with fdir
  tool/cli.ts
Labels: none

build(deps): remove klawSync
  package.json
  yarn.lock
Labels: dependencies

refactor(build/spas): replace klawSync with fdir
  build/spas.ts
Labels: none

chore(macros/WASMSidebar): remove use of jsxref
  kumascript/macros/WebAssemblySidebar.ejs
Labels: macros

Fix test
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Labels: macros

fix(kumascript): remove misleading line/column from error
  kumascript/src/errors.ts
Labels: macros

fix(build): show sourceContext for MacroInvocationError
  build/index.ts
Labels: none

fix(kumascript): revert line number correction
  kumascript/src/errors.ts
Labels: macros

chore(document): use scrollable <pre> for loading errors
  client/src/document/index.scss
  client/src/document/index.tsx
Labels: none

chore(macros): deprecate {{source}}
  kumascript/macros/source.ejs
Labels: macros

Update kumascript/macros/Link.deprecated.md
  kumascript/macros/Link.deprecated.md
Labels: macros

chore(on-github): use page-report.yml for locales
  client/src/document/on-github.tsx
Labels: none

chore(prettier): fix lint problem
  client/src/document/on-github.tsx
Labels: none

fix(ssr): escape colon in <title>
  ssr/render.ts
Labels: none

fix(livesample): support nolint aliases (#7149)
  markdown/m2h/handlers/code.ts
Labels: markdown

Remove color-profile attribute from list of SVG elements
  kumascript/macros/SVGRef.ejs
Labels: macros

Remap w3c.github.io/csswg-drafts to drafts.csswg.org during browser-specs lookup
  build/document-extractor.ts
Labels: none

chore(deps): delete `node-gettext` from dependencies
  package.json
  yarn.lock
Labels: dependencies

feat(translate): Angular Building
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Delete PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

feat(macros/ListSubpagesForSidebar): sort subpages by title
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

add Japanese localization file
  markdown/localizations/ja.json
Labels: markdown

fix trimTitle
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/src/info.ts
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
