Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(print): hide actions header + menu toggle
  client/public/index.html
Labels: none

fix(print): hide sidebar, banner, actions header, menu toggle (#7777)
  client/public/index.html
Labels: none

fix(filecheck): overhaul UX (#7716)
  build/cli.ts
  filecheck/checker.ts
  filecheck/cli.ts
  package.json
  testing/tests/filecheck.test.ts
  yarn.lock
Labels: dependencies

Fix import
  filecheck/cli.ts
Labels: none

Revert "fix(ssr): escape colon in <title> (#7166)" (#7712)
  ssr/render.ts
Labels: none

Update kumascript/tests/render.test.ts
  kumascript/tests/render.test.ts
Labels: macros

Use jest.unstable_mockModule
  kumascript/tests/index.test.ts
  kumascript/tests/macros/page-api.test.ts
Labels: macros

Fix indents
  kumascript/tests/index.test.ts
Labels: macros

Use unstable_mockModule instead of mock
  kumascript/tests/index.test.ts
Labels: macros

Use page-type instead of tags in CSSInfo
  kumascript/macros/CSSInfo.ejs
Labels: macros

Fix order of mocks
  kumascript/tests/index.test.ts
Labels: macros

Fix mocking
  kumascript/tests/index.test.ts
Labels: macros

Run Prettier
  kumascript/tests/render.test.ts
Labels: macros

Fix ESLint errors
  kumascript/tests/index.test.ts
Labels: macros

Fix mocking for HTTPSidebar test
  kumascript/tests/macros/HTTPSidebar.test.ts
Labels: macros

Fix mocking (again)
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/page-api.test.ts
Labels: macros

Pass "cache" variable instead of setting NODE_ENV
  kumascript/src/templates.ts
  kumascript/tests/templates.test.ts
Labels: macros

chore(footer): Point to CONTRIBUTING.md instead of README in footer
  client/src/document/on-github.tsx
Labels: none

fix(macros/CSSInfo): use page-type instead of tags (#7786)
  kumascript/macros/CSSInfo.ejs
Labels: macros

fix(client/config): migrate to setupMiddlewares option
  client/config/webpackDevServer.config.js
Labels: none

chore(footer): Reword footer link based on reviewer feedback
  client/src/document/on-github.tsx
Labels: none

Update ignored files lists
  .eslintignore
  .gitignore
  .prettierignore
Labels: none

fix(ignores): add some missing entries (#7794)
  .eslintignore
  .gitignore
  .prettierignore
Labels: none

feat(macros): support TypeScript
  kumascript/src/templates.ts
Labels: macros

refactor(macros): convert CSSSyntax to TypeScript
  kumascript/macros/CSSSyntax.ejs
  kumascript/macros/CSSSyntax.ts
Labels: macros

fix(macros): use require
  kumascript/macros/CSSSyntax.ts
Labels: macros

Remove junk and important tag handling
  kumascript/macros/SubpagesWithSummaries.ejs
Labels: macros

Restore variables exported through Document class
  build/cli.ts
  build/index.ts
  content/document.ts
  kumascript/index.ts
  tool/sync-translated-content.ts
Labels: macros

fix(macros): use import
  kumascript/macros/CSSSyntax.ts
Labels: macros

Revert yarn.lock changes
  yarn.lock
Labels: dependencies

Don't move import
  filecheck/checker.ts
Labels: none

Move Jest configuration to separate file
  jest.config.json
  package.json
Labels: none

Simplify imports/calls for JSDOM
  kumascript/tests/macros/Compat.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/firefoxsidebar.test.ts
  kumascript/tests/macros/gamessidebar.test.ts
  kumascript/tests/macros/mdnsidebar.test.ts
Labels: macros

refactor(tests): simplify imports/calls for JSDOM (#7798)
  kumascript/tests/macros/Compat.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/firefoxsidebar.test.ts
  kumascript/tests/macros/gamessidebar.test.ts
  kumascript/tests/macros/mdnsidebar.test.ts
Labels: macros

fix(macros/SubpagesWithSummaries): remove junk and important tag handling (#7796)
  kumascript/macros/SubpagesWithSummaries.ejs
Labels: macros

refactor(jest): move config to separate file (#7797)
  jest.config.json
  package.json
Labels: none

Update HTTPSidebar to point to Permisisons-Policy, not Feature-Policy
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

Update casing issue in macro file data
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

Update kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

test(kumascript): update fixtures
  kumascript/tests/macros/fixtures/documentData2.json
Labels: macros
