Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(plus/updates): fetch updates via API
  client/src/plus/updates/api.ts
Labels: plus

feat(plus/updates): add search field
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Labels: plus

complete and update `fr` translation for
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(paginator): make first page a prop
  client/src/ui/molecules/paginator/index.tsx
Labels: none

chore(paginator): default to first = 1
  client/src/ui/molecules/paginator/index.tsx
Labels: none

refactor(plus/updates): reuse getSearchFiltersParams()
  client/src/plus/updates/api.ts
Labels: plus

Media Feature Value
  build/extract-sections.ts
  client/src/document/index.tsx
  client/src/document/ingredients/media-feature-section.tsx
  content/translation.ts
  kumascript/macros/MediaFeatureValue.ejs
  libs/types/document.ts
Labels: macros

Apply fiji-flo suggestion
  client/src/document/ingredients/media-feature-section.tsx
Labels: none

feat(plus/updates): add filter by browser
  client/src/plus/updates/index.tsx
Labels: plus

feat(plus/search-filter): make toggleable
  client/src/plus/search-filter/index.tsx
Labels: plus

refactor(plus/search-filters): extract clearSearchFilters()
  client/src/plus/contexts/search-filters.tsx
  client/src/plus/notifications/index.tsx
Labels: plus

chore(plus/search-filters): type setters
  client/src/plus/contexts/search-filters.tsx
Labels: plus

feat(plus/search-filters): support multiple filters
  client/src/plus/contexts/search-filters.tsx
Labels: plus

refactor(plus/common): reuse getSearchFiltersParams()
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
Labels: plus

refactor(plus/search-filter): remove selectedFilter in favor of selectedFilters
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/contexts/search-filters.tsx
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/index.tsx
Labels: plus

Use @webref/css
  build/extract-sections.ts
  client/src/document/ingredients/media-feature-section.tsx
  kumascript/macros/MediaFeatureValue.ejs
  libs/types/document.ts
Labels: macros

Note may now be placed without a heading
  build/extract-sections.ts
Labels: none

Remove useIsServer import
  client/src/document/ingredients/media-feature-section.tsx
Labels: none

Fix reading class property, that might be undefined
  build/extract-sections.ts
Labels: none

Pass tests
  libs/types/document.ts
Labels: none

Pass tests v2
  build/extract-sections.ts
Labels: none

chore(plus/search-filters): replace getSearchFiltersParams with searchParams
  client/src/plus/common/api.tsx
  client/src/plus/contexts/search-filters.tsx
  client/src/plus/updates/api.ts
Labels: plus

fixup! refactor(plus/common): reuse getSearchFiltersParams()
  client/src/plus/common/tabs.tsx
Labels: plus

feat(plus/updates): add sort
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus/search-filter): add tick to selected filter/sort
  client/src/plus/search-filter/index.scss
Labels: plus

refactor(plus/search-filter): rename {Radio => Select}Filter
  client/src/plus/common/tabs.tsx
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/index.tsx
Labels: plus

feat(plus/search-filter): allow multiple selection
  client/src/plus/search-filter/index.tsx
Labels: plus

feat(plus/updates): allow selecting multiple browsers
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus/updates): disable filters for non-authenticated users
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/search/index.tsx
Labels: plus

fixup! chore(plus/search-filter): add tick to selected filter/sort
  client/src/plus/search-filter/index.scss
Labels: plus

fix(search): reduce padding-left
  client/src/ui/atoms/search/index.scss
Labels: none

fixup! feat(plus/search-filters): support multiple filters
  client/src/plus/search-filter/index.tsx
Labels: plus

fix(plus/search-filter): avoid wrap
  client/src/plus/search-filter/index.scss
Labels: plus

feat(plus/updates): add Pages filter
  client/src/plus/updates/index.tsx
Labels: plus

feat(plus/updates): add "Content area" filter
  client/src/plus/updates/index.tsx
Labels: plus

enhance(search-filter): move search between filters + sort
  client/src/plus/search-filter/index.tsx
Labels: plus

fix(plus/updates): highlight default filter/sort
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/index.tsx
Labels: plus

refactor(plus/search-filters): change searchParams to string
  client/src/plus/contexts/search-filters.tsx
Labels: plus

fix(plus/search-filter): don't send default filter/sort values
  client/src/plus/search-filter/index.tsx
Labels: plus

fix(plus/updates): replace watching=false with show=watched
  client/src/plus/updates/index.tsx
Labels: plus

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
