Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

Revert to using slug, instead of title, to find out the thing we are looking for
  kumascript/macros/CSSSyntax.ejs
Labels: macros

Add a background color to good/bad codeblock examples
  client/src/document/index.scss
Labels: none

Deprecate `{{css_key_concepts}}` (#6819)
  kumascript/macros/CSS_key_concepts.ejs
Labels: macros

Support formal syntax for types and functions as well as properties (#6618)
  kumascript/macros/CSSSyntax.ejs
Labels: macros

cleanup after h2m removal
  markdown/m2h/cli.js
  markdown/tsconfig.json
  markdown/utils/index.js
  package.json
  yarn.lock
Labels: dependencies, markdown

update modal to be consistent with existing class names
  client/src/plus/collections/v2/new-collection-modal.tsx
Labels: plus

Update localized links in SeeCompatTable.ejs
  kumascript/macros/SeeCompatTable.ejs
Labels: macros

chore(macros): delete {{Draft}} macro
  kumascript/macros/Draft.ejs
Labels: macros

Fix icons displayed in BCD cells (#6811)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

chore(macros): delete {{Draft}} macro (#6859)
  kumascript/macros/Draft.ejs
Labels: macros

Depreciate the InterWiki macro (#6810)
  kumascript/macros/Interwiki.ejs
Labels: macros

Depreciate the link macro
  kumascript/macros/Link.ejs
Labels: macros

Add WebIDL to syntaxes
  build/syntax-highlight.js
Labels: none

Format
  build/syntax-highlight.js
Labels: none

Add Markdown localizations for German
  markdown/localizations/de.json
Labels: markdown

Add Markdown localizations for German (#6866)
  markdown/localizations/de.json
Labels: markdown

Depreciate the link macro (#6865)
  kumascript/macros/Link.ejs
Labels: macros

chore(client): remove dependecies on client
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/document/on-github.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/document/toolbar/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/ui/molecules/breadcrumbs/index.tsx
  client/src/ui/molecules/collection/index.tsx
  client/src/ui/molecules/collection/menu.tsx
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/language-menu/index.tsx
  client/src/ui/molecules/language-toggle/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/tsconfig.json
  libs/types/document.ts
  libs/types/package.json
  libs/types/tsconfig.json
  server/flaws.ts
  tool/cli.ts
Labels: none

fix test
  testing/tests/index.test.ts
Labels: none

update and feedback
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/tsconfig.json
Labels: plus

chore(client): remove dependecies on client (#6765)
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/document/on-github.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/document/toolbar/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/src/ui/molecules/breadcrumbs/index.tsx
  client/src/ui/molecules/collection/index.tsx
  client/src/ui/molecules/collection/menu.tsx
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/language-menu/index.tsx
  client/src/ui/molecules/language-toggle/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  libs/types/document.ts
  libs/types/package.json
  libs/types/tsconfig.json
  server/flaws.ts
  testing/tests/index.test.ts
  tool/cli.ts
Labels: plus

chore(front-end): various clean ups
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/app.scss
  client/src/app.tsx
  client/src/banners/active-banner.tsx
  client/src/env.ts
  client/src/flaws/index.tsx
  client/src/page-not-found/index.tsx
  client/src/plus/index.tsx
  client/src/plus/offer-overview/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/site-search/index.tsx
  client/src/sitemap/index.tsx
  client/src/translations/dashboard/index.tsx
  client/src/translations/differences/index.tsx
  client/src/translations/index.tsx
  client/src/translations/missing/index.tsx
  client/src/ui/atoms/page-content/index.scss
  client/src/ui/atoms/page-content/index.tsx
  client/src/ui/molecules/a11y-nav/index.scss
  client/src/ui/molecules/a11y-nav/index.tsx
  client/src/ui/molecules/blog-feed/index.scss
  client/src/ui/molecules/blog-feed/index.tsx
  client/src/ui/molecules/grids/_standard-page.scss
  client/src/ui/molecules/language-toggle/index.scss
  client/src/ui/molecules/language-toggle/index.tsx
  client/src/ui/molecules/manage-upgrade-dialog/index.scss
  client/src/ui/molecules/notifications-watch-menu/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/utils.ts
  client/src/writers-homepage/index.tsx
Labels: github-actions, plus

feedback
  client/public/index.html
  client/src/document/index.tsx
  client/src/ui/organisms/article-actions-container/index.scss
  docs/envvars.md
Labels: none

chore(front-end): various clean ups (#6771)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/public/index.html
  client/src/app.scss
  client/src/app.tsx
  client/src/banners/active-banner.tsx
  client/src/document/index.tsx
  client/src/env.ts
  client/src/flaws/index.tsx
  client/src/page-not-found/index.tsx
  client/src/plus/index.tsx
  client/src/plus/offer-overview/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/site-search/index.tsx
  client/src/sitemap/index.tsx
  client/src/translations/dashboard/index.tsx
  client/src/translations/differences/index.tsx
  client/src/translations/index.tsx
  client/src/translations/missing/index.tsx
  client/src/ui/atoms/page-content/index.scss
  client/src/ui/atoms/page-content/index.tsx
  client/src/ui/molecules/a11y-nav/index.scss
  client/src/ui/molecules/a11y-nav/index.tsx
  client/src/ui/molecules/blog-feed/index.scss
  client/src/ui/molecules/blog-feed/index.tsx
  client/src/ui/molecules/grids/_standard-page.scss
  client/src/ui/molecules/language-toggle/index.scss
  client/src/ui/molecules/language-toggle/index.tsx
  client/src/ui/molecules/manage-upgrade-dialog/index.scss
  client/src/ui/molecules/notifications-watch-menu/index.scss
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/utils.ts
  client/src/writers-homepage/index.tsx
  docs/envvars.md
Labels: github-actions, plus

Remove h2m from Yari (#6849)
  .github/workflows/testing.yml
  markdown/cli.ts
  markdown/h2m/h.ts
  markdown/h2m/handlers/cards.ts
  markdown/h2m/handlers/dl.ts
  markdown/h2m/handlers/index.ts
  markdown/h2m/handlers/rehype-remark-utils.ts
  markdown/h2m/handlers/tables.ts
  markdown/h2m/handlers/to-text.ts
  markdown/h2m/handlers/utils.ts
  markdown/h2m/index.ts
  markdown/h2m/transform.ts
  markdown/h2m/utils.ts
  markdown/m2h/cli.js
  markdown/tsconfig.json
  markdown/utils/index.js
  package.json
  scripts/testing.sh
  testing/content/files/en-us/markdown/tool/h2m/expected.md
  testing/content/files/en-us/markdown/tool/h2m/index.html
  yarn.lock
Labels: dependencies, github-actions, markdown

build sitemap index file with a command option
  build/cli.js
Labels: none

format console log
  build/cli.js
Labels: none

ci: use command to build sitemap index file
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

fix(macros): correct the links in {{CSSInfo}} macro (#6689)
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
Labels: macros

fix: make the sitemap generator work with spread build (#6791)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/cli.js
Labels: github-actions

Suppress formal syntax expansion for color and gradient
  kumascript/macros/CSSSyntax.ejs
Labels: macros

fix(macro): reference to same page in some cases
  kumascript/macros/jsxref.ejs
Labels: macros

fix jest
  kumascript/tests/macros/jsxref.test.js
Labels: macros

update macro testing case
  kumascript/tests/macros/jsxref.test.js
Labels: macros

fix: add "page-type" to optional front matter keys
  content/document.js
Labels: none

Add Markdown localizations for Polish
  markdown/localizations/pl.json
Labels: markdown

ci: add sitemap generate in dev build
  .github/workflows/dev-build.yml
Labels: github-actions

chore: move checkbox atom out of watch menu
  client/src/plus/icon-card/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/ui/atoms/checkbox/index.tsx
Labels: plus

fix(article-actions): scroll on overflow on mobile
  client/src/app.scss
  client/src/banners/banner.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/ui-context.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
Labels: none

chore(article-actions): move menu components into hierarchy
  client/src/app.scss
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/edit-collection.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/molecules/manage-upgrade-dialog/index.scss
  client/src/ui/molecules/notifications-watch-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.scss
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/ui/organisms/article-actions/manage-upgrade-dialog/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.scss
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-start.tsx
Labels: plus
