Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

Add CSS performance features
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Update template code
  kumascript/macros/LearnSidebar.ejs
Labels: macros

fix(build): match bad_src flaws for markdown files
  build/check-images.ts
  build/flaws/broken-links.ts
  build/matches-in-text.ts
  testing/content/files/en-us/web/images/bad_src/index.md
Labels: flaw-system

strict the type checking
  build/matches-in-text.ts
Labels: none

fix(macros/JSRef): rewrite and show correct subpages
  kumascript/macros/JSRef.ejs
Labels: macros

fix: special case handling for Intl's methods
  kumascript/macros/JSRef.ejs
Labels: macros

apply suggestions and remove `WebAssembly`
  kumascript/macros/JSRef.ejs
Labels: macros

wrapper function to render output
  kumascript/macros/JSRef.ejs
Labels: macros

clean up empty line
  kumascript/macros/JSRef.ejs
Labels: macros

format arrow function
  kumascript/macros/JSRef.ejs
Labels: macros

Fix update state on removal
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: none

Update client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: none

MP-202 Fix update state on removal (#8142)
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: none

feat(sidebars): support status meta for badges (#7828)
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

docs(deployer): fix black command
  deployer/README.md
Labels: deployer

style(deployer): run black
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/upload.py
Labels: deployer, python

revert: restore spec2 translation
  kumascript/macros/spec2.ejs
Labels: macros

chore(macros): remove usage of the obsolete tag (#8129)
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSS_Ref.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

Change titles
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Fix links
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Fux links
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Fix indentation and title
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Add link to overview
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Link text edits
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Link text edits
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Remove extra space
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Update kumascript/macros/LearnSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(syntax-highlight): support `-nolint` suffix for all languages (#8112)
  build/syntax-highlight.ts
Labels: none

Apply suggestions from code review
  content/redirect.ts
  tool/sync-translated-content.ts
Labels: none

fix: correct target
  content/redirect.ts
Labels: none

chore(scripts): time build
  package.json
Labels: none

chore(deps): require node v16.17+
  package.json
Labels: none

chore(nvm): bump to node v16.19
  .nvmrc
Labels: none

enhance(deployer): prefix lambda for stage
  .github/workflows/stage-build.yml
  deployer/src/deployer/constants.py
  deployer/src/deployer/update_lambda_functions.py
Labels: deployer, github-actions, python

fix(content/document): move mkdir into save()
  content/document.ts
Labels: none

chore(content/document): remove unnecessary exists test
  content/document.ts
Labels: none

chore(scripts): add build:all with time + nf
  Procfile.build
  package.json
Labels: none

fixup! chore(scripts): add build:all with time + nf
  Procfile.build-all
  package.json
Labels: none

chore(surveys): run web compat survey for 2 more days
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

Fix some links in Forms module
  kumascript/macros/LearnSidebar.ejs
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
