Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(offline-settings): treat initial phase like idle (#8216)
  client/src/settings/offline-settings.tsx
Labels: none

fix(libs/env): use cwd() as ROOT
  libs/env/index.js
Labels: none

chore(libs/env): unexport ROOT
  libs/env/index.d.ts
  libs/env/index.js
Labels: none

refactor(libs/env): rename ROOT to CWD
  libs/env/index.js
Labels: none

fix(ssr): determine env path properly
  ssr/index.ts
Labels: none

chore(npmignore): add client/venv
  .npmignore
Labels: none

fix(libs/env): load env from cwd(), but build from root
  libs/env/index.js
Labels: none

chore(npmignore): ignore npm builds
  .npmignore
Labels: none

fix(libs/env): add missing import
  libs/env/index.js
Labels: none

chore(macros): add missing CSS selectors pages to sidebars (#8014)
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Merge {{ObsoleteGeneric}} into {{Obsolete_Inline}}
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/Obsolete_Inline.ejs
Labels: macros

kevel poc
  .github/workflows/stage-build.yml
  client/src/document/organisms/toc/index.scss
  client/src/document/organisms/toc/index.tsx
  client/src/document/organisms/toc/place.tsx
  client/src/index.tsx
  client/src/placement-context.tsx
  client/src/setupProxy.js
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/env.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  server/index.ts
Labels: dependencies, deployer, github-actions

fix lambda
  deployer/aws-lambda/kevel/package.json
Labels: deployer

sign links
  .github/workflows/stage-build.yml
  deployer/aws-lambda/kevel/.gitignore
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/env.js
  deployer/aws-lambda/kevel/index.js
Labels: deployer, github-actions

no ads option
  client/src/document/organisms/toc/index.scss
  client/src/document/organisms/toc/place.tsx
  client/src/placement-context.tsx
  client/src/plus/common/api.tsx
  client/src/settings/manage.tsx
  client/src/user-context.tsx
Labels: plus

url encdoe base64
  client/src/document/organisms/toc/place.tsx
Labels: none

update img serving
  client/src/document/organisms/toc/index.scss
  client/src/document/organisms/toc/place.tsx
  client/src/placement-context.tsx
  client/src/setupProxy.js
  deployer/aws-lambda/kevel/img.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  server/index.ts
Labels: deployer

carbon fallback
  client/src/document/organisms/toc/index.scss
  client/src/document/organisms/toc/place.tsx
  client/src/placement-context.tsx
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/cc2ip.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
Labels: deployer

impression
  .github/workflows/stage-build.yml
  client/src/document/organisms/toc/place.tsx
  deployer/aws-lambda/kevel/index.js
Labels: deployer, github-actions

fire once
  client/src/document/organisms/toc/place.tsx
Labels: none

more copy
  client/src/advertisement/about/index.scss
  client/src/advertisement/about/index.tsx
  client/src/document/organisms/toc/index.scss
  client/src/settings/index.scss
  client/src/settings/manage.tsx
  client/src/settings/newsletter.tsx
Labels: none

update placement
  client/src/document/organisms/toc/index.scss
  client/src/document/organisms/toc/placement.tsx
Labels: none

ssr
  .github/workflows/stage-build.yml
  build/spas.ts
  client/src/advertisement/about/index.scss
  client/src/advertisement/about/index.tsx
  client/src/advertisement/index.tsx
  client/src/advertisement/with_us/index.scss
  client/src/advertisement/with_us/index.tsx
  client/src/app.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/placement-context.tsx
Labels: github-actions

unify react
  client/src/document/organisms/toc/placement.tsx
Labels: none

update pong size
  client/src/document/organisms/toc/index.scss
Labels: none

copy changes
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
  client/src/advertising/index.tsx
  client/src/advertising/with_us/index.scss
  client/src/advertising/with_us/index.tsx
  client/src/app.tsx
  client/src/community/index.tsx
  client/src/document/organisms/toc/placement.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/settings/manage.tsx
  client/src/ui/_vars.scss
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/organisms/footer/index.tsx
Labels: plus

change pong size
  client/src/document/organisms/toc/index.scss
Labels: none

refactor
  client/src/document/organisms/toc/index.tsx
  client/src/document/organisms/toc/placement.tsx
  client/src/env.ts
  client/src/placement-context.tsx
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/img.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  server/index.ts
Labels: deployer

more copy
  client/src/advertisement/about/index.scss
  client/src/advertisement/about/index.tsx
  client/src/advertisement/with_us/index.scss
  client/src/advertisement/with_us/index.tsx
Labels: none

fix scrolling
  client/src/placement-context.tsx
  client/src/ui/molecules/grids/_document-page.scss
Labels: none

A -> a
  client/src/settings/manage.tsx
Labels: none

scroll fade
  client/src/ui/molecules/grids/_document-page.scss
Labels: none

fix style
  client/src/advertisement/about/index.scss
  client/src/advertisement/with_us/index.tsx
Labels: none

move by
  client/src/document/organisms/toc/index.scss
Labels: none

ssr /plus
  client/src/plus/index.tsx
Labels: plus

new background
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/ui/base/_themes.scss
Labels: plus

glean for no ads
  client/src/settings/manage.tsx
  client/src/telemetry/constants.ts
Labels: none

viewed afte 1s
  client/src/document/organisms/toc/placement.tsx
  client/src/placement-context.tsx
Labels: none

fix build
  client/src/document/organisms/toc/placement.tsx
  client/src/hooks.ts
  client/src/writers-homepage/hooks.tsx
  client/src/writers-homepage/viewed-documents.tsx
Labels: none

feedback
  client/src/advertisement/with_us/index.tsx
  client/src/document/organisms/toc/placement.tsx
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
