Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

Delete the `link` macro
  kumascript/macros/Link.ejs
Labels: macros

chore(macros): delete {{previousPage}} macro
  kumascript/macros/previousPage.ejs
Labels: macros

first attempt
  build/spas.ts
  client/src/homepage/recent-contributions/index.tsx
Labels: none

chore(markdown): add Japanese localization (#7188)
  markdown/localizations/ja.json
Labels: markdown

Allow alternate nightly spec URLs
  build/document-extractor.ts
Labels: none

chore(macros): delete {{previousPage}} macro (#7238)
  kumascript/macros/previousPage.ejs
Labels: macros

first
  client/src/document/index.tsx
  client/src/ui/organisms/notes/index.scss
  client/src/ui/organisms/notes/index.tsx
Labels: none

notes 1
  client/src/document/index.tsx
  client/src/plus/notes/index.scss
  client/src/plus/notes/index.tsx
  package.json
  yarn.lock
Labels: dependencies, plus

use notes from inside collection
  client/src/ui/organisms/notes/index.tsx
Labels: none

Fixed typos
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

notes 2
  client/src/document/index.tsx
  client/src/plus/notes/display/index.scss
  client/src/plus/notes/display/index.tsx
  client/src/plus/notes/edit/index.scss
  client/src/plus/notes/edit/index.tsx
  client/src/plus/notes/index.scss
  client/src/plus/notes/index.tsx
  client/src/ui/organisms/notes/index.scss
  client/src/ui/organisms/notes/index.tsx
Labels: plus

Use `page-report.yml` for locales (#7165)
  client/src/document/on-github.tsx
Labels: none

lint
  client/src/document/index.tsx
  client/src/plus/notes/edit/index.tsx
  client/src/plus/notes/index.tsx
  yarn.lock
Labels: dependencies, plus

flex-end
  client/src/plus/notes/edit/index.scss
Labels: plus

chore(on-github): use localized page-report if not en-US
  client/src/document/on-github.tsx
Labels: none

chore: yarn upgrade packages
  package.json
  yarn.lock
Labels: dependencies

Use page type instead of tags for CSSSyntax macro
  kumascript/macros/CSSSyntax.ejs
Labels: macros

fix(build): stop caching kumascript render
  build/document-extractor.ts
  build/index.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  server/index.ts
Labels: macros

rename renderedHtml
  build/index.ts
  kumascript/tests/index.test.ts
Labels: macros

test(kumascript): get result from cheerio
  kumascript/tests/index.test.ts
Labels: macros

change caching
  kumascript/index.ts
Labels: macros

enhance(plus): finishing touches for collectionsV2
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

add feedback link, fully rename to saved articles
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/ui/base/_themes.scss
Labels: plus

copy changes
  client/src/banners/active-banner.tsx
  client/src/plus/collections/v2/index.tsx
Labels: plus

link color for dark mode
  client/src/plus/collections/v2/index.scss
  client/src/ui/base/_themes.scss
Labels: plus

force enable collections v2
  client/src/plus/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: plus

remove multiple collections feature preview
  client/src/plus/common/api.tsx
  client/src/settings/feature-preview.tsx
  client/src/user-context.tsx
Labels: plus

remove collections v1 code
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/edit-collection.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/plus/collections/types.ts
  client/src/plus/common/api.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
Labels: plus

move collections v2 code into versionless directories
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/plus/collections/rust-types.ts
  client/src/plus/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: plus

clean up
  kumascript/index.ts
Labels: macros

MP-122: add collections limit for free users in the frontend
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
Labels: plus

MP-122: add collections limit for free users in the frontend (#7206)
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
Labels: plus

MP-120: display error message from rumba
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
Labels: plus

fix(build): stop always caching kumascript render (#7205)
  build/document-extractor.ts
  build/index.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  kumascript/tests/index.test.ts
  server/index.ts
Labels: macros

fix(plus): fix collection hero css
  client/src/plus/collections/index.scss
Labels: plus

fix(plus): fix collection hero css (#7300)
  client/src/plus/collections/index.scss
Labels: plus

Fix path sep match on Windows
  server/translations.ts
Labels: none

chore(macros): delete unused XUL* macros
  kumascript/macros/XULAttr.ejs
  kumascript/macros/XULElem.ejs
Labels: macros

chore: update function comment
  build/index.ts
Labels: none

feat: add `noreferrer` and `target=_blank` to external link for built contents
  build/index.ts
Labels: none
