Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

refactor: delete unnecessary `client/src/watch.tsx`
  client/src/watch.tsx
Labels: none

Use page type instead of tags for CSSSyntax macro (#7290)
  kumascript/macros/CSSSyntax.ejs
Labels: macros

Support at-rules and at-rule descriptors on the formal syntax
  kumascript/macros/CSSSyntax.ejs
Labels: macros

fix(plus): word-wrap for collection item.
  client/src/plus/collections/index.scss
Labels: plus

rebase from 7134
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/utils.ts
Labels: plus

at-rules want all specs
  kumascript/macros/CSSSyntax.ejs
Labels: macros

ci: unpin setup-python to v4
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

ci: unpin snok/install-poetry to v1
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

Use page types instead of tags in APIRef (#7223)
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

Remove HPKP from HTTP Sidebar (#7225)
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

refactor: delete unnecessary `client/src/watch.tsx` (#7306)
  client/src/watch.tsx
Labels: none

chore(macros): delete unused XUL* macros (#7305)
  kumascript/macros/XULAttr.ejs
  kumascript/macros/XULElem.ejs
Labels: macros

Separate static and instance members in API sidebar
  kumascript/macros/APIRef.ejs
Labels: macros

Add browsers survey to 5% audience
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

remove unused
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

Fix tests
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

Use page types, not tags, for CSS sidebar
  kumascript/macros/CSSRef.ejs
Labels: macros

Add prod values for survey
  .github/workflows/prod-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

Allow alternate nightly spec URLs (#7262)
  build/document-extractor.ts
Labels: none

MDN add browsers short survey (#7336)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

Order lists of items to match their order in the page
  kumascript/macros/APIRef.ejs
  kumascript/tests/macros/apiref.test.ts
Labels: macros

fix(htmlattrxref macro): fix uri fragment for global attributes
  kumascript/macros/htmlattrxref.ejs
Labels: macros

chore(sidebar): add common questions overview menu
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(sidebar): add common questions overview menu
  kumascript/macros/LearnSidebar.ejs
Labels: macros

fix(survey): www.surveygizmo -> survey.alchemer
  client/src/plus/collections/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/molecules/document-survey/index.tsx
  libs/constants/index.js
Labels: plus

extend end date
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

fix(survey): www.surveygizmo -> survey.alchemer (#7360)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/plus/collections/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/molecules/document-survey/index.tsx
  libs/constants/index.js
Labels: github-actions, plus

refactor(client): use ArticleActionsContainer in non-Doc context
  client/src/homepage/static-page/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
Labels: none

add ability to only output deprecated macros
  scripts/macro-usage-report.ts
Labels: none

fix(plus): add breadcrumbs to Collections/Notifications/Settings
  client/src/plus/index.tsx
Labels: plus

refactor(plus): extract LayoutProps
  client/src/plus/index.tsx
Labels: plus

chore(macros/FirefoxSidebar): add Japanese translation (#7213)
  kumascript/macros/FirefoxSidebar.ejs
Labels: macros

Use page types, not tags, for CSS sidebar (#7337)
  kumascript/macros/CSSRef.ejs
Labels: macros

ci(deps): pin snok/install-poetry and setup-python to major version (#7330)
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

fix(content/document): pass `roots` to read() as rest parameter (#7197)
  content/document.ts
  kumascript/index.ts
Labels: macros

fix(macros/htmlattrxref): remove `attr-` from global attribute links (#7350)
  kumascript/macros/htmlattrxref.ejs
Labels: macros

fix(server/translations): convert path segment separators on Windows (#7304)
  server/translations.ts
Labels: none

chore(on-github): use localized issue templates for translated-content (#7277)
  client/src/document/on-github.tsx
Labels: none

chore(macros/HTMLRefTable): fix typos (#7268)
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

fix: preserve metadata spacing on write
  content/document.ts
Labels: none
