Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(csp): add bcd.developer.mozilla/allizom.org as connect-src (#8483)
  libs/constants/index.js
Labels: none

enhance(placement): show placment in split screen
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
Labels: none

lint
  client/src/document/organisms/toc/index.tsx
Labels: none

hide when little vertical space
  client/src/document/organisms/sidebar/index.scss
Labels: none

compensate for banner
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Labels: none

chore(gcp/function): add X-Forwarded headers
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/rumba.ts
Labels: none

Update kumascript/macros/htmlattrdef.ejs
  kumascript/macros/htmlattrdef.ejs
Labels: macros

Update index.test.ts
  testing/tests/index.test.ts
Labels: none

fix(macros/cssxref): don't lowercase CSS keyword (#8270)
  kumascript/macros/cssxref.ejs
Labels: macros

Add placment dummy while loading
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/organisms/placement/index.tsx
Labels: none

enhance(placement): show placement in split screen (#8484)
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/placement/index.tsx
Labels: none

hofix(sidebar): safari had issues with z-index
  client/src/document/index.scss
Labels: none

hofix(sidebar): safari had issues with z-index (#8492)
  client/src/document/index.scss
Labels: none

new approach for traversing git commit graph
  server/translations.ts
Labels: none

remove p tag in table tag
  client/src/translations/differences/index.tsx
Labels: none

add details to report message and file name
  .gitignore
  server/translations.ts
Labels: none

modify source commit filter condition
  client/src/translations/differences/index.tsx
Labels: none

fix: consider sourceCommitsBehindCount undefined
  client/src/translations/differences/index.tsx
Labels: none

fix(style/code): prevent code blocks appear above side menus
  client/src/document/index.scss
Labels: none

fix(deployer): add content encoding when exists
  deployer/src/deployer/upload.py
Labels: deployer, python

Fix: Issue #8494
  client/src/document/index.scss
Labels: none

check automatic cache validation
  server/translations.ts
Labels: none

refactor: types and naming
  server/translations.ts
Labels: none

feat(macros): make JSRef sidebar more useful
  kumascript/macros/JSRef.ejs
Labels: macros

Fix Segments
  kumascript/macros/JSRef.ejs
Labels: macros

fix(sidebar): fix scrolling behavior.
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/_vars.scss
Labels: none

Relocate related
  kumascript/macros/JSRef.ejs
Labels: macros

fix the sidebar
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/_vars.scss
Labels: none

fix(sidebar): fix scrolling behavior (#8512)
  client/src/document/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/ui/_vars.scss
Labels: none

fix(gcp/function): don't lowercase /static/
  gcp/function/src/app.ts
Labels: none

fix(gcp/function): separate sitemaps + add content-encoding
  gcp/function/src/app.ts
  gcp/function/src/headers.ts
Labels: none

chore(banner): show newsletter banner to core users (#8475)
  client/src/banners/index.tsx
Labels: none

Update client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

enhance(placement): introduce a placment context
  client/src/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: none

lint
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: none

feat(surveys): add Web Components survey (#8466)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

nits
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: none

lint
  client/src/placement-context.tsx
Labels: none

enhance(placement): introduce a placment context
  client/src/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: none

nits
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
