Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

refactor(libs/types): extract Specification type
  client/src/document/ingredients/spec-section.tsx
  libs/types/document.ts
Labels: none

refactor(build): return Specifications only
  build/extract-sections.ts
Labels: none

refactor(build): extract extract-specifications.ts
  build/extract-sections.ts
  build/extract-specifications.ts
Labels: none

refactor(build): extract extract-bcd.ts
  build/extract-bcd.ts
  build/extract-sections.ts
Labels: none

refactor(build): return { browsers, data } only
  build/extract-sections.ts
Labels: none

fix(filecheck): run from repository root
  package.json
Labels: none

fix(filecheck): run from repository root (#7622)
  package.json
Labels: none

fix(live-sample): inject MathML font/polyfill
  kumascript/src/api/util.ts
  kumascript/src/live-sample.ts
Labels: macros

Apply suggestions from code review
  kumascript/macros/CSSRef.ejs
Labels: macros

Fix urlToFolderPath call
  tool/sync-translated-content.ts
Labels: none

Fix ESLint warnings
  client/config/webpack.config.js
  client/config/webpackDevServer.config.js
  client/pwa/webpack.config.js
  client/pwa/webpack.production.config.js
  client/src/setupProxy.js
Labels: none

chore: delete {{web.link}} macro
  kumascript/macros/web.link.ejs
Labels: macros

Fix imports and statements
  build/cli.ts
  build/document-extractor.ts
  content/index.ts
  kumascript/index.ts
  kumascript/tests/index.test.ts
  libs/slug-utils/index.d.ts
  libs/slug-utils/index.js
  server/middlewares.ts
  tsconfig.json
Labels: macros

Restore SSR webpack.config.js
  .gitignore
  ssr/webpack.config.js
Labels: none

Output SSR as ESM
  ssr/webpack.config.js
Labels: none

Ensure node-dev uses ts-node/esm loader
  package.json
Labels: none

Remove redundant code
  client/config/env.js
Labels: none

Fix PWA app
  client/pwa/package.json
  client/pwa/webpack.config.js
  client/pwa/webpack.production.config.js
Labels: none

Replace dirname with URL
  build/flaws/broken-links.ts
  build/spas.ts
  client/config/webpack.config.js
  client/pwa/webpack.config.js
  client/pwa/webpack.production.config.js
  content/popularities.ts
  deployer/aws-lambda/content-origin-request/build.js
  kumascript/src/templates.ts
  kumascript/tests/macros.test.ts
  kumascript/tests/macros/Compat.test.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/apiref.test.ts-base
  kumascript/tests/macros/apiref.test.ts-ours
  kumascript/tests/macros/apiref.test.ts-theirs
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/utils.ts
  kumascript/tests/render.test.ts
  kumascript/tests/templates.test.ts
  libs/env/index.js
  markdown/m2h/handlers/index.ts
  ssr/index.ts
  ssr/webpack.config.js
  testing/tests/filecheck.test.ts
  tool/cli.ts
Labels: macros, deployer, flaw-system, markdown

Delete CompatGeckoDesktop.ejs
  kumascript/macros/CompatGeckoDesktop.ejs
Labels: macros

Delete CompatGeckoMobile.ejs
  kumascript/macros/CompatGeckoMobile.ejs
Labels: macros

Delete GlossaryList.ejs
  kumascript/macros/GlossaryList.ejs
Labels: macros

Respect navigator.globalPrivacyControl in Mozilla.dntEnabled
  tool/mozilla.dnthelper.min.js
Labels: none

chore: remove strictBindCallApply
  tsconfig.json
Labels: none

don't read from local storage in SWR
  client/src/user-context.tsx
Labels: none

chore(docs) Add punctuation, minor improvement
  client/src/community/index.tsx
Labels: none

chore(docs): add punctuation + missing whitespace (#7632)
  client/src/community/index.tsx
Labels: none

don't read from local storage in SWR (#7631)
  client/src/user-context.tsx
Labels: none

open ext links in _blank and metrics
  build/index.ts
  client/src/telemetry/glean-context.tsx
Labels: none

test
  testing/tests/index.test.ts
Labels: none

fix(rendering): persist object for prose rendering
  client/src/document/ingredients/prose.tsx
Labels: none

Deprecate Service Worker sidebar
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: macros

Support tutorials in DefaultAPISidebar
  kumascript/macros/DefaultAPISidebar.ejs
Labels: macros

Remove blank llines
  kumascript/macros/DefaultAPISidebar.ejs
Labels: macros

fix: remove Languages macro
  kumascript/macros/languages.ejs
Labels: macros

Add Glean probe-scraper action
  .github/workflows/glean-probe-scraper.yml
Labels: github-actions

fix(metrics): add glean probe scraper workflow
  .github/workflows/glean-probe-scraper.yml
Labels: github-actions

fix(rendering): less re-rendering
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/index.tsx
Labels: plus

nits
  client/src/plus/collections/index.tsx
  client/src/plus/index.tsx
Labels: plus

fix(rendering): less re-rendering (#7654)
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/index.tsx
Labels: plus
