Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fixup! feat(gcp/function): add kevel handler
  gcp/function/src/app.ts
  gcp/function/src/handlers/kevel.ts
Labels: none

feat(gcp/app): forward /admin-api + /events/fxa to rumba
  gcp/function/src/app.ts
Labels: none

fix(gcp/function): use contentOriginRequest only for specific routes
  gcp/function/src/app.ts
Labels: none

fix(dotenv): import * as dotenv
  build/build-options.ts
  client/config/env.js
  deployer/aws-lambda/content-origin-request/build.js
  libs/env/index.js
  ssr/index.ts
Labels: deployer

fix(lambda): decode html entities via he
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
Labels: dependencies, deployer

fix(dotenv): import * as dotenv (#8442)
  build/build-options.ts
  client/config/env.js
  deployer/aws-lambda/content-origin-request/build.js
  libs/env/index.js
  ssr/index.ts
Labels: deployer

fix import
  deployer/aws-lambda/kevel/index.js
Labels: deployer

add empty env.js
  deployer/aws-lambda/kevel/env.js
Labels: deployer

rm env
  deployer/aws-lambda/kevel/env.js
  deployer/aws-lambda/kevel/index.js
Labels: deployer

fix(kevel): decode html entities via he (#8455)
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
Labels: dependencies, deployer

ci: Sync Yari content with GCS
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): sync build with GCS (#8456)
  .github/workflows/stage-build.yml
Labels: github-actions

chore(placement): move out of toc
  client/src/document/organisms/toc/index.tsx
  client/src/site-search/index.scss
  client/src/site-search/index.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Labels: none

(chore:short-survey): web components
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

show to all of /Web
  client/src/ui/molecules/document-survey/surveys.ts
Labels: none

update survey dates
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

refactor(gcp/function): rename handlers
  gcp/function/src/app.ts
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/client.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/kevel.ts
  gcp/function/src/handlers/rumba.ts
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): merge {client,content} handler
  gcp/function/src/app.ts
  gcp/function/src/env.ts
  gcp/function/src/handlers/client.ts
  gcp/function/src/handlers/content.ts
Labels: none

fix(gcp/function): add response headers if headers not sent
  gcp/function/src/headers.ts
Labels: none

feat: generate clickable links in `<dt>`
  client/src/document/index.scss
  kumascript/src/api/util.ts
  markdown/m2h/handlers/dl.ts
Labels: macros, markdown

feat: add `#` symbol on hover
  client/src/document/index.scss
Labels: none

test(m2h): update test output
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Labels: none

chore(eslint): ignore copied libs
  .eslintignore
Labels: none

feat(bcd): fetch compat data from bcd.developer.mozilla/allizom.org
  .github/workflows/prod-build.yml
  client/src/document/lazy-bcd-table.tsx
  client/src/env.ts
Labels: github-actions

chore(client): use /plus/plans.json
  client/src/plus/common/api.tsx
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
Labels: deployer, plus

refactor(client): rename {Stripe => Plus}Plans
  client/src/plus/common/api.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: plus

chore(banner): show newsletter banner to core users
  client/src/banners/index.tsx
Labels: none

feat(server): return whoami fallback if rumba is not running
  server/index.ts
Labels: none

chore(gcp/function): make libs copy read-only
  gcp/function/package.json
Labels: none

chore(gcp/function): expose plans at /plus/plans.json
  gcp/function/src/app.ts
Labels: none

chore(gcp/function): remove file support
  gcp/function/src/env.ts
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/source.ts
Labels: none

chore(gcp/function): remove RuntimeEnv
  gcp/function/src/env.ts
  gcp/function/src/headers.ts
Labels: none

chore(gcp/function): remove unused sources
  gcp/function/src/env.ts
Labels: none

refactor(gcp/function): extract resolveIndexHTML middleware
  gcp/function/src/app.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/middlewares/resolveIndexHTML.ts
  gcp/function/src/utils.ts
Labels: none

refactor(gcp/function): extract constants
  gcp/function/src/constants.ts
  gcp/function/src/handlers/kevel.ts
  gcp/function/src/middlewares/content-origin-request.ts
  gcp/function/src/utils.ts
Labels: none

refactor(gcp/function): rename stripePlans => plans
  gcp/function/src/app.ts
  gcp/function/src/handlers/plans.ts
Labels: none

fix(gcp/function): avoid that plans are cached in CDN
  gcp/function/src/handlers/stripePlans.ts
Labels: none

refactor(gcp/function): extract redirect() helper
  gcp/function/src/utils.ts
Labels: none

refactor(gcp/function): extract global redirectLeadingDoubleSlash middleware
  gcp/function/src/app.ts
  gcp/function/src/middlewares/content-origin-request.ts
  gcp/function/src/middlewares/redirectLeadingSlash.ts
Labels: none

refactor(gcp/function): extract redirectFundamental middleware
  gcp/function/src/app.ts
  gcp/function/src/middlewares/content-origin-request.ts
  gcp/function/src/middlewares/redirectFundamental.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
