Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

ci(xyz-build): rsync with -j html,json,txt
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): temporarily remove build/sync
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): deploy v2 function via gcloud CLI
  .github/workflows/xyz-build.yml
Labels: github-actions

Update .github/workflows/stage-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

Update stage-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

Update .github/workflows/stage-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

chore: deprecate htmlattrdef and htmlattrxref macro
  kumascript/macros/htmlattrdef.ejs
  kumascript/macros/htmlattrxref.ejs
Labels: macros

fix macro testing
  testing/content/files/en-us/web/bar/index.html
  testing/content/files/en-us/web/fixable_flaws/index.html
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Labels: none

Fix accessibility section of Learn sidebar
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Fix linting
  client/src/document/index.scss
Labels: none

Fix linting
  client/src/document/index.scss
Labels: none

chore(advertising): remove About page
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
  client/src/advertising/index.tsx
Labels: none

chore(advertising): update Advertising with us page
  client/src/advertising/with_us/index.tsx
Labels: none

chore(advertising): pull up page
  build/spas.ts
  client/src/advertising/index.tsx
  client/src/ui/organisms/footer/index.tsx
Labels: none

chore(advertising): remove redirect
  client/src/advertising/index.tsx
Labels: none

fixup! chore(advertising): update Advertising with us page
  client/src/advertising/with_us/index.tsx
Labels: none

chore(advertising): add fundamental redirect
  libs/fundamental-redirects/index.js
Labels: none

fix(client): place hash before headings (#8532)
  client/src/document/index.scss
Labels: none

chore(advertising): update copies (#8562)
  build/spas.ts
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
  client/src/advertising/index.tsx
  client/src/advertising/with_us/index.tsx
  client/src/ui/organisms/footer/index.tsx
  libs/fundamental-redirects/index.js
Labels: none

refactor(macros/CSSSyntax): extract to lib
  kumascript/macros/CSSSyntax.ejs
  kumascript/src/api/page.ts
  kumascript/src/lib/css-syntax.ts
Labels: macros

test(macros/CSSSyntax): add snapshot tests
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Labels: macros

Update kumascript/macros/PWASidebar.ejs
  kumascript/macros/PWASidebar.ejs
Labels: macros

Update kumascript/macros/PWASidebar.ejs
  kumascript/macros/PWASidebar.ejs
Labels: macros

Fix suggestion
  kumascript/macros/PWASidebar.ejs
Labels: macros

Update for current page set
  kumascript/macros/PWASidebar.ejs
Labels: macros

chore(csp): remove mdn.mozillademos.org
  libs/constants/index.js
Labels: none

chore(csp): remove interactive-examples.prod.mdn.mozilla.net
  libs/constants/index.js
Labels: none

Update client/src/placement-context.tsx
  client/src/placement-context.tsx
Labels: none

refactor(placement): introduce PlacementContext (#8522)
  client/src/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: none

enhance(lambda): support more formats for kevel
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  libs/pong/click.js
  libs/pong/coding.js
  libs/pong/fallback.js
  libs/pong/get.js
  libs/pong/image.js
  libs/pong/index.js
  libs/pong/package.json
  libs/pong/viewed.js
Labels: dependencies, deployer

lint
  deployer/aws-lambda/kevel/index.js
Labels: deployer

fix(macros/LearnSidebar): remove duplicated accessibility section (#8553)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Use fully qualified slugs
  kumascript/macros/PWASidebar.ejs
Labels: macros

Review comments (refactoring)
  kumascript/macros/PWASidebar.ejs
Labels: macros

Formatting
  kumascript/macros/PWASidebar.ejs
Labels: macros

chore(csp): remove legacy hosts (#8564)
  libs/constants/index.js
Labels: none

chore(live-samples): use live-samples.mdn.mozilla/allizom.net
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/pwa/src/service-worker.ts
  libs/constants/index.js
Labels: github-actions, plus:offline

ad custon title (cttitle)
  libs/pong/get.js
Labels: none

Remove trailing slash
  kumascript/macros/PWASidebar.ejs
Labels: macros

Add inheritance
  kumascript/macros/JSRef.ejs
Labels: macros
