Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(plus/search-filter): sync Search field if query updates
  client/src/plus/search-filter/index.tsx
Labels: plus

fixup! fix(plus/search-filter): sync Search field if query updates
  client/src/plus/search-filter/index.tsx
Labels: plus

fix(plus/updates): avoid duplicate API request
  client/src/plus/updates/api.ts
Labels: plus

feat(plus/updates): add filter change metric
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

fix(auth-container): distinguish glean contexts
  client/src/plus/updates/login-banner.tsx
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Labels: plus

fix(signin-link): make gleanContext optional
  client/src/ui/atoms/signin-link/index.tsx
Labels: none

chore(plus/updates): add not-allowed cursor for disabled buttons/input
  client/src/plus/updates/index.scss
Labels: plus

chore(plus/updates): add pointer cursor for details.summary
  client/src/plus/updates/index.scss
Labels: plus

chore(plus/search-filter): mark disabled filters as inactive
  client/src/plus/search-filter/index.tsx
Labels: plus

refactor(plus/search-filter): extract camelUnwrap()
  client/src/plus/search-filter/index.tsx
  client/src/utils.ts
Labels: plus

chore(plus/updates): add background-color to badges
  client/src/plus/updates/index.scss
Labels: plus

chore(plus/updates): use singular for Browser filter
  client/src/plus/updates/index.tsx
Labels: plus

chore(macros): delete {{gecko_minversion_*}} macros (#7858)
  kumascript/macros/gecko_minversion_header.ejs
  kumascript/macros/gecko_minversion_inline.ejs
  kumascript/src/info.ts
  kumascript/tests/index.test.ts
  testing/content/files/en-us/web/fixable_flaws/deprecated_macros/index.html
  testing/tests/index.test.ts
Labels: macros

chore(ui): remove unused var
  client/src/ui/base/_themes.scss
Labels: none

fix(paginator): reuse PARAM
  client/src/ui/molecules/paginator/index.tsx
Labels: none

add click event on offer overview clicks
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

chore(plus): add some comments
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Labels: plus

Update client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: plus

chore(plus/updates): add click event on offer overview clicks (MP-220) (#7861)
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

feat(plus/updates): use API + add filters/search/sort (#7843)
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/contexts/search-filters.tsx
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/search-filter/index.scss
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
  client/src/plus/updates/login-banner.scss
  client/src/plus/updates/login-banner.tsx
  client/src/telemetry/constants.ts
  client/src/ui/_vars.scss
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/utils.ts
Labels: plus

fix(plus/updates): check that user != null
  client/src/plus/updates/api.ts
Labels: plus

fix(plus/updates): check that user != null (#7862)
  client/src/plus/updates/api.ts
Labels: plus

refactor(plus/updates): combine {added,removed} events
  client/src/plus/updates/index.tsx
Labels: plus

feat(plus/updates): sort events by path
  client/src/plus/updates/index.tsx
Labels: plus

fix(plus/updates): sort update events by path (#7863)
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus-menu): replace isNew badge with dot
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: none

feat(menu): add top-level dot if any item has dot
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.tsx
Labels: none

feat(plus/updates): show dot until Updates were viewed
  client/src/constants.ts
  client/src/hooks.ts
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: plus

chore(useViewedState): set Date.now() for future usage
  client/src/hooks.ts
Labels: none

fix(useViewedState): use window.localStorage
  client/src/hooks.ts
Labels: none

fix(useViewedState): wrap localStorage read/write in try-catch
  client/src/hooks.ts
Labels: none

fix(useViewedState): return if isServer
  client/src/hooks.ts
Labels: none

feat(plus/updates): use dots in plus-menu to highlight feature until viewed (#7864)
  client/src/constants.ts
  client/src/hooks.ts
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: plus

fix(useViewedState): assume isViewed on SSR
  client/src/hooks.ts
Labels: none

fix(useViewedState): assume isViewed on SSR (#7865)
  client/src/hooks.ts
Labels: none

fix(quicksearch): split query before dot
  client/src/search.tsx
Labels: none

chore(on-github): copy changes
  client/src/document/on-github.tsx
Labels: none

Revert "chore(on-github): copy changes"
  client/src/document/on-github.tsx
Labels: none

Ensure that file path is proper URL (for Windows compatibility)
  client/config/modules.js
  client/config/webpackDevServer.config.js
Labels: none

chore(search): rephrase init/error message
  client/src/search.tsx
Labels: none
