Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix: require optional dependencies conditionally (#7549)
  content/utils.ts
  server/dev.ts
Labels: none

Merge the two links into one and point to correct page
  client/src/ui/organisms/footer/index.tsx
Labels: none

Add CSS functions to the sidebar
  kumascript/macros/CSSRef.ejs
Labels: macros

Delete the nextPage macro
  kumascript/macros/nextPage.ejs
Labels: macros

chore(footer): replace outdated "Report issue" links (#7538)
  client/src/ui/organisms/footer/index.tsx
Labels: none

remove log
  client/src/plus/collections/collection.tsx
Labels: plus

put time window to 30 days
  client/src/plus/collections/frequently-viewed.tsx
Labels: plus

fix(css): line-clamp on webkit showing black in gradient
  client/src/ui/_mixins.scss
Labels: none

style(eslint): lint TypeScript + fix issues (#7454)
  .eslintrc.js
  .github/workflows/testing.yml
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/flaws/broken-links.ts
  build/flaws/index.ts
  build/index.ts
  build/spas.ts
  content/document.ts
  content/image.ts
  content/redirect.ts
  content/utils.ts
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  filecheck/cli.ts
  kumascript/index.ts
  kumascript/tests/environment.test.ts
  kumascript/tests/macros/httpheader.test.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/index.ts
  server/react-app.d.ts
  server/static.ts
  tool/cli.ts
Labels: macros, deployer, flaw-system, github-actions, markdown

fix: clicking add/edit note button doesn't open bookmark menu on mobile
  client/src/plus/collections/collection.tsx
Labels: plus

fix: force wrap long lines of text
  client/src/plus/collections/collection.scss
Labels: plus

Replace Paste with Attach and Add validations
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

Fix: #7537
  client/src/document/organisms/toc/index.tsx
Labels: none

fix(html): remove unnecessary duplicate id (#7557)
  client/src/document/organisms/toc/index.tsx
Labels: none

Update index.tsx
  client/src/community/index.tsx
Labels: none

Update index.tsx
  client/src/community/index.tsx
Labels: none

Update index.tsx
  client/src/community/index.tsx
Labels: none

chore: enable Strict in TSConfig
  tsconfig.json
Labels: none

Adding --- to the yaml file
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

Fix: "Bad value 100% for attribute width on element iframe: Expected a digit but saw % instead." warnings
  kumascript/tests/macros/EmbedLiveSample.test.ts
Labels: macros

Update EmbedLiveSample.test.ts
  kumascript/tests/macros/EmbedLiveSample.test.ts
Labels: macros

Update EmbedLiveSample.ejs
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

chore: delete {{nextPage}} macro
  kumascript/macros/nextPage.ejs
Labels: macros

Delete the DiscussionList Macro
  kumascript/macros/DiscussionList.ejs
Labels: macros

fix(css): line-clamp on webkit showing black in gradient (#7555)
  client/src/ui/_mixins.scss
Labels: none

chore(macros): remove unused {{DiscussionList}} macro (#7565)
  kumascript/macros/DiscussionList.ejs
Labels: macros

chore(macros): delete {{nextPage}} macro (#7564)
  kumascript/macros/nextPage.ejs
Labels: macros

Making Change #7556
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

disable swr revalidation in collections
  client/src/plus/collections/index.tsx
Labels: plus

MP-140 Collection + collections redesign (#7536)
  client/src/app.scss
  client/src/document/organisms/metadata/index.tsx
  client/src/plus/collections/collection.scss
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/utils.ts
Labels: plus

Disable 'add note' for freq-viewed
  client/src/plus/collections/collection.tsx
Labels: plus

fix(document): use --font-code for <code> (#7131)
  client/src/document/index.scss
Labels: none

fix merge mishaps
  client/src/plus/collections/collection.tsx
Labels: plus

add notes. Use latest of timestamps for updated at
  client/src/plus/collections/collection.tsx
Labels: plus

add deps to useEffect
  client/src/plus/collections/frequently-viewed.tsx
Labels: plus

Improve es l10n strings
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Labels: macros

Update styling per feedback
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: none

Improve es l10n strings
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Labels: macros

Deduplicate JS sidebar entries
  kumascript/macros/JsSidebar.ejs
Labels: macros
