Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(build/sync-translated-content): remove invalid parameter
  build/sync-translated-content.ts
Labels: none

fix(build): add types
  build/build-options.ts
  build/cli.ts
Labels: none

chore(gitignore): ignore *.js in {content,kumascript}
  .gitignore
Labels: none

build(deps): bump got from 11.8.3 to 12.3.1
  build/utils.ts
  deployer/aws-lambda/tests/server.test.js
  kumascript/src/api/mdn.ts
  package.json
  yarn.lock
Labels: macros, dependencies, deployer

fix(build/spas): ignore invalid locales
  build/spas.ts
Labels: none

build(deps-dev): bump {jest,ts-jest,@types/jest} from v28 to v29
  package.json
  yarn.lock
Labels: dependencies

Add jsnolint and htmlnolint
  build/syntax-highlight.ts
Labels: none

Update build/syntax-highlight.ts
  build/syntax-highlight.ts
Labels: none

build(deps-dev): bump {jest,ts-jest,@types/jest} from v28 to v29 (#7016)
  package.json
  yarn.lock
Labels: dependencies

style: add trailing newline
  .gitignore
  testing/.env
Labels: none

style: unquote "web_activity"
  client/src/telemetry/metrics.yaml
Labels: none

fixup! style: unquote "web_activity"
  client/src/telemetry/metrics.yaml
Labels: none

fix(metrics): use url type where applicable
  client/src/telemetry/metrics.yaml
Labels: none

style: use const where applicable
  client/src/telemetry/glean-context.tsx
Labels: none

fix(retired-locale-note): link de/pl to GitHub discussion
  client/src/document/index.tsx
  client/src/document/molecules/retired-locale-note/index.tsx
Labels: none

Fix when the "more" icon shows in BCD tables
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
Labels: none

fix(retired-locale-note): link de/pl to GitHub discussion (#7018)
  client/src/document/index.tsx
  client/src/document/molecules/retired-locale-note/index.tsx
Labels: none

chore(macros): delete unused BCD macros
  kumascript/macros/CompatIE.ejs
  kumascript/macros/CompatOpera.ejs
  kumascript/macros/CompatOperaMobile.ejs
  kumascript/macros/CompatSafari.ejs
Labels: macros

style(wikihistory): format with prettier, if available
  content/document.js
  content/utils.js
Labels: none

style(wikihistory): format with prettier, if available (#7032)
  content/document.js
  content/utils.js
Labels: none

chore(macros): delete unused Compat* macros (#7020)
  kumascript/macros/CompatIE.ejs
  kumascript/macros/CompatOpera.ejs
  kumascript/macros/CompatOperaMobile.ejs
  kumascript/macros/CompatSafari.ejs
Labels: macros

Add hasMore() helper
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

fix(bcd): show "more" icon only for 2+ entries (#7019)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

refactor(kumascript): restructure jsxref macro
  kumascript/macros/jsxref.ejs
  kumascript/src/api/wiki.js
Labels: macros

Replace XR icon with my own creation
  client/src/assets/icons/xr.svg
Labels: none

use `DEFAULT_LOCALE_LC` instead of "en-us"
  deployer/aws-lambda/content-origin-request/index.js
Labels: deployer

use bitwise mask for fallback image file name match
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/fallback-paths.json
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/mask.js
  deployer/aws-lambda/content-origin-request/package.json
Labels: deployer

fix: fallback to find images in content
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/fallback-paths.json
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/yarn.lock
Labels: dependencies, deployer

fix(macros/jsxref): always strip ()/.prototype. from slug
  kumascript/macros/jsxref.ejs
Labels: macros

build(deps-dev): bump stylelint from 13.13.1 to 14.8.5
  package.json
  yarn.lock
Labels: dependencies

style(lint-staged): run stylelint, add extension to config file
  .lintstagedrc
  .lintstagedrc.json
Labels: none

ci(testing): add stylelint step
  .github/workflows/testing.yml
  scripts/lint.sh
Labels: github-actions

style(stylelint): order rules alphabetically
  .stylelintrc.json
Labels: none

style(stylelint): disable rules with errors
  .stylelintrc.json
Labels: none

perf(ts-config): use @swc/core
  package.json
  tsconfig.json
  yarn.lock
Labels: dependencies

style(stylelint): upgrade, run systematically, disable rules with errors (#7035)
  .github/workflows/testing.yml
  .lintstagedrc
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  scripts/lint.sh
  yarn.lock
Labels: dependencies, github-actions

fix(stylelint): fix order/order
  .stylelintrc.json
  client/src/community/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/homepage/featured-articles/index.scss
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/atoms/switch/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/base/_mdn.scss
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
Labels: plus

getNexId -> getNextIndex
  client/src/document/hooks.ts
Labels: none

better implementation for unique id
  client/src/document/hooks.ts
  client/src/plus/collections/collection-list-item.tsx
Labels: plus

fix: unique key warning in FrequentlyViewedTab component
  client/src/document/hooks.ts
  libs/types/document.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
