Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

ci(builds): print cpuinfo
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

ci(builds): print cpuinfo (#8240)
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

fix(search): migrate to downshift v7
  client/src/search.tsx
Labels: none

fix(sync-translated-content): sync case changes + move adjacent files (#7886)
  content/document.ts
  content/redirect.ts
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: none

Deprecate macro HTMLRefTable
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

chore(macros): deprecate HTMLRefTable (#8249)
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

Fix case for sidebar URL
  kumascript/macros/PWASidebar.ejs
Labels: macros

Prettify
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

Use page type instead of tags in WebExtAPISidebar
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

Update server/index.ts
  server/index.ts
Labels: none

fix(kumascript): load badge templates by locale
  kumascript/src/lib/badges.ts
Labels: macros

let the key be in lowercase
  kumascript/src/lib/badges.ts
Labels: macros

remove unnecessary return value
  kumascript/src/lib/badges.ts
Labels: macros

feat(translate): LearnSidebar.ejs translate for Command line crash course
  kumascript/macros/LearnSidebar.ejs
Labels: macros

refactor(flaws): Make flaws functions asynchronous
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/index.ts
Labels: flaw-system

feat(flaws): Add `wrong-language` flaw
  build/flaws/index.ts
  build/flaws/wrong-language.ts
  client/src/document/toolbar/flaws.tsx
  libs/constants/index.js
  libs/types/document.ts
  package.json
  yarn.lock
Labels: dependencies, flaw-system

refactor(flaws): Make flaws functions asynchronous
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/index.ts
Labels: flaw-system

Update unittests
  testing/tests/index.test.ts
Labels: none

Merge DeprecatedGeneric into Deprecated_Header
  kumascript/macros/Deprecated_Header.ejs
Labels: macros

Remove {{fx_minversion_note}} macro
  kumascript/macros/fx_minversion_note.ejs
Labels: macros

Merge {{secureContextGeneric}} into {{secureContext_header/inline}}
  kumascript/macros/secureContextGeneric.ejs
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/secureContext_inline.ejs
Labels: macros

Rename {{SeeCompatTable}} macro to {{experimental_header}}
  kumascript/macros/SeeCompatTable.ejs
  kumascript/macros/experimental_header.ejs
Labels: macros

chore(macros): remove "Inheritance" from JS sidebars
  kumascript/macros/APIRef.ejs
  kumascript/macros/JSRef.ejs
Labels: macros

fixup! chore(macros): remove "Inheritance" from JS sidebars
  kumascript/tests/macros/apiref.test.ts
Labels: macros

Update kumascript/src/lib/badges.ts
  kumascript/src/lib/badges.ts
Labels: macros

fix(macros/cssxref): don't lowercase CSS keyword
  kumascript/macros/cssxref.ejs
Labels: macros

refactor(macros/cssxref): rename {str => displayName}
  kumascript/macros/cssxref.ejs
Labels: macros

chore(macros): remove {{fx_minversion_note}} macro (#8257)
  kumascript/macros/fx_minversion_note.ejs
Labels: macros

fix(kumascript): cache badge templates by locale (#8252)
  kumascript/src/lib/badges.ts
Labels: macros

fix(tool/macro-usage-report): add trailing slash for yari
  tool/macro-usage-report.ts
Labels: none

fix(tool/macro-usage-report): add trailing slash for yari (#8271)
  tool/macro-usage-report.ts
Labels: none

chore(breadcrumbs): add breadcrumb_click metric (#8227)
  client/src/telemetry/constants.ts
  client/src/ui/molecules/breadcrumbs/index.tsx
Labels: none

chore(sidebars): add data-macro attr
  kumascript/macros/APIRef.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/QuickLinksWithSubpages.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Labels: macros

chore(sidebars): add sidebarMacro to Doc
  build/cli.ts
  build/extract-sidebar.ts
  libs/types/document.ts
Labels: none

chore(client): expose sidebarMacro as data-macro
  client/src/document/organisms/sidebar/index.tsx
Labels: none

feat(sidebar): add sidebar-click event
  client/src/document/organisms/sidebar/index.tsx
Labels: none

fix(flaws): Improve flaws display page
  client/src/flaws/index.scss
  client/src/flaws/index.tsx
Labels: none

refactor(sidebar): extract getPathDistance()
  client/src/document/organisms/sidebar/index.tsx
Labels: none

refactor(utils): extract path functions from sidebar
  client/src/document/organisms/sidebar/index.tsx
  client/src/utils.ts
Labels: none

chore(sidebar): rename cleanup => removeEventListener + improve
  client/src/document/organisms/sidebar/index.tsx
Labels: none
