Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore(telemetry): rename navigation.{id => label}
  client/src/telemetry/generated/element.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/telemetry/sidebar-click.ts
Labels: none

New SVG sidebar
  kumascript/macros/SVGRef.ejs
Labels: macros

feat(translate): LearnSidebar.ejs translate for Command line crash course (#8256)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore: add Bugzilla bug
  client/src/telemetry/metrics.yaml
Labels: none

Filter Latin as acceptable language
  build/flaws/wrong-language.ts
Labels: flaw-system

Improve display
  build/flaws/wrong-language.ts
Labels: flaw-system

fix(glean-context): set page metrics even without user data
  client/src/telemetry/glean-context.tsx
Labels: none

feat(sidebars): expose macro name in DOM
  build/cli.ts
  build/extract-sidebar.ts
  client/src/document/organisms/sidebar/index.tsx
  kumascript/macros/APIRef.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/QuickLinksWithSubpages.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  libs/types/document.ts
Labels: macros

feat(telemetry): add sidebar_click measurement
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/sidebar-click.ts
Labels: none

chore(sidebar-click): add href to payload
  client/src/telemetry/sidebar-click.ts
Labels: none

fix(client): resolve DOM nesting warning
  client/src/document/index.tsx
Labels: none

chore(macros): remove {{Obsolete*}} and {{geckoRelease}} macros (#8200)
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/Obsolete_Header.ejs
  kumascript/macros/Obsolete_Inline.ejs
  kumascript/macros/geckoRelease.ejs
Labels: macros

feat(macros): support short-title frontmatter + use it in APIRef (#7825)
  build/document-utils.ts
  build/index.ts
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
  libs/types/document.ts
Labels: macros

add link to entire text
  client/src/document/on-github.tsx
Labels: none

feat(telemetry): add sidebar_click measurement (#8293)
  build/cli.ts
  build/extract-sidebar.ts
  client/src/document/organisms/sidebar/index.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/sidebar-click.ts
  kumascript/macros/APIRef.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/QuickLinksWithSubpages.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  libs/types/document.ts
Labels: macros

fix(client): resolve DOM nesting warning (#8296)
  client/src/document/index.tsx
Labels: none

refactor(on-github): pass link text via children props
  client/src/document/on-github.tsx
Labels: none

fix(on-github): include entire text in links (#8297)
  client/src/document/on-github.tsx
Labels: none

Deprecate {{bug}} and {{WebkitBug}} macros
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
Labels: macros

fix(kumascript): type render cache
  kumascript/index.ts
Labels: macros

Don't use parameters in mdn.deprecated()
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
Labels: macros

Add mdn.deprecatedParams() for deprecated macro parameters
  kumascript/macros/Compat.ejs
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/macros/Specifications.ejs
  kumascript/src/api/mdn.ts
  tool/macro-usage-report.ts
Labels: macros

Revert "Don't use parameters in mdn.deprecated()"
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
Labels: macros

refactor(kumascript): add mdn.deprecatedParams() for deprecated macro parameters (#8300)
  kumascript/macros/Compat.ejs
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/macros/Specifications.ejs
  kumascript/src/api/mdn.ts
  tool/macro-usage-report.ts
Labels: macros

perf(build): Make Document.findAll() asynchronous
  build/cli.ts
  content/document.test.ts
  content/document.ts
  content/translations.ts
  markdown/m2h/cli.ts
  server/translations.ts
  tool/cli.ts
Labels: markdown

fix(tool/sync-translated-content): find document by dir only
  tool/sync-translated-content.ts
Labels: none

Use fs-extra to read JSON file
  build/flaws/broken-links.ts
Labels: flaw-system

Remove repeated, redundant file reads
  build/flaws/broken-links.ts
Labels: flaw-system

chore(git): ignore more built js/map files
  .gitignore
Labels: none

feat(scripts): add clean script
  package.json
Labels: none

refactor(macros): deprecate {{bug}} and {{WebkitBug}} macros (#8298)
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
Labels: macros

fix(style): Fix double border in HTML & CSS interactive examples
  client/src/document/interactive-examples.scss
Labels: none

fix(interactive-examples): remove duplicate border (#8308)
  client/src/document/interactive-examples.scss
Labels: none

Interactive Examples use height from height-data.json
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/src/api/mdn.ts
Labels: macros

Use height of editor from height-data.json
  build/extract-sections.ts
  client/src/document/index.tsx
  client/src/document/ingredients/interactive-example.tsx
  client/src/document/interactive-examples.scss
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/src/api/mdn.ts
  libs/types/document.ts
Labels: macros

Move logic to `getInteractiveExampleHeight`
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/src/api/mdn.ts
Labels: macros

Applied github lint suggestions
  client/src/document/ingredients/interactive-example.tsx
  kumascript/src/api/mdn.ts
Labels: macros

Finish rebase
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/src/api/mdn.ts
Labels: macros

Rewrite MathML sidebar
  kumascript/macros/MathMLRef.ejs
Labels: macros

Convert testing/tests/* to async
  testing/tests/csp.test.ts
  testing/tests/filecheck.test.ts
  testing/tests/index.test.ts
  testing/tests/offline-db.test.ts
Labels: none
