Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(macros): remove Source macro (#7593)
  kumascript/macros/source.ejs
Labels: macros

chore(macros): delete {{property_prefix}} macro
  kumascript/macros/property_prefix.ejs
Labels: macros

Fix Playwright config
  playwright.config.js
Labels: none

Fix import statement
  build/cli.ts
Labels: none

Fix imports
  build/cli.ts
Labels: none

Fix ESLint errors/warnings
  .eslintrc.cjs
  client/config/paths.js
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
Labels: deployer

Fix transformers
  client/config/jest/cssTransform.js
  client/config/jest/fileTransform.js
Labels: none

Fix Caporal import for filecheck CLI
  filecheck/cli.ts
Labels: none

Fix import (don't include .js inside of src/)
  client/src/document/index.test.tsx
Labels: none

Move Jest config out of package.json
  jest.config.json
  package.json
Labels: none

Ensure test:testing uses ESM Jest
  package.json
Labels: none

Ensure Jest is always run with --experimental-vm-modules
  package.json
Labels: none

Fix filechecker to handle URL objects as well as file path strings
  filecheck/checker.ts
Labels: none

Use const vs. let
  filecheck/checker.ts
Labels: none

chore(macros): delete {{property_prefix}} macro (#7717)
  kumascript/macros/property_prefix.ejs
Labels: macros

refactor(macros/CSSSyntax): extract getWebRefProperty()
  kumascript/macros/CSSSyntax.ejs
Labels: macros

fix(macros/CSSSyntax): find item by name
  kumascript/macros/CSSSyntax.ejs
Labels: macros

fix(macros/CSSSyntax): collect values by name
  kumascript/macros/CSSSyntax.ejs
Labels: macros

fix(macros/CSSSyntax): update function name pattern
  kumascript/macros/CSSSyntax.ejs
Labels: macros

refactor(macros): use `mdn.localStringMap` instead of switch
  kumascript/macros/js_property_attributes.ejs
Labels: macros

Apply suggestions from code review
  kumascript/macros/js_property_attributes.ejs
Labels: macros

Move parameter parsing to the beginning
  kumascript/macros/js_property_attributes.ejs
Labels: macros

fix(client): reduce pre/code font-size (#7676)
  client/src/document/index.scss
Labels: none

fix(csp): remove polyfill.io from script-src
  libs/constants/index.js
Labels: none

Revert "fix(ssr): escape colon in <title> (#7166)"
  ssr/render.ts
Labels: none

div to aside for semantics
  client/src/document/organisms/sidebar/index.tsx
Labels: none

Remove tags from cssxref
  kumascript/macros/cssxref.ejs
Labels: macros

Update tests
  kumascript/tests/macros/cssxref.test.ts
Labels: macros

Fix more tests, possibly
  kumascript/tests/index.test.ts
Labels: macros

Yet another failing test
  testing/content/files/en-us/web/css/number/index.html
Labels: none

chore(macros/cssxref): use page-type to detect CSS Functions/Data Types (#7729)
  kumascript/macros/cssxref.ejs
  kumascript/tests/index.test.ts
  kumascript/tests/macros/cssxref.test.ts
  testing/content/files/en-us/web/css/number/index.html
Labels: macros

support undefined doc in article actions, improve mobile overlay logic
  client/src/app.scss
  client/src/banners/banner.scss
  client/src/plus/collections/collection.tsx
  client/src/ui-context.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
Labels: plus

fix(filecheck): use current working directory
  filecheck/cli.ts
Labels: none

Improve Lighthouse accessibility score
  client/src/ui/organisms/article-actions-container/index.tsx
Labels: none

Update index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: none

fix(filecheck): allow to compress if the file is larger than MAX_FILE_SIZE
  filecheck/checker.ts
  package.json
  yarn.lock
Labels: dependencies

add comment
  filecheck/checker.ts
Labels: none

Keep page-not-created styles on visited links
  client/src/document/index.scss
Labels: none

chore: remove @types/react resolution
  package.json
  yarn.lock
Labels: dependencies

Delete Note.ejs
  kumascript/macros/Note.ejs
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
