Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(macros): delete {{CompatGeckoMobile}} macro
  kumascript/macros/CompatGeckoMobile.ejs
Labels: macros

chore(macros): delete {{CompatGeckoDesktop}} macro
  kumascript/macros/CompatGeckoDesktop.ejs
Labels: macros

Revert "Apply suggestions from code review"
  kumascript/macros/CSSRef.ejs
Labels: macros

refactor(macros/CSSRef): rename propertyGroups => groups
  kumascript/macros/CSSRef.ejs
Labels: macros

fix(rendering): don't render everything twice
  client/src/app.tsx
Labels: none

fix dev setup
  client/src/app.tsx
Labels: none

lint
  client/src/app.tsx
Labels: none

refactor(macros/CSSRef): extract prefix
  kumascript/macros/CSSRef.ejs
Labels: macros

refactor(macros/CSSRef): group pages directly
  kumascript/macros/CSSRef.ejs
Labels: macros

refactor(macros/CSSRef): use pages param
  kumascript/macros/CSSRef.ejs
Labels: macros

fix locale in SPAs
  build/spas.ts
Labels: none

fix(client): check for valid mixed case locale
  client/src/hooks.ts
  libs/locale-utils/index.d.ts
  libs/locale-utils/index.js
Labels: none

add back loading fallback
  client/src/app.tsx
Labels: none

nit
  build/spas.ts
Labels: none

chore(macros): remove CompatGecko{Desktop,Mobile} macros (#7625)
  kumascript/macros/CompatGeckoDesktop.ejs
  kumascript/macros/CompatGeckoMobile.ejs
Labels: macros

fix(rendering): don't render everything twice (#7655)
  build/spas.ts
  client/src/app.tsx
Labels: none

ci(auto-merge): use dependabot/fetch-metadata + GitHub CLI
  .github/workflows/auto-merge.yml
Labels: github-actions

ci(auto-merge): be explicit about minor/patch
  .github/workflows/auto-merge.yml
Labels: github-actions

feat(macros/CSSRef): group CSS properties by common prefix (#7441)
  kumascript/macros/CSSRef.ejs
Labels: macros

ci(auto-merge): use dependabot/fetch-metadata + GitHub CLI (#7662)
  .github/workflows/auto-merge.yml
Labels: github-actions

chore: delete {{web.link}} macro (#7624)
  kumascript/macros/web.link.ejs
Labels: macros

chore(macros): deprecate ServiceWorkerSidebar (#7645)
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: macros

chore(macros): remove unused GlossaryList (#7628)
  kumascript/macros/GlossaryList.ejs
Labels: macros

ci(auto-merge): specify name/id
  .github/workflows/auto-merge.yml
Labels: github-actions

ci(auto-merge): specify name/id (#7663)
  .github/workflows/auto-merge.yml
Labels: github-actions

ci(glean-probe-scraper): run on PR + main pushes only
  .github/workflows/glean-probe-scraper.yml
Labels: github-actions

style(typescript): enable strict except noImplicitAny and strictNullChecks (#7559)
  build/flaws/index.ts
  build/index.ts
  build/utils.ts
  client/tsconfig.json
  content/popularities.ts
  content/utils.ts
  filecheck/checker.ts
  kumascript/src/api/mdn.ts
  kumascript/src/api/page.ts
  kumascript/src/api/util.ts
  kumascript/src/api/web.ts
  kumascript/src/api/wiki.ts
  kumascript/src/environment.ts
  kumascript/src/errors.ts
  kumascript/src/render.ts
  kumascript/tests/render.test.ts
  markdown/m2h/cli.ts
  tool/cli.ts
  tool/sync-translated-content.ts
  tsconfig.json
Labels: macros, flaw-system, markdown

refactor(build): split up document-extractor (#7612)
  build/document-extractor.ts
  build/extract-bcd.ts
  build/extract-sections.ts
  build/extract-sidebar.ts
  build/extract-specifications.ts
  build/extract-summary.ts
  build/index.ts
  client/src/document/ingredients/spec-section.tsx
  libs/types/document.ts
Labels: none

chore(macros): remove Languages macro (#7647)
  kumascript/macros/languages.ejs
Labels: macros

chore(deps-dev): add eslint-plugin-unicorn
  package.json
  yarn.lock
Labels: dependencies

style(eslint): enable unicorn/prefer-node-protocol rule
  .eslintrc.js
Labels: none

ci(auto-merge): use pull_request.url for comment
  .github/workflows/auto-merge.yml
Labels: github-actions

Adds FirefoxSidebard translation for pt-BR #4707
  kumascript/macros/FirefoxSidebar.ejs
Labels: macros

ci(auto-merge): use pull_request.url for comment (#7670)
  .github/workflows/auto-merge.yml
Labels: github-actions

ci(auto-merge): use html_url, not [api] url
  .github/workflows/auto-merge.yml
Labels: github-actions

ci(auto-merge): use html_url, not [api] url (#7672)
  .github/workflows/auto-merge.yml
Labels: github-actions

chore(mathml): add local src for STIX
  client/src/document/mathml-polyfill/mathml-font.scss
Labels: none

Deprecate WebRTCSidebar
  kumascript/macros/WebRTCSidebar.ejs
Labels: macros

refactor(deployer/aws-lambda): convert to ESM
  .eslintrc.js
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
Labels: deployer

fix(aws-lambda): read JSON via require
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
Labels: deployer

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
