Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

style(eslint): enable ignoreRestSiblings option for no-unused-vars rule
  .eslintrc.js
  build/cli.ts
  server/index.ts
Labels: none

fixup! style(eslint): enable ignoreRestSiblings option for no-unused-vars rule
  .eslintrc.js
Labels: none

chore(macros/APIRef): update Spanish fixtures (#7602)
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Labels: macros

chore(macros/CSSRef): add Functions section (#7604)
  kumascript/macros/CSSRef.ejs
Labels: macros

style(eslint): resolve current warnings (#7601)
  .eslintrc.js
  build/cli.ts
Labels: none

Address feedback
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

fix(bcd): show previous version in range when feature was removed (#7589)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Labels: dependencies

fix(sw): don't start the sw if offline is off
  client/pwa/src/db.ts
  client/pwa/src/service-worker.ts
  client/src/plus/collections-quicksearch.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/user-context.tsx
Labels: plus, plus:offline

lint
  client/src/search.tsx
  client/src/user-context.tsx
Labels: none

feedback
  client/src/plus/collections-quicksearch.ts
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/user-context.tsx
Labels: plus

test(jest): migrate globals.ts-jest to transform (#7594)
  package.json
Labels: none

Migrate FV to new key
  client/src/plus/collections/frequently-viewed.tsx
Labels: plus

lints + pr nit
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
Labels: plus

assign key to FV card
  client/src/plus/collections/index.tsx
Labels: plus

add functional update
  client/src/plus/collections/frequently-viewed.tsx
Labels: plus

Update client/src/user-context.tsx
  client/src/user-context.tsx
Labels: none

fix(quicksearch): scroll when longer than screen
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Labels: none

fix(build, bcd): Fix version range in production
  build/document-extractor.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Labels: dependencies

ci(build): use node16 as runtime of configure-aws-credentials
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

ci(build): bump aws-actions/configure-aws-credentials from v1 to v1-node16 (#7615)
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

chore(build/flaws): check instanceof RequestError
  build/flaws/index.ts
Labels: flaw-system

chore: use instanceof in catch clauses
  build/index.ts
  kumascript/src/api/page.ts
  kumascript/src/errors.ts
  kumascript/src/render.ts
  kumascript/tests/render.test.ts
  markdown/m2h/cli.ts
  tool/cli.ts
Labels: macros, markdown

Remove timestamps where not used
  client/src/plus/collections/api.ts
  client/src/plus/collections/frequently-viewed.tsx
Labels: plus

Only collection freq viewed for logged in users
  client/src/plus/collections/frequently-viewed.tsx
Labels: plus

fix(pwa): don't start the service worker if offline is disabled (#7547)
  client/pwa/src/db.ts
  client/pwa/src/service-worker.ts
  client/src/plus/collections-quicksearch.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/user-context.tsx
Labels: plus, plus:offline

Update build/index.ts
  build/index.ts
Labels: none

Address review feedback
  build/document-extractor.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

chore(kumascript): log macro failures
  kumascript/src/templates.ts
Labels: macros

Switch version_last type to VersionValue instead of string
  build/document-extractor.ts
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

fix(bcd): determine version_last at build time (#7614)
  build/document-extractor.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Labels: dependencies

add doc to deps
  client/src/plus/collections/frequently-viewed.tsx
Labels: plus

chore(kumascript): log macro failures (#7619)
  kumascript/src/templates.ts
Labels: macros

chore(mathml): replace STIX.otf with latest STIX.woff2
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.otf
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.woff2
  client/src/document/mathml-polyfill/mathml-font.scss
Labels: none

feat(mathml): always load MathML font
  client/src/document/mathml-polyfill/index.tsx
  client/src/document/mathml-polyfill/mathml-font.scss
  client/src/document/mathml-polyfill/mathml.css
Labels: none

chore(mathml): update mathml.css
  client/src/document/mathml-polyfill/mathml.css
Labels: none

style(stylelint): run with --allow-empty-input
  .lintstagedrc.json
Labels: none

refactor(build): extract extract-summary.ts
  build/document-extractor.ts
  build/extract-summary.ts
  build/index.ts
Labels: none

refactor(build): extract extract-sidebar.ts
  build/document-extractor.ts
  build/extract-sidebar.ts
  build/index.ts
Labels: none

refactor(build): extract extract-sections.ts
  build/extract-sections.ts
  build/index.ts
Labels: none

refactor(build): pass params explicitly
  build/extract-sections.ts
Labels: none
