Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(spas): update featured articles (#7816)
  build/spas.ts
Labels: none

chore(kumascript): refactor and remove unused apis (#7812)
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSInfo.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/LiveSampleURL.ejs
  kumascript/macros/SVGElement.ejs
  kumascript/macros/SectionOnPage.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/macros/fx_minversion_note.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/minversionGeneric.ejs
  kumascript/src/api/kuma.ts
  kumascript/src/api/mdn.ts
  kumascript/src/api/page.ts
  kumascript/src/api/string.ts
  kumascript/src/api/wiki.ts
  kumascript/src/environment.ts
  kumascript/tests/environment.test.ts
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/wiki-api.test.ts
Labels: macros

feat(kumascript): expose frontmatter status on page object (#7801)
  kumascript/src/info.ts
Labels: macros

fix(client/config): migrate to setupMiddlewares option (#7671)
  client/config/webpackDevServer.config.js
Labels: none

fix(esm): fix macro-usage-report
  tool/cli.ts
  tool/macro-usage-report.ts
Labels: none

fixup! fix(esm): fix macro-usage-report
  tool/macro-usage-report.ts
Labels: none

chore(plus/updates): add survey link
  client/src/plus/updates/index.tsx
Labels: plus

chore(plus/updates): shorten header
  client/src/plus/updates/index.tsx
Labels: plus

Refactor: remove isObj variable
  kumascript/macros/JSRef.ejs
Labels: macros

Support short-title in APIRef
  build/index.ts
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
Labels: macros

Define short_title property
  libs/types/document.ts
Labels: none

Update kumascript/macros/APIRef.ejs
  kumascript/macros/APIRef.ejs
Labels: macros

Update libs/types/document.ts
  libs/types/document.ts
Labels: none

Update build/index.ts
  build/index.ts
Labels: none

Review comments
  build/document-utils.ts
  kumascript/macros/APIRef.ejs
Labels: macros

fix(macros/JSRef): use page type instead of tags (#7808)
  kumascript/macros/JSRef.ejs
Labels: macros

Remove obsolete tag from APIRef
  kumascript/macros/APIRef.ejs
Labels: macros

Ensure that file path is proper URL (for Windows compatibility)
  client/config/modules.js
Labels: none

feat(plus/updates): add basic frontend (#7814)
  build/spas.ts
  client/src/assets/icons/bell-filled.svg
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/hooks.ts
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/plus/index.scss
  client/src/plus/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/paginator/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/utils.ts
  package.json
  server/index.ts
  yarn.lock
Labels: dependencies, plus

chore(macros/LearnSidebar): translate Client-side_tooling_overview in Japanese (#7407)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(plus-menu): add Updates link
  client/src/ui/molecules/plus-menu/index.tsx
Labels: none

chore(plus-menu): add Updates link (#7839)
  client/src/ui/molecules/plus-menu/index.tsx
Labels: none

chore(plus-menu): mark Updates as new
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: none

chore(plus-menu): highlight Updates until 2022-01-31
  client/src/ui/molecules/plus-menu/index.tsx
Labels: none

chore(plus/updates): add metrics for expand/collapse/page
  client/src/plus/updates/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

refactor(paginator): reuse PageLink
  client/src/ui/molecules/paginator/index.tsx
Labels: none

chore(paginator): add onChange prop
  client/src/ui/molecules/paginator/index.tsx
Labels: none

chore(plus/updates): only track paginator navigations
  client/src/plus/updates/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

refactor(plus/updates): rename TOGGLE events
  client/src/plus/updates/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

refactor(plus/updates): rename PAGINATION event
  client/src/plus/updates/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

chore(plus/updates): add metrics for expand/collapse/pagination (#7841)
  client/src/plus/updates/index.tsx
  client/src/telemetry/constants.ts
  client/src/ui/molecules/paginator/index.tsx
Labels: plus

APIRef.ejs: also use status page metadata for badges
  kumascript/macros/APIRef.ejs
Labels: macros

JSRef.ejs: status page metadata for sidebar as OR with tags
  kumascript/macros/JSRef.ejs
Labels: macros

CSSRef.ejs: status page metadata for sidebar as OR with tags
  kumascript/macros/CSSRef.ejs
Labels: macros

ListSubpagesForSidebar.ejs: status page metadata for sidebar as OR with tags
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

WebExtAPISidebar: status page metadata for sidebar as OR with tags
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

APIListAlpha: status page metadata used too
  kumascript/macros/APIListAlpha.ejs
Labels: macros

ListGroups: status page metadata used too
  kumascript/macros/ListGroups.ejs
Labels: macros

Fixture - touch to allow discussion
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

Fix tests
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
