Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(filecheck): make extension check non-fixable
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
Labels: none

chore(filecheck): move --save-compression before argument
  filecheck/checker.ts
Labels: none

feat(filecheck): ignore unsupported files
  filecheck/checker.ts
Labels: none

chore(filecheck): sort fix commands
  filecheck/checker.ts
Labels: none

fix(build): fix broken parents for constructor
  build/document-utils.ts
Labels: none

fix(macro-usage-report): remove unused script + param
  package.json
  tool/macro-usage-report.ts
Labels: none

fix(build): fix broken parents for constructor (#7759)
  build/document-utils.ts
Labels: none

fix(a11y): add missing button names (#7733)
  client/src/document/organisms/sidebar/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: none

Deprecate CanvasSidebar
  kumascript/macros/CanvasSidebar.ejs
Labels: macros

refactor(content): split Document.findAll().iter{Paths,Docs}()
  build/cli.ts
  content/document.test.ts
  content/document.ts
  content/translations.ts
  markdown/m2h/cli.ts
  server/translations.ts
  tool/cli.ts
Labels: markdown

chore(macros): deprecate CanvasSidebar (#7760)
  kumascript/macros/CanvasSidebar.ejs
Labels: macros

fix(csp): remove polyfill.io from script-src (#7728)
  libs/constants/index.js
Labels: none

chore(macros): update HTMLSidebar macro
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

refactor(content): split Document.findAll().iter{Paths,Docs}() (#7761)
  build/cli.ts
  content/document.test.ts
  content/document.ts
  content/translations.ts
  markdown/m2h/cli.ts
  server/translations.ts
  tool/cli.ts
Labels: markdown

Update link to GitHub Discussions
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

Deprecate WebGLSidebar
  kumascript/macros/WebGLSidebar.ejs
Labels: macros

Simplify checkFile()
  filecheck/checker.ts
  testing/tests/filecheck.test.ts
Labels: none

Fix import of caporal
  markdown/m2h/cli.ts
Labels: markdown

fix(macro-usage-report): also run w/o CONTENT_TRANSLATED_ROOT
  tool/macro-usage-report.ts
Labels: none

fix(filecheck): filter default value
  filecheck/cli.ts
Labels: none

chore(filecheck): use default cli-progress preset
  filecheck/checker.ts
Labels: none

Revert "chore(filecheck): move --save-compression before argument"
  filecheck/checker.ts
Labels: none

fix(macro-usage-report): filter properly using async function
  tool/macro-usage-report.ts
Labels: none

fix(macro-usage-report): determine columns/paths together
  tool/macro-usage-report.ts
Labels: none

chore(macros): deprecate WebGLSidebar (#7766)
  kumascript/macros/WebGLSidebar.ejs
Labels: macros

chore(macros/HTMLSidebar): add "Content categories" / "Constraint validation" (#7762)
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

refactor(macros/js_property_attributes): use `mdn.localStringMap` instead of switch (#7726)
  kumascript/macros/js_property_attributes.ejs
Labels: macros

Update link to orgs GitHub Discussions
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

fix(print): hide sidebar
  client/public/index.html
Labels: none

fix(print): hide banner
  client/public/index.html
Labels: none

ci(pr-deployer): cache with specific python version
  .github/workflows/pr-deployer.yml
Labels: github-actions

specific the step id of setup python
  .github/workflows/pr-deployer.yml
Labels: github-actions

ci(pr-deployer): cache with specific python version (#7779)
  .github/workflows/pr-deployer.yml
Labels: github-actions

Update .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

fix(issue-template): update link to GitHub Discussions (#7765)
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

Fix SSR path
  ssr/render.ts
Labels: none

Add types to mocked functions
  kumascript/tests/index.test.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
  kumascript/tests/macros/page-api.test.ts
Labels: macros

Cast to any
  kumascript/tests/templates.test.ts
Labels: macros

Fix file path
  kumascript/tests/macros/Compat.test.ts
Labels: macros

Use jest.mock instead of attempting to reassign module
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/page-api.test.ts
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
