Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix test
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

remove unused import
  client/src/plus/collections/v2/index.tsx
Labels: plus

fix typo
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

fix(plus): page doesn't load on invalid response.
  client/src/ui/molecules/user-menu/index.tsx
Labels: none

fix(pr-companion): remove redundant entries (#7105)
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

refactor(bcd): Use const for hidden browsers to hide IE data
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
Labels: none

PR fixes
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
Labels: plus

fix(bcd): hide IE-specific compat icons in the legend (#7099)
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
Labels: none

chore(scripts): add macro-usage-report
  package.json
  scripts/macro-usage-report.ts
Labels: none

fix(macro-usage-report): handle matches with colon properly
  scripts/macro-usage-report.ts
Labels: none

fix(plus): page doesn't load on invalid response. (#7108)
  client/src/ui/molecules/user-menu/index.tsx
Labels: none

Enable glean for production env
  .github/workflows/prod-build.yml
Labels: github-actions

Report flaw for Compat or Specifications macro with arguments
  kumascript/macros/Compat.ejs
  kumascript/macros/Specifications.ejs
Labels: macros

test(macros): move Compat key to frontmatter
  testing/content/files/en-us/web/api/page_visibility_api/index.html
  testing/content/files/en-us/web/badbcdqueries/index.html
  testing/content/files/en-us/web/bcd_table_extraction/index.html
Labels: none

Update Compat.test.js & Specifications.test.js to use frontmatter
  kumascript/tests/macros/Compat.test.js
  kumascript/tests/macros/Specifications.test.js
Labels: macros

Pass message to mdn.deprecated() rather than throwing
  kumascript/macros/Compat.ejs
  kumascript/macros/Specifications.ejs
Labels: macros

support adding an item to multiple collections
  client/src/plus/collections/v2/api.ts
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

MP-106: fix collection cards text overspill
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/utils.ts
Labels: plus

Apply suggestions from code review
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: none

Update client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: none

Apply suggestions from code review
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: none

remove always true condition
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: none

MP-116: support adding an item to multiple collections (#7124)
  client/src/plus/collections/v2/api.ts
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

chore(macros): deprecate Compat/Specifications parameters (#6576)
  kumascript/macros/Compat.ejs
  kumascript/macros/Specifications.ejs
  kumascript/tests/macros/Compat.test.js
  kumascript/tests/macros/Specifications.test.js
  testing/content/files/en-us/web/api/page_visibility_api/index.html
  testing/content/files/en-us/web/badbcdqueries/index.html
  testing/content/files/en-us/web/bcd_table_extraction/index.html
Labels: macros

fix(plus/notifications): don't wrap filters menu, allow to grow
  client/src/plus/search-filter/index.scss
Labels: plus

fix(a11y): increase contrast of code sample punctuation/comments
  client/src/ui/_vars.scss
Labels: none

Update kumascript/macros/ExperimentalBadge.ejs
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

fix(macros/htmlattrdef): use inline-block for self-link
  client/src/app.scss
  kumascript/macros/htmlattrdef.ejs
Labels: macros

fix(bcd): apply mobile style only to bc-table
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
Labels: none

fix(document): use --font-code for <code>
  client/src/document/index.scss
Labels: none

make bookmarkcontainer a component
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: none

MP-2 Collections-v2
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/hooks.ts
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/plus/common/api.tsx
  client/src/plus/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/modal/index.tsx
  client/src/ui/molecules/dropdown/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/user-context.tsx
  client/src/utils.ts
  server/index.ts
Labels: plus

MP-106: fix collection cards text overspill
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/utils.ts
Labels: plus

chore(github): update PR template to mention signed commits
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore(github): update PR template to mention signed commits (#7137)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix(build/spas): filter recently merged contributions (#7046)
  build/spas.ts
Labels: none

fix(search-utils): focus search with Ctrl-K, not Ctrl-Shift-K (#7067)
  client/src/search-utils.ts
Labels: none

MP-86 update modal styling to match designs
  client/src/ui/atoms/modal/index.scss
Labels: none

refactor(content): convert to typescript
  content/document-paths.ts
  content/document.test.ts
  content/document.ts
  content/githistories.ts
  content/image.ts
  content/index.js
  content/index.ts
  content/popularities.ts
  content/redirect.test.ts
  content/redirect.ts
  content/translation.ts
  content/translations.ts
  content/tsconfig.json
  content/utils.ts
  content/wikihistories.ts
Labels: none

fix(build): add types
  build/build-options.ts
  build/cli.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
