Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

Fallback to original extraction logic
  build/document-extractor.ts
Labels: none

Revert to original to debug
  build/document-extractor.ts
Labels: none

Replicate existing extraction logic for h4s
  build/document-extractor.ts
Labels: none

Debugging
  build/document-extractor.ts
Labels: none

Testing
  build/document-extractor.ts
Labels: none

Testing extraction behavior
  build/document-extractor.ts
Labels: none

elements are getting removed, trying understand the flow better
  build/document-extractor.ts
Labels: none

Comment out the h4 extraction for now
  build/document-extractor.ts
Labels: none

perf(ts-config): use @swc/core (#7036)
  package.json
  tsconfig.json
  yarn.lock
Labels: dependencies

chore(search-utils): add type
  client/src/search-utils.ts
Labels: none

fix(search-utils): focus search with Ctrl-K, not Ctrl-Shift-K
  client/src/search-utils.ts
Labels: none

Remove page_event, add expiry to metrics. rename event to element for clicks
  client/src/telemetry/metrics.yaml
  client/src/telemetry/pings.yaml
Labels: none

Update glean context to use new values
  client/src/telemetry/glean-context.tsx
Labels: none

Chore(macros): delete {{Index}} macro
  kumascript/macros/Index.ejs
Labels: macros

fix: live sample scrollbar due to the iframe border
  client/src/document/index.scss
Labels: none

align the iframe
  client/src/document/index.scss
Labels: none

applied stylelint
  client/src/document/index.scss
Labels: none

fix(pr-companion): shorten the preview links
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

chore(macros/LearnSidebar): add MathML tutorial #6953
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(macros): delete {{Index}} macro (#7068)
  kumascript/macros/Index.ejs
Labels: macros

Deprecated parameter in EmbedLiveSample
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

Update kumascript/macros/EmbedLiveSample.ejs
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

Fix slug (got moved ages ago
  kumascript/tests/macros/EmbedLiveSample.test.js
Labels: macros

Try using loose equality
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

Fix url (got moved ages ago)
  kumascript/tests/macros/EmbedLiveSample.test.js
Labels: macros

Remove tests with 4 parameters
  kumascript/tests/macros/EmbedLiveSample.test.js
Labels: macros

Deprecate parameters and too
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/tests/macros/EmbedLiveSample.test.js
Labels: macros

Apply suggestions from code review
  deployer/src/deployer/analyze_pr.py
Labels: deployer, python

fix(pr-companion): shorten the preview links (#7069)
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

refactor(frequently-viewed): rename index to serial to avoid confusion
  client/src/document/hooks.ts
  libs/types/document.ts
Labels: none

fix(frequently-viewed): avoid unique key warning by assigning serials (#6564)
  client/src/document/hooks.ts
  libs/types/document.ts
Labels: none

feature(plus) add preview banner
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
Labels: none

use last modified
  client/src/user-context.tsx
Labels: none

support last_updated for collection in qs
  client/src/search-utils.ts
  client/src/user-context.tsx
Labels: none

remove plus support for offline
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/fetcher.ts
  client/pwa/src/service-worker.ts
  client/src/search-utils.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/user-context.tsx
Labels: plus:offline

guard settings and remove filter
  client/pwa/src/fetch-interceptors.ts
  client/src/user-context.tsx
Labels: plus:offline

cleanup
  client/src/plus/collections-quicksearch.ts
  client/src/search-utils.ts
  client/src/search.tsx
  client/src/user-context.tsx
Labels: plus

fix(kumascript): add mdn.deprecated() parameter
  kumascript/src/api/mdn.js
Labels: macros

chore(macros/EmbedLiveSamples): mark deprecated parameters in JSDoc
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

chore(macros/EmbedLiveSample): deprecate parameters 4 to 6 (#6299)
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/src/api/mdn.js
  kumascript/tests/macros/EmbedLiveSample.test.js
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
