Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

refactor(macros/WebExtAPIRef): use page-type instead of tags (#8251)
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

fix(flaws): Improve flaws display page (#8274)
  client/src/flaws/index.scss
  client/src/flaws/index.tsx
Labels: none

fix(organisms/metadata): ignore hydration error in last modified timestamp
  client/src/document/organisms/metadata/index.tsx
Labels: none

Add TZ setting to .env-dist file
  .env-dist
Labels: none

wip
  gcp/function/.gcloudignore
  gcp/function/.gitignore
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/app.ts
  gcp/function/src/cli.ts
  gcp/function/src/env.ts
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/client.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/handlers/liveSamples.ts
  gcp/function/src/handlers/rumba.ts
  gcp/function/src/handlers/spa.ts
  gcp/function/src/headers.ts
  gcp/function/src/index.ts
  gcp/function/src/source.ts
  gcp/function/tsconfig.json
Labels: none

feat(interactive-examples): measure actions
  client/src/document/index.tsx
Labels: none

more
  gcp/function/package.json
  gcp/function/src/app.ts
  gcp/function/src/handlers/bcdApi.ts
  gcp/function/src/handlers/client.ts
  gcp/function/src/handlers/content.ts
  gcp/function/src/index.ts
  gcp/function/tsconfig.json
Labels: none

PoC: visualization for how far behind the lastest commit
  client/src/translations/differences/index.tsx
  server/translations.ts
Labels: none

feat: tag for Metadata does not exist.
  client/src/translations/differences/index.tsx
Labels: none

feat(macros): rewrite SVG sidebar (#8289)
  kumascript/macros/SVGRef.ejs
Labels: macros

chore(macros/MathMLRef): add data-macro attr
  kumascript/macros/MathMLRef.ejs
Labels: macros

feat(macros): rewrite MathML sidebar (#8309)
  kumascript/macros/MathMLRef.ejs
Labels: macros

fix(macros/LearnSidebar): sync with latest changes
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Update kumascript/macros/LearnSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

feat(macros): rewrite Learn sidebar (#8132)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(macros): inline {{DeprecatedBadge/Generic}} into {{Deprecated_Header/Inline}} (#8199)
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/Deprecated_Header.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/Deprecated.test.ts
Labels: macros

Revert .env-dist
  .env-dist
Labels: none

fix(organisms/metadata): suppress hydration warning in last modified timestamp (#8334)
  client/src/document/organisms/metadata/index.tsx
Labels: none

fixup! fix(glean-context): set page metrics even without user data
  client/src/telemetry/glean-context.tsx
Labels: none

fix(macros/Deprecated_Header): add note msg when version is not provided
  kumascript/macros/Deprecated_Header.ejs
Labels: macros

fix: filter available
  client/src/translations/differences/index.tsx
Labels: none

refactor: execSync cwd option
  server/translations.ts
Labels: none

fix: filter priority
  client/src/translations/differences/index.tsx
Labels: none

feat(plus): show newsletter opt-in to core users
  client/src/settings/newsletter.tsx
Labels: none

Optimization through cache
  server/translations.ts
Labels: none

package
  gcp/function/.gcloudignore
  gcp/function/.gitignore
  gcp/function/package.json
  gcp/function/src/handlers/content.ts
Labels: none

apply suggestions
  kumascript/macros/Deprecated_Header.ejs
Labels: macros

fix(macros/Deprecated_Header): add fallback header when version is not provided (#8339)
  kumascript/macros/Deprecated_Header.ejs
Labels: macros

refactor(build): make Document.findAll() asynchronous (#8302)
  build/cli.ts
  content/document.test.ts
  content/document.ts
  content/translations.ts
  markdown/m2h/cli.ts
  server/translations.ts
  testing/tests/destructive.test.ts
  tool/cli.ts
Labels: markdown

chore(gcp/function): create link in prepare script
  gcp/function/package.json
Labels: none

docs(gcp): add README
  gcp/README.md
Labels: none

fixup! chore(gcp/function): create link in prepare script
  gcp/function/package.json
Labels: none

fix(gcp/function): add typescript to devDependencies
  gcp/function/package-lock.json
  gcp/function/package.json
Labels: none

fix(gcp/function): correct internal paths
  gcp/function/package-lock.json
  gcp/function/package.json
Labels: none

fix(gcp/functions): copy as part of build
  gcp/function/package.json
Labels: none

feat(gcp/functions): proxy interactive-examples
  gcp/function/src/env.ts
Labels: none

fix(gcp/function): swap interactive/live samples
  gcp/function/src/env.ts
Labels: none

feat(gcp/function): add start script via ts-node
  gcp/function/package-lock.json
  gcp/function/package.json
Labels: none

feat(gcp/function): proxy interactive-examples
  gcp/function/src/app.ts
  gcp/function/src/handlers/interactiveSamples.ts
Labels: none

fix(gcp/function): use headers.host over hostname
  gcp/function/src/env.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
