Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(aws-lambda): run jest with --experimental-vm-modules
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/yarn.lock
Labels: dependencies, deployer

style(lint-staged): run eslint on *.ts files
  .lintstagedrc.json
Labels: none

chore(macros): deprecate WebRTCSidebar (#7674)
  kumascript/macros/WebRTCSidebar.ejs
Labels: macros

fix(aws-lambda): replace __dirname
  deployer/aws-lambda/content-origin-request/build.js
Labels: deployer

refactor(kumascript): extract wiki.getPages() helper
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/src/api/wiki.ts
Labels: macros

fix(kumascript): avoid warning about this.wiki
  kumascript/src/api/wiki.ts
Labels: macros

fix(aws-lambda): add package.json to function.zip
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
Labels: deployer

feat(macros/DefaultAPISidebar): add Tutorial section (#7646)
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/src/api/wiki.ts
Labels: macros

Set environment variables with cross-env
  client/config/env.prod.js
  client/scripts/build.js
  client/scripts/start.js
  client/scripts/test.js
  package.json
Labels: none

Fix file paths
  client/config/paths.js
  client/config/webpack.config.js
  ssr/webpack.config.js
Labels: none

Don't ignore aws-lambda
  .eslintignore
Labels: none

Revert path changes during latest merge
  libs/env/index.js
  ssr/render.ts
Labels: none

Fix imports
  build/extract-bcd.ts
  build/extract-specifications.ts
  build/index.ts
  build/spas.ts
  kumascript/src/api/web.ts
Labels: macros

Delete CompatUnknown.ejs
  kumascript/macros/CompatUnknown.ejs
Labels: macros

Remove duplicate import
  build/index.ts
Labels: none

Fix dev server proxy setup (pull async components out of function)
  client/config/webpackDevServer.config.js
Labels: none

Fix imports
  kumascript/tests/macros/Specifications.test.ts
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  kumascript/tests/macros/firefoxsidebar.test.ts
  kumascript/tests/macros/gamessidebar.test.ts
  kumascript/tests/macros/mdnsidebar.test.ts
  kumascript/tests/macros/svgattr.test.ts
  kumascript/tests/macros/utils.test.ts
  kumascript/tests/macros/wiki-api.test.ts
Labels: macros

Update Jest config to support ESM
  package.json
Labels: none

EJS doesn't support ESM imports; revert to CJS
  kumascript/macros/CSSAnimatedProperties.ejs
  kumascript/macros/CSSInfo.ejs
  kumascript/macros/CSSSyntax.ejs
  kumascript/macros/CSS_Ref.ejs
  kumascript/macros/WebExtAllCompatTables.ejs
Labels: macros

chore(macros): delete unused {{Compat*}} macros
  kumascript/macros/CompatNo.ejs
  kumascript/macros/CompatVersionUnknown.ejs
  kumascript/macros/CompatibilityTable.ejs
Labels: macros

chore(macros): delete unused {{Compat*}} macros (#7680)
  kumascript/macros/CompatNo.ejs
  kumascript/macros/CompatVersionUnknown.ejs
  kumascript/macros/CompatibilityTable.ejs
Labels: macros

chore(client): remove Array.flat/ES6 polyfill
  client/public/index.html
Labels: none

fix(plus): textarea grow broken when zoomed out
  client/src/ui/atoms/form/expanding-textarea.tsx
Labels: none

enhance(quicksearch): add a qs paramater
  client/src/search.tsx
  testing/tests/headless.search.spec.ts
Labels: none

docs: add SECURITY.md
  SECURITY.md
Labels: none

chore(env): reduce MAX_FILE_SIZE to 500 KiB
  libs/env/index.js
Labels: none

chore(macro-usage-report): add minus sign for 0 occurrences
  scripts/macro-usage-report.ts
Labels: none

Properly import Jest within the tests
  kumascript/tests/environment.test.ts
  kumascript/tests/index.test.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
  kumascript/tests/macros/addonsidebar.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/cssxref.test.ts
  kumascript/tests/macros/httpheader.test.ts
  kumascript/tests/macros/jsxref.test.ts
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/svginfo.test.ts
  kumascript/tests/render.test.ts
  kumascript/tests/templates.test.ts
Labels: macros

Delete unneeded files
  kumascript/tests/macros/apiref.test.ts-base
  kumascript/tests/macros/apiref.test.ts-ours
  kumascript/tests/macros/apiref.test.ts-theirs
Labels: macros

Remove unneeded lines
  client/src/app.tsx
Labels: none

Revert changes to AWS-lambda deployer (deferred to other PR)
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
Labels: deployer

Fix file checker
  filecheck/checker.ts
Labels: none

chore(env): reduce MAX_FILE_SIZE to 500 KiB (#7694)
  libs/env/index.js
Labels: none

chore(pr-companion): minor formatting fix for PR comment timestamp resolution
  deployer/src/deployer/analyze_pr.py
Labels: deployer, python

fix(pr-companion): reduce timestamp resolution (#7696)
  deployer/src/deployer/analyze_pr.py
Labels: deployer, python

Update SECURITY.md
  SECURITY.md
Labels: none

Update SECURITY.md
  SECURITY.md
Labels: none

fixup! Update SECURITY.md
  SECURITY.md
Labels: none

docs: add SECURITY.md (#7693)
  SECURITY.md
Labels: none

fixup! chore(client): remove Array.flat/ES6 polyfill
  libs/constants/index.js
  testing/tests/csp.test.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
