Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

fix(macros/CSS_Ref): align first items per column
  client/src/document/index.scss
Labels: none

transpile glean in jest. Return no-op glean when completely disabled
  client/package.json
  client/src/telemetry/glean-context.tsx
Labels: none

fix(live-samples): subtract border from width
  client/src/document/index.scss
Labels: none

chore(macros/EmbedLiveSample): reduce MIN_HEIGHT from 60 to 24
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

pr feedback
  client/src/plus/collections-quicksearch.ts
Labels: plus

don't yet drop the tables
  client/pwa/src/db.ts
  client/src/settings/db.ts
Labels: plus:offline

Update kumascript/macros/CSSSyntax.ejs
  kumascript/macros/CSSSyntax.ejs
Labels: macros

fix(macros/CSSSyntax): handle combination of hash mark + curly brackets (#7049)
  kumascript/macros/CSSSyntax.ejs
Labels: macros

Update kumascript/macros/ExperimentalBadge.ejs
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

Revert "chore(macros/EmbedLiveSample): reduce MIN_HEIGHT from 60 to 24"
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

chore(macros): delete {{CSSTutorialTOC}} macro
  kumascript/macros/CSSTutorialTOC.ejs
Labels: macros

chore(macros): delete {{CompatAndroid}} macro
  kumascript/macros/CompatAndroid.ejs
Labels: macros

fix(macros/CSS_Ref): start new set of columns for each character in index (#7086)
  client/src/document/index.scss
  kumascript/macros/CSS_Ref.ejs
Labels: macros

fix(pr-companion): remove broken 'on GitHub' links
  deployer/src/deployer/analyze_pr.py
Labels: deployer, python

chore(macros): delete unused CSSTutorialTOC/CompatAndroid macros (#7088)
  kumascript/macros/CSSTutorialTOC.ejs
  kumascript/macros/CompatAndroid.ejs
Labels: macros

transform regex tweak
  client/package.json
Labels: none

Update kumascript/macros/CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Labels: macros

Update kumascript/macros/CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Labels: macros

Update kumascript/macros/CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Labels: macros

chore(macros/CSSRef): extend + update sidebar (#6053)
  kumascript/macros/CSSRef.ejs
Labels: macros

chore(sidebar): highlight menu children like TOC
  build/document-extractor.ts
  client/src/document/organisms/sidebar/index.scss
  kumascript/macros/JSRef.ejs
Labels: macros

fix(pr-companion): remove broken 'on GitHub' links (#7089)
  deployer/src/deployer/analyze_pr.py
Labels: deployer, python

Add generated glean files - support windows builds
  .gitignore
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  package.json
Labels: none

Update package.json
  package.json
Labels: none

MP-11 Disable Plus for Offline (#6915)
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/fetcher.ts
  client/pwa/src/service-worker.ts
  client/src/plus/collections-quicksearch.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/user-context.tsx
Labels: plus, plus:offline

MP-9 Integrate Glean.js MDN
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .gitignore
  client/package.json
  client/src/document/index.tsx
  client/src/env.ts
  client/src/index.tsx
  client/src/telemetry/generated/.gitkeep
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/telemetry/pings.yaml
  docs/envvars.md
  package.json
  yarn.lock
Labels: dependencies, github-actions

fix(macros): add Overview items via ListSubpagesForSidebar, enable for JsSidebar (#7080)
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

fix(glean): proxy glean
  .github/workflows/prod-build.yml
  client/src/telemetry/glean-context.tsx
Labels: github-actions

fix(glean): proxy glean (#7098)
  .github/workflows/prod-build.yml
  client/src/telemetry/glean-context.tsx
Labels: github-actions

Apply suggestions from code review
  kumascript/macros/ExperimentalBadge.ejs
Labels: macros

fix(bcd): Don't include IE specific compatibility in the legend
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
Labels: none

chore(macros): delete {{DOM0}} macro
  kumascript/macros/DOM0.ejs
Labels: macros

chore(macros): delete {{DOM0}} macro (#7100)
  kumascript/macros/DOM0.ejs
Labels: macros

refactor(markdown): convert to typescript (#6993)
  .gitignore
  build/spas.ts
  markdown/index.js
  markdown/index.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/dl.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
  markdown/m2h/index.ts
  markdown/tsconfig.json
  markdown/utils/index.ts
  package.json
  tsconfig.dist.json
Labels: markdown

don't use unsupported regex
  client/src/utils.ts
Labels: none

fix(document-extractor): return early if there are no quick links
  build/document-extractor.ts
Labels: none

fix(sidebar): highlight current page + open parent menu (#7085)
  build/document-extractor.ts
  build/index.ts
  client/src/document/organisms/sidebar/index.scss
  kumascript/macros/JSRef.ejs
Labels: macros

fix(form): prevent selects from overflowing
  client/src/ui/atoms/form/index.scss
Labels: none

fix(pr-companion): remove redundant entries
  deployer/src/deployer/analyze_pr.py
Labels: deployer, python

UI Tweaks. Added banner to collections v2.0 renamed Default to Saved Articles
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
