Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore(HTTPSidebar): update Feature-Policy to Permissions-Policy (#7644)
  kumascript/macros/HTTPSidebar.ejs
  kumascript/tests/macros/fixtures/documentData2.json
Labels: macros

chore(on-github): point to CONTRIBUTING.md, not README (#7793)
  client/src/document/on-github.tsx
Labels: none

chore: remove index.html support
  README.md
  build/build-options.ts
  content/document-paths.ts
  content/document.test.ts
  content/document.ts
  deployer/src/deployer/analyze_pr.py
  filecheck/checker.ts
  server/search-index.ts
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/index.html
  testing/tests/filecheck.test.ts
  testing/tests/filechecker/samplefiles-html/index.html
  testing/tests/filechecker/samplefiles-html/png.jpeg
  testing/tests/filechecker/samplefiles-html/zero.gif
  testing/tests/filechecker/samplefiles-md/onhandler.svg
  testing/tests/filechecker/samplefiles-md/png.jpeg
  testing/tests/filechecker/samplefiles-md/script.svg
  testing/tests/filechecker/samplefiles-md/zero.gif
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: deployer, python

test(content): introduce headings for transcluded live samples
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/index.md
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/stuff/index.md
Labels: none

test: update numbers
  testing/tests/destructive.test.ts
Labels: none

test: replace html => md
  testing/tests/index.test.ts
Labels: none

test(testing): update expectations, remove some cases
  testing/content/files/en-us/learn/some_code/index.md
  testing/content/files/en-us/web/brokenlinks/index.md
  testing/content/files/en-us/web/check_notecards/index.md
  testing/content/files/en-us/web/empty_image/index.md
  testing/content/files/en-us/web/fixable_flaws/bad_pre_tags/index.md
  testing/content/files/en-us/web/foo/index.md
  testing/content/files/en-us/web/fubar/index.md
  testing/content/files/en-us/web/heading_links/index.md
  testing/content/files/en-us/web/seo_summarized/index.md
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
  testing/translated-content/files/fr/web/embeddable/index.html
  testing/translated-content/files/fr/web/embeddable/index.md
  testing/translated-content/files/fr/web/foo/index.html
  testing/translated-content/files/fr/web/foo/index.md
  testing/translated-content/files/fr/web/spec_section_extraction/index.html
  testing/translated-content/files/fr/web/spec_section_extraction/index.md
  testing/translated-content/files/zh-tw/web/foo/index.html
  testing/translated-content/files/zh-tw/web/foo/index.md
Labels: none

ignore /bcd when deplyoing and add /bcd to lambda
  deployer/aws-lambda/content-origin-request/index.js
  deployer/src/deployer/constants.py
Labels: deployer, python

Update client/tsconfig.json
  client/tsconfig.json
Labels: none

Update markdown/tsconfig.json
  markdown/tsconfig.json
Labels: markdown

Update formatting
  markdown/tsconfig.json
Labels: markdown

Handle cases where Prettier is not present
  content/utils.ts
Labels: none

Use page type instead of tags in JSRef
  kumascript/macros/JSRef.ejs
Labels: macros

Fix
  kumascript/macros/JSRef.ejs
Labels: macros

Formatting
  kumascript/macros/JSRef.ejs
Labels: macros

edits footer for language
  client/src/document/on-github.tsx
  client/src/document/organisms/metadata/index.tsx
Labels: none

Fix: #7807
  kumascript/macros/WebAssemblySidebar.ejs
Labels: macros

Update WebAssemblySidebar.test.ts
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Labels: macros

Update deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/index.js
Labels: deployer

chore(deployer): ignore /bcd when deploying and add /bcd to lambda (#7806)
  deployer/aws-lambda/content-origin-request/index.js
  deployer/src/deployer/constants.py
Labels: deployer, python

support undefined doc in article actions, improve mobile overlay logic (#7730)
  client/src/app.scss
  client/src/banners/banner.scss
  client/src/plus/collections/collection.tsx
  client/src/ui-context.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
Labels: plus

fix(filecheck): check path using path.sep
  filecheck/checker.ts
Labels: none

fix(filecheck): check path using path.sep (#7813)
  filecheck/checker.ts
Labels: none

feat: initial bcd updates frontend
  build/spas.ts
  client/src/assets/icons/bell-filled.svg
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/hooks.ts
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/plus/index.scss
  client/src/plus/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/paginator/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/utils.ts
  package.json
  server/index.ts
  yarn.lock
Labels: dependencies, plus

fix(macros/WebAssemblySidebar): remove link to deleted page (#7810)
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Labels: macros

chore: update featured articles
  build/spas.ts
Labels: none

fix(client): match issue template whose filename is in lowercase
  client/src/document/on-github.tsx
Labels: none

run prettier-format
  client/src/document/on-github.tsx
Labels: none

chore(macros): delete {{IncludeSubnav}} macro
  kumascript/macros/IncludeSubnav.ejs
Labels: macros

feat(kumascript): expose status on page object
  kumascript/src/info.ts
Labels: macros

chore(kumascript): refactor and remove unused apis
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSInfo.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/LiveSampleURL.ejs
  kumascript/macros/SVGElement.ejs
  kumascript/macros/SectionOnPage.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/macros/fx_minversion_note.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/minversionGeneric.ejs
  kumascript/src/api/kuma.ts
  kumascript/src/api/mdn.ts
  kumascript/src/api/page.ts
  kumascript/src/api/string.ts
  kumascript/src/api/wiki.ts
  kumascript/src/environment.ts
  kumascript/tests/environment.test.ts
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/wiki-api.test.ts
Labels: macros

chore(macros): remove IncludeSubnav mentions
  content/translation.ts
  kumascript/index.ts
Labels: macros

chore(macros): delete {{TemplateLink}} macro (#7715)
  kumascript/macros/TemplateLink.ejs
Labels: macros

chore(macros): delete {{IncludeSubnav}} macro (#7818)
  content/translation.ts
  kumascript/index.ts
  kumascript/macros/IncludeSubnav.ejs
Labels: macros

chore(plus/updates): update header copy
  client/src/plus/updates/index.tsx
Labels: plus

Update client/src/document/on-github.tsx
  client/src/document/on-github.tsx
Labels: none

fix(on-github): match issue template whose filename is lowercase (#7817)
  client/src/document/on-github.tsx
Labels: none

remove minversionGeneric macro
  kumascript/macros/fx_minversion_note.ejs
  kumascript/macros/minversionGeneric.ejs
Labels: macros

changes based on review feedback
  build/spas.ts
Labels: none

feat(tool): add macro-usage-report command (#7087)
  tool/cli.ts
  tool/macro-usage-report.ts
Labels: none
