Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore: rename variables
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

Update kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

use for..of only
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

fix(ssr): escape colon in <title> (#7166)
  ssr/render.ts
Labels: none

fix(kumascript): don't always eval summary
  kumascript/macros/GlossaryDisambiguation.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/SubpagesWithSummaries.ejs
  kumascript/src/info.ts
Labels: macros

fix(content/document): pass string array as the `roots` parameter of read
  content/document.ts
Labels: none

fix: pass roots as rest parameters
  content/document.ts
Labels: none

fix: pass `MEMOIZE_INVALIDATE` as Symbol only
  content/document.ts
  kumascript/index.ts
Labels: macros

refactor(build/spas): use fdir (#7153)
  build/spas.ts
Labels: none

build(deps): remove klaw-sync (#7163)
  package.json
  tool/cli.ts
  yarn.lock
Labels: dependencies

First commit. Added click analytics for collection. Added page to every page in app
  client/src/app.tsx
  client/src/banners/active-banner.tsx
  client/src/document/index.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/settings/index.tsx
  client/src/settings/offline-settings.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/user-context.tsx
Labels: plus

Clean up
  client/src/banners/active-banner.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/settings/offline-settings.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
Labels: plus

pass source directly down to analytics
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/telemetry/constants.ts
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

remove unused
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: none

lints
  client/src/settings/offline-settings.tsx
  client/src/telemetry/glean-context.tsx
Labels: none

build(deps): remove node-gettext (#7177)
  package.json
  yarn.lock
Labels: dependencies

Add Japanese translation
  kumascript/macros/FirefoxSidebar.ejs
Labels: macros

Fix pr comment hooks deps
  client/src/telemetry/glean-context.tsx
Labels: none

fix(kumascript): don't always eval summary (#7195)
  kumascript/macros/GlossaryDisambiguation.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/SubpagesWithSummaries.ejs
  kumascript/src/info.ts
Labels: macros

fix(pr-companion): fold sections with count
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

do not fold < 6 preview URLs
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

apply review suggestions
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

chore(macros/WASMSidebar): remove use of jsxref (#7132)
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Labels: macros

fix(pr-companion): fold sections with count (#7110)
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: deployer, python

Extract click to fn. Rename modals. remove mobile article actions
  client/src/banners/active-banner.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/settings/offline-settings.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: plus

added subscription a nd get mdn plus clicks
  client/src/telemetry/constants.ts
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/atoms/subscribe-link/index.tsx
Labels: none

lints
  client/src/telemetry/glean-context.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: none

use a hook instead of a function for clicks
  client/src/banners/active-banner.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/settings/offline-settings.tsx
  client/src/telemetry/glean-context.tsx
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

Use page types instead of tags in APIRef
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
Labels: macros

Update apiref test data
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

Remove HPKP from HTTP Sidebar
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

Implement secure context banners in Yari
  build/index.ts
  build/inject-banners.ts
Labels: none

fix(stylelint): block-no-empty
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Labels: none

fix(stylelint): function-url-quotes
  .stylelintrc.json
  client/src/ui/molecules/document-survey/index.scss
Labels: none

fix(stylelint): color-named
  .stylelintrc.json
  client/src/banners/banner.scss
  client/src/document/index.scss
  client/src/document/toolbar/flaws.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/translations/differences/index.scss
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/notification/index.scss
  client/src/ui/molecules/card/index.scss
  client/src/writers-homepage/viewed-documents.scss
Labels: plus

fix(stylelint): custom-property-no-missing-var-function
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
Labels: none

chore: remove Storybook dependabot ignore
  .github/dependabot.yml
Labels: none

chore: add Dependabot for remaining yarn.lock
  .github/dependabot.yml
Labels: none

Add two BCD-powered banners
  build/inject-banners.ts
Labels: none

Ignore BCD arrays and generally weird BCD queries
  build/inject-banners.ts
Labels: none
