Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

ci(xyz-build): generate whatsdeployed
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(cloud-function): add .env-dist
  cloud-function/.env-dist
  cloud-function/.gitignore
Labels: none

chore(cloud-function): default to stage API for convenience
  cloud-function/README.md
  cloud-function/src/env.ts
Labels: none

docs(cloud-function): add quickstart to README
  cloud-function/README.md
Labels: none

ci: remove xyz-build
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! chore(cloud-function): add .env-dist
  cloud-function/.env-dist
Labels: none

fixup! ci: remove xyz-build
  libs/constants/index.js
Labels: none

refactor(cloud-function): cleanup imports
  cloud-function/src/env.ts
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/handlers/proxy-telemetry.ts
  cloud-function/src/headers.ts
  cloud-function/src/middlewares/lowercase-pathname.ts
  cloud-function/src/middlewares/redirect-fundamental.ts
  cloud-function/src/middlewares/redirect-leading-slash.ts
  cloud-function/src/middlewares/redirect-locale.ts
  cloud-function/src/middlewares/redirect-moved-pages.ts
  cloud-function/src/middlewares/redirect-trailing-slash.ts
  cloud-function/src/middlewares/require-origin.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/utils.ts
Labels: none

workaround(content-proxy): 404 on slugs with dot
  cloud-function/src/handlers/proxy-content.ts
Labels: none

chore(cloud-function): remove unused function
  cloud-function/src/headers.ts
Labels: none

workaround(content-proxy): fix workaround
  cloud-function/src/handlers/proxy-content.ts
Labels: none

fix(cloud-function): use path as slug, not full url with query
  cloud-function/src/middlewares/resolve-index-html.ts
Labels: none

fix(cloud-function): reuse resolveIndexHtml for live samples
  cloud-function/src/app.ts
Labels: none

fixup! fix(cloud-function): reuse resolveIndexHtml for live samples
  cloud-function/src/app.ts
Labels: none

refactor(cloud-function): use array for api paths
  cloud-function/src/app.ts
Labels: none

fix(cloud-function): use res.{send => sendStatus}
  cloud-function/src/middlewares/not-found.ts
Labels: none

chore(cloud-function): serve /assets as is
  cloud-function/src/app.ts
Labels: none

chore(cloud-function): serve root assets as is
  cloud-function/src/app.ts
Labels: none

fix(cloud-function): add index.html to everything except assets
  cloud-function/src/middlewares/resolve-index-html.ts
Labels: none

fix(cloud-function): parse/format url in resolveIndexHTML
  cloud-function/src/middlewares/resolve-index-html.ts
Labels: none

fix(cloud-function): touch req.url only if url has pathname
  cloud-function/src/middlewares/lowercase-pathname.ts
Labels: none

chore(cloud-function): remove compression
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
Labels: none

refactor(cloud-function): use res.{status => sendStatus}
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/middlewares/not-found.ts
  cloud-function/src/middlewares/require-origin.ts
Labels: none

fix(cloud-function): do not apply 404 fallback to live-samples
  cloud-function/src/handlers/proxy-content.ts
Labels: none

refactor(cloud-function): extract isLiveSampleURL()
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/headers.ts
  cloud-function/src/utils.ts
Labels: none

KS Macros: Remove fx differentiators from sidebar as a companion of mdn/content#26242 (#8649)
  kumascript/macros/AddonSidebar.ejs
Labels: macros

chore(deployer): remove aws-lambda
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  deployer/README.md
  deployer/aws-lambda/README.md
  deployer/aws-lambda/content-origin-request/.gitignore
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/redirects.json
  deployer/aws-lambda/content-origin-request/yarn.lock
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/content-origin-response/yarn.lock
  deployer/aws-lambda/kevel/.gitignore
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-stage-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-prod-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-stage-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/mdn-stripe-price-ids/yarn.lock
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
  deployer/src/deployer/constants.py
  deployer/src/deployer/main.py
  deployer/src/deployer/update_lambda_functions.py
Labels: dependencies, deployer, github-actions, python

chore(deployer): remove unused DEPLOYER_DISTRIBUTION_ID
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/src/deployer/constants.py
Labels: deployer, github-actions, python

fixup! chore(deployer): remove unused DEPLOYER_DISTRIBUTION_ID
  deployer/src/deployer/main.py
Labels: deployer, python

chore(deployer): remove aws-lambda (#8673)
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  deployer/README.md
  deployer/aws-lambda/README.md
  deployer/aws-lambda/content-origin-request/.gitignore
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/redirects.json
  deployer/aws-lambda/content-origin-request/yarn.lock
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/content-origin-response/yarn.lock
  deployer/aws-lambda/kevel/.gitignore
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-stage-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-prod-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-stage-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/mdn-stripe-price-ids/yarn.lock
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
  deployer/src/deployer/constants.py
  deployer/src/deployer/main.py
  deployer/src/deployer/update_lambda_functions.py
Labels: dependencies, deployer, github-actions, python

enhance(placement): add 2nd placement
  client/src/app.scss
  client/src/app.tsx
  client/src/document/index.scss
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/get.js
Labels: none

fix(package.json): add override for stylelint-a11y
  package.json
Labels: none

chore: add discoverability survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
