Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

lint
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: none

lint
  client/src/placement-context.tsx
Labels: none

fix(macros/AddonSidebar): dissolve summary-only <details> element
  kumascript/macros/AddonSidebar.ejs
Labels: macros

fix: make icons in good/bad examples float
  client/src/document/index.scss
Labels: none

fix(client): place hash before headings
  client/src/document/index.scss
Labels: none

ci(xyz-build): use function name from vars context
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(gcp/function): remove manual deployment
  gcp/function/package.json
Labels: none

ci(xyz-build): deploy into unique subfolder
  .github/workflows/xyz-build.yml
Labels: github-actions

test(kumascript/AddonSidebar): update expectations
  kumascript/tests/macros/addonsidebar.test.ts
Labels: macros

fix(macros/AddonSidebar): dissolve summary-only <details> element (#8530)
  kumascript/macros/AddonSidebar.ejs
  kumascript/tests/macros/addonsidebar.test.ts
Labels: macros

fixup! ci(xyz-build): deploy into unique subfolder
  .github/workflows/xyz-build.yml
Labels: github-actions

Apply suggestion from code review
  client/src/document/index.scss
Labels: none

Apply suggestion from code review
  client/src/document/index.scss
Labels: none

fixup! fixup! ci(xyz-build): deploy into unique subfolder
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(gcp): cleanup
  gcp.sh
  libs/constants/index.js
Labels: none

ci(xyz-build): build all locales
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): use more vars
  .github/workflows/xyz-build.yml
Labels: github-actions

feat: Deploy cloud function in multiple regions
  .github/workflows/stage-build.yml
Labels: github-actions

Avoid hardcoding Intl
  kumascript/macros/JSRef.ejs
Labels: macros

ci(xyz-build): use large runner
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): build all locales in parallel
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): allow concurrency
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): omit tail header
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): loop over locales + pids
  .github/workflows/xyz-build.yml
Labels: github-actions

Add `overflow: hidden` to `.bc-table`
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: none

Make `.bc-table thead` sticky
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
Labels: none

feat(server): return whoami fallback if rumba is not running (#8476)
  server/index.ts
Labels: none

ci(stage-build): use upload-artifact
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): rsync with -c
  .github/workflows/stage-build.yml
Labels: github-actions

Remove unnecessary whitespace
  client/src/document/index.scss
Labels: none

Remove unnecessary whitespace
  client/src/document/index.scss
Labels: none

Replace `inline-flex` with `inline-block`
  client/src/document/index.scss
Labels: none

fix(docs): make icons in good/bad examples float (#8531)
  client/src/document/index.scss
Labels: none

ci(xyz-build): switch back to rsync with -c
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): copy static first
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): fix function deployment
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): rsync with -c (#8548)
  .github/workflows/stage-build.yml
Labels: github-actions

ci(xyz-build): use runner with 4 cores
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(stage-build): rsync with -j html,json,txt
  .github/workflows/stage-build.yml
Labels: github-actions

ci(stage-build): rsync with -j html,json,txt (#8549)
  .github/workflows/stage-build.yml
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
