Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(build): add types
  build/bcd-urls.ts
  build/cli.ts
  build/document-extractor.ts
  build/index.ts
  build/resolve-bcd.ts
  libs/types/document.ts
Labels: none

fix(build): import build-options instead of require
  build/cli.ts
Labels: none

fix(build): make GenericFlaw.explanation optional
  build/bcd-urls.ts
  libs/types/document.ts
Labels: none

refactor(build/index): convert require to import
  build/document-extractor.ts
  build/index.ts
Labels: none

fix(build): allow {id,title} to be null
  build/document-extractor.ts
  libs/types/document.ts
Labels: none

refactor(build/utils): convert require to import
  build/utils.ts
Labels: none

refactor(build/spas): convert require to import
  build/document-extractor.ts
  build/spas.ts
Labels: none

fix(build): remove superfluous require
  build/spas.ts
Labels: none

fix(build): add missing path.join() call
  build/sync-translated-content.ts
Labels: none

refactor(build): convert require to import
  build/bcd-urls.ts
  build/build-options.ts
  build/check-images.ts
  build/cli.ts
  build/document-utils.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/heading-links.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/git-history.ts
  build/page-title.ts
  build/search-index.ts
  build/syntax-highlight.ts
Labels: flaw-system

refactor(build/sync-translated-content): convert require to import
  build/spas.ts
  build/sync-translated-content.ts
Labels: none

fix(build): add missing DocumentOptions
  build/index.ts
Labels: none

fix(build): stop re-exporting buildOptions
  build/index.ts
  server/flaws.ts
Labels: none

refactor(build/flaws/index): convert require to import
  build/flaws/index.ts
Labels: flaw-system

refactor(build/flaws/broken-links): convert require to import
  build/flaws/broken-links.ts
Labels: flaw-system

Apply suggestion
  libs/constants/index.js
Labels: none

fix(tests): stabilize flaky tests (#6991)
  testing/tests/developing.spec.ts
  testing/tests/headless.sitesearch.spec.ts
Labels: none

MP-69 MP-70 add loading and error states to collections
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/modal/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

chore(build): import LANGUAGES_RAW, remove TODO
  build/index.ts
Labels: none

chore(build): remove unused imports
  build/index.ts
Labels: none

chore(build): merge ExtendedDoc into Doc
  build/index.ts
  libs/types/document.ts
Labels: none

chore(build): remove non-trivial TODO
  build/index.ts
Labels: none

chore(build): remove outdated comment
  build/spas.ts
Labels: none

fix: remove unnecessary LanguageItem interface
  build/index.ts
  client/src/page-not-found/fallback-link.tsx
  client/src/site-search/form.tsx
  client/src/site-search/search-results.tsx
  libs/types/document.ts
Labels: none

fixup! chore(build): merge ExtendedDoc into Doc
  client/src/document/toolbar/flaws.tsx
Labels: none

refactor(types): make Flaws partial itself
  build/cli.ts
  libs/types/document.ts
Labels: none

refactor(build): convert to typescript (#6683)
  .gitignore
  build/bcd-urls.ts
  build/build-options.ts
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/document-utils.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/git-history.ts
  build/index.ts
  build/matches-in-text.ts
  build/page-title.ts
  build/resolve-bcd.ts
  build/search-index.ts
  build/sitemaps.ts
  build/spas.ts
  build/sync-translated-content.ts
  build/syntax-highlight.ts
  build/tsconfig.json
  build/utils.ts
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/site-search/form.tsx
  client/src/site-search/search-results.tsx
  libs/types/document.ts
  package.json
  server/flaws.ts
  tsconfig.dist.json
Labels: flaw-system

build(deps): drop node 17 (#7005)
  package.json
Labels: none

ci(testing): separate lint from test (#6951)
  .github/workflows/testing.yml
  scripts/lint.sh
  scripts/testing.sh
Labels: github-actions

fix(markdown/m2h): remove unsupported option
  markdown/m2h/index.ts
Labels: markdown

build(dist): transpile markdown
  tsconfig.dist.json
Labels: none

chore(markdown): add types
  markdown/m2h/cli.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/index.ts
Labels: markdown

refactor(markdown): convert to typescript
  markdown/index.js
  markdown/index.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/dl.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
  markdown/m2h/index.ts
  markdown/tsconfig.json
  markdown/utils/index.ts
  package.json
Labels: markdown

fix(build/spas): wrap m2h() options
  build/spas.ts
Labels: none

chore(gitignore): ignore markdown/*.js
  .gitignore
Labels: none

Squashed commit of the following:
  .gitignore
  build/spas.ts
  markdown/index.js
  markdown/index.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/dl.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
  markdown/m2h/index.ts
  markdown/tsconfig.json
  markdown/utils/index.ts
  package.json
  tsconfig.dist.json
Labels: markdown

refactor(content): convert to typescript
  content/document-paths.ts
  content/document.test.ts
  content/document.ts
  content/githistories.ts
  content/image.ts
  content/index.js
  content/index.ts
  content/popularities.ts
  content/redirect.test.ts
  content/redirect.ts
  content/translation.ts
  content/translations.ts
  content/tsconfig.json
  content/utils.ts
  content/wikihistories.ts
Labels: none

fix(content): add types
  build/flaws/index.ts
  content/document-paths.ts
  content/document.test.ts
  content/document.ts
  content/githistories.ts
  content/image.ts
  content/index.ts
  content/popularities.ts
  content/redirect.test.ts
  content/redirect.ts
  content/translation.ts
  content/translations.ts
  content/utils.ts
  content/wikihistories.ts
Labels: flaw-system

build(dist): transpile content
  tsconfig.dist.json
Labels: none

fix(server): redefine RequestWithDocument
  server/document.ts
Labels: none
