Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

Mp 32 preview multiple collections settings (#6909)
  client/src/plus/common/api.tsx
  client/src/plus/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/user-context.tsx
Labels: plus

wip: add bookmark apis
  client/src/plus/collections/v2/api.ts
  client/src/settings/mdn-worker.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

wip: begin adding real apis with swr
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-collection-modal.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  server/index.ts
Labels: plus

wip: reflect latest api updates
  client/src/plus/collections/v2/api.ts
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

wip: don't duplicate item when changing collection
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: none

wip: delete collection, modify new collection modal to edit too
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-collection-modal.tsx
Labels: plus

wip: edit collection
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

wip: clean up api a bit
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/rust-types.ts
  client/tsconfig.json
Labels: plus

wip: tighten up types
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

wip: hide dropdown on default collection
  client/src/plus/collections/v2/index.tsx
Labels: plus

wip: update all ids to strings
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/rust-types.ts
Labels: plus

wip: hide show more button
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
Labels: plus

wip: add edit/delete to item list
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.tsx
Labels: plus

wip: update modal/form classes
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

fix lint
  client/src/plus/collections/v2/collection.tsx
Labels: plus

whoops, remove tsconfig change
  client/tsconfig.json
Labels: none

review updates
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/settings/mdn-worker.tsx
  client/tsconfig.json
Labels: plus

MP-30: connect collections v2 api (#6906)
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  server/index.ts
Labels: plus

chore(reference-menu): add Web Extensions item (#5877)
  client/src/ui/molecules/reference-menu/index.tsx
Labels: none

test: use toHaveLength check (#6898)
  content/document.test.js
  kumascript/tests/environment.test.js
  kumascript/tests/index.test.js
  kumascript/tests/macros/addonsidebar.test.js
  kumascript/tests/render.test.js
  kumascript/tests/templates.test.js
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Labels: macros

chore(examples): add background color to good/bad codeblocks (#6857)
  client/src/document/index.scss
Labels: none

fix: cannot scroll after switching locale
  client/src/ui/organisms/article-actions/index.tsx
Labels: none

fix: cannot scroll after switching locale (#6910)
  client/src/ui/organisms/article-actions/index.tsx
Labels: none

fix(macros/SeeCompatTable): update links for `ja` (#6858)
  kumascript/macros/SeeCompatTable.ejs
Labels: macros

chore(macros/DeprecatedGeneric): update zh translation (#6888)
  kumascript/macros/DeprecatedGeneric.ejs
Labels: macros

Apply suggested translation
  kumascript/macros/AddonSidebar.ejs
Labels: macros

fix(breadcrumbs): remove redundant word from aria-label (#6630)
  client/src/ui/molecules/breadcrumbs/index.tsx
Labels: none

Update build/syntax-highlight.js
  build/syntax-highlight.js
Labels: none

Update build/syntax-highlight.js
  build/syntax-highlight.js
Labels: none

feat(syntax-highlight): add additional languages (#6831)
  build/syntax-highlight.js
Labels: none

fix: 'sans-sans' should be 'sans-serif'
  client/src/app.scss
Labels: none

chore(bcd): hide Internet Explorer (#6602)
  client/src/document/ingredients/browser-compatibility-table/index.tsx
Labels: none

fix(css): 'sans-sans' should be 'sans-serif' (#6665)
  client/src/app.scss
Labels: none

Handle stacked multipliers in theformal syntax
  kumascript/macros/CSSSyntax.ejs
Labels: macros

ci(workflows): check commit signatures
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

ci(workflows): check commit signatures (#6916)
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

fix(macros/CSSSyntax): handle stacked multipliers in formal syntax (#6918)
  kumascript/macros/CSSSyntax.ejs
Labels: macros

h2m: Add l10n-pt-br support for cards
  markdown/localizations/pt-BR.json
Labels: markdown

Deprecate GeckoRelease
  kumascript/macros/geckoRelease.ejs
Labels: macros

typo
  kumascript/macros/geckoRelease.ejs
Labels: macros

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
