Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(client): remove MDN Plus launch banner
  client/src/banners/active-banner.tsx
  client/src/banners/index.tsx
Labels: none

feedback
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  libs/pong/cc2ip.js
  libs/pong/click.js
  libs/pong/coding.js
  libs/pong/get.js
  libs/pong/viewed.js
Labels: deployer

chore(macros): deprecate htmlattrdef + htmlattrxref macros (#8551)
  kumascript/macros/htmlattrdef.ejs
  kumascript/macros/htmlattrxref.ejs
  testing/content/files/en-us/web/bar/index.html
  testing/content/files/en-us/web/fixable_flaws/index.html
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Labels: macros

refactor(macros): merge {{secureContextGeneric}} into {{secureContext_header/inline}} (#8258)
  kumascript/macros/secureContextGeneric.ejs
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/secureContext_inline.ejs
Labels: macros

feat(macros): create a PWA sidebar (#8238)
  kumascript/macros/PWASidebar.ejs
Labels: macros

refactor(top-nav): simplify the top-navigation
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/maintenance/index.tsx
  client/src/ui/molecules/search/index.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/ui/organisms/top-navigation/index.scss
  client/src/ui/organisms/top-navigation/index.tsx
Labels: none

lint
  client/src/ui/organisms/top-navigation/index.tsx
Labels: none

ci(xyz-build): allow manual execution
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(gcp/function): use live-samples.mdn.mozilla.net
  gcp/function/src/env.ts
Labels: none

feat(gcp/function): wrap with @sentry/serverless
  .github/workflows/xyz-build.yml
  gcp/function/package-lock.json
  gcp/function/package.json
  gcp/function/src/index.ts
Labels: github-actions

ci(xyz-build): invalidate CDN once function is deployed
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! ci(xyz-build): invalidate CDN once function is deployed
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! feat(gcp/function): wrap with @sentry/serverless
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! feat(gcp/function): wrap with @sentry/serverless
  .github/workflows/xyz-build.yml
Labels: github-actions

Revert "ci(xyz-build): temporarily remove build/sync"
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): use live-samples subdomain
  .github/workflows/xyz-build.yml
  libs/constants/index.js
Labels: github-actions

fix(gcp/function): add X-Forwarded headers for Telemetry
  gcp/function/src/handlers/telemetry.ts
Labels: none

fix(gcp/function): do not change origin
  .github/workflows/xyz-build.yml
  gcp/function/src/handlers/telemetry.ts
Labels: github-actions

fixup! fix(gcp/function): do not change origin
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): set timeout to 20s
  gcp/function/src/handlers/rumba.ts
  gcp/function/src/handlers/telemetry.ts
Labels: none

chore(gcp/function): remove prepandPath: true (default value)
  gcp/function/src/handlers/content.ts
Labels: none

fixup! chore(gcp/function): set timeout to 20s
  gcp/function/src/handlers/content.ts
Labels: none

fixup! chore(gcp/function): remove prepandPath: true (default value)
  gcp/function/src/handlers/content.ts
Labels: none

chore(gcp/function): stop redirecting leading slash
  gcp/function/src/app.ts
Labels: none

Revert "chore(gcp/function): stop redirecting leading slash"
  gcp/function/src/app.ts
Labels: none

ci(xyz-build: reduce timeout to 30s
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): increase max-instances
  .github/workflows/xyz-build.yml
Labels: github-actions

chore(gcp/function): set keep-alive on Glean proxy
  gcp/function/src/handlers/telemetry.ts
Labels: none

ci(xyz-build): set min-instances = 1
  .github/workflows/xyz-build.yml
Labels: github-actions

fixup! Revert "ci(xyz-build): temporarily remove build/sync"
  .github/workflows/xyz-build.yml
Labels: github-actions

Revert changes to `index-desktop.scss`
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
Labels: none

Make BCD table sticky for `screen-md` and above
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Labels: none

Fix linting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Labels: none

Fix linting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Labels: none

Fix linting
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
Labels: none

Revert changes to `index.scss`
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: none

feedback 2
  libs/pong/get.js
  libs/pong/yarn.lock
Labels: dependencies

chore(live-samples): use live-samples.mdn.mozilla/allizom.net (#8573)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/pwa/src/service-worker.ts
  libs/constants/index.js
Labels: github-actions, plus:offline

ci(stage-build): deploy Cloud Function in multiple regions (#8540)
  .github/workflows/stage-build.yml
Labels: github-actions

ci(xyz-build): disable build
  .github/workflows/xyz-build.yml
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
