Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

Update .github/workflows/prod-build.yml
  .github/workflows/prod-build.yml
Labels: github-actions

chore(surveys): run web compat survey for 2 more days (#8151)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

apply suggestions and also match html elements in markdown content
  build/check-images.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/unsafe-html.ts
  build/matches.ts
  testing/content/files/en-us/web/images/bad_src/index.md
  testing/tests/index.test.ts
Labels: flaw-system

check length before getting item by index
  build/check-images.ts
Labels: none

Remove {{ARIARole}} macro
  kumascript/macros/ARIARole.ejs
Labels: macros

print warning when index out of bound
  build/check-images.ts
Labels: none

nit
  .github/workflows/stage-build.yml
  deployer/src/deployer/constants.py
Labels: deployer, github-actions, python

enhance(deployer): prefix lambda for stage (#8153)
  .github/workflows/stage-build.yml
  deployer/src/deployer/constants.py
  deployer/src/deployer/update_lambda_functions.py
Labels: deployer, github-actions, python

Downgrade prism-svelte
  package.json
  yarn.lock
Labels: dependencies

Update document.ts
  content/document.ts
Labels: none

chore(macros): remove {{ARIARole}} macro (#8152)
  kumascript/macros/ARIARole.ejs
Labels: macros

remove unused import
  build/flaws/broken-links.ts
Labels: flaw-system

fix(server): import webpack dynamically
  server/dev.ts
Labels: none

fix(server): import webpack dynamically (#8163)
  server/dev.ts
Labels: none

fix(deps): migrate read-chunk usage
  content/image.ts
Labels: none

fix(deps): update tempy usage
  filecheck/checker.ts
  testing/tests/destructive.test.ts
Labels: none

fix(macros/ListGroups): find page badges in default locale only
  kumascript/macros/ListGroups.ejs
  kumascript/src/lib/badges.ts
Labels: macros

fix macro test
  kumascript/tests/macros/ListGroups.test.ts
Labels: macros

fix(deps): update got usage
  build/spas.ts
  build/utils.ts
  kumascript/src/api/mdn.ts
  testing/tests/developing.spec.ts
  testing/tests/redirects.test.ts
  tool/popularities.ts
Labels: macros

chore(macros): remove unused `{{WebGLSidebar}}` macro
  content/translation.ts
  kumascript/macros/WebGLSidebar.ejs
Labels: macros

fix(deps): update file-type usage
  build/utils.ts
  filecheck/checker.ts
Labels: none

fix(deps): update unist-util-visit usage
  build/flaws/broken-links.ts
Labels: flaw-system

chore(macros): remove unused `{{WebGLSidebar}}` macro (#8172)
  content/translation.ts
  kumascript/macros/WebGLSidebar.ejs
Labels: macros

fix(deps): update unist-builder usage
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
Labels: markdown

fixup! fix(deps): migrate read-chunk usage
  content/image.ts
Labels: none

fixup! fix(deps): migrate read-chunk usage
  content/image.ts
Labels: none

apply suggestions: add renamed field
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: none

build(deps): remove rehype-remark
  package.json
  yarn.lock
Labels: dependencies

Update tool/sync-translated-content.ts
  tool/sync-translated-content.ts
Labels: none

chore(deps): remove rehype-remark (#8173)
  package.json
  yarn.lock
Labels: dependencies

chore(deps): remove rehype-minify-whitespace
  package.json
  yarn.lock
Labels: dependencies

fix(macros/ListGroups): get metadata for badges from default locale (#8162)
  kumascript/macros/ListGroups.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/ListGroups.test.ts
Labels: macros

fix(npm-published-simulation): stale dependencies when installing tar
  .github/workflows/npm-published-simulation.yml
Labels: github-actions

fix(npm-published-simulation): stale dependencies when installing tar (#8175)
  .github/workflows/npm-published-simulation.yml
Labels: github-actions

Update link text
  kumascript/macros/LearnSidebar.ejs
Labels: macros

chore(macros/LearnSidebar): add Web Performance pages (#8007)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

Fix Common questions section
  kumascript/macros/LearnSidebar.ejs
Labels: macros

apply suggestion and move all regular files
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: none

fix(libs/env): get correct `ROOT` by relative path
  libs/env/index.js
Labels: none

add explaination about the usage
  libs/env/index.js
Labels: none
