Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

check if we're on the server
  client/src/hooks.ts
Labels: none

fix pinging on every pageload, and while a user was logged out
  client/src/hooks.ts
Labels: none

copy and show banner only if not subscribed
  client/src/banners/index.tsx
  client/src/settings/newsletter.tsx
  client/src/user-context.tsx
Labels: none

updates mdnsidebar
  kumascript/macros/MDNSidebar.ejs
Labels: macros

Update Kumascript readme to reduce line length
  docs/kumascript/README.md
Labels: none

Update Kumascript readme to only instruct deletion of wiki.languages() macro
  docs/kumascript/README.md
Labels: none

Remove entire section as irrelevant
  docs/kumascript/README.md
Labels: none

Remove "Broken wiki.languages() macros" section from Kumascript readme (#7947)
  docs/kumascript/README.md
Labels: none

feature toggle
  .github/workflows/stage-build.yml
  client/src/banners/index.tsx
  client/src/env.ts
  client/src/settings/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
Labels: github-actions

move the dot up!
  client/src/ui/molecules/user-menu/index.scss
Labels: none

MP-233: send daily ping about offline feature status (#7940)
  client/src/app.tsx
  client/src/hooks.ts
  client/src/user-context.tsx
Labels: none

MP-223 Add filtering on collections. (#7931)
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Labels: plus

fix(plus): change newsletter copy and unbreak it
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
Labels: none

more copy changes
  client/src/banners/active-banner.tsx
  client/src/settings/newsletter.tsx
Labels: none

fix(plus): change newsletter copy and unbreak it (#7958)
  client/src/banners/active-banner.tsx
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
Labels: none

fixes review comments
  client/src/document/on-github.tsx
Labels: none

chore(client): turn on typescript strict null checking
  client/src/hooks.ts
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/tsconfig.json
Labels: plus

fix(plus): update newsletter copy
  client/src/settings/newsletter.tsx
Labels: none

Update client/src/settings/newsletter.tsx
  client/src/settings/newsletter.tsx
Labels: none

improve
  client/src/settings/newsletter.tsx
Labels: none

again
  client/src/settings/newsletter.tsx
Labels: none

chore(client): turn on typescript strict null checking (#7961)
  client/src/hooks.ts
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/tsconfig.json
Labels: plus

fix(plus): update newsletter copy (#7962)
  client/src/settings/newsletter.tsx
Labels: none

Fix: add space between url and text "!"
  package.json
Labels: none

fix(mathml): add missing comma in the @font-face declaration of the STIXTwoMath-Regular font.
  client/src/document/mathml-polyfill/mathml-font.scss
Labels: none

fix(mathml): add missing comma in the @font-face declaration of the S… (#7968)
  client/src/document/mathml-polyfill/mathml-font.scss
Labels: none

fix(ssr): use language tags instead of locale
  ssr/render.ts
  testing/tests/index.test.ts
Labels: none

Add ko translation to macro
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CanvasSidebar.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/ServiceWorkerSidebar.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssvisual.ejs
Labels: macros

Add Ko translation for macro/kumascript
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CanvasSidebar.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/ServiceWorkerSidebar.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssvisual.ejs
Labels: macros

fix lint
  client/src/document/lazy-bcd-table.tsx
Labels: none

chore(build): migrate from bcd.json to bcd-utils-api
  build/bcd-urls.ts
  build/cli.ts
  build/extract-bcd.ts
  build/extract-sections.ts
  build/index.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/lazy-bcd-table.tsx
  libs/types/document.ts
Labels: none

remove bcd.json from dev server
  server/index.ts
Labels: none

remove bad_bcd_links flaw checking
  client/src/document/toolbar/flaws.tsx
  client/src/flaw-utils.js
  libs/constants/index.js
  libs/types/document.ts
  testing/tests/index.test.ts
Labels: none

add offline support
  build/cli.ts
  client/pwa/src/fetcher.ts
Labels: plus:offline

fix tsc errors
  client/src/document/lazy-bcd-table.tsx
Labels: none

fixes review comment
  client/src/document/on-github.tsx
Labels: none

Deprecate SectionOnPage
  kumascript/macros/SectionOnPage.ejs
Labels: macros

fix: allow whitespace above content folder
  content/document.ts
Labels: none

enhance(plus): enable newsletter on prod
  .github/workflows/prod-build.yml
Labels: github-actions

fix(on-github): improve copy language (#7809)
  client/src/document/on-github.tsx
  client/src/document/organisms/metadata/index.tsx
Labels: none
