Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

chore(macros): remove unused Link macro (#7237)
  kumascript/macros/Link.ejs
Labels: macros

build: add Dependabot for remaining yarn.lock (#7235)
  .github/dependabot.yml
Labels: none

fix(stylelint): color-named (#7231)
  .stylelintrc.json
  client/src/banners/banner.scss
  client/src/document/index.scss
  client/src/document/toolbar/flaws.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/translations/differences/index.scss
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/notification/index.scss
  client/src/ui/molecules/card/index.scss
  client/src/writers-homepage/viewed-documents.scss
Labels: plus

fix(stylelint): block-no-empty (#7229)
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Labels: none

build: run yarn upgrade again
  yarn.lock
Labels: dependencies

build: run yarn upgrade (#7228)
  package.json
  yarn.lock
Labels: dependencies

fix(stylelint): function-url-quotes (#7230)
  .stylelintrc.json
  client/src/ui/molecules/document-survey/index.scss
Labels: none

fix(stylelint): custom-property-no-missing-var-function (#7232)
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
Labels: none

refactor(client/utils): make docCategory more generic
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Labels: plus

refactor(client/utils): unwrap docCategory parameter
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Labels: plus

refactor(client/utils): rename docCategory => getCategoryByPathname()
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Labels: plus

refacto(client/utils): avoid multiple toLowerCase()
  client/src/utils.ts
Labels: none

chore(macros/APIRef): separate static and instance members (#7335)
  kumascript/macros/APIRef.ejs
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

fix: stylelint length-zero-no-unit
  .stylelintrc.json
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/_vars.scss
  client/src/ui/atoms/modal/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/top-navigation/index.scss
Labels: plus

chore: remove old Stylelint ignore
  .stylelintignore
Labels: none

fix: stylelint rule-empty-line-before
  .stylelintrc.json
  client/src/app.scss
  client/src/community/index.scss
  client/src/contributor-spotlight/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/interactive-examples.scss
  client/src/document/toolbar/flaws.scss
  client/src/flaws/index.scss
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/settings/index.scss
  client/src/sitemap/index.scss
  client/src/translations/differences/index.scss
  client/src/translations/index.scss
  client/src/ui/atoms/signout/index.scss
  client/src/ui/atoms/spinner/index.scss
  client/src/ui/atoms/switch/index.scss
  client/src/ui/base/_mdn.scss
  client/src/ui/molecules/get_involved/index.scss
  client/src/ui/molecules/maintenance/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/offline-status-bar/index.scss
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/reference-menu/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/writers-homepage/viewed-documents.scss
Labels: plus

fix: stylelint declaration-block-no-duplicate-properties
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Labels: none

fix: stylelint function-no-unknown
  .stylelintrc.json
  client/src/minimal-prism.scss
Labels: none

fix: ESLint enable reportUnusedDisableDirectives
  .eslintrc.js
  deployer/aws-lambda/tests/server.test.js
Labels: deployer

fix: replace eslint-plugin-node with n
  .eslintrc.js
  build/cli.ts
  build/spas.ts
  content/utils.ts
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  package.json
  sd-config.js
  server/dev.ts
  yarn.lock
Labels: dependencies, deployer

Client-side_tooling_overview translate by japanese
  kumascript/macros/LearnSidebar.ejs
Labels: macros

fix(client/fallback-link): suggest search terms, provide repo links
  client/src/page-not-found/fallback-link.tsx
Labels: none

ci: use built-in setup-node caching
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
Labels: github-actions

chore(macros/LearnSidebar): add Japanese translation for Building Angular (#7176)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

ci: use built-in setup-node caching (#7234)
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
Labels: github-actions

fix(client/document): wrap LoadingError in container, reuse PageNotFound for 404
  client/src/document/index.tsx
  client/src/page-not-found/fallback-link.tsx
Labels: none

chore(notecards): remove margin-bottom from last element
  client/src/ui/molecules/notecards/index.scss
Labels: none

build(fonts): switch to inter-ui
  client/src/assets/fonts/Inter.var.woff2
  client/src/assets/fonts/Montserrat-SemiBold.woff
  client/src/assets/fonts/Montserrat-SemiBold.woff2
  client/src/assets/fonts/Montserrat-VF.woff2
  client/src/assets/fonts/inter-v3-latin-600.woff
  client/src/assets/fonts/inter-v3-latin-600.woff2
  client/src/assets/fonts/inter-v3-latin-regular.woff
  client/src/assets/fonts/inter-v3-latin-regular.woff2
  client/src/ui/base/_typography.scss
  package.json
  yarn.lock
Labels: dependencies

apply suggestions from code review
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

refactor: remove `code` wrapper variables
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

Apply suggestions from code review
  build/spas.ts
Labels: none

feat(spas): add translated-content to Recent contributions on homepage (#7250)
  build/spas.ts
  client/src/homepage/recent-contributions/index.tsx
Labels: none

fix(build): sync broken-links flaw with web.smartLink()
  build/flaws/broken-links.ts
Labels: flaw-system

feat(macros/ListSubpagesForSidebar): sort subpages by title (#7186)
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/src/info.ts
Labels: macros

test(m2h): expect newline after frontmatter
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Labels: none

fix(content/document): preserve metadata spacing on write (#7279)
  content/document.ts
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Labels: none

style(stylelint): fix length-zero-no-unit (#7395)
  .stylelintrc.json
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/_vars.scss
  client/src/ui/atoms/modal/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/top-navigation/index.scss
Labels: plus

chore(stylelint): remove old ignore (#7396)
  .stylelintignore
Labels: none

style(stylelint): fix rule-empty-line-before (#7397)
  .stylelintrc.json
  client/src/app.scss
  client/src/community/index.scss
  client/src/contributor-spotlight/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/interactive-examples.scss
  client/src/document/toolbar/flaws.scss
  client/src/flaws/index.scss
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/settings/index.scss
  client/src/sitemap/index.scss
  client/src/translations/differences/index.scss
  client/src/translations/index.scss
  client/src/ui/atoms/signout/index.scss
  client/src/ui/atoms/spinner/index.scss
  client/src/ui/atoms/switch/index.scss
  client/src/ui/base/_mdn.scss
  client/src/ui/molecules/get_involved/index.scss
  client/src/ui/molecules/maintenance/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/offline-status-bar/index.scss
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/reference-menu/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/writers-homepage/viewed-documents.scss
Labels: plus

style(stylelint): fix declaration-block-no-duplicate-properties (#7398)
  .stylelintrc.json
  client/src/homepage/homepage-hero/index.scss
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
