Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

chore: remove deprecated Note macros
  kumascript/macros/Note.ejs
  kumascript/macros/NoteEnd.ejs
  kumascript/macros/NoteStart.ejs
Labels: macros

chore(deps): remove @types/react resolution (#7738)
  package.json
  yarn.lock
Labels: dependencies

Apply suggestions
  filecheck/checker.ts
  libs/env/index.js
Labels: none

chore(macros): delete {Note,NoteStart,NoteEnd} macros (#7590)
  kumascript/macros/Note.ejs
  kumascript/macros/NoteEnd.ejs
  kumascript/macros/NoteStart.ejs
Labels: macros

refactor(macro-usage-report): move into tool
  tool/cli.ts
  tool/macro-usage-report.ts
Labels: none

fix(macro-usage-report): add command interface
  tool/cli.ts
Labels: none

feat(macro-usage-report): add JSON format
  tool/cli.ts
  tool/macro-usage-report.ts
Labels: none

chore(macro-usage-report): only search deprecated macros if requested
  tool/macro-usage-report.ts
Labels: none

feat(macro-usage-report): add --unused-only option
  tool/cli.ts
  tool/macro-usage-report.ts
Labels: none

Update client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
Labels: none

Update client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: none

fix(filecheck): allow compress if file is larger than MAX_FILE_SIZE (#7734)
  filecheck/checker.ts
  libs/env/index.js
  package.json
  yarn.lock
Labels: dependencies

fix(filecheck): use current working directory (#7732)
  filecheck/cli.ts
Labels: none

fix(toc): make div, wrap in aside nav
  client/src/document/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/homepage/static-page/index.tsx
Labels: none

chore(sidebar): make sidebar-inner the nav
  client/src/document/organisms/sidebar/index.tsx
Labels: none

fix(nav): use <aside> and un-nested <nav>s for better semantics (#7400)
  client/src/document/index.tsx
  client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/homepage/static-page/index.tsx
Labels: none

Update index.tsx
  client/src/document/organisms/sidebar/index.tsx
Labels: none

Update client/src/document/organisms/sidebar/index.tsx
  client/src/document/organisms/sidebar/index.tsx
Labels: none

chore(macros): delete {{CompatUnknown}} macro
  kumascript/macros/CompatUnknown.ejs
Labels: macros

chore(macros): delete {{CompatUnknown}} macro (#7750)
  kumascript/macros/CompatUnknown.ejs
Labels: macros

fix(filecheck): collect/join all errors
  filecheck/checker.ts
Labels: none

fix(filecheck): don't fail without files
  filecheck/cli.ts
Labels: none

feat(filecheck): distinguish FixableErrors
  filecheck/checker.ts
Labels: none

fix(filecheck): don't log error stacktrace
  filecheck/cli.ts
Labels: none

refactor(filecheck): rename allFilePaths => files
  filecheck/cli.ts
Labels: none

fix(filecheck): don't log compression errors twice
  filecheck/checker.ts
Labels: none

feat(filecheck): run on content roots by default
  filecheck/cli.ts
Labels: none

fix(filecheck): don't assume index.html
  filecheck/checker.ts
Labels: none

feat(filecheck): support running on directories
  filecheck/checker.ts
  filecheck/cli.ts
Labels: none

chore(deps): add async 3.2.4 + @types/async 3.2.16
  package.json
  yarn.lock
Labels: dependencies

chore(deps-dev) add @types/cli-progress
  package.json
  yarn.lock
Labels: dependencies

feat(filecheck): add progress bar
  filecheck/checker.ts
Labels: none

fix(filecheck): run in parallel with limit
  filecheck/checker.ts
Labels: none

fix(filecheck): move filesize check after compression
  filecheck/checker.ts
Labels: none

chore(filecheck): always print relative paths
  filecheck/checker.ts
Labels: none

fix(build): add missing cliProgress param
  build/cli.ts
Labels: none

fix(filecheck): add missing quote
  filecheck/checker.ts
Labels: none

fix(filecheck): fix lowercase check, make non-fixable
  filecheck/checker.ts
Labels: none

chore(deps-dev): add @types/fs-extra 9.0.13
  package.json
  yarn.lock
Labels: dependencies

refactor(filecheck): use async file i/o
  filecheck/checker.ts
Labels: none
