Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix: use lowercase to match slug and minor fixes
  kumascript/macros/HTMLRef.ejs
Labels: macros

chore: remove duplicate words
  build/bcd-urls.ts
  build/document-extractor.ts
  client/src/banners/README.md
  client/src/utils.ts
  deployer/aws-lambda/content-origin-response/index.js
  docs/envvars.md
  docs/npm-packaging.md
  kumascript/src/templates.ts
  testing/translated-content/files/fr/web/embeddable/index.html
Labels: macros, deployer

Use scrollTo
  client/src/document/organisms/sidebar/index.tsx
Labels: none

Remove scroll margin for sidebar element
  client/src/document/organisms/sidebar/index.scss
Labels: none

Remove sidebar-content class and styling
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
Labels: none

chore: enable ESLinting on Typescript
  .eslintrc.js
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/flaws/broken-links.ts
  build/spas.ts
  content/document.ts
  content/redirect.ts
  filecheck/cli.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/index.ts
  server/react-app.d.ts
  server/static.ts
Labels: flaw-system, markdown

chore: remove duplicate words (#7453)
  build/bcd-urls.ts
  build/document-extractor.ts
  client/src/banners/README.md
  client/src/utils.ts
  deployer/aws-lambda/content-origin-response/index.js
  docs/envvars.md
  docs/npm-packaging.md
  kumascript/src/templates.ts
  testing/translated-content/files/fr/web/embeddable/index.html
Labels: macros, deployer

chore: match ESLint ES version tsconfig.json
  .eslintrc.js
Labels: none

update survery range date
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

feat(surveys): add Interop 2023 survey (#7440)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

Add Japanese translation to HTMLSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

fix(bcd): Allow check for __compat on null
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

enchance(build): write metadata.json with hashes
  build/cli.ts
Labels: none

Add Japanese translation to HTMLSidebar.ejs (#7468)
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

fix(plus): remove always-displayed scrollbars on article action dropdowns
  client/src/ui/organisms/article-actions/index.scss
Labels: none

chore(macros): delete {{warning}} macro
  kumascript/macros/warning.ejs
Labels: macros

fix(check_redirects): make the checks fail fast
  tool/cli.ts
Labels: none

Directly throw with the message without logging
  tool/cli.ts
Labels: none

Fix BCD rendering when added is "true" and removed is truthy
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: none

fix(plus): remove always-displayed scrollbars on article action dropdowns (#7481)
  client/src/ui/organisms/article-actions/index.scss
Labels: none

MP-128: validate collections forms when submitting with return key (#7377)
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: plus

add browserCompat to doc metadata
  build/index.ts
  libs/types/document.ts
Labels: none

MP-138: update collections card styling
  client/src/plus/collections/index.scss
  client/src/ui/base/_themes.scss
Labels: plus

MP-138: update collection create/edit modal
  client/src/plus/collections/index.scss
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/form/limited-input.tsx
  client/src/ui/atoms/modal/index.scss
  client/src/ui/base/_themes.scss
  client/src/utils.ts
Labels: plus

allow users to enter text beyond limit
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/form/limited-input.tsx
  client/src/ui/base/_themes.scss
Labels: none

proper padding when modal overflows on mobile
  client/src/ui/atoms/modal/index.scss
Labels: none

removed trimStart, put cursor back where it was when exceeding char limit
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/atoms/form/limited-input.tsx
Labels: plus

MP-138 Collection card and modal updates (#7367)
  client/src/plus/collections/index.scss
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/form/limited-input.tsx
  client/src/ui/atoms/modal/index.scss
  client/src/ui/base/_themes.scss
  client/src/utils.ts
Labels: plus

MP-141 update bookmark menu to reflect new designs
  client/src/plus/collections/collection.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

metadata for all articles and dev server
  build/cli.ts
  server/index.ts
Labels: none

make browserCompat always an array and types
  build/cli.ts
  build/index.ts
  libs/types/document.ts
Labels: none

chore: Stylelint scss/selector-no-redundant-nesting-selector
  .stylelintrc.json
  client/src/plus/collections/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/ui/molecules/notecards/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

chore: Stylelint shorthand-property-no-redundant-values
  .stylelintrc.json
  client/src/about/index.scss
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/organisms/footer/index.scss
Labels: plus

Prevent a Nu HTML checker warning
  client/src/ui/atoms/page-content/index.tsx
Labels: none

Update render.ts
  ssr/render.ts
Labels: none

Update render.ts
  ssr/render.ts
Labels: none

Move Yari Page from Content
  docs/what-yari-does.md
Labels: none

Move Yari Page from Content (#7491)
  docs/what-yari-does.md
Labels: none

refactor(client/utils): improve docCategory() (#7152)
  client/src/app.tsx
  client/src/plus/common/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/utils.ts
Labels: plus

fix(kumascript): improve MacroInvocationError display (#7126)
  build/index.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  kumascript/src/errors.ts
Labels: macros
