Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(macros/htmlattrdef): use inline-block for self-link (#7129)
  client/src/app.scss
  kumascript/macros/htmlattrdef.ejs
Labels: macros

chore(broken-links): remove outdated comment
  build/flaws/broken-links.ts
Labels: flaw-system

fix(build): sync broken-links flaw with web.smartLink() (#7431)
  build/flaws/broken-links.ts
Labels: flaw-system

style(stylelint): fix scss/selector-no-redundant-nesting-selector (#7489)
  .stylelintrc.json
  client/src/plus/collections/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/ui/molecules/notecards/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

style(stylelint): fix shorthand-property-no-redundant-values (#7490)
  .stylelintrc.json
  client/src/about/index.scss
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/organisms/footer/index.scss
Labels: plus

make expanding textarea 2 rows by default
  client/src/ui/atoms/form/expanding-textarea.tsx
Labels: none

MP-141 update bookmark menu to reflect new designs (#7488)
  client/src/plus/collections/collection.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

MP-142 update collection view to match new designs
  client/src/app.scss
  client/src/document/organisms/metadata/index.tsx
  client/src/plus/collections/collection.scss
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/utils.ts
Labels: plus

fix(html): quote attributes, avoid role="main" on main element (#7493)
  client/src/ui/atoms/page-content/index.tsx
  ssr/render.ts
Labels: none

chore(macros): delete {{warning}} macro (#7482)
  kumascript/macros/warning.ejs
Labels: macros

feat: add Theme type
  client/src/types/hydration.ts
  client/src/types/notecards.ts
  client/src/types/notifications.ts
  client/src/types/theme.ts
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Labels: none

refactor(libs): rename get-locale => locale-utils
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/yarn.lock
  deployer/aws-lambda/tests/yarn.lock
  libs/locale-utils/index.d.ts
  libs/locale-utils/index.js
  libs/locale-utils/package.json
  server/middlewares.ts
Labels: dependencies, deployer

chore(libs): extract isValidLocale() to locale-utils
  build/flaws/broken-links.ts
  build/spas.ts
  client/src/hooks.ts
  content/document.ts
  kumascript/src/info.ts
  libs/locale-utils/index.d.ts
  libs/locale-utils/index.js
  server/search-index.ts
  server/translations.ts
  tool/cli.ts
Labels: macros, flaw-system

feedback
  build/cli.ts
  build/index.ts
  libs/types/document.ts
Labels: none

chore(macros): delete {{CompatChrome}} macro
  kumascript/macros/CompatChrome.ejs
Labels: macros

chore(macros): delete {{CompatChrome}} macro (#7499)
  kumascript/macros/CompatChrome.ejs
Labels: macros

chore(client): add Theme type, use *.ts for types (#7492)
  client/src/types/hydration.ts
  client/src/types/notecards.ts
  client/src/types/notifications.ts
  client/src/types/theme.ts
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Labels: none

fix(bcd): render removed feature as "No" (#7486)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: none

fix(bcd): allow check for __compat on null (#7469)
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: none

fix(sidebar): open all parent details of current page (#7451)
  build/document-extractor.ts
Labels: none

fix(check_redirects): make the checks fail fast (#7226)
  tool/cli.ts
Labels: none

chore(macros): delete {{HTMLRef}} macro
  kumascript/macros/HTMLElement.ejs
  kumascript/macros/HTMLRef.ejs
  testing/content/files/en-us/web/foo/index.html
  testing/content/files/en-us/web/interactiveexample/index.html
Labels: macros

chore(macros): delete {{HTMLRef}} macro (#7500)
  kumascript/macros/HTMLElement.ejs
  kumascript/macros/HTMLRef.ejs
  testing/content/files/en-us/web/foo/index.html
  testing/content/files/en-us/web/interactiveexample/index.html
Labels: macros

feat(macros/CSSSyntax): support at-rules and at-rule descriptors (#7322)
  kumascript/macros/CSSSyntax.ejs
Labels: macros

feedback
  build/cli.ts
Labels: none

enhance(glean): add user agent and geo to pings
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Labels: none

chore(server): remove unknown webpackDevMiddleware option
  server/dev.ts
Labels: none

refactor: convert all require() to import
  filecheck/checker.ts
  filecheck/cli.ts
  kumascript/src/templates.ts
  kumascript/tests/templates.test.ts
  markdown/m2h/handlers/index.ts
  server/dev.ts
  ssr/index.ts
  ssr/render.ts
  testing/tests/developing.spec.ts
  testing/tests/headless.auth.spec.ts
  testing/tests/headless.index.spec.ts
  testing/tests/headless.plus.bookmarks.spec.ts
  testing/tests/headless.search.spec.ts
  testing/tests/headless.sitesearch.spec.ts
  testing/tests/redirects.test.ts
  tool/build-robots-txt.ts
  tool/cli.ts
  tool/optimize-client-build.ts
  tool/popularities.ts
Labels: macros, markdown

refactor: replace remaining require()
  build/cli.ts
  content/utils.ts
  filecheck/cli.ts
  tool/cli.ts
Labels: none

fix(caporal): migrate legacy validators
  filecheck/cli.ts
Labels: none

refactor: import got as is
  build/spas.ts
Labels: none

refactor: replace JSON require() with fs
  kumascript/tests/macros/svginfo.test.ts
Labels: macros

fix(tool/cli): don't rewrap cheerio object
  tool/cli.ts
Labels: none

refactor(cheerio): import * as cheerio
  filecheck/checker.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  tool/cli.ts
Labels: macros

fix: import @fast-csv/parse as csv
  tool/popularities.ts
Labels: none

chore(cli): type args + options
  build/cli.ts
  filecheck/cli.ts
  tool/cli.ts
Labels: none

fix(tool/cli): remove unsupported findAll() option
  tool/cli.ts
Labels: none

fix(typescript): resolve compiler warnings by adding types
  build/index.ts
  content/document.ts
  filecheck/checker.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  tool/build-robots-txt.ts
  tool/cli.ts
  tool/popularities.ts
Labels: macros

feedback 2
  server/index.ts
Labels: none

Always use latest series version of spec when using series nightly URL
  build/document-extractor.ts
Labels: none
