Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(sidebar): align below header
  client/src/document/organisms/sidebar/index.scss
Labels: none

chore(deps): delete `fast-xml-parser`
  package.json
  yarn.lock
Labels: dependencies

Apply suggestions from code review
  kumascript/macros/CSSSyntax.ejs
Labels: macros

ast: change from let to const
  kumascript/macros/CSSSyntax.ejs
Labels: macros

chore(macro): update l10n-zh translation
  kumascript/macros/DeprecatedGeneric.ejs
Labels: macros

Suppress formal syntax expansion for <color> and <gradient> (#6871)
  kumascript/macros/CSSSyntax.ejs
Labels: macros

Update legend.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
Labels: none

build(deps): remove `fast-xml-parser` (#6887)
  package.json
  yarn.lock
Labels: dependencies

fix(content): add "page-type" to optional front matter keys (#6873)
  content/document.js
Labels: none

ci: build sitemap in dev build (#6875)
  .github/workflows/dev-build.yml
Labels: github-actions

chore(markdown): add Polish localizations (#6874)
  markdown/localizations/pl.json
Labels: markdown

Update build/syntax-highlight.js
  build/syntax-highlight.js
Labels: none

chore(macros/HTTPSidebar): add zh-CN localization (#6840)
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

chore(client): remove useCSRFMiddlewareToken hook
  client/src/hooks.ts
  client/src/ui/atoms/signout/index.tsx
  client/src/ui/molecules/notifications-watch-menu/index.tsx
Labels: none

chore(client): remove useCSRFMiddlewareToken hook (#6895)
  client/src/hooks.ts
  client/src/ui/atoms/signout/index.tsx
  client/src/ui/molecules/notifications-watch-menu/index.tsx
Labels: none

fix(macros): move sidebar badges inside emphasis (#6789)
  kumascript/macros/APIRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

Fix SVG
  client/src/assets/icons/oculus.svg
  client/src/assets/icons/xr.svg
Labels: none

Fix XR icon
  client/src/assets/icons/xr.svg
Labels: none

chore: update links and use optional chaining
  client/src/document/molecules/localized-content-note/index.tsx
Labels: none

test: use toHaveLength check
  content/document.test.js
  kumascript/tests/environment.test.js
  kumascript/tests/index.test.js
  kumascript/tests/macros/addonsidebar.test.js
  kumascript/tests/render.test.js
  kumascript/tests/templates.test.js
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Labels: macros

Polyfill
  build/document-extractor.js
  client/src/document/index.tsx
  client/src/document/ingredients/polyfills-subsection.tsx
  kumascript/macros/Compat.ejs
Labels: macros

chore(client): update Contributing links, use optional chaining (#6897)
  client/src/document/molecules/localized-content-note/index.tsx
Labels: none

Remove unused import
  client/src/document/ingredients/polyfills-subsection.tsx
Labels: none

pr feedback
  client/src/ui/atoms/form/index.scss
  client/src/ui/organisms/article-actions/index.scss
Labels: none

round buttons
  client/src/ui/organisms/article-actions/index.scss
Labels: none

Refactor article actions menus (#6904)
  client/src/app.scss
  client/src/banners/banner.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/edit-collection.tsx
  client/src/plus/icon-card/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/ui-context.tsx
  client/src/ui/atoms/checkbox/index.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/molecules/manage-upgrade-dialog/index.scss
  client/src/ui/molecules/notifications-watch-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.scss
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/ui/organisms/article-actions/manage-upgrade-dialog/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.scss
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-start.tsx
Labels: plus

fix(article-actions): fix mobile button style
  client/src/ui/organisms/article-actions/index.scss
Labels: none

chore(reference-menu): add Web Extensions item
  client/src/ui/molecules/reference-menu/index.tsx
Labels: none

fix(article-actions): fix mobile button style (#6905)
  client/src/ui/organisms/article-actions/index.scss
Labels: none

MP-15 initial frontend logic for multiple collections (#6825)
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-collection-modal.tsx
  client/src/plus/index.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/molecules/dropdown/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

Update kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/DeprecatedGeneric.ejs
Labels: macros

Update DeprecatedGeneric.ejs
  kumascript/macros/DeprecatedGeneric.ejs
Labels: macros

Add default value for polyfills
  kumascript/macros/Compat.ejs
Labels: macros

Typo
  kumascript/macros/Compat.ejs
Labels: macros

Do nothing if no polyfill listed
  client/src/document/ingredients/polyfills-subsection.tsx
Labels: none

Return an empty element
  client/src/document/ingredients/polyfills-subsection.tsx
Labels: none

wip
  client/src/plus/common/api.tsx
  client/src/settings/feature-preview.tsx
  client/src/user-context.tsx
Labels: plus

add feedback link and connect toggle
  client/src/plus/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

Add clarification to BCD tables that there is more data upon click (#6777)
  client/src/assets/icons/more.svg
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/ui/atoms/icon/index.scss
Labels: none

Run Prettier
  client/src/ui/atoms/icon/index.scss
Labels: none
