Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

feat(user-context): show maintenance message if whoami failed (#8640)
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/ui/atoms/avatar/index.tsx
  client/src/user-context.tsx
  client/src/utils.ts
  server/index.ts
Labels: plus

fix(plans): call res.end() for fix timeout
  gcp/function/src/handlers/plans.ts
Labels: none

ci(stage-build): remove on.push
  .github/workflows/stage-build.yml
Labels: github-actions

ci(xyz-build): build on push to main only
  .github/workflows/xyz-build.yml
Labels: github-actions

refactor(gcp/function): rename {redirects => build-redirects}
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  gcp/function/package.json
  gcp/function/src/build-redirects.ts
Labels: github-actions

refactor(gcp/function): move {gcp/function => cloud-function}
  .eslintignore
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  .prettierignore
  cloud-function/.gcloudignore
  cloud-function/.gitignore
  cloud-function/Procfile
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/build-redirects.ts
  cloud-function/src/constants.ts
  cloud-function/src/env.ts
  cloud-function/src/handlers/content.ts
  cloud-function/src/handlers/kevel.ts
  cloud-function/src/handlers/plans.ts
  cloud-function/src/handlers/rumba.ts
  cloud-function/src/handlers/telemetry.ts
  cloud-function/src/headers.ts
  cloud-function/src/index.ts
  cloud-function/src/middlewares/notFound.ts
  cloud-function/src/middlewares/pathnameLC.ts
  cloud-function/src/middlewares/redirectFundamental.ts
  cloud-function/src/middlewares/redirectLeadingSlash.ts
  cloud-function/src/middlewares/redirectLocale.ts
  cloud-function/src/middlewares/redirectMovedPages.ts
  cloud-function/src/middlewares/redirectTrailingSlash.ts
  cloud-function/src/middlewares/requireOrigin.ts
  cloud-function/src/middlewares/resolveIndexHTML.ts
  cloud-function/src/plans/index.ts
  cloud-function/src/plans/prod.ts
  cloud-function/src/plans/stage.ts
  cloud-function/src/proxy.ts
  cloud-function/src/utils.ts
  cloud-function/tsconfig.json
Labels: github-actions

fixup! refactor(gcp/function): move {gcp/function => cloud-function}
  cloud-function/README.md
Labels: none

fixup! refactor(gcp/function): move {gcp/function => cloud-function}
  .eslintignore
Labels: none

chore(libs/pong): add TypeScript declarations
  libs/pong/cc2ip.d.ts
  libs/pong/click.d.ts
  libs/pong/coding.d.ts
  libs/pong/fallback.d.ts
  libs/pong/get.d.ts
  libs/pong/image.d.ts
  libs/pong/index.d.ts
  libs/pong/viewed.d.ts
Labels: none

chore(libs/pong): improve TypeScript definitions
  libs/pong/cc2ip.d.ts
  libs/pong/click.d.ts
  libs/pong/fallback.d.ts
  libs/pong/get.d.ts
  libs/pong/image.d.ts
  libs/pong/viewed.d.ts
Labels: none

Update libs/pong/coding.d.ts
  libs/pong/coding.d.ts
Labels: none

chore(libs/pong): add TypeScript definitions (#8660)
  libs/pong/cc2ip.d.ts
  libs/pong/click.d.ts
  libs/pong/coding.d.ts
  libs/pong/fallback.d.ts
  libs/pong/get.d.ts
  libs/pong/image.d.ts
  libs/pong/index.d.ts
  libs/pong/viewed.d.ts
Labels: none

fixup! refactor(gcp/function): move {gcp/function => cloud-function}
  cloud-function/package.json
Labels: none

fixup! refactor(gcp/function): move {gcp/function => cloud-function}
  cloud-function/package.json
Labels: none

chore(cloud-function): reuse 404 buffer
  cloud-function/src/handlers/content.ts
Labels: none

chore(cloud-function): remove unused file
  cloud-function/src/constants.ts
Labels: none

chore(cloud-function): remove DEBUG_TELEMETRY
  cloud-function/src/env.ts
  cloud-function/src/handlers/telemetry.ts
Labels: none

Revert "chore(cloud-function): remove unused file"
  cloud-function/src/constants.ts
Labels: none

chore(cloud-function): remove unused constnat
  cloud-function/src/constants.ts
Labels: none

feat(cloud-function): default to serving client/build
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/env.ts
  cloud-function/src/proxy.ts
Labels: none

docs(cloud-function): update README
  cloud-function/README.md
Labels: none

refactor(cloud-function): rename {plans => stripePlans}
  cloud-function/src/app.ts
  cloud-function/src/handlers/stripe-plans.ts
Labels: none

refactor(cloud-function): rename middlewares {fooBar => foo-bar}
  cloud-function/src/app.ts
  cloud-function/src/middlewares/lowercase-pathname.ts
  cloud-function/src/middlewares/not-found.ts
  cloud-function/src/middlewares/redirect-fundamental.ts
  cloud-function/src/middlewares/redirect-leading-slash.ts
  cloud-function/src/middlewares/redirect-locale.ts
  cloud-function/src/middlewares/redirect-moved-pages.ts
  cloud-function/src/middlewares/redirect-trailing-slash.ts
  cloud-function/src/middlewares/require-origin.ts
  cloud-function/src/middlewares/resolve-index-html.ts
Labels: none

refactor(cloud-function): rename handlers
  cloud-function/src/app.ts
  cloud-function/src/env.ts
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-api.ts
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/handlers/proxy-telemetry.ts
Labels: none

refactor(cloud-function): return proxyContent handler from module
  cloud-function/src/app.ts
  cloud-function/src/handlers/proxy-content.ts
Labels: none

fixup! refactor(cloud-function): rename {plans => stripePlans}
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/stripe-plans/index.ts
  cloud-function/src/stripe-plans/prod.ts
  cloud-function/src/stripe-plans/stage.ts
Labels: none

fixup! refactor(gcp/function): move {gcp/function => cloud-function}
  cloud-function/src/build-redirects.ts
Labels: none

refactor(cloud-function): extract PROXY_TIMEOUT
  cloud-function/src/constants.ts
  cloud-function/src/handlers/proxy-api.ts
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/handlers/proxy-telemetry.ts
Labels: none

ci(xyz-build): add workflow_dispatch input
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): build on push to gcp
  .github/workflows/xyz-build.yml
Labels: github-actions

docs(cloud-function): format README
  cloud-function/README.md
Labels: none

style(prettier): ignore compiled JS in cloud-function
  .prettierignore
Labels: none

style(eslint): ignore compiled JS in cloud-function
  .eslintignore
Labels: none

style: add trailing line
  cloud-function/Procfile
Labels: none

refactor(cloud-function): rename LOCAL_{BUILD => CONTENT}
  cloud-function/src/env.ts
  cloud-function/src/proxy.ts
Labels: none

refactor(cloud-function): remove SOURCE_LIVE_SAMPLES
  cloud-function/src/env.ts
  cloud-function/src/proxy.ts
Labels: none

refactor(cloud-function): rename SOURCE_{RUMBA => API}
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  cloud-function/README.md
  cloud-function/src/env.ts
Labels: github-actions

ci(xyz-build): inline ORIGIN_{MAIN,LIVE_SAMPLES}
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): make GCP_LOAD_BALANCER_NAME a secret
  .github/workflows/xyz-build.yml
Labels: github-actions

ci(xyz-build): shorten name
  .github/workflows/xyz-build.yml
Labels: github-actions

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
