Repository mdn/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

refactor: extract *ArgsAndOptions interfaces
  build/cli.ts
  filecheck/cli.ts
  tool/cli.ts
Labels: none

refactor: replace require() with import (#7430)
  build/cli.ts
  build/index.ts
  build/spas.ts
  content/document.ts
  content/utils.ts
  filecheck/checker.ts
  filecheck/cli.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  kumascript/src/templates.ts
  kumascript/tests/macros/svginfo.test.ts
  kumascript/tests/templates.test.ts
  markdown/m2h/handlers/index.ts
  server/dev.ts
  ssr/index.ts
  ssr/render.ts
  testing/tests/developing.spec.ts
  testing/tests/headless.auth.spec.ts
  testing/tests/headless.index.spec.ts
  testing/tests/headless.plus.bookmarks.spec.ts
  testing/tests/headless.search.spec.ts
  testing/tests/headless.sitesearch.spec.ts
  testing/tests/redirects.test.ts
  tool/build-robots-txt.ts
  tool/cli.ts
  tool/optimize-client-build.ts
  tool/popularities.ts
Labels: macros, markdown

Apply suggestions from code review
  client/src/document/organisms/sidebar/index.tsx
Labels: none

Replace outdated footer links with GitHub links
  client/src/ui/organisms/footer/index.tsx
Labels: none

fix glean double send
  client/src/telemetry/glean-context.tsx
Labels: none

style: run prettier-format
  client/src/document/organisms/sidebar/index.tsx
Labels: none

style(eslint): fix some issues in TypeScript
  build/index.ts
  kumascript/tests/environment.test.ts
  kumascript/tests/macros/httpheader.test.ts
Labels: macros

style(eslint): remove unused imports
  build/document-extractor.ts
  tool/cli.ts
Labels: none

style(eslint): extract GetFlawsFunction type
  build/flaws/index.ts
Labels: flaw-system

style(eslint): type tryOrExit param
  markdown/m2h/cli.ts
  tool/cli.ts
Labels: markdown

style(eslint): remove unused eslint-disable comments
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
Labels: deployer

style(eslint): use Record<string, never> for empty object
  build/cli.ts
Labels: none

style(eslint): remove unused variable
  build/cli.ts
Labels: none

style(eslint): improve memoize() type
  content/utils.ts
Labels: none

style(eslint): avoid calling hasOwnProperty() directly
  tool/cli.ts
Labels: none

Always use latest series version of spec when using series nightly URL (#7535)
  build/document-extractor.ts
Labels: none

fixup! style(eslint): fix some issues in TypeScript
  kumascript/tests/environment.test.ts
Labels: macros

fixup! style(eslint): improve memoize() type
  content/document.ts
  content/image.ts
Labels: none

fixup! style(eslint): fix some issues in TypeScript
  kumascript/tests/environment.test.ts
Labels: macros

enchance(build): write metadata.json with hashes and browser compat (#7487)
  build/cli.ts
  build/index.ts
  libs/types/document.ts
  server/index.ts
Labels: none

MP-142 update collection view to match new designs
  client/src/app.scss
  client/src/document/organisms/metadata/index.tsx
  client/src/plus/collections/collection.scss
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/utils.ts
Labels: plus

prevent margin collapse without messing with overflow scrollbars
  client/src/app.scss
Labels: none

MP-143 update collections view
  client/src/app.scss
  client/src/plus/collections/collection.scss
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/ui/base/_themes.scss
Labels: plus

Add a sparkle texture when a feature recently launched in a browser
  client/src/assets/sparkle-texture.svg
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: none

refactor(tool/cli): extend ActionParameters
  kumascript/index.ts
  tool/cli.ts
Labels: macros

fix: open bookmark menu with item in currently viewed collection
  client/src/plus/collections/collection.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: plus

Ensure that texture only applies to yes/partial support blocks (no experimental)
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: none

style lint
  client/src/plus/collections/index.scss
Labels: plus

ci(workflows/testing): install lambda dependencies
  .github/workflows/testing.yml
Labels: github-actions

Use isNaN vs. x === NaN
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: none

fixup! refactor(tool/cli): extend ActionParameters
  tool/cli.ts
Labels: none

style(eslint): enable no-{missing-require,unpublished-import}
  .eslintrc.js
Labels: none

fixup! style(eslint): enable no-{missing-require,unpublished-import}
  .eslintrc.js
Labels: none

style(eslint): disable no-unpublished-import again
  .eslintrc.js
Labels: none

tweaks
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/common/api.tsx
  libs/types/document.ts
Labels: plus

style(eslint): bump ecmaVersion from 2019 to 2020 (#7455)
  .eslintrc.js
Labels: none

chore(macros/LearnSidebar): add Common questions overview item (#7352)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

build(ts): set module = esnext
  tsconfig.json
Labels: none

enhance(glean): add user agent and geo to pings (#7457)
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Labels: none

fix: require optional dependencies conditionally
  content/utils.ts
  server/dev.ts
Labels: none

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "**/poetry.lock"
  - "**/yarn.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"
