Repository mdn/yari, pull requests merged in 2020-12, with the labels that each got.

#1895 fix: archived content banner
  client/src/document/index.scss
  client/src/ui/organisms/header/index.scss
Labels: design system

#1897 fix: Vertically align the > with the anchors
  client/src/ui/molecules/breadcrumbs/index.scss
Labels: design system

#1905 fix: readonly badge background color
  client/src/document/index.scss
Labels: design system

#1896 fix: links in bcd tables
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-table.scss
Labels: design system

#1909 fix: active state of breadcrumb items to remove background color from >
  client/src/ui/molecules/breadcrumbs/index.scss
Labels: design system

#1904 fix: overflow items in search results dropdown
  client/src/ui/molecules/search/index.scss
Labels: design system

#1837 Fix multiple CSS issues in footer
  client/src/ui/organisms/footer/index.scss
Labels: design system

#1987 loading screen update
  client/src/assets/dino.svg
  client/src/document/index.scss
  client/src/document/index.tsx
Labels: design system

#2000 fix: change reference-page to document-page
  client/.storybook/preview.scss
  client/src/app.tsx
  client/src/stories/grid/reference-page-grid.stories.mdx
  client/src/stories/organisms/page-header.stories.js
Labels: design system

#1980 fix: bump down font size of related topics links
  client/src/document/organisms/sidebar/index.scss
Labels: design system

#1979 fix: social links in footer lack discernable names
  client/src/ui/organisms/footer/index.tsx
Labels: a11y

#1977 fix: reorder style import
  client/src/app.scss
  client/src/document/index.scss
  client/src/document/prism-overrides.scss
Labels: a11y, design system

#1994 fix: article footer style
  client/src/document/index.tsx
  client/src/document/organisms/metadata/index.scss
  client/src/document/organisms/metadata/index.tsx
  testing/tests/headless.test.js
Labels: design system

#1884 fix: top alignment of article with toc
  client/src/document/index.scss
Labels: design system

#2105 fix: add minimal to learn pagination
  client/src/document/index.scss
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousNext.ejs
Labels: design system

#2104 1982 submit button in header search
  client/src/search.tsx
  client/src/ui/molecules/search/basic-search-widget.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/search/index.tsx
Labels: design system

#2110 fix: update style for inline optional badge
  client/src/document/index.scss
Labels: design system

#2111 fix: consistent border color
  client/src/document/organisms/toc/index.scss
Labels: design system

#2125 fix: update mdn web docs logo
  client/src/assets/logo.svg
  client/src/ui/atoms/logo/index.scss
  client/src/ui/organisms/header/index.scss
Labels: design system
