Repository mdn/yari, pull requests merged in 2021-12, with the labels that each got.

#5030 fix: inline images by default in main content
  client/src/document/index.scss
Labels: bug

#5044 Fix redirext loop
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.js
Labels: bug

#4222 mathml polyfill
  build/index.js
  client/src/document/index.tsx
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.otf
  client/src/document/mathml-polyfill/index.tsx
  client/src/document/mathml-polyfill/mathml.css
  client/src/document/mathml-polyfill/polyfill.tsx
  client/src/document/types.tsx
Labels: enhancement

#5051 chore: remove storybook
  client/.storybook/main.js
  client/.storybook/preview.js
  client/.storybook/preview.scss
  client/src/stories/atoms/logo.stories.js
  client/src/stories/intro.stories.mdx
  package.json
  yarn.lock
Labels: platform

#5121 Update issue templates
  .github/ISSUE_TEMPLATE/issue-and-pr-triage-task-list.md
Labels: maintenance

#4684 feat(client/browser_compat_table): show tooltip on hover
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
Labels: community
