Repository mdn/yari, pull requests merged in 2021-11, with the labels that each got.

#4917 chore: remove babel-loader from dependencies
  package.json
Labels: dependencies

#4930 fix: margin bottom on p tags got lost in translation
  client/src/document/index.scss
Labels: bug, frontend

#4942 Safari iOS is now a WebExtensions browser
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
Labels: community, platform

#4953 Avoid confusing CI reporting
  .github/workflows/testing.yml
Labels: community

#5001 chore: add mark as idle workflow
  .github/workflows/mark-as-idle-issues-pr.yml
Labels: platform

#5002 Workflow to add needs triage label to new issues
  .github/workflows/new-issues.yml
Labels: platform

#4970 Removes z-index declaration to avoid footer covering search results on 404 page
  client/src/ui/organisms/footer/index.scss
Labels: bug, community
