Repository mdn/yari, pull requests merged in 2021-08, with the labels that each got.

#4356 <Loading> in isServer too
  client/src/plus-v1/index.tsx
  client/src/plus/deep-dives/homepage/index.tsx
  client/src/plus/deep-dives/index.tsx
  client/src/plus/deep-dives/overview/index.tsx
  client/src/plus/index.tsx
Labels: plus

#4397 fix: new globe icon alignment
  client/src/ui/molecules/language-toggle/index.scss
Labels: redesign

#4462 fix: updates to deep dive article pages
  client/src/plus/deep-dives/article.tsx
  client/src/plus/deep-dives/byline/index.scss
  client/src/plus/deep-dives/byline/index.tsx
  client/src/plus/deep-dives/index.scss
  client/src/plus/deep-dives/sample-articles.tsx
  client/src/plus/deep-dives/series-card/index.tsx
  client/src/plus/deep-dives/survey/index.tsx
Labels: plus

#4470 fix: updates to deep dive overview page
  client/src/plus/deep-dives/overview/app.tsx
  client/src/plus/deep-dives/overview/assets/deep-dive-hero.svg
  client/src/plus/deep-dives/overview/assets/planning-for-browser-support.svg
  client/src/plus/deep-dives/overview/assets/plus.svg
  client/src/plus/deep-dives/overview/assets/unavailable.svg
  client/src/plus/deep-dives/overview/assets/unavailable0001.svg
  client/src/plus/deep-dives/overview/assets/your-browser-support-toolkit.svg
  client/src/plus/deep-dives/overview/index.scss
  client/src/plus/deep-dives/sample-articles.tsx
Labels: plus

#4472 fix: updates to deep dive article pages
  client/src/plus/deep-dives/article.tsx
  client/src/plus/deep-dives/index.scss
Labels: plus

#3973 (Auto)EmbedLiveSample
  build/index.js
  client/src/document/index.tsx
  kumascript/index.js
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/src/api/util.js
  kumascript/src/environment.js
  kumascript/src/live-sample.js
  kumascript/src/render.js
  testing/tests/index.test.js
Labels: markdown

#4488 fix: updates to deep dive landing page
  client/src/plus/deep-dives/index.scss
  client/src/plus/deep-dives/overview/app.tsx
  client/src/plus/deep-dives/overview/index.scss
  client/src/plus/deep-dives/sample-articles.tsx
Labels: plus

#4500 fix: change see more to read more
  client/src/plus/deep-dives/overview/app.tsx
  client/src/plus/deep-dives/sample-articles.tsx
Labels: plus
