Repository mdn/yari, pull requests merged in 2022-04, with the labels that each got.

#3280 Traits
  .npmignore
  build/index.js
  client/pwa/src/unpack-cache.ts
  client/src/app.tsx
  client/src/setupProxy.js
  client/src/traits/index.scss
  client/src/traits/index.tsx
  client/src/traits/sql-table.scss
  client/src/traits/sql-table.tsx
  client/src/traits/types.tsx
  client/src/writers-homepage/index.tsx
  package.json
  server/index.js
  server/traits.js
  yarn.lock
Labels: platform

#5314 Make spec-name lookup fall back to SpecData if not in browser-specs
  build/document-extractor.js
Labels: community

#5879 Related to #5868 - Adds localization for ELS new heading [es]
  kumascript/macros/EmbedInteractiveExample.ejs
Labels: localization, community

#5880 feat: add translation for new string [pt-BR]
  kumascript/macros/EmbedInteractiveExample.ejs
Labels: community

#5891 Add ru localization for "Try it"
  kumascript/macros/EmbedInteractiveExample.ejs
Labels: localization, community

#5721 fix(bcd): hide the prefix symbol if feature has unprefixed full support as well
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: community, browser-compat

#5852 fix(toc): migrate to IntersectionObserver
  client/src/document/hooks.ts
  client/src/document/organisms/toc/index.tsx
Labels: sidebar/toc

#5910 Add Japanese translation
  kumascript/macros/EmbedInteractiveExample.ejs
Labels: localization, community

#5915 Use simple Firefox icon as mask
  client/src/assets/icons/simple-firefox.svg
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/ui/atoms/icon/index.scss
Labels: bug, community

#5932 Update the link to activating a locale
  client/src/document/molecules/localized-content-note/index.tsx
Labels: bug, community

#5933 Fix dark mode on mobile in BCD
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: bug, community, browser-compat

#5911 Related #5096, Adds [es] for FirefoxSidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
Labels: localization, community

#5644 chore(icons): replace badges.svg with icon classes
  client/src/document/organisms/sidebar/index.scss
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/ExperimentalBadge.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/tests/macros/Deprecated.test.js
  kumascript/tests/macros/ListGroups.test.js
  kumascript/tests/macros/apiref.test.js
Labels: community

#5943 Pass full MDN URL in “Report a problem with this content on GitHub” link
  client/src/document/on-github.tsx
Labels: bug, community

#5888 docs(ru): update russian translation in sidebars
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/ToolsSidebar.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
Labels: localization, community

#5990 fix(api): use trailing slash where expected
  client/src/constants.ts
  client/src/hooks.ts
  server/static.js
  testing/content/files/en-us/web/unsafe_html/index.html
Labels: plus

#5964 Added Japanese translation for ServiceWorkerSidebar
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: localization, 🧑‍🤝‍🧑 community

#5995 Deprecated h3_gecko_minversion
  kumascript/macros/h3_gecko_minversion.ejs
Labels: macros

#6010 fix(bcd): fix some regressions
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: browser-compat

#5980 chore(pwa): manage ContentStatus in IndexedDB, but be backward-compatible (Phase 1 of 3)
  client/pwa/src/db.ts
  client/pwa/src/service-worker.ts
  client/pwa/src/unpack-cache.ts
Labels: chore, offline

#5987 chore(ui): migrate 404 and search to page layout
  client/src/document/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/page-not-found/index.scss
  client/src/page-not-found/index.tsx
  client/src/site-search/form.tsx
  client/src/site-search/index.scss
  client/src/site-search/index.tsx
  client/src/ui/atoms/page-content/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
Labels: redesign, 🔎 search, layout

#5900 correct the `zh-CN` translation
  kumascript/macros/LearnSidebar.ejs
Labels: localization, 🧑‍🤝‍🧑 community

#6017 fix:bcd ~ address a couple of regressions since readability update
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: 🐛 bug, browser-compat

#5908 fix(document): use <section>s with aria-labelledby
  client/src/document/index.tsx
  client/src/document/ingredients/prose.tsx
  testing/content/files/en-us/web/externallinks/index.html
  testing/tests/index.test.js
Labels: ♿ a11y

#6007 fix(ssr): restore watch script
  package.json
Labels: 🚉 platform

#6008 fix(search): add missing key to nothing-found element
  client/src/search.tsx
Labels: 🔎 search

#6011 chore(macros): mark interface.ejs as deprecated
  kumascript/macros/interface.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6019 build(workflows): invalidate CDN after deployment
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github_actions

#6063 fix(document): target section content with className
  client/src/document/index.scss
  client/src/document/ingredients/prose.tsx
Labels: layout

#6067 fix: typo / GitHub case in a11y label
  client/src/ui/organisms/footer/index.tsx
Labels: 🐛 bug, 🧑‍🤝‍🧑 community

#6032 chore(prettier): automatically wrap markdown files
  .prettierrc
  CODE_OF_CONDUCT.md
  README.md
  client/src/banners/README.md
  client/src/ui/README.md
  copy/plus/faq.md
  copy/plus/features/collections.md
  copy/plus/features/notifications.md
  copy/plus/features/offline.md
  deployer/README.md
  deployer/aws-lambda/README.md
  docs/REVIEWING.md
  docs/architecture.md
  docs/conventions.md
  docs/debugging-sitesearch.md
  docs/deployments.md
  docs/envvars.md
  docs/experiments/0001_site-search-x-cache.md
  docs/experiments/0002_language-preferredcookie-before.md
  docs/google-analytics.md
  docs/npm-packaging.md
  docs/npm-releases.md
  docs/popularities.md
  docs/proxying.md
  docs/signingin.md
  docs/spas.md
  docs/typescript.md
  kumascript/README.md
  testing/README.md
  testing/content/files/en-us/markdown/tool/h2m/expected.md
  testing/integration/README.md
  tool/README.md
Labels: enhancement, 🚉 platform

#6068 fix:style ~ remove underscore from h1 elements in reference docs
  client/src/document/index.scss
Labels: chore

#6073 fix(toc): ignore <section>s when observing visible elements
  client/src/document/organisms/toc/index.tsx
Labels: sidebar/toc

#6065 chore(document/toolbar): replace "Quick-Edit" by "Edit on GitHub"
  client/src/app.tsx
  client/src/document/forms/create.scss
  client/src/document/forms/create.tsx
  client/src/document/forms/edit.scss
  client/src/document/forms/edit.tsx
  client/src/document/forms/form.scss
  client/src/document/forms/form.tsx
  client/src/document/forms/manage.scss
  client/src/document/forms/manage.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/document/toolbar/index.tsx
Labels: chore

#6098 chore(css): insert breakpoint between screen-md + screen-lg
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop-xl.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/homepage/latest-news/index.scss
  client/src/homepage/recent-contributions/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/_vars.scss
  client/src/ui/molecules/breadcrumbs/index.scss
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/footer/index.scss
Labels: layout

#6094 fix: make tables scrollable on mobiles
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
Labels: ux, 🧑‍🤝‍🧑 community

#6111 Update faq.md
  copy/plus/faq.md
Labels: chore

#6118 fix:banner - small copy update to launch banner
  client/src/banners/active-banner.tsx
  client/src/banners/banner.scss
Labels: chore

#5907 JSRef macro: Add WebAssembly .Tag and .Exception
  kumascript/macros/JSRef.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6114 fix(hooks): check for IntersectionObserver support
  client/src/document/hooks.ts
Labels: sidebar/toc

#6128 fix(offer-overview): copy border-radius from wrapper to header
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
Labels: 🧑‍🤝‍🧑 community
