Repository mdn/yari, pull requests merged in 2022-10, with the labels that each got.

#7293 enhance(plus): finishing touches for collectionsV2
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

#7206 MP-122: add collections limit for free users in the frontend
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/telemetry/constants.ts
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
Labels: plus

#7205 fix(build): stop caching kumascript render
  build/document-extractor.ts
  build/index.ts
  kumascript/index.ts
  kumascript/src/api/util.ts
  kumascript/tests/index.test.ts
  server/index.ts
Labels: macros

#7300 fix(plus): fix collection hero css
  client/src/plus/collections/index.scss
Labels: plus

#7290 Use page type instead of tags for CSSSyntax macro
  kumascript/macros/CSSSyntax.ejs
Labels: macros

#7308 MP-106 Fix collection card spill
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/utils.ts
Labels: plus

#7211 MP-120: display error message from rumba
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
Labels: plus

#7225 Remove HPKP from HTTP Sidebar
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

#7305 chore(macros): delete unused XUL* macros
  kumascript/macros/XULAttr.ejs
  kumascript/macros/XULElem.ejs
Labels: macros

#7262 Allow alternate nightly spec URLs
  build/document-extractor.ts
Labels: p1

#7336 MDN add browsers short survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

#7360 fix(survey): www.surveygizmo -> survey.alchemer
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/plus/collections/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/molecules/document-survey/index.tsx
  libs/constants/index.js
Labels: plus, github-actions

#7213 chore(macros/FirefoxSidebar): add Japanese translation
  kumascript/macros/FirefoxSidebar.ejs
Labels: macros

#7337 Use page types, not tags, for CSS sidebar
  kumascript/macros/CSSRef.ejs
Labels: macros

#7330 ci(deps): pin snok/install-poetry and setup-python to major version
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#7197 fix(content/document): let `roots` as rest parameters of read
  content/document.ts
  kumascript/index.ts
Labels: 🚉 platform

#7267 fix(plus): add breadcrumbs for Collections/Notifications/Settings
  client/src/homepage/static-page/index.tsx
  client/src/plus/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
Labels: plus

#7304 fix(server/translations): convert path segment separators on Windows
  server/translations.ts
Labels: 🧑‍🤝‍🧑 community

#7268 chore(macros/HTMLRefTable): fix typos
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

#7237 chore(macros): remove unused Link macro
  kumascript/macros/Link.ejs
Labels: macros

#7231 fix(stylelint): color-named
  .stylelintrc.json
  client/src/banners/banner.scss
  client/src/document/index.scss
  client/src/document/toolbar/flaws.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/translations/differences/index.scss
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/notification/index.scss
  client/src/ui/molecules/card/index.scss
  client/src/writers-homepage/viewed-documents.scss
Labels: plus

#7228 build: remove typescript-estree resolution + run yarn upgrade
  package.json
  yarn.lock
Labels: dependencies

#7335 chore(macros/APIRef): separate static and instance members
  kumascript/macros/APIRef.ejs
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

#7176 chore(macros/LearnSidebar): add Japanese translation(Angular Building)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#7234 ci: use built-in setup-node caching
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
Labels: github-actions

#7250 feat(spas): add translated-content to recent contributions tile on homepage
  build/spas.ts
  client/src/homepage/recent-contributions/index.tsx
Labels: needs: decision from product, 🧑‍🤝‍🧑 community

#7186 feat(macros/ListSubpagesForSidebar): sort subpages by title
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/src/info.ts
Labels: macros

#7395 fix: stylelint length-zero-no-unit
  .stylelintrc.json
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/ui/_vars.scss
  client/src/ui/atoms/modal/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/top-navigation/index.scss
Labels: plus

#7397 fix: stylelint rule-empty-line-before
  .stylelintrc.json
  client/src/app.scss
  client/src/community/index.scss
  client/src/contributor-spotlight/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/interactive-examples.scss
  client/src/document/toolbar/flaws.scss
  client/src/flaws/index.scss
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/settings/index.scss
  client/src/sitemap/index.scss
  client/src/translations/differences/index.scss
  client/src/translations/index.scss
  client/src/ui/atoms/signout/index.scss
  client/src/ui/atoms/spinner/index.scss
  client/src/ui/atoms/switch/index.scss
  client/src/ui/base/_mdn.scss
  client/src/ui/molecules/get_involved/index.scss
  client/src/ui/molecules/maintenance/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/offline-status-bar/index.scss
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/reference-menu/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/writers-homepage/viewed-documents.scss
Labels: plus

#7401 fix: replace eslint-plugin-node with n
  .eslintrc.js
  build/cli.ts
  build/spas.ts
  content/utils.ts
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  package.json
  sd-config.js
  server/dev.ts
  yarn.lock
Labels: dependencies, deployer

#7164 chore(macros): deprecate {{source}}
  kumascript/macros/source.ejs
Labels: macros

#7433 fix: stylelint scss/at-extend-no-missing-placeholder
  .stylelintrc.json
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
Labels: plus

#7432 fix: stylelint no-duplicate-selectors
  .stylelintrc.json
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/flaws/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Labels: plus

#7439 chore(macros/CSSRef): add Combinator pages
  kumascript/macros/CSSRef.ejs
Labels: macros

#7402 fix(macros/HTMLSidebar): replace Documentation section by Guides section
  kumascript/macros/HTMLSidebar.ejs
  kumascript/src/api/web.ts
Labels: macros

#7151 refactor(sync-translated-content): move from /build to /tool
  build/spas.ts
  content/document.ts
  libs/types/document.ts
  tool/cli.ts
  tool/sync-translated-content.ts
Labels: chore

#7453 chore: remove duplicate words
  build/bcd-urls.ts
  build/document-extractor.ts
  client/src/banners/README.md
  client/src/utils.ts
  deployer/aws-lambda/content-origin-response/index.js
  docs/envvars.md
  docs/npm-packaging.md
  kumascript/src/templates.ts
  testing/translated-content/files/fr/web/embeddable/index.html
Labels: macros, deployer

#7440 feat(surveys): add Interop 2023 survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/ui/molecules/document-survey/surveys.ts
Labels: chore, github-actions
