Repository mdn/yari, pull requests merged in 2022-02, with the labels that each got.

#5225 Add Markdown Localizations ES
  markdown/localizations/es.json
Labels: community

#5190 Auto-generate IDs for all <dt> elements
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/macros/page.ejs
  kumascript/src/api/util.js
  kumascript/tests/macros/EmbedLiveSample.test.js
  testing/tests/headless.index.spec.js
Labels: enhancement

#5089 Themes menu item link to extension workshop
  kumascript/macros/AddonSidebarMain.ejs
Labels: needs:triage:content-engineering

#5261 Add ability to draw diagram for inheritance chain of any length
  kumascript/macros/InheritanceDiagram.ejs
Labels: enhancement, community

#5284 Add support for 'spec-urls' frontmatter key
  build/document-extractor.js
  kumascript/macros/Specifications.ejs
Labels: enhancement

#5288 fix: #5287 by typechecking before calling string methods
  kumascript/macros/EmbedLiveSample.ejs
Labels: community

#5299 Point create/edit commands to Markdown files
  content/document.js
Labels: community, platform

#5251 docs(es): add Spanish translations into secureContextGeneric
  kumascript/macros/secureContextGeneric.ejs
Labels: community

#5247 docs(es): add Spanish translations into commonl10n file
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Labels: community

#5249 docs(es): add Spanish translations into addon sidebar main
  kumascript/macros/AddonSidebarMain.ejs
Labels: community

#5248 docs(es): add Spanish translation into addon sidebar
  kumascript/macros/AddonSidebar.ejs
  kumascript/tests/macros/addonsidebar.test.js
Labels: community

#5246 docs(es): add Spanish translations into optionalGeneric file
  kumascript/macros/optionalGeneric.ejs
Labels: community

#5328 (fix:testing) bump nodejs to v14
  .github/workflows/performance.yml
Labels: bug
