Repository mdn/yari, pull requests merged in 2022-09, with the labels that each got.

#7039 chore(macros): delete {{Tag}} macro
  kumascript/macros/Tag.ejs
Labels: macros

#6560 fix: interactive iframe post message error
  client/public/index.html
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
  libs/constants/index.js
Labels: p1, interactive-examples

#7048 Replace re-introduction to JS with language overview in JS sidebar
  kumascript/macros/JsSidebar.ejs
Labels: macros

#7036 perf(ts-config): use @swc/core
  package.json
  tsconfig.json
  yarn.lock
Labels: dependencies

#7068 Chore(macros): delete {{Index}} macro
  kumascript/macros/Index.ejs
Labels: macros

#7069 fix(pr-companion): shorten the preview links
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: python, deployer

#6953 chore(macros/LearnSidebar): add MathML tutorial
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#7071 feature(plus) add preview banner
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/plus/collections/v2/index.scss
Labels: plus

#6672 fix(macros/jsxref): reference to same page in some cases
  kumascript/macros/jsxref.ejs
  kumascript/src/api/wiki.js
  kumascript/tests/macros/jsxref.test.js
Labels: macros

#7051 chore(macros/SectionOnPage): add l10n-zh translation
  kumascript/macros/SectionOnPage.ejs
Labels: macros

#7082 chore(macros/JsSidebar): add "Trailing commas" page
  kumascript/macros/JsSidebar.ejs
Labels: macros, sidebar/toc

#7049 fix(macros/CSSSyntax): handle combination of hash mark + curly brackets
  kumascript/macros/CSSSyntax.ejs
Labels: macros

#7086 fix(macros/CSS_Ref): start new set of columns for each character in index
  client/src/document/index.scss
  kumascript/macros/CSS_Ref.ejs
Labels: p3, ux, macros

#7088 chore(macros): delete unused CSSTutorialTOC/CompatAndroid macros
  kumascript/macros/CSSTutorialTOC.ejs
  kumascript/macros/CompatAndroid.ejs
Labels: macros

#6053 chore(macros/CSSRef): extend + update sidebar
  kumascript/macros/CSSRef.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#7089 fix(pr-companion): remove broken 'on GitHub' links
  deployer/src/deployer/analyze_pr.py
Labels: python, deployer

#6915 MP-11 Disable Plus for Offline
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/fetcher.ts
  client/pwa/src/service-worker.ts
  client/src/plus/collections-quicksearch.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/user-context.tsx
Labels: plus, plus:offline

#6813 MP-9 Integrate Glean.js MDN
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .gitignore
  client/package.json
  client/src/document/index.tsx
  client/src/env.ts
  client/src/index.tsx
  client/src/telemetry/generated/.gitkeep
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/telemetry/pings.yaml
  docs/envvars.md
  package.json
  yarn.lock
Labels: dependencies, github-actions

#7080 fix(macros): add Overview items via ListSubpagesForSidebar, enable for JsSidebar
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros, sidebar/toc

#7098 fix(glean): proxy glean
  .github/workflows/prod-build.yml
  client/src/telemetry/glean-context.tsx
Labels: github-actions

#7100 chore(macros): delete {{DOM0}} macro
  kumascript/macros/DOM0.ejs
Labels: macros

#6993 refactor(markdown): convert to typescript
  .gitignore
  build/spas.ts
  markdown/index.js
  markdown/index.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/dl.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
  markdown/m2h/index.ts
  markdown/tsconfig.json
  markdown/utils/index.ts
  package.json
  tsconfig.dist.json
Labels: markdown, typescript

#7085 fix(sidebar): open menu, highlight current page
  build/document-extractor.ts
  build/index.ts
  client/src/document/organisms/sidebar/index.scss
  kumascript/macros/JSRef.ejs
Labels: p2, ux, macros, sidebar/toc

#7105 fix(pr-companion): remove redundant entries
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: python, deployer

#7109 Enable glean for production env
  .github/workflows/prod-build.yml
Labels: github-actions

#7124 MP-116: support adding an item to multiple collections
  client/src/plus/collections/v2/api.ts
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
Labels: plus

#6576 Deprecate Compat/Specifications macro parameters
  kumascript/macros/Compat.ejs
  kumascript/macros/Specifications.ejs
  kumascript/tests/macros/Compat.test.js
  kumascript/tests/macros/Specifications.test.js
  testing/content/files/en-us/web/api/page_visibility_api/index.html
  testing/content/files/en-us/web/badbcdqueries/index.html
  testing/content/files/en-us/web/bcd_table_extraction/index.html
Labels: macros

#7133 MP-2 Collections-v2
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/hooks.ts
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/plus/common/api.tsx
  client/src/plus/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/modal/index.tsx
  client/src/ui/molecules/dropdown/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/user-context.tsx
  client/src/utils.ts
  server/index.ts
Labels: plus

#7081 feat(macros): localize ExperimentalBadge
  kumascript/macros/ExperimentalBadge.ejs
Labels: localization, macros

#7149 fix(livesample): support nolint aliases
  markdown/m2h/handlers/code.ts
Labels: markdown

#7163 build(deps): remove klaw-sync
  package.json
  tool/cli.ts
  yarn.lock
Labels: dependencies

#7177 chore(deps): delete `node-gettext` from dependencies
  package.json
  yarn.lock
Labels: dependencies

#7195 fix(kumascript): don't always eval summary
  kumascript/macros/GlossaryDisambiguation.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/SubpagesWithSummaries.ejs
  kumascript/src/info.ts
Labels: macros

#7132 chore(macros/WASMSidebar): remove use of jsxref
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Labels: macros

#7110 fix(pr-companion): fold sections with count
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: python, deployer, pr-companion

#7202 MP-74 Analytics for collections v2.
  client/src/app.tsx
  client/src/banners/active-banner.tsx
  client/src/document/index.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/settings/index.tsx
  client/src/settings/offline-settings.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/user-context.tsx
Labels: plus

#7238 chore(macros): delete {{previousPage}} macro
  kumascript/macros/previousPage.ejs
Labels: macros
