Repository mdn/yari, pull requests merged in 2022-06, with the labels that each got.

#6442 chore(aws-lambda): log parsed redirect files
  deployer/aws-lambda/content-origin-request/build.js
Labels: deployer

#6443 build(deps-dev): add @types/node 16.11.38
  package.json
  yarn.lock
Labels: dependencies

#6405 test: add scripts to simulate developing/testing workflow
  .eslintignore
  .gitignore
  .prettierignore
  scripts/developing.sh
  scripts/testing.sh
Labels: dx

#6453 fix(breadcrumbs): disable flex-shrink of chevron icon
  client/src/ui/molecules/breadcrumbs/index.scss
Labels: 🧑‍🤝‍🧑 community, breadcrumbs

#6439 fix(community-spotlight): remove locale from prefix, build for all locales
  build/spas.js
Labels: needs-triage

#6429 fix(markdown): support h2m cli for windows
  markdown/cli.ts
Labels: markdown

#6464 chore(macros/Compat): support query array
  kumascript/macros/Compat.ejs
  kumascript/tests/macros/Compat.test.js
Labels: macros

#6371 feat(document): add surveys
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/document/index.tsx
  client/src/env.ts
  client/src/ui/molecules/document-survey/index.scss
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/document-survey/utils.ts
  libs/constants/index.js
Labels: github-actions

#6457 build: transpile /tool in-place before npm publish + declare binaries `yari-{build,filecheck,server,tool}`
  .github/workflows/npm-published-simulation.yml
  .gitignore
  build/cli.js
  package.json
  server/index.js
  tool/cli.ts
  tool/tsconfig.json
  tsconfig.dist.json
Labels: github-actions

#6406 fix(fs): call {read,write}FileSync() with 'utf-8', not 'utf8'
  build/spas.js
  build/sync-translated-content.js
  content/document.js
  deployer/aws-lambda/content-origin-request/build.js
  kumascript/tests/macros/Compat.test.js
  kumascript/tests/macros/DefaultAPISidebar.test.js
  kumascript/tests/macros/HTTPSidebar.test.js
  kumascript/tests/macros/ListGroups.test.js
  kumascript/tests/macros/apiref.test.js
  kumascript/tests/macros/page-api.test.js
  kumascript/tests/render.test.js
  ssr/render.ts
  tool/cli.ts
Labels: macros, deployer

#6387 refactor(filecheck): convert to typescript
  .eslintignore
  .gitignore
  .prettierignore
  filecheck/checker.ts
  filecheck/cli.ts
  filecheck/tsconfig.json
  package.json
  tsconfig.dist.json
  yarn.lock
Labels: dependencies

#6467 Add headings to BCD tables in multi-table output case
  build/document-extractor.js
  kumascript/macros/Compat.ejs
Labels: macros

#6506 fix: remove padding from live sample frame
  client/src/document/index.scss
Labels: 🐛 bug

#6497 fix: update style for short surveys
  client/src/assets/icons/survey.svg
  client/src/ui/molecules/document-survey/index.scss
  client/src/ui/molecules/document-survey/index.tsx
Labels: frontend

#6524 feature(surveys): support multiple surveys
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

#6516 fix(macros): improve the translation of secureContextGeneric for zh-CN
  kumascript/macros/secureContextGeneric.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6532 feature(plus): add more plans
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
Labels: deployer

#6513 fix: fix the translation of `Responsive_design`
  kumascript/macros/LearnSidebar.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6542 fix(dev-server): properly proxy requests with json bodies
  client/src/plus/common/api.tsx
  client/src/plus/notifications/utils.ts
  client/src/ui/molecules/notifications-watch-menu/index.tsx
  server/index.js
Labels: plus

#6549 fix(plus): SSR support for plus docs
  build/spas.js
  client/src/plus/index.tsx
Labels: plus

#6556 Bump BCD to v5.1.1
  client/src/document/ingredients/browser-compatibility-table/browser-info.tsx
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Labels: dependencies

#6487 refactor(testing/tests): convert to typescript
  client/src/document/types.ts
  filecheck/checker.ts
  package.json
  testing/tests/destructive.test.ts
  testing/tests/developing.spec.ts
  testing/tests/filecheck.test.ts
  testing/tests/headless.auth.spec.ts
  testing/tests/headless.index.spec.ts
  testing/tests/headless.plus.bookmarks.spec.ts
  testing/tests/headless.search.spec.ts
  testing/tests/headless.sitesearch.spec.ts
  testing/tests/index.test.ts
  testing/tests/offline-db.test.ts
  testing/tests/redirects.test.ts
  testing/tsconfig.json
Labels: typescript

#6606 CSS formal syntax rendering: clamp space-padding to line length
  kumascript/macros/CSSSyntax.ejs
Labels: macros

#6608 fix(markdown): match folder only for h2m cli
  markdown/cli.ts
Labels: markdown

#6620 chore(api): prepare for rumba
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/common/api.tsx
  client/src/plus/common/plus-tabs.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
Labels: plus
