Repository mdn/yari, pull requests merged in 2022-05, with the labels that each got.

#6132 Make whole div area part of search result link
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Labels: 🧑‍🤝‍🧑 community, needs-triage

#6149 fix(themes): copy missing vars from light to dark
  client/src/ui/base/_themes.scss
Labels: dark-mode

#6148 fix(sidebar): reduce max-height by offset
  client/src/document/organisms/sidebar/index.scss
Labels: 🐛 bug

#6048 build(deps): remove unused cssesc
  package.json
Labels: 🧑‍🤝‍🧑 community, 🚉 platform

#6046 fix(localized-content-note): link to page/section of locale
  client/src/document/molecules/localized-content-note/index.tsx
Labels: 🧑‍🤝‍🧑 community

#6012 chore(macros): remove TODO.ejs
  kumascript/macros/TODO.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#5630 fix(page-not-found): show fallback link for moved pages
  client/src/page-not-found/fallback-link.tsx
Labels: redirects, 🧑‍🤝‍🧑 community

#3883 fix(macros/SeeCompatTable): use localized section anchor in zh-CN
  kumascript/macros/SeeCompatTable.ejs
Labels: 🧑‍🤝‍🧑 community, macros, 🐌 idle

#6150 fix(article-actions-header): change article actions position
  client/src/ui/organisms/article-actions/index.scss
Labels: 🐛 bug, 🧑‍🤝‍🧑 community

#6129 chore(deployer): deploy Lambda updates to CloudFront
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/README.md
  deployer/src/deployer/constants.py
  deployer/src/deployer/main.py
  deployer/src/deployer/update_lambda_functions.py
Labels: github_actions, 🚉 platform, deployer

#5830 fix(bcd): extract browser release date for nested features at any depth
  build/document-extractor.js
Labels: 🧑‍🤝‍🧑 community, browser-compat

#6160 fix(fundamental-redirects): don't treat 'Web' as locale
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.js
Labels: redirects

#6178 fix(deployer): use correct env for distirbution
  deployer/src/deployer/constants.py
Labels: deployer

#6177 refactor(scripts): rename prepare-build to prepare:build
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  docs/npm-packaging.md
  docs/spas.md
  package.json
  testing/README.md
  testing/scripts/functional-test.sh
Labels: 🚉 platform

#6182 fix(eslint): resolve two issues
  client/pwa/src/db.ts
  client/src/homepage/featured-articles/index.scss
  client/src/offline-settings/db.ts
Labels: chore

#6174 build(deps): use caret ranges for all packages except webpack
  package.json
  yarn.lock
Labels: dependencies

#6183 build(node): bump to node 14
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  deployer/aws-lambda/README.md
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/tests/package.json
  package.json
Labels: dependencies, 🚉 platform

#6124 chore(deployer): redirect moved pages via lambda
  deployer/aws-lambda/content-origin-request/.gitignore
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/redirects.json
  deployer/aws-lambda/content-origin-request/yarn.lock
Labels: deployer

#6192 Add ko localization for "Try it"
  kumascript/macros/EmbedInteractiveExample.ejs
Labels: localization, 🧑‍🤝‍🧑 community

#6188 refactor: use `clear` instead of `reset` in the `LRU` package
  build/index.js
Labels: chore

#6190 chore(ui): wrap search page result with `display: block`
  client/src/site-search/index.scss
  client/src/site-search/index.tsx
Labels: 🧑‍🤝‍🧑 community, 🔎 search, layout

#6145 chore(macros/CSSRef): make more localizable, add Russian translations
  kumascript/macros/CSSRef.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6201 fix(spas): correct prefix for feature docs
  build/spas.js
Labels: chore

#6206 Delete {{B2GOnlyHeader2}}
  kumascript/macros/B2GOnlyHeader2.ejs
Labels: macros

#6205 Deprecate {{ifmethod}} and {{ifattribute}}
  kumascript/macros/ifattribute.ejs
  kumascript/macros/ifmethod.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6204 fix(plus/manage-upgrade-dialog): manage via "Watch list"
  client/src/ui/molecules/manage-upgrade-dialog/index.tsx
Labels: plus, notifications

#6202 fix(deployer): wait until lambda is active
  deployer/src/deployer/update_lambda_functions.py
Labels: deployer

#6219 Deprecate the {{Draft}} macro
  kumascript/macros/Draft.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6216 build(dependabot): unignore eslint + webpack
  .github/dependabot.yml
Labels: chore

#6243 build(node): remove unused resolutions
  package.json
  yarn.lock
Labels: dependencies

#6244 test(developing): move env variables from workflow to script
  .github/workflows/developing.yml
  .github/workflows/npm-published-simulation.yml
  package.json
  testing/README.md
Labels: chore

#6213 Localization: Update French strings for sidebars
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CanvasSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/ServiceWorkerSidebar.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebRTCSidebar.ejs
  kumascript/tests/macros/addonsidebar.test.js
  kumascript/tests/macros/mdnsidebar.test.js
Labels: 🧑‍🤝‍🧑 community, macros

#6254 fix(plus-docs): replace <Link> by <a>
  client/src/plus/plus-docs/index.tsx
Labels: plus

#6235 build(deps-dev): bump react from 17.0.2 to 18.1.0
  client/src/app.test.tsx
  client/src/document/lazy-bcd-table.tsx
  client/src/index.tsx
  client/src/search.tsx
  client/src/ui/atoms/switch/index.tsx
  client/src/ui/molecules/dropdown/index.tsx
  package.json
  testing/tests/developing.spec.js
  yarn.lock
Labels: dependencies

#6131 chore(macros/AddonSidebar): add Background scripts page
  kumascript/macros/AddonSidebar.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6269 Deprecate {{Tag}}
  kumascript/macros/Tag.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6280 Delete HTML elements that are not part of the platform (in {{HTMLRef}})
  kumascript/macros/HTMLRef.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6286 syntax-highlight.js - add batch as a supported language
  build/syntax-highlight.js
Labels: 🧑‍🤝‍🧑 community, live-samples

#6265 build(workflows): add "PR Needs Rebase" check
  .github/workflows/pr-rebase-needed.yml
Labels: github_actions, chore

#6296 Remove animateColor from SVGRef
  kumascript/macros/SVGRef.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6297 Revert "Traits (#3280)"
  .npmignore
  build/index.js
  client/src/app.tsx
  client/src/setupProxy.js
  client/src/traits/index.scss
  client/src/traits/index.tsx
  client/src/traits/sql-table.scss
  client/src/traits/sql-table.tsx
  client/src/traits/types.tsx
  client/src/writers-homepage/index.tsx
  package.json
  server/index.js
  server/traits.js
  yarn.lock
Labels: maintenance

#6052 fix(a11y): add support for `forced-colors` to icons
  client/src/app.scss
Labels: ♿ a11y, 🧑‍🤝‍🧑 community, a11y:high-contrast

#6173 feature(build): enable flaws fixing in markdown
  build/build-options.js
  build/constants.js
  build/flaws/index.js
  build/matches-in-text.js
  client/src/document/toolbar/flaws.tsx
  docs/envvars.md
  tool/cli.js
Labels: flaw-system

#6315 fix(bcd): show table with md style at 426px
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
Labels: 🧑‍🤝‍🧑 community, browser-compat

#5679 fix(bcd): Use partial support symbol in the timeline of notes
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: 🧑‍🤝‍🧑 community, browser-compat

#6333 fix(molecules/mandala): remove `<Mandala />` from the accessibility tree
  client/src/ui/molecules/mandala/index.tsx
Labels: ♿ a11y, 🧑‍🤝‍🧑 community

#6349 build(deps): add @babel/preset-env, remove @babel/helper-builder-react-jsx
  package.json
  yarn.lock
Labels: dependencies, 🚉 platform

#6295 fix: delay client markup rendering to after hydration
  client/src/app.tsx
  client/src/document/index.tsx
  client/src/document/lazy-bcd-table.tsx
  client/src/hooks.ts
  client/src/plus/index.tsx
  client/src/site-search/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/writers-homepage/index.tsx
Labels: 🧑‍🤝‍🧑 community

#6335 Deprecate the SpecName and Spec2 macros
  kumascript/macros/SpecName.ejs
  kumascript/macros/spec2.ejs
  kumascript/tests/macros/spec2.test.js
  kumascript/tests/macros/specname.test.js
Labels: 🧑‍🤝‍🧑 community, macros

#6383 build(workflows/labeler): fix pattern, add more labels
  .github/labeler.yml
Labels: github_actions

#6374 chore: update new-issues workflow
  .github/workflows/new-issues.yml
Labels: chore

#6375 chore: update pr-rebase-needed workflow
  .github/workflows/pr-rebase-needed.yml
Labels: chore

#6391 remove `{{EditorGuideQuicklinks}}` macro
  kumascript/macros/EditorGuideQuicklinks.ejs
Labels: macros

#6400 feature(plus): add more plans
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
Labels: deployer

#6359 build(client): eject react-scripts
  client/config/env.js
  client/config/getHttpsConfig.js
  client/config/jest/babelTransform.js
  client/config/jest/cssTransform.js
  client/config/jest/fileTransform.js
  client/config/modules.js
  client/config/paths.js
  client/config/webpack.config.js
  client/config/webpack/persistentCache/createEnvironmentHash.js
  client/config/webpackDevServer.config.js
  client/package.json
  client/scripts/build.js
  client/scripts/start.js
  client/scripts/test.js
  client/src/react-app-env.d.ts
  client/src/react-app.d.ts
  package.json
  yarn.lock
Labels: dependencies

#6377 refactor(ssr): convert to typescript
  ssr/index.ts
  ssr/render.ts
  ssr/webpack.config.js
Labels: 🚉 platform

#5828 fix(macros/LearnSidebar): adapt sidebar navigation
  kumascript/macros/LearnSidebar.ejs
Labels: 🧑‍🤝‍🧑 community

#6389 fix(offer-overview): rename subscribe wrapper to avoid Fanboy's Annoyance filter
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: 🧑‍🤝‍🧑 community, plus

#6411 Revert "feature(plus): add more plans (#6400)"
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
Labels: deployer

#6381 chore(pwa): remove backward-compatible update handling (Phase 3 of 3)
  client/pwa/src/service-worker.ts
  client/src/offline-settings/mdn-worker.tsx
Labels: plus:offline

#6409 fix(hooks): check csr before making document based processes
  client/src/document/hooks.ts
Labels: 🧑‍🤝‍🧑 community
