Repository mdn/yari, pull requests merged in 2022-11, with the labels that each got.

#7468 Add Japanese translations to HTMLSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

#7377 MP-128: validate collections forms when submitting with return key
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: plus

#7367 MP-138 Collection card and modal updates
  client/src/plus/collections/index.scss
  client/src/plus/collections/new-edit-collection-modal.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/form/limited-input.tsx
  client/src/ui/atoms/modal/index.scss
  client/src/ui/base/_themes.scss
  client/src/utils.ts
Labels: plus

#7126 fix(kumascript): improve MacroInvocationError display
  build/index.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  kumascript/src/errors.ts
Labels: macros

#7129 fix(macros/htmlattrdef): use inline-block for self-link
  client/src/app.scss
  kumascript/macros/htmlattrdef.ejs
Labels: macros

#7431 fix(build): sync broken-links flaw with web.smartLink()
  build/flaws/broken-links.ts
Labels: flaw-system

#7489 chore: Stylelint scss/selector-no-redundant-nesting-selector
  .stylelintrc.json
  client/src/plus/collections/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
  client/src/ui/molecules/notecards/index.scss
  client/src/ui/molecules/search/index.scss
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

#7490 chore: Stylelint shorthand-property-no-redundant-values
  .stylelintrc.json
  client/src/about/index.scss
  client/src/document/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/offer-overview/offer-hero/index.scss
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/organisms/footer/index.scss
Labels: plus

#7488 MP-141 update bookmark menu to reflect new designs
  client/src/plus/collections/collection.tsx
  client/src/ui/atoms/form/expanding-textarea.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

#7482 chore(macros): delete {{warning}} macro
  kumascript/macros/warning.ejs
Labels: macros

#7486 Fix BCD rendering when added is "true" and removed is truthy
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: browser-compat

#7469 fix(bcd): Allow check for __compat on objects that don't inherit from Object
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: 🧑‍🤝‍🧑 community, browser-compat

#7226 fix(check_redirects): make the checks fail fast
  tool/cli.ts
Labels: 🧑‍🤝‍🧑 community, 🚉 platform

#7500 chore(macros): delete {{HTMLRef}} macro
  kumascript/macros/HTMLElement.ejs
  kumascript/macros/HTMLRef.ejs
  testing/content/files/en-us/web/foo/index.html
  testing/content/files/en-us/web/interactiveexample/index.html
Labels: macros

#7322 feat(macros/CSSSyntax): support at-rules and at-rule descriptors
  kumascript/macros/CSSSyntax.ejs
Labels: macros

#7538 chore(footer): replace outdated "Report issue" links
  client/src/ui/organisms/footer/index.tsx
Labels: p2, copy

#7454 style(eslint): lint TypeScript + fix issues
  .eslintrc.js
  .github/workflows/testing.yml
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/flaws/broken-links.ts
  build/flaws/index.ts
  build/index.ts
  build/spas.ts
  content/document.ts
  content/image.ts
  content/redirect.ts
  content/utils.ts
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  filecheck/cli.ts
  kumascript/index.ts
  kumascript/tests/environment.test.ts
  kumascript/tests/macros/httpheader.test.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/index.ts
  server/react-app.d.ts
  server/static.ts
  tool/cli.ts
Labels: flaw-system, macros, markdown, deployer, github-actions

#7565 Delete the {{DiscussionList}} Macro
  kumascript/macros/DiscussionList.ejs
Labels: macros

#7564 chore: delete {{nextPage}} macro
  kumascript/macros/nextPage.ejs
Labels: macros

#7536 MP-140 Collection + collections redesign
  client/src/app.scss
  client/src/document/organisms/metadata/index.tsx
  client/src/plus/collections/collection.scss
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/utils.ts
Labels: plus

#7131 fix(document): use --font-code for <code>
  client/src/document/index.scss
Labels: localization

#7578 Deduplicate JS sidebar entries
  kumascript/macros/JsSidebar.ejs
Labels: macros

#7602 chore(macros/APIRef): update Spanish fixtures
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
Labels: macros

#7604 chore(macros/CSSRef): add Functions
  kumascript/macros/CSSRef.ejs
Labels: macros

#7589 fix(bcd): show previous version in range when feature was removed
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Labels: dependencies, 🧑‍🤝‍🧑 community

#7615 ci(build): use node16 as runtime of configure-aws-credentials
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#7547 fix(pwa): don't start the service worker if offline is disabled
  client/pwa/src/db.ts
  client/pwa/src/service-worker.ts
  client/src/plus/collections-quicksearch.ts
  client/src/search.tsx
  client/src/settings/db.ts
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/user-context.tsx
Labels: plus, plus:offline

#7614 fix(bcd): Fix version range in production
  build/document-extractor.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  package.json
  yarn.lock
Labels: dependencies

#7619 chore(kumascript): log macro failures
  kumascript/src/templates.ts
Labels: macros, dx, wx

#7576 MP-147 frequently viewed client impl
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/plus/collections/api.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/common/api.tsx
  client/src/user-context.tsx
  libs/types/document.ts
Labels: plus

#7652 fix(metrics): add glean probe scraper workflow
  .github/workflows/glean-probe-scraper.yml
Labels: github-actions

#7654 fix(rendering): less re-rendering
  client/src/plus/collections/collection.tsx
  client/src/plus/collections/frequently-viewed.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/index.tsx
Labels: plus

#7625 Delete the compat gecko macros
  kumascript/macros/CompatGeckoDesktop.ejs
  kumascript/macros/CompatGeckoMobile.ejs
Labels: macros

#7441 feat(macros/CSSRef): group CSS properties by common prefix
  kumascript/macros/CSSRef.ejs
Labels: macros

#7662 ci(auto-merge): use dependabot/fetch-metadata + GitHub CLI
  .github/workflows/auto-merge.yml
Labels: github-actions

#7624 chore(macros): delete {{web.link}} macro
  kumascript/macros/web.link.ejs
Labels: macros

#7645 Deprecate Service Worker sidebar
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: macros

#7628 chore(macros): remove unused {{GlossaryList}} macro
  kumascript/macros/GlossaryList.ejs
Labels: macros

#7663 ci(auto-merge): specify name/id
  .github/workflows/auto-merge.yml
Labels: github-actions

#7559 style(typescript): enable strict except noImplicitAny and strictNullChecks
  build/flaws/index.ts
  build/index.ts
  build/utils.ts
  client/tsconfig.json
  content/popularities.ts
  content/utils.ts
  filecheck/checker.ts
  kumascript/src/api/mdn.ts
  kumascript/src/api/page.ts
  kumascript/src/api/util.ts
  kumascript/src/api/web.ts
  kumascript/src/api/wiki.ts
  kumascript/src/environment.ts
  kumascript/src/errors.ts
  kumascript/src/render.ts
  kumascript/tests/render.test.ts
  markdown/m2h/cli.ts
  tool/cli.ts
  tool/sync-translated-content.ts
  tsconfig.json
Labels: flaw-system, macros, markdown

#7647 fix: remove Languages macro
  kumascript/macros/languages.ejs
Labels: macros

#7665 ci(glean-probe-scraper): run on PR + main pushes only
  .github/workflows/glean-probe-scraper.yml
Labels: github-actions

#7664 refactor(imports): always use `node:` protocol + add ESLint rule
  .eslintrc.js
  build/check-images.ts
  build/cli.ts
  build/flaws/broken-links.ts
  build/flaws/index.ts
  build/git-history.ts
  build/index.ts
  build/spas.ts
  build/utils.ts
  content/document-paths.ts
  content/document.test.ts
  content/document.ts
  content/githistories.ts
  content/image.ts
  content/popularities.ts
  content/redirect.ts
  content/utils.ts
  content/wikihistories.ts
  deployer/aws-lambda/content-origin-request/build.js
  filecheck/checker.ts
  filecheck/cli.ts
  kumascript/src/api/kuma.ts
  kumascript/src/api/web.ts
  kumascript/src/templates.ts
  kumascript/tests/macros.test.ts
  kumascript/tests/macros/Compat.test.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/svginfo.test.ts
  kumascript/tests/render.test.ts
  kumascript/tests/templates.test.ts
  markdown/m2h/handlers/index.ts
  package.json
  server/document.ts
  server/fake-v1-api.ts
  server/flaws.ts
  server/index.ts
  server/search-index.ts
  server/static.ts
  server/translations.ts
  ssr/index.ts
  ssr/render.ts
  ssr/webpack.config.js
  testing/tests/csp.test.ts
  testing/tests/destructive.test.ts
  testing/tests/filecheck.test.ts
  testing/tests/index.test.ts
  testing/tests/offline-db.test.ts
  tool/build-robots-txt.ts
  tool/cli.ts
  tool/optimize-client-build.ts
  tool/popularities.ts
  tool/sync-translated-content.ts
  yarn.lock
Labels: dependencies, flaw-system, macros, markdown, deployer

#7670 ci(auto-merge): use pull_request.url for comment
  .github/workflows/auto-merge.yml
Labels: github-actions

#7672 ci(auto-merge): use html_url, not [api] url
  .github/workflows/auto-merge.yml
Labels: github-actions

#7674 Deprecate WebRTCSidebar
  kumascript/macros/WebRTCSidebar.ejs
Labels: macros

#7646 feat(macros/DefaultAPISidebar): add Tutorial section
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/src/api/wiki.ts
Labels: macros

#7680 chore(macros): delete unused {{Compat*}} macros
  kumascript/macros/CompatNo.ejs
  kumascript/macros/CompatVersionUnknown.ejs
  kumascript/macros/CompatibilityTable.ejs
Labels: macros

#7696 chore(pr-companion): minor formatting fix for PR comment timestamp resolution
  deployer/src/deployer/analyze_pr.py
Labels: python, deployer

#7621 fix(live-sample): inject MathML font/polyfill
  kumascript/src/api/util.ts
  kumascript/src/live-sample.ts
Labels: macros, live-samples, typography

#7673 refactor(aws-lambda): convert to ESM
  .eslintrc.js
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
Labels: dependencies, deployer

#7620 feat(mathml): always load MathML font, update Polyfill, use latest woff2 font
  .lintstagedrc.json
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.otf
  client/src/document/mathml-polyfill/font/STIXTwoMath-Regular.woff2
  client/src/document/mathml-polyfill/index.tsx
  client/src/document/mathml-polyfill/mathml-font.scss
  client/src/document/mathml-polyfill/mathml.css
Labels: typography
