Repository mdn/yari, pull requests merged in 2022-01, with the labels that each got.

#5078 feat: add frontmatter inventory cli command
  package.json
  tool/README.md
  tool/cli.js
  yarn.lock
Labels: enhancement, platform, engineering-request

#4847 fix grammar in broken-link error message
  kumascript/src/api/web.js
Labels: community

#4918 Display dev toolbar on any display width
  client/src/document/toolbar/index.scss
Labels: community

#5153 (fix:docs) update README with info on pull request requirements
  README.md
Labels: docs

#3030 HTMLRef.ejs should use smartLink()
  kumascript/macros/HTMLElement.ejs
  kumascript/macros/HTMLRef.ejs
Labels: platform

#3944 use smartLink in JSRef
  kumascript/macros/JSRef.ejs
Labels: platform

#3170 APIRef should use smartLink
  kumascript/macros/APIRef.ejs
  kumascript/tests/macros/apiref.test.js
Labels: platform

#5152 Update Learn sidebar for updates to JS objects module
  kumascript/macros/LearnSidebar.ejs
Labels: p1

#4974 Change word-wrap to ensure sidebar links don't overflow into post content
  client/src/document/organisms/sidebar/index.scss
Labels: community

#5183 (fix:kumascript) fix jsref
  kumascript/macros/JSRef.ejs
Labels: bug

#3946 Use smartLink in SVGElement and SVGRef
  kumascript/macros/SVGElement.ejs
  kumascript/macros/SVGRef.ejs
  kumascript/src/api/web.js
  kumascript/tests/macros/svginfo.test.js
Labels: platform

#5208 Translate deprecation message to spanish
  kumascript/macros/DeprecatedGeneric.ejs
Labels: community

#5189 fix: typo in comment
  build/document-extractor.js
Labels: community

#4696 Added Japanese Translations
  client/src/document/molecules/localized-content-note/index.tsx
Labels: community

#5194 Trim "≤" sign from version when searching for browser release date
  build/document-extractor.js
Labels: enhancement, community

#5207 Add "preview" statement to BCD legend
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
Labels: enhancement, community

#5213 (chore:browserlist) update browserlist
  yarn.lock
Labels: platform
