Repository mdn/yari, pull requests merged in 2022-03, with the labels that each got.

#5362 (chore:issues) add new issue template
  .github/ISSUE_TEMPLATE/new-issue-template.md
Labels: maintenance

#5386 (fix:bcd) do not make cells clickable that do not have notes
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: bug, p1, redesign

#5376 fix side bar list style type
  client/src/document/organisms/sidebar/index.scss
Labels: bug, redesign

#5356 chore: sync required node version
  README.md
  package.json
Labels: maintenance

#5270 Update lang html attribute with current locale
  client/src/app.tsx
  ssr/render.js
Labels: bug, a11y, community

#5363 fix: sidebar starts to grow when it scrolls off page
  client/src/document/organisms/sidebar/index.tsx
Labels: redesign

#5422 fix(search): allow submitting non-empty query via button
  client/src/search.tsx
Labels: search

#5449 feat(theme): add bgcolor to notes
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/notecards/index.scss
Labels: a11y, redesign

#5350 fix hp a11y
  client/src/assets/moz-logo.svg
  client/src/homepage/homepage-hero/index.tsx
  client/src/search-utils.ts
  client/src/search.tsx
  client/src/ui/molecules/a11y-nav/index.tsx
  client/src/ui/molecules/search/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/writers-homepage/index.tsx
  testing/tests/headless.search.spec.js
  testing/tests/headless.sitesearch.spec.js
Labels: a11y

#5451 798-Add-bulk-edit-notifications
  client/src/constants.ts
  client/src/plus/icon-card/index.scss
  client/src/plus/icon-card/index.tsx
  client/src/plus/notifications/api.tsx
  client/src/plus/notifications/index.scss
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/tabs.tsx
  client/src/plus/notifications/utils.ts
  client/src/types/notifications.tsx
  client/src/ui/_mixins.scss
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
Labels: plus

#5478 chore(render): restore overview heading
  client/src/document/index.tsx
Labels: bug

#5311 Mark beta/nightly/planned browsers releases as preview
  client/src/document/ingredients/browser-compatibility-table/browser-info.tsx
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: bug, community

#5508 move margin-right to switch component
  client/src/ui/atoms/switch/index.scss
  client/src/ui/organisms/top-navigation-main/index.scss
Labels: redesign

#5526 Revert "Mark beta/nightly/planned browsers releases as preview"
  client/src/document/ingredients/browser-compatibility-table/browser-info.tsx
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: bug

#5529 add browser releases to bcd data
  build/cli.js
Labels: enhancement

#5504 fix: improve visibility of copy to clipboard icon
  client/src/document/hooks.ts
  client/src/document/index.scss
Labels: a11y, redesign

#5513 fix: use sun/moon icons for theme-toggle
  client/src/assets/icons/moon-fill.svg
  client/src/assets/icons/sun-fill.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/theme-toggle/index.scss
  client/src/ui/molecules/theme-toggle/index.tsx
Labels: ux, redesign

#5525 fix: always close article actions menu after choosing a language
  client/src/ui/molecules/language-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: ux, p0, redesign

#5530 fix(typography): use regular font size in notecards
  client/src/ui/molecules/notecards/index.scss
Labels: a11y, redesign

#5425 change background for inline/block code
  client/src/app.scss
  client/src/ui/_vars.scss
  client/src/ui/base/_themes.scss
Labels: a11y, redesign

#5542 chore(banners): disable hacks post & refactor
  client/src/app.tsx
  client/src/banners/README.md
  client/src/banners/active-banner.tsx
  client/src/banners/banner-utils.ts
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: chore

#5554 chore(bcd): move release-date title to version label
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: browser-compat

#5558 fix(notecards): adjust icon position
  client/src/ui/molecules/notecards/index.scss
Labels: needs: answer from product, community, redesign

#5560 chore(build): wrap all tables
  build/index.js
  build/wrap-tables.js
  markdown/m2h/handlers/index.js
  markdown/m2h/handlers/table.js
  package.json
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Labels: chore

#5416 (fix:a11y) restore underlines for links in main content
  client/src/document/index.scss
Labels: a11y, redesign

#5215 fix(image): fallback to content if file is missing in translated-content
  build/check-images.js
  build/flaws/broken-links.js
  build/index.js
  content/constants.js
  content/image.js
  server/index.js
Labels: localization, community, live-samples

#5433 chore(interactive-examples): add border radius
  client/src/document/interactive-examples.scss
Labels: community, redesign

#5570 chore(breadcrumbs): show breadcrumbs for top-level articles
  build/document-utils.js
  client/src/document/index.test.tsx
Labels: redesign, breadcrumbs

#5351 fix(breadcrumbs): underline on hover
  client/src/ui/molecules/breadcrumbs/index.scss
Labels: a11y, community, redesign, breadcrumbs

#5582 fix(document): link to source, not rendered blob
  client/src/document/on-github.tsx
Labels: platform, chore

#5592 fix(toolbar/flaws): avoid #_flaws navigation in useEffect
  client/src/document/toolbar/flaws.tsx
Labels: community, flaw-system

#5601 chore(callouts): left align content
  client/src/document/index.scss
Labels: community, layout

#5590 fix(live-samples): make Copied! message visible + use theme
  client/src/document/index.scss
Labels: community, live-samples

#5595 build(workflows): fetch full translated-content git history
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: community

#5607 Deprecate the {{index}} macro
  kumascript/README.md
  kumascript/macros/Index.ejs
Labels: community, platform

#5583 fix(icons): use deprecated + non-standard icons consistently
  client/public/assets/badges.svg
  client/src/assets/icons/deprecated.svg
  client/src/assets/icons/nonstandard.svg
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-icons.scss
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/document/molecules/_notecards.scss
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/notecards/index.scss
  kumascript/macros/Non-standardGeneric.ejs
Labels: community

#5573 docs(README): fix clone instruction indentation
  README.md
Labels: community, docs

#5611 fix(icons): use dinocon symbol for experimental support
  client/src/assets/icons/experimental.svg
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
Labels: community

#5627 fix(layout): move :target below sticky header
  client/src/app.scss
  client/src/ui/organisms/article-actions-container/index.scss
Labels: bug, redesign

#5628 fix:themes - switch to theme drop down from toggle
  client/src/assets/icons/theme-dark.svg
  client/src/assets/icons/theme-light.svg
  client/src/assets/icons/theme-os-default.svg
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/theme-toggle/index.scss
  client/src/ui/molecules/theme-toggle/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Labels: redesign

#5495 Allow for simplified slugs in content delete --redirect arg
  content/document.js
Labels: community, platform

#5636 fix: Add time since collection added. Tweak notifications wrap
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/notifications/index.scss
Labels: plus

#5557 fix(bcd): show footnote icon if current support has notes
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/legend.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
Labels: community, redesign

#5651 Update offline.md
  copy/plus/features/offline.md
Labels: docs, plus

#5507 fix:search - always show search expanded in header
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/search/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/writers-homepage/index.scss
  testing/tests/headless.search.spec.js
  testing/tests/headless.sitesearch.spec.js
Labels: a11y, ux, redesign

#5657 Make search only submit on enter (& blur) in collections/notifications
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/search/index.tsx
Labels: plus

#5648 fix(bcd): wrap cells in button + refactor
  client/src/document/index.tsx
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-browsers.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-github.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-history-link.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-history.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-icons.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-platforms.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-supports.scss
  client/src/document/ingredients/browser-compatibility-table/atoms/_bc-table.scss
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/document/ingredients/browser-compatibility-table/index-desktop-lg.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop-md.scss
  client/src/document/ingredients/browser-compatibility-table/index-desktop.scss
  client/src/document/ingredients/browser-compatibility-table/index-mobile.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: a11y, redesign

#5660 allow system default theme
  client/src/assets/icons/theme-dark.svg
  client/src/assets/icons/theme-light.svg
  client/src/assets/icons/theme-os-default.svg
  client/src/ui/atoms/icon/index.scss
  client/src/ui/molecules/theme-switcher/index.scss
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/theme-toggle/index.scss
  client/src/ui/molecules/theme-toggle/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
Labels: redesign, dark-mode

#5662 add external class to submenu links
  client/src/ui/molecules/submenu/index.scss
  client/src/ui/molecules/submenu/index.tsx
Labels: redesign

#5664 fix(server): add webpack middlewares + don't proxy hot-update.json
  client/src/setupProxy.js
  package.json
  server/dev.js
  server/middlewares.js
  yarn.lock
Labels: bug

#5672 Firefox sidebar changes
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/tests/macros/firefoxsidebar.test.js
Labels: macros

#5671 build(lint): use lint-staged to run prettier and eslint when comitting
  .husky/pre-commit
  .lintstagedrc
  README.md
  package.json
  yarn.lock
Labels: chore

#5617 chore(l10n): add `zh-CN` translation for `NoteBanner`
  client/src/document/molecules/localized-content-note/index.tsx
Labels: localization, community

#5675 fix(notifications): improve watch submenu
  client/src/ui/molecules/collection/menu.tsx
  client/src/ui/molecules/notifications-watch-menu/index.scss
  client/src/ui/molecules/notifications-watch-menu/index.tsx
Labels: plus, layout, notifications

#5655 Home page: made mandala visible
  client/src/ui/molecules/mandala/index.scss
Labels: community

#5697 zh-tw / zh-cn of Firefox sidebar macro
  kumascript/macros/FirefoxSidebar.ejs
Labels: localization, community

#5667 feat:macros - Add title to EmbedInteractiveExample macro
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/tests/macros/EmbedInteractiveExample.test.js
Labels: engineering-request

#5680 French translations for Firefox sidebar
  kumascript/macros/FirefoxSidebar.ejs
Labels: community

#5578 slightly wider hp
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/index.scss
Labels: redesign

#5705 fix(plus-menu): add mobile-only overview item
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/plus-menu/index.tsx
Labels: plus

#5708 Fix redirect error on users/fxa
  client/pwa/src/service-worker.ts
Labels: plus

#5699 Update Russian translation of FirefoxSidebar
  kumascript/macros/FirefoxSidebar.ejs
Labels: community

#5711 Add plus page screenshots
  client/public/assets/collections_light.png
  client/public/assets/notifications_light.png
  client/public/assets/offline_settings_light.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

#5643 allow list for mdn plus
  client/src/constants.ts
  client/src/plus/offer-overview/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/utils.ts
Labels: plus

#5714 fix:link : update product help link
  client/src/ui/organisms/footer/index.tsx
Labels: plus

#5713 fix:link : fix sumo link
  client/src/ui/molecules/user-menu/index.tsx
Labels: plus

#5702 Disable watch/save and hide collection/notification management actions when offline
  client/src/hooks.ts
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/icon-card/index.tsx
  client/src/plus/notifications/index.scss
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/ui/molecules/collection/menu.tsx
  client/src/ui/molecules/notifications-watch-menu/index.tsx
Labels: plus, offline

#5716 chore(plus): add feedback link to user menu
  client/src/ui/molecules/user-menu/index.tsx
Labels: plus

#5720 chore(limit-banner): replace MDN {Supporter => Plus subscriber}
  client/src/ui/atoms/limit-banner/index.tsx
Labels: plus

#5700 fix: Horizontal scrollbar thicker than vertical
  client/src/app.scss
Labels: bug, community

#5718 chore(menus): add mobile-only overview items
  client/src/ui/molecules/guides-menu/index.scss
  client/src/ui/molecules/guides-menu/index.tsx
  client/src/ui/molecules/reference-menu/index.scss
  client/src/ui/molecules/reference-menu/index.tsx
Labels: redesign

#5730 fix:content ~ change collections to notifications
  copy/plus/features/notifications.md
Labels: plus

#5723 fix(loading-error): wrap in standard-page layout
  client/src/document/index.tsx
Labels: redesign

#5581 chore(document-extractor): trim underscores from id
  build/document-extractor.js
Labels: bug

#5743 chore(plus): extract plus/docs with faq + features
  build/spas.js
  client/src/plus/feature-highlight/index.tsx
  client/src/plus/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  copy/plus/faq.md
Labels: plus

#5735 chore(plus): move /plus/{collection => collections}
  build/spas.js
  client/src/plus/common/tabs.tsx
  client/src/plus/index.tsx
  client/src/ui/molecules/manage-upgrade-dialog/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  testing/integration/headless/map_301.py
  testing/tests/headless.plus.bookmarks.spec.js
  testing/tests/index.test.js
Labels: plus

#5740 chore(plus/offer-overview): add feature titles
  client/src/plus/offer-overview/offer-overview-feature/index.scss
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

#5742 fix:copy ~ change instance mentioning collections in the notifications dashboard
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/watched-items-tab.tsx
Labels: plus

#5726 fix(collections): make fva search case-insensitive
  client/src/plus/common/api.tsx
Labels: plus, collections

#5731 fix(offer-overview): override docs locale for now
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: localization, plus

#5748 Fix: Close edit menu on submit
  client/src/plus/collections/collection-list-item.tsx
  client/src/ui/atoms/limit-banner/index.tsx
Labels: plus

#5728 fix:offline : add offline status bar
  client/src/assets/icons/offline.svg
  client/src/assets/icons/wifi.svg
  client/src/document/index.tsx
  client/src/hooks.ts
  client/src/offline-settings/index.tsx
  client/src/ui/molecules/offline-status-bar/index.scss
  client/src/ui/molecules/offline-status-bar/index.tsx
  client/src/utils.ts
Labels: plus

#5750 fix(plus): rework document titles
  build/spas.js
  client/src/constants.ts
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/index.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/plus-docs/index.tsx
Labels: plus

#5758 fix:links ~ fixes feature links on feature overview
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

#5757 fix:copy ~ fix button copy for collections
  client/src/ui/molecules/collection/edit-collection.tsx
  client/src/ui/molecules/collection/menu.tsx
  copy/plus/features/collections.md
Labels: plus

#5759 fix:feature-overview ~ update to not available state
  client/src/assets/icons/question-mark.svg
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: plus

#5756 fix:copy ~ update toast copy for collections and notifications
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notifications-tab.tsx
Labels: plus

#5762 fix:buttons ~ adds button class to buttons on offline settings page
  client/src/offline-settings/clear.tsx
  client/src/offline-settings/update.tsx
Labels: plus

#5771 fix:docs ~ update offline docs to mention usage is private mode
  copy/plus/features/offline.md
Labels: docs, plus

#5772 fix:docs ~ replace visited with viewed
  copy/plus/features/collections.md
Labels: docs, plus

#5773 fix:copy ~ update copy on offline settings
  client/src/offline-settings/index.tsx
Labels: plus

#5760 fix:banner ~ adds mdn plus launch banner
  client/src/banners/active-banner.tsx
  client/src/banners/banner.scss
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/ui/base/_themes.scss
Labels: plus

#5782 Swap MDN offline screenshot
  client/public/assets/offline_settings_light.png
Labels: plus

#5788 fix(plus-docs): make breadcrumbs span full width
  client/src/homepage/static-page/index.tsx
  client/src/plus/plus-docs/index.scss
Labels: plus

#5801 fix(sidebar): clear useEffect() timeout
  client/src/document/organisms/sidebar/index.tsx
Labels: chore

#5802 fix(plus-docs): add key to RelatedTopics
  client/src/plus/plus-docs/index.tsx
Labels: chore

#5812 fix(plus): assume available if subscriber
  client/src/utils.ts
Labels: plus

#5815 fix(plus/docs): add screenshots
  client/public/assets/plus-docs/collections/collections-dashboard.png
  client/public/assets/plus-docs/collections/desktop-collections-dashboard-delete.png
  client/public/assets/plus-docs/collections/desktop-collections-delete-fva.png
  client/public/assets/plus-docs/collections/desktop-collections-edit-dialog-add-note.png
  client/public/assets/plus-docs/collections/desktop-collections-edit-dialog.png
  client/public/assets/plus-docs/collections/desktop-collections-edit-menu.png
  client/public/assets/plus-docs/collections/desktop-collections-filter.png
  client/public/assets/plus-docs/collections/desktop-collections-fva.png
  client/public/assets/plus-docs/collections/desktop-collections-sort.png
  client/public/assets/plus-docs/collections/desktop-collections-three-dot-menu.png
  client/public/assets/plus-docs/collections/desktop-collections-undo.png
  client/public/assets/plus-docs/collections/desktop-collections-user-menu.png
  client/public/assets/plus-docs/collections/desktop-main-menu-collections.png
  client/public/assets/plus-docs/collections/desktop-page-add-note.png
  client/public/assets/plus-docs/collections/desktop-page-dialog-save.png
  client/public/assets/plus-docs/collections/desktop-page-open-dialog.png
  client/public/assets/plus-docs/collections/desktop-remove-saved-delete.png
  client/public/assets/plus-docs/collections/desktop-remove-saved.png
  client/public/assets/plus-docs/collections/desktop-saving-page.png
  client/public/assets/plus-docs/collections/mobile-add-note.png
  client/public/assets/plus-docs/collections/mobile-burger-menu.png
  client/public/assets/plus-docs/collections/mobile-collections-dashboard-delete-entry.png
  client/public/assets/plus-docs/collections/mobile-collections-dashboard-edit-entry.png
  client/public/assets/plus-docs/collections/mobile-collections-dashboard-edit.png
  client/public/assets/plus-docs/collections/mobile-collections-dashboard-three-dots.png
  client/public/assets/plus-docs/collections/mobile-collections-dashboard.png
  client/public/assets/plus-docs/collections/mobile-collections-delete-entry.png
  client/public/assets/plus-docs/collections/mobile-collections-fva-undo.png
  client/public/assets/plus-docs/collections/mobile-collections-menu-item.png
  client/public/assets/plus-docs/collections/mobile-collections-undo.png
  client/public/assets/plus-docs/collections/mobile-open-article-actions.png
  client/public/assets/plus-docs/collections/mobile-plus-menu.png
  client/public/assets/plus-docs/collections/mobile-save-page-step-one.png
  client/public/assets/plus-docs/collections/mobile-save-page.png
  client/public/assets/plus-docs/collections/mobile-saved-page.png
  client/public/assets/plus-docs/notifications/access-notifications-from-main-menu.png
  client/public/assets/plus-docs/notifications/bulk-unwatch-dashboard.png
  client/public/assets/plus-docs/notifications/notifications-user-menu.png
  client/public/assets/plus-docs/notifications/star-notification.png
  client/public/assets/plus-docs/notifications/unwatch-dashboard.png
  client/public/assets/plus-docs/notifications/unwatch-page.png
  client/public/assets/plus-docs/notifications/watch-list.png
  client/public/assets/plus-docs/notifications/watch-page.png
  client/public/assets/plus-docs/offline/desktop-offline-clear-data.png
  client/public/assets/plus-docs/offline/desktop-offline-enable-auto-update.png
  client/public/assets/plus-docs/offline/desktop-offline-enable-offline.png
  client/public/assets/plus-docs/offline/desktop-offline-manual-update.png
  client/public/assets/plus-docs/offline/desktop-offline-user-menu.png
  client/src/homepage/static-page/index.tsx
  client/src/plus/plus-docs/index.scss
  copy/plus/features/collections.md
  copy/plus/features/notifications.md
  copy/plus/features/offline.md
Labels: docs, plus

#5814 feat(CLI): Make it possible to use an absolute URL when providing a redirect during a deletion
  content/document.js
Labels: community, platform

#5842 fix: Dark mode weird white spot with both scrollbars visible
  client/src/app.scss
Labels: community

#5832 fix:collections ~ add copy to empty state
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
Labels: chore, plus

#5841 fix:plus ~ update to product overview
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
Labels: chore, plus

#5846 Inline notecard: reduced its size
  client/src/ui/molecules/notecards/index.scss
Labels: community, redesign

#5839 fix:chore ~ ensure consistency in usage of extraClasses
  client/src/app.tsx
  client/src/document/molecules/note-banner/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/button/index.tsx
  client/src/ui/atoms/container/index.tsx
  client/src/ui/atoms/icon/index.tsx
  client/src/ui/atoms/page-content/index.tsx
  client/src/ui/atoms/search/index.tsx
  client/src/ui/atoms/select/index.scss
  client/src/ui/atoms/select/index.tsx
  client/src/ui/atoms/spinner/index.tsx
  client/src/ui/molecules/mandala/index.tsx
  client/src/ui/molecules/notecards/index.tsx
  client/src/ui/molecules/quote/index.tsx
  client/src/ui/molecules/submenu/index.tsx
  client/src/ui/molecules/tabs/index.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
Labels: chore, plus

#5684 Mention document files for mdn/content can be in .md
  README.md
Labels: community, docs

#5850 fix(plus-menu): make overview public
  client/src/ui/molecules/plus-menu/index.tsx
Labels: plus

#5849 Make Plus links refer to "Choose a plan" section when on product page
  client/src/banners/active-banner.tsx
  client/src/plus/utils.ts
  client/src/ui/atoms/button/index.tsx
  client/src/ui/atoms/internal-link/index.tsx
  client/src/ui/atoms/subscribe-link/index.tsx
  client/src/ui/molecules/guides-menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/reference-menu/index.tsx
Labels: plus

#5867 fix: obey React rules of hooks in active banner
  client/src/banners/active-banner.tsx
Labels: community

#5862 docs(ru): update russian translation in learn sidebar
  kumascript/macros/LearnSidebar.ejs
Labels: localization, community

#5749 Add icons for all the browsers in the compatibility table
  client/src/assets/icons/chrome.svg
  client/src/assets/icons/deno.svg
  client/src/assets/icons/edge.svg
  client/src/assets/icons/ie.svg
  client/src/assets/icons/nodejs.svg
  client/src/assets/icons/opera.svg
  client/src/assets/icons/safari.svg
  client/src/assets/icons/samsunginternet.svg
  client/src/assets/icons/webview.svg
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/ui/atoms/icon/index.scss
Labels: community, redesign, browser-compat

#5874 fix: #5868 - Adds localization for ELS new heading
  kumascript/macros/EmbedInteractiveExample.ejs
Labels: localization, community

#5855 fix:assets ~ fix letter spacing in mdn logo
  client/src/assets/mdn-docs-logo.svg
  client/src/assets/mdn-logo.svg
  client/src/assets/mdn-plus-logo.svg
Labels: redesign
