Repository mdn/yari, pull requests merged in 2022-07, with the labels that each got.

#6659 chore(macros): delete {{wiki.localize}} macro
  kumascript/macros/wiki.localize.ejs
Labels: macros

#6697 fix(plus): use better fxa subscription link
  .github/workflows/prod-build.yml
Labels: github-actions

#6594 feature(plus): enable api caching for all plus users
  client/pwa/src/db.ts
  client/pwa/src/service-worker.ts
  client/src/index.tsx
  client/src/offline-settings/db.ts
  client/src/offline-settings/mdn-worker.tsx
  client/src/ui/atoms/signout/index.tsx
  client/src/user-context.tsx
Labels: plus:offline

#6710 feat(macro): add l10n-zh translation for `{{AvailableInWorkers}}`
  kumascript/macros/AvailableInWorkers.ejs
Labels: macros

#6723 chore(macros/HTML): update zh-CN strings
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#6725 chore(macros): update zh-CN strings
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
  testing/content/files/jsondata/L10n-Common.json
Labels: macros

#6751 chore(plus): remove PlusTabs component
  client/src/plus/collections/index.tsx
  client/src/plus/common/plus-tabs.tsx
  client/src/plus/notifications/index.tsx
Labels: plus

#6726 All preview feature
  build/spas.js
  client/package.json
  client/public/assets/plus-docs/collections/desktop-collections-user-menu.png
  client/public/assets/plus-docs/collections/desktop-main-menu-collections.png
  client/public/assets/plus-docs/collections/mobile-collections-menu-item.png
  client/public/assets/plus-docs/collections/mobile-menu.png
  client/public/assets/plus-docs/notifications/mobile-notifications-user-menu.png
  client/public/assets/plus-docs/notifications/notifications-user-menu.png
  client/public/assets/plus-docs/offline/desktop-offline-user-menu.png
  client/pwa/src/db.ts
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/service-worker.ts
  client/src/app.tsx
  client/src/fuzzy-search.ts
  client/src/index.tsx
  client/src/offline-settings/index.tsx
  client/src/plus/common/api.tsx
  client/src/plus/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/search.tsx
  client/src/settings/clear.tsx
  client/src/settings/db.ts
  client/src/settings/feature-preview.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/settings/manage.tsx
  client/src/settings/mdn-worker.tsx
  client/src/settings/offline-settings.tsx
  client/src/settings/update.tsx
  client/src/ui/atoms/switch/index.scss
  client/src/ui/molecules/plus-menu/index.scss
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/search/index.scss
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
  copy/plus/features/collections.md
  copy/plus/features/notifications.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
  testing/tests/offline-db.test.ts
Labels: plus, plus:offline

#6760 chore(macros): delete `{{anch}}` and `{{manch}}`
  kumascript/macros/anch.ejs
  kumascript/macros/manch.ejs
Labels: macros

#6757 feat(translate): Creating an item component の翻訳(各日本語ページリンク更新)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#6766 chore(plus): remove fuzzy search
  client/src/fuzzy-search.ts
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
  package.json
  testing/tests/headless.search.spec.ts
  yarn.lock
Labels: dependencies

#6761 chore(macros): update zh-CN strings in CSS
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#6778 chore(macros): fix InheritanceDiagram.ejs
  kumascript/macros/InheritanceDiagram.ejs
Labels: macros

#6745 Replace Details of the object model with Using classes in JS sidebar
  kumascript/macros/JsSidebar.ejs
Labels: macros

#6788 fix: update slug for Using Classes in JS sidebar
  kumascript/macros/JsSidebar.ejs
Labels: macros
