Repository mdn/yari, pull requests merged in 2022-12, with the labels that each got.

#7592 chore(macros): remove CSS_Key_Concepts
  kumascript/macros/CSS_key_concepts.ejs
Labels: macros

#7593 chore(macros): remove Source
  kumascript/macros/source.ejs
Labels: macros

#7717 chore(macros): delete {{property_prefix}} macro
  kumascript/macros/property_prefix.ejs
Labels: macros

#7729 chore(macros/cssxref): use page-type to detect CSS Functions/Data Types
  kumascript/macros/cssxref.ejs
  kumascript/tests/index.test.ts
  kumascript/tests/macros/cssxref.test.ts
  testing/content/files/en-us/web/css/number/index.html
Labels: macros

#7738 chore: remove @types/react resolution
  package.json
  yarn.lock
Labels: dependencies

#7590 chore(macros): delete NoteStart and NoteEnd
  kumascript/macros/Note.ejs
  kumascript/macros/NoteEnd.ejs
  kumascript/macros/NoteStart.ejs
Labels: macros

#7750 chore(macros): delete {{CompatUnknown}} macro
  kumascript/macros/CompatUnknown.ejs
Labels: macros

#7733 fix(a11y): improve Lighthouse accessibility score
  client/src/document/organisms/sidebar/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
Labels: ♿ a11y, 🧑‍🤝‍🧑 community

#7760 chore(macros): deprecate CanvasSidebar
  kumascript/macros/CanvasSidebar.ejs
Labels: macros

#7761 refactor(content): split Document.findAll().iter{Paths,Docs}()
  build/cli.ts
  content/document.test.ts
  content/document.ts
  content/translations.ts
  markdown/m2h/cli.ts
  server/translations.ts
  tool/cli.ts
Labels: markdown

#7766 chore(macros): deprecate WebGLSidebar
  kumascript/macros/WebGLSidebar.ejs
Labels: macros

#7762 chore(macros/HTMLSidebar): add "Content categories" / "Constraint validation"
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

#7726 refactor(macros/js_property_attributes): use `mdn.localStringMap` instead of switch
  kumascript/macros/js_property_attributes.ejs
Labels: macros

#7779 ci(pr-deployer): cache with specific python version
  .github/workflows/pr-deployer.yml
Labels: github-actions

#7716 fix(filecheck): collect all errors, omit stacktrace, list fix commands, support directories, default to content roots, add progressbar, use async I/O
  build/cli.ts
  filecheck/checker.ts
  filecheck/cli.ts
  package.json
  testing/tests/filecheck.test.ts
  yarn.lock
Labels: dependencies, wx

#7786 fix(macros/CSSInfo): use page-type instead of tags
  kumascript/macros/CSSInfo.ejs
Labels: macros

#7798 Simplify imports/calls for JSDOM
  kumascript/tests/macros/Compat.test.ts
  kumascript/tests/macros/HTTPSidebar.test.ts
  kumascript/tests/macros/firefoxsidebar.test.ts
  kumascript/tests/macros/gamessidebar.test.ts
  kumascript/tests/macros/mdnsidebar.test.ts
Labels: macros

#7796 fix(macros/SubpagesWithSummaries): remove junk and important tag handling
  kumascript/macros/SubpagesWithSummaries.ejs
Labels: macros

#7644 chore(HTTPSidebar): update Feature-Policy to Permissions-Policy
  kumascript/macros/HTTPSidebar.ejs
  kumascript/tests/macros/fixtures/documentData2.json
Labels: macros

#7806 chore(deployer): ignore /bcd when deploying and add /bcd to lambda
  deployer/aws-lambda/content-origin-request/index.js
  deployer/src/deployer/constants.py
Labels: python, deployer

#7810 fix(macros/WebAssemblySidebar): remove link to deleted page
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
Labels: 🧑‍🤝‍🧑 community, macros

#7818 chore(macros): delete {{IncludeSubnav}} macro
  content/translation.ts
  kumascript/index.ts
  kumascript/macros/IncludeSubnav.ejs
Labels: macros

#7087 feat(tool): add macro-usage-report command
  tool/cli.ts
  tool/macro-usage-report.ts
Labels: maintenance

#7816 chore(spas): update featured articles
  build/spas.ts
Labels: chore

#7812 chore(kumascript): refactor and remove unused apis
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSInfo.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/LiveSampleURL.ejs
  kumascript/macros/SVGElement.ejs
  kumascript/macros/SectionOnPage.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/macros/fx_minversion_note.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/minversionGeneric.ejs
  kumascript/src/api/kuma.ts
  kumascript/src/api/mdn.ts
  kumascript/src/api/page.ts
  kumascript/src/api/string.ts
  kumascript/src/api/wiki.ts
  kumascript/src/environment.ts
  kumascript/tests/environment.test.ts
  kumascript/tests/macros/page-api.test.ts
  kumascript/tests/macros/wiki-api.test.ts
Labels: macros

#7801 feat(kumascript): expose status on page object
  kumascript/src/info.ts
Labels: macros

#7808 fix(macros/JSRef): use page type instead of tags
  kumascript/macros/JSRef.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#7814 feat(plus/updates): add initial frontend
  build/spas.ts
  client/src/assets/icons/bell-filled.svg
  client/src/document/ingredients/browser-compatibility-table/headers.tsx
  client/src/hooks.ts
  client/src/plus/collections/index.scss
  client/src/plus/collections/index.tsx
  client/src/plus/index.scss
  client/src/plus/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/button/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/paginator/index.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/utils.ts
  package.json
  server/index.ts
  yarn.lock
Labels: dependencies, plus

#7407 chore(macros/LearnSidebar): translate Client-side_tooling_overview in Japanese
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#7841 chore(plus/updates): add metrics for expand/collapse/pagination
  client/src/plus/updates/index.tsx
  client/src/telemetry/constants.ts
  client/src/ui/molecules/paginator/index.tsx
Labels: plus

#7858 chore(macros): delete {{gecko_minversion_*}} macros
  kumascript/macros/gecko_minversion_header.ejs
  kumascript/macros/gecko_minversion_inline.ejs
  kumascript/src/info.ts
  kumascript/tests/index.test.ts
  testing/content/files/en-us/web/fixable_flaws/deprecated_macros/index.html
  testing/tests/index.test.ts
Labels: macros

#7861 chore(plus/updates): add click event on offer overview clicks (MP-220)
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/constants.ts
Labels: plus

#7843 feat(plus/updates): use API + add filters/search/sort
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/contexts/search-filters.tsx
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/search-filter/index.scss
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.scss
  client/src/plus/updates/index.tsx
  client/src/plus/updates/login-banner.scss
  client/src/plus/updates/login-banner.tsx
  client/src/telemetry/constants.ts
  client/src/ui/_vars.scss
  client/src/ui/atoms/button/index.scss
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/molecules/auth-container/index.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/utils.ts
Labels: plus, plus:updates

#7862 fix(plus/updates): check that user != null
  client/src/plus/updates/api.ts
Labels: plus

#7863 fix(plus/updates): sort update events by path
  client/src/plus/updates/index.tsx
Labels: plus

#7864 feat(plus/updates): use dots in plus-menu to highlight feature until viewed
  client/src/constants.ts
  client/src/hooks.ts
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: plus
