Repository mdn/yari, pull requests merged in 2022-08, with the labels that each got.

#6801 Updating mdnsidebar
  kumascript/macros/MDNSidebar.ejs
  kumascript/tests/macros/mdnsidebar.test.js
Labels: macros

#6752 fix(plus): frequently viewed articles showed added time
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/src/plus/icon-card/index.scss
Labels: plus

#6818 fix: links in mdnsidebar
  kumascript/macros/MDNSidebar.ejs
Labels: macros

#6845 Remove archived link (Basic raycaster)
  kumascript/macros/CanvasSidebar.ejs
Labels: macros

#6559 Delete h3_gecko_minversion.ejs
  kumascript/macros/h3_gecko_minversion.ejs
Labels: macros

#6841 Deprecate {{event}} macro
  kumascript/macros/event.ejs
Labels: macros

#6829 Fixed localized anchor
  kumascript/macros/SeeCompatTable.ejs
Labels: macros

#6821 Remove {{outdated}} macro
  kumascript/macros/outdated.ejs
Labels: macros

#6820 Remove unused LearnBox/ifattribute/interface macros
  kumascript/macros/LearnBox.ejs
  kumascript/macros/ifattribute.ejs
  kumascript/macros/interface.ejs
Labels: macros

#6819 Deprecate `{{css_key_concepts}}`
  kumascript/macros/CSS_key_concepts.ejs
Labels: macros

#6618 Support formal syntax for types and functions as well as properties
  kumascript/macros/CSSSyntax.ejs
Labels: macros

#6859 chore(macros): delete {{Draft}} macro
  kumascript/macros/Draft.ejs
Labels: macros

#6810 Depreciate the Interwiki macro
  kumascript/macros/Interwiki.ejs
Labels: macros

#6866 Add Markdown localizations for German
  markdown/localizations/de.json
Labels: markdown

#6865 Depreciate the link macro
  kumascript/macros/Link.ejs
Labels: macros

#6765 chore(client): remove dependecies on client
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/document/on-github.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/document/toolbar/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/frequently-viewed-tab.tsx
  client/src/ui/molecules/breadcrumbs/index.tsx
  client/src/ui/molecules/collection/index.tsx
  client/src/ui/molecules/collection/menu.tsx
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/molecules/language-menu/index.tsx
  client/src/ui/molecules/language-toggle/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  libs/types/document.ts
  libs/types/package.json
  libs/types/tsconfig.json
  server/flaws.ts
  testing/tests/index.test.ts
  tool/cli.ts
Labels: plus

#6771 chore(front-end): various clean ups
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/public/index.html
  client/src/app.scss
  client/src/app.tsx
  client/src/banners/active-banner.tsx
  client/src/document/index.tsx
  client/src/env.ts
  client/src/flaws/index.tsx
  client/src/page-not-found/index.tsx
  client/src/plus/index.tsx
  client/src/plus/offer-overview/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/site-search/index.tsx
  client/src/sitemap/index.tsx
  client/src/translations/dashboard/index.tsx
  client/src/translations/differences/index.tsx
  client/src/translations/index.tsx
  client/src/translations/missing/index.tsx
  client/src/ui/atoms/page-content/index.scss
  client/src/ui/atoms/page-content/index.tsx
  client/src/ui/molecules/a11y-nav/index.scss
  client/src/ui/molecules/a11y-nav/index.tsx
  client/src/ui/molecules/blog-feed/index.scss
  client/src/ui/molecules/blog-feed/index.tsx
  client/src/ui/molecules/grids/_standard-page.scss
  client/src/ui/molecules/language-toggle/index.scss
  client/src/ui/molecules/language-toggle/index.tsx
  client/src/ui/molecules/manage-upgrade-dialog/index.scss
  client/src/ui/molecules/notifications-watch-menu/index.scss
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
  client/src/utils.ts
  client/src/writers-homepage/index.tsx
  docs/envvars.md
Labels: plus, github-actions

#6849 Remove h2m from Yari
  .github/workflows/testing.yml
  markdown/cli.ts
  markdown/h2m/h.ts
  markdown/h2m/handlers/cards.ts
  markdown/h2m/handlers/dl.ts
  markdown/h2m/handlers/index.ts
  markdown/h2m/handlers/rehype-remark-utils.ts
  markdown/h2m/handlers/tables.ts
  markdown/h2m/handlers/to-text.ts
  markdown/h2m/handlers/utils.ts
  markdown/h2m/index.ts
  markdown/h2m/transform.ts
  markdown/h2m/utils.ts
  markdown/m2h/cli.js
  markdown/tsconfig.json
  markdown/utils/index.js
  package.json
  scripts/testing.sh
  testing/content/files/en-us/markdown/tool/h2m/expected.md
  testing/content/files/en-us/markdown/tool/h2m/index.html
  yarn.lock
Labels: dependencies, markdown, github-actions

#6689 fix(macros): correct the links in {{CSSInfo}} macro
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
Labels: 🧑‍🤝‍🧑 community, macros

#6791 fix: make the sitemap generator work with spread build
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/cli.js
Labels: github-actions

#6871 Suppress formal syntax expansion for <color> and <gradient>
  kumascript/macros/CSSSyntax.ejs
Labels: macros

#6887 build(deps): delete `fast-xml-parser`
  package.json
  yarn.lock
Labels: dependencies

#6875 ci: add sitemap generate in dev build
  .github/workflows/dev-build.yml
Labels: github-actions

#6874 Add Markdown localizations for Polish
  markdown/localizations/pl.json
Labels: markdown

#6840 feat(macros): add zh-CN localization in HTTPSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

#6895 chore(client): remove useCSRFMiddlewareToken hook
  client/src/hooks.ts
  client/src/ui/atoms/signout/index.tsx
  client/src/ui/molecules/notifications-watch-menu/index.tsx
Labels: chore

#6789 fix(macros): inconsistent sidebar icon placement
  kumascript/macros/APIRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
Labels: macros

#6904 Refactor article actions menus
  client/src/app.scss
  client/src/banners/banner.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/plus/collections/collection-list-item.tsx
  client/src/plus/collections/edit-collection.tsx
  client/src/plus/icon-card/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/ui-context.tsx
  client/src/ui/atoms/checkbox/index.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/molecules/manage-upgrade-dialog/index.scss
  client/src/ui/molecules/notifications-watch-menu/index.scss
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.scss
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/ui/organisms/article-actions/manage-upgrade-dialog/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.scss
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-start.tsx
Labels: plus

#6909 Mp 32 preview multiple collections settings
  client/src/plus/common/api.tsx
  client/src/plus/index.tsx
  client/src/settings/feature-preview.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/user-context.tsx
Labels: plus

#6906 MP-30: connect collections v2 api
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  server/index.ts
Labels: plus

#6898 test: use toHaveLength check
  content/document.test.js
  kumascript/tests/environment.test.js
  kumascript/tests/index.test.js
  kumascript/tests/macros/addonsidebar.test.js
  kumascript/tests/render.test.js
  kumascript/tests/templates.test.js
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Labels: macros

#6858 fix(macros/SeeCompatTable): update localized links for `ja`
  kumascript/macros/SeeCompatTable.ejs
Labels: macros

#6888 chore(macro): update l10n-zh translation for {{DeprecatedGeneric}} macro
  kumascript/macros/DeprecatedGeneric.ejs
Labels: macros

#6630 fix: redundant word 'navigation' in breadcrumb nav
  client/src/ui/molecules/breadcrumbs/index.tsx
Labels: 🧑‍🤝‍🧑 community

#6602 Hide Internet Explorer in BCD tables
  client/src/document/ingredients/browser-compatibility-table/index.tsx
Labels: needs: decision from content lead

#6665 fix: 'sans-sans' should be 'sans-serif'
  client/src/app.scss
Labels: signature needed 🚧

#6916 ci(workflows): check commit signatures
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

#6918 Handle stacked multipliers in the formal syntax
  kumascript/macros/CSSSyntax.ejs
Labels: macros

#6921 fix(macros/DeprecatedGeneric): remove failing tests
  kumascript/tests/macros/Deprecated.test.js
Labels: macros

#6929 fix(menu): remove misleading ARIA attributes
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: ♿ a11y

#6804 h2m: Add l10n-pt-br support for cards
  markdown/localizations/pt-BR.json
Labels: 🧑‍🤝‍🧑 community, markdown

#6919 chore(macros/LearnSidebar): add Japanese translation
  kumascript/macros/LearnSidebar.ejs
Labels: localization, macros

#6930 fix(macros): remove write to /tmp
  kumascript/src/api/web.js
Labels: macros

#6851 chore(macros/AddonSidebar): add "Extending the developer tools"
  kumascript/macros/AddonSidebar.ejs
Labels: macros

#6512 fix(macros/HTMLRef): rename "Heading Elements" label
  kumascript/macros/HTMLRef.ejs
  testing/tests/index.test.ts
Labels: macros

#6903 chore(client): remove CSRF remainders
  client/src/plus/collections/collections-tab.tsx
  client/src/plus/collections/types.ts
  client/src/plus/common/api.tsx
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/types/notifications.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu.tsx
  server/static.ts
Labels: plus

#6666 feat(macros): localize NonStandardBadge
  kumascript/macros/NonStandardBadge.ejs
Labels: macros

#6933 MP-16: style collections v2
  client/src/hooks.ts
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/rust-types.ts
  client/src/plus/index.tsx
  client/src/utils.ts
Labels: plus

#6949 ci(workflows): skip npm-publish if dependabot merged
  .github/workflows/npm-publish.yml
Labels: github-actions

#6943 chore(syntax-highlight): add C + TSX
  build/syntax-highlight.js
Labels: syntax-highlighting

#6954 feat(macros): localize DeprecatedBadge
  kumascript/macros/DeprecatedBadge.ejs
Labels: macros

#6955 MP-96 fix stale data in collection edit modal
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Labels: plus

#6950 ci(dev-build): notify PRs about successful builds
  .github/workflows/dev-build.yml
Labels: github-actions

#6961 chore(macros): delete {{Exception}} macro
  kumascript/macros/Exception.ejs
Labels: macros

#6980 MP-96 clear new collection modal
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
Labels: plus

#6982 chore(macros): delete {{ifmethod}} macro
  kumascript/macros/ifmethod.ejs
Labels: macros

#6994 chore(macros): deprecate {{warning}} macro
  kumascript/macros/warning.ejs
Labels: macros

#7007 MP-69 MP-70 add loading and error states to collections
  client/src/plus/collections/v2/api.ts
  client/src/plus/collections/v2/collection.tsx
  client/src/plus/collections/v2/index.scss
  client/src/plus/collections/v2/index.tsx
  client/src/plus/collections/v2/new-edit-collection-modal.tsx
  client/src/ui/atoms/modal/index.scss
  client/src/ui/atoms/modal/index.tsx
  client/src/ui/organisms/article-actions/bookmark-menu/menu-v2.tsx
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

#6683 refactor(build): convert to typescript
  .gitignore
  build/bcd-urls.ts
  build/build-options.ts
  build/check-images.ts
  build/cli.ts
  build/document-extractor.ts
  build/document-utils.ts
  build/flaws/bad-bcd-queries.ts
  build/flaws/broken-links.ts
  build/flaws/heading-links.ts
  build/flaws/index.ts
  build/flaws/pre-tags.ts
  build/flaws/sections.ts
  build/flaws/translation-differences.ts
  build/flaws/unsafe-html.ts
  build/format-notecards.ts
  build/git-history.ts
  build/index.ts
  build/matches-in-text.ts
  build/page-title.ts
  build/resolve-bcd.ts
  build/search-index.ts
  build/sitemaps.ts
  build/spas.ts
  build/sync-translated-content.ts
  build/syntax-highlight.ts
  build/tsconfig.json
  build/utils.ts
  build/wrap-tables.ts
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/site-search/form.tsx
  client/src/site-search/search-results.tsx
  libs/types/document.ts
  package.json
  server/flaws.ts
  tsconfig.dist.json
Labels: p1, flaw-system, typescript

#7005 build(deps): drop node 17
  package.json
Labels: dependencies

#6951 ci(testing): separate lint from test
  .github/workflows/testing.yml
  scripts/lint.sh
  scripts/testing.sh
Labels: github-actions

#7009 chore: retire German (de) + Polish (pl)
  build/spas.ts
  client/src/document/molecules/localized-content-note/index.tsx
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CSS_key_concepts.ejs
  kumascript/macros/CompatGeckoDesktop.ejs
  kumascript/macros/CompatNo.ejs
  kumascript/macros/CompatVersionUnknown.ejs
  kumascript/macros/CompatibilityTable.ejs
  kumascript/macros/DOM0.ejs
  kumascript/macros/DOMAttributeMethods.ejs
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/DiscussionList.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/NoteStart.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/SeeCompatTable.ejs
  kumascript/macros/SpecName.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/XULAttr.ejs
  kumascript/macros/XsltRef.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/minversionGeneric.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/previousPage.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/unimplementedGeneric.ejs
  kumascript/macros/warning.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
  kumascript/macros/xref_cssvisual.ejs
  kumascript/tests/macros/svgattr.test.js
  libs/constants/index.js
  testing/content/files/jsondata/L10n-CSS.json
  testing/content/files/jsondata/L10n-Common.json
  testing/content/files/jsondata/L10n-JavaScript.json
  testing/content/files/jsondata/L10n-SVG.json
Labels: macros

#6565 feat(macros): add ja translation to SectionOnPage
  kumascript/macros/SectionOnPage.ejs
Labels: macros

#7016 build(deps-dev): bump {jest,ts-jest,@types/jest} from v28 to v29
  package.json
  yarn.lock
Labels: dependencies

#7020 chore(macros): delete unused BCD macros
  kumascript/macros/CompatIE.ejs
  kumascript/macros/CompatOpera.ejs
  kumascript/macros/CompatOperaMobile.ejs
  kumascript/macros/CompatSafari.ejs
Labels: macros
