Repository mdn/yari, pull requests merged in 2023-11, with the labels that each got.

#9937 chore(macros/LearnSidebar): add some pages under MathML
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#9932 chore(macros/WebAssemblySidebar): add zh-CN translation
  kumascript/macros/WebAssemblySidebar.ejs
Labels: macros

#9938 chore(telemetry): measure top-level menu link clicks
  client/src/telemetry/constants.ts
  client/src/ui/molecules/main-menu/index.tsx
Labels: metrics

#9906 chore(macros): remove TenthCampaignQuote macro
  kumascript/macros/TenthCampaignQuote.ejs
Labels: macros

#9936 feat(sidebar): add Colors category to Guides
  kumascript/macros/CSSRef.ejs
Labels: macros, sidebar content

#9884 chore(pong): update mapping
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong2.js
  libs/pong/types.d.ts
Labels: placement

#9909 chore(glean): send geo_iso with pings
  client/src/env.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/user-context.tsx
  docs/envvars.md
Labels: metrics

#9931 feat(links): distinguish visited links (v2)
  client/src/document/index.scss
Labels: ux, typography

#9952 chore(deps-dev): remove use-debounce
  package.json
  yarn.lock
Labels: dependencies

#9941 chore(markdown): migrate to mdast-util-to-hast
  markdown/m2h/handlers/code.ts
  markdown/m2h/handlers/dl.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/handlers/mdast-util-to-hast-utils.ts
  markdown/m2h/index.ts
  package.json
  yarn.lock
Labels: dependencies, markdown

#9955 refactor: remove experimental import assertions
  build/blog.ts
  build/extract-sections.ts
  build/extract-specifications.ts
  build/index.ts
  build/utils.ts
  build/web-features.ts
  build/web-specs.ts
  kumascript/tests/fixtures/server/macros/require-used.ejs
Labels: macros

#9978 fix(ai-help): revert "chore(deps): bump unified from 10.1.2 to 11.0.4 + remark-{gfm,parse,rehype} + rehype-{format,stringify} (#9896)"
  markdown/m2h/index.ts
  package.json
  yarn.lock
Labels: dependencies, markdown

#9982 chore(macros): delete {{spec|spec2|SpecName}} macros
  kumascript/macros/SpecName.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
Labels: macros

#9980 chore(deps): bump unified from 10.1.2 to 11.0.4 + remark-{gfm,parse,rehype} + rehype-{format,stringify} + react-markdown
  client/src/plus/ai-help/index.tsx
  markdown/m2h/index.ts
  package.json
  yarn.lock
Labels: dependencies, plus, markdown, plus:ai-help

#9994 chore(macros/CSSRef): add Border-radius generator
  kumascript/macros/CSSRef.ejs
Labels: macros

#10007 chore(flaws): exclude /discord from broken-link flaw
  build/flaws/broken-links.ts
Labels: flaw-system

#9731 chore(deps): bump @webref/css from 6.0.0 to 6.7.1
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  package.json
  yarn.lock
Labels: dependencies, macros

#9654 chore(macros/HTTPSidebar): remove Cookie Security link
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

#10027 chore(blog): enable LFS for mdn-studio
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

#10065 chore(macros/LearnSidebar): capitalize Node.js
  kumascript/macros/LearnSidebar.ejs
Labels: macros, effort: small, involves: Content

#10069 chore(macros/SVGRef): update zh-CN translation
  kumascript/macros/SVGRef.ejs
Labels: macros

#10064 chore(macros/LearnSidebar): add Games Developing section
  kumascript/macros/LearnSidebar.ejs
Labels: macros, involves: Content

#9940 feat(menu): highlight active items
  client/src/plus/utils.ts
  client/src/ui/_vars.scss
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/menu/index.scss
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
Labels: plus

#9847 enhance(kumascript): make `smartLink()`'s content parameter optional
  kumascript/src/api/web.ts
Labels: macros

#10096 chore(ai-help): include question number in metrics
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help
