Repository mdn/yari, pull requests merged in 2023-03, with the labels that each got.

#8289 feat(macros): rewrite SVG sidebar
  kumascript/macros/SVGRef.ejs
Labels: macros, sidebar/toc

#8309 feat(macros): Rewrite MathML sidebar
  kumascript/macros/MathMLRef.ejs
Labels: macros, sidebar/toc

#8132 feat(macros): rewrite Learn sidebar
  kumascript/macros/LearnSidebar.ejs
Labels: macros, sidebar/toc

#8199 refactor(macros): Remove {{DeprecatedGeneric}} and {{DeprecatedBadge}}
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/Deprecated_Header.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/Deprecated.test.ts
Labels: macros

#8339 fix(macros/Deprecated_Header): add note msg when version is not provided
  kumascript/macros/Deprecated_Header.ejs
Labels: macros

#8302 refactor(build): Make Document.findAll() asynchronous
  build/cli.ts
  content/document.test.ts
  content/document.ts
  content/translations.ts
  markdown/m2h/cli.ts
  server/translations.ts
  testing/tests/destructive.test.ts
  tool/cli.ts
Labels: markdown

#8371 fix(macros): escape page.title in sidebars
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/SVGRef.ejs
Labels: p0, macros, sidebar/toc

#8378 ci(stage-build): switch to interactive-examples.mdn.allizom.net
  .github/workflows/stage-build.yml
  libs/constants/index.js
Labels: github-actions

#8294 fix(glean): always set page metrics + send ping when whoami returns or fails
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/telemetry/glean-context.tsx
  client/src/user-context.tsx
Labels: plus, metrics

#8411 fix(types/document): rename shortTitle back to short_title
  build/document-utils.ts
  build/index.ts
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
  libs/types/document.ts
Labels: macros

#8384 ci(pr-commit-signatures): explain how to sign existing commits
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

#8389 fix(kumascript): ignore smartlink warning for links with fallback
  kumascript/src/api/web.ts
Labels: macros, dx

#8442 fix(dotenv): import * as dotenv
  build/build-options.ts
  client/config/env.js
  deployer/aws-lambda/content-origin-request/build.js
  libs/env/index.js
  ssr/index.ts
Labels: deployer

#8455 fix(lambda): decode html entities via he
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
Labels: dependencies, deployer

#8456 ci: Sync Yari content with GCS
  .github/workflows/stage-build.yml
Labels: github-actions

#8469 enhance(placement): use body for placement status
  client/src/ui/organisms/placement/index.tsx
  deployer/aws-lambda/kevel/index.js
Labels: deployer

#8470 feat(bcd): fetch compat data from bcd.developer.mozilla/allizom.org
  .github/workflows/prod-build.yml
  client/src/document/lazy-bcd-table.tsx
  client/src/env.ts
  client/src/plus/updates/api.ts
  docs/envvars.md
  server/index.ts
Labels: plus, github-actions

#8466 feat(surveys): add Web Components survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: chore, github-actions

#8549 ci(stage-build): rsync with -j html,json,txt
  .github/workflows/stage-build.yml
Labels: github-actions
