Repository mdn/yari, pull requests merged in 2023-01, with the labels that each got.

#7899 remove(plus): remove collections in qs preview
  client/src/plus/collections-quicksearch.ts
  client/src/plus/common/api.tsx
  client/src/search.tsx
  client/src/settings/feature-preview.tsx
  client/src/settings/index.tsx
  client/src/user-context.tsx
Labels: plus

#7869 fix(search) improve loading/error message
  client/src/search.tsx
  client/src/ui/molecules/search/index.scss
Labels: ux, 🔎 search

#7912 fix(server): update bcd-utils-api to 0.0.3
  package.json
  server/index.ts
  yarn.lock
Labels: dependencies

#7930 fix(offline): don't intercept api/v? requests
  client/pwa/src/fetch-interceptors.ts
  client/pwa/src/service-worker.ts
Labels: plus:offline

#7953 Newsletter
  .github/workflows/stage-build.yml
  client/src/banners/active-banner.tsx
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/constants.ts
  client/src/env.ts
  client/src/plus/common/api.tsx
  client/src/settings/index.tsx
  client/src/settings/newsletter.tsx
  client/src/telemetry/constants.ts
  client/src/ui/molecules/user-menu/index.scss
  client/src/ui/molecules/user-menu/index.tsx
  client/src/user-context.tsx
Labels: plus, github-actions

#7943 chore(meta): Updates MDN sidebar to match contribution doc updates
  kumascript/macros/MDNSidebar.ejs
Labels: macros

#7931 MP-223 Add filtering on collections.
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/plus/updates/index.tsx
Labels: plus

#7961 chore(client): turn on typescript strict null checking
  client/src/hooks.ts
  client/src/plus/search-filter/index.tsx
  client/src/plus/updates/api.ts
  client/src/settings/newsletter.tsx
  client/src/ui/molecules/paginator/index.tsx
  client/tsconfig.json
Labels: plus

#7809 fix(on-github): improve copy language
  client/src/document/on-github.tsx
  client/src/document/organisms/metadata/index.tsx
Labels: copy

#7988 enhance(plus): enable newsletter on prod
  .github/workflows/prod-build.yml
Labels: github-actions

#7997 fix(offline): when actually offline article pages error out
  client/pwa/src/fetch-interceptors.ts
Labels: plus:offline

#8010 Remove inconsistent colons in HTTPSidebar
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

#8006 Remove inconsistent colons in JSSidebar
  kumascript/macros/JsSidebar.ejs
Labels: macros

#8005 Remove inconsistent colons in HTMLSidebar
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

#7848 chore(macros/LearnSidebar): Complete and update `fr` translation
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#8011 chore: remove ServiceWorkerSidebar
  content/translation.ts
  kumascript/macros/ServiceWorkerSidebar.ejs
Labels: macros

#7963 chore: add yarn check:tsc command to check all files
  .github/workflows/testing.yml
  .lintstagedrc.json
  build/cli.ts
  build/spas.ts
  client/pwa/tsconfig.json
  lint-staged.config.js
  package.json
  scripts/lint.sh
  server/index.ts
  testing/tests/developing.spec.ts
  testing/tests/headless.sitesearch.spec.ts
Labels: github-actions

#7866 fix(quicksearch): split query before dot
  client/src/search.tsx
Labels: ux, 🔎 search

#8071 Deprecate {{gecko}} macro
  kumascript/macros/gecko.ejs
Labels: macros

#8025 Deprecate ARIARole macro
  kumascript/macros/ARIARole.ejs
Labels: macros

#8061 chore(macros): Update {{MDNSidebar}}
  kumascript/macros/MDNSidebar.ejs
Labels: macros

#8084 fix(lambda): use single set of bcd api jsons across all dev builds
  deployer/aws-lambda/content-origin-request/index.js
Labels: deployer

#8012 chore: remove WebRTCSidebar
  content/translation.ts
  kumascript/macros/WebRTCSidebar.ejs
Labels: macros

#7985 chore(macros): deprecate SectionOnPage
  kumascript/macros/SectionOnPage.ejs
Labels: macros

#7987 fix(content): allow whitespace above content folder
  content/document.ts
Labels: dx

#8097 chore(short-survey): add web compat survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: chore, github-actions
