Repository mdn/yari, pull requests merged in 2023-08, with the labels that each got.

#9509 chore(deps): upgrade to glean 2.x
  client/src/telemetry/glean-context.tsx
  package.json
  yarn.lock
Labels: dependencies

#9511 chore(ai-help): make feedback link external
  client/src/plus/ai-help/index.tsx
Labels: plus

#9506 chore(ai-help): use private repo for internal feedback
  .github/workflows/prod-build.yml
  client/src/env.ts
  client/src/plus/ai-help/index.tsx
  docs/envvars.md
Labels: plus, github-actions, plus:ai-help

#9510 feat(ai-help): use prism for syntax highlighting
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Labels: plus

#9548 add Korean translation to SeeCompatTable
  kumascript/macros/SeeCompatTable.ejs
Labels: macros

#9469 27180 css nesting
  kumascript/macros/CSSRef.ejs
Labels: macros
