Repository mdn/yari, pull requests merged in 2023-05, with the labels that each got.

#8753 fix(jest): reduce memory usage
  .github/workflows/pr-kumascript.yml
  jest.config.json
  package.json
Labels: github-actions

#8782 ci(stage,prod): invalidate CDN asynchronously
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#8781 fix(layout): consolidate sticky header
  client/public/index.html
  client/src/app.scss
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/homepage/static-page/index.tsx
  client/src/plus/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/article-actions-container/index.scss
  client/src/ui/organisms/article-actions/index.scss
Labels: plus

#8803 fix(sync): don't deploy to static/static
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#8805 fix(sync): skip rsync for static
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/blog/index.scss
Labels: github-actions

#8807 chore(deps): rename package `vscode-ripgrep` to `@vscode/ripgrep`
  build/utils.ts
  package.json
  yarn.lock
Labels: dependencies

#8774 chore(deps-dev): bump @types/node from 16.18.25 to 18.16.6
  package.json
  yarn.lock
Labels: dependencies

#8821 Add 'Whats a PWA' to PWA sidebar
  kumascript/macros/PWASidebar.ejs
Labels: macros

#8771 ci(npm-publish): migrate from merge-release to release-please
  .github/workflows/npm-publish.yml
Labels: github-actions

#8772 feat(docs): baseline indicator
  build/index.ts
  client/src/assets/icons/baseline/browser-check.svg
  client/src/assets/icons/baseline/browser-cross.svg
  client/src/assets/icons/baseline/check-dark.svg
  client/src/assets/icons/baseline/check.svg
  client/src/assets/icons/baseline/chrome.svg
  client/src/assets/icons/baseline/cross-dark.svg
  client/src/assets/icons/baseline/cross.svg
  client/src/assets/icons/baseline/edge.svg
  client/src/assets/icons/baseline/firefox.svg
  client/src/assets/icons/baseline/safari.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/ui/base/_themes.scss
  libs/types/document.ts
  package.json
  yarn.lock
Labels: dependencies

#8831 fix(npm-publish): revert renaming of NPM_AUTH_TOKEN
  .github/workflows/npm-publish.yml
Labels: github-actions

#8841 fix(npm-publish): setup node with registry url
  .github/workflows/npm-publish.yml
Labels: github-actions

#8571 feat(build): collect errors + warnings with @sentry/node
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/cli.ts
  build/sentry.ts
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  yarn.lock
Labels: dependencies, github-actions

#8661 feat(ci): add xyz-build
  .github/workflows/xyz-build.yml
  libs/constants/index.js
Labels: github-actions

#8846 fix: avoid leading double slash
  client/src/contributor-spotlight/index.tsx
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/flaws/index.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/search.tsx
  client/src/translations/dashboard/index.tsx
  client/src/translations/differences/index.tsx
  client/src/translations/index.tsx
  client/src/translations/missing/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  cloud-function/src/middlewares/redirect-leading-slash.ts
Labels: plus

#8855 fix(CSS): last elements inside blockquotes do not need bottom margin
  client/src/document/index.scss
Labels: layout

#8852 chore(macros): delete {{jsOverrides}} macro
  kumascript/macros/jsOverrides.ejs
Labels: macros

#8727 chore(macros/HTTPSidebar): update Chinese translation + translate CSP item
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

#8865 fix(workflows): rate limit downloading ripgrep
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

#8862 feat: Add Prism key for syntax highlighting apache code as 'apacheconf'
  build/syntax-highlight.ts
Labels: ux, layout

#8873 fix(csp,fundamental-redirects): replace media.*.mdn.mozit.cloud with mdn.dev
  libs/constants/index.js
  libs/fundamental-redirects/index.js
Labels: internal

#8894 fix(cloud-function): strip X-Forwarded-Host + Forwarded headers
  cloud-function/src/app.ts
  cloud-function/src/middlewares/stripForwardedHostHeaders.ts
Labels: internal

#8686 feat(newsletter): add public sign-up page
  build/spas.ts
  client/src/app.tsx
  client/src/newsletter/index.scss
  client/src/newsletter/index.tsx
  client/src/ui/atoms/form/index.scss
  client/src/ui/atoms/modal/index.scss
Labels: internal

#8938 chore(blog): add new tag next to blog link in menu
  client/src/app.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
Labels: plus

#8940 chore(lint): re-add stylelint-order
  .stylelintrc.json
  client/src/newsletter/index.scss
  client/src/ui/organisms/placement/index.scss
  package.json
  yarn.lock
Labels: dependencies

#8936 fix(kumascript): mention path in render error message
  kumascript/index.ts
  kumascript/src/templates.ts
Labels: macros

#8951 Revert "fix(kumascript): mention path in render error message"
  kumascript/index.ts
  kumascript/src/templates.ts
Labels: macros

#8953 fix(kumascript): mention path in render error message (v2)
  build/blog.ts
  kumascript/index.ts
  kumascript/src/templates.ts
Labels: macros

#8952 chore(macros/SeeCompatTable): localize "Experimental" title
  kumascript/macros/SeeCompatTable.ejs
Labels: macros

#8978 chore(kumascript): use url in render error
  kumascript/index.ts
  kumascript/src/templates.ts
Labels: macros
