Repository mdn/yari, pull requests merged in 2023-12, with the labels that each got.

#10100 chore(macros/LearnSidebar): update zh-CN translation
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#10011 chore(placement): switch to BSA
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  cloud-function/README.md
  cloud-function/src/env.ts
  cloud-function/src/handlers/proxy-pong.ts
Labels: github-actions, cloud-function

#10106 fix(macros/EmbedLiveSample): un-deprecate the 6th parameter (allowed features)
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

#10112 chore(macros/CSSRef): update "Using CSS math functions" path
  kumascript/macros/CSSRef.ejs
Labels: macros

#10123 chore(web-features): pin package version
  package.json
  yarn.lock
Labels: dependencies

#10111 chore(macros/GamesSidebar): update WebVR -> WebXR link
  kumascript/macros/GamesSidebar.ejs
Labels: macros, sidebar content

#10126 fix(macros/GamesSidebar): update WebVR -> WebXR in string map
  kumascript/macros/GamesSidebar.ejs
Labels: macros

#10128 feat(baseline): update widget to reflect new definition
  build/cli.ts
  build/index.ts
  build/web-features.ts
  client/src/app.scss
  client/src/assets/icons/baseline/check-dark.svg
  client/src/assets/icons/baseline/check.svg
  client/src/assets/icons/baseline/cross-dark.svg
  client/src/assets/icons/baseline/cross.svg
  client/src/assets/icons/baseline/high-dark.svg
  client/src/assets/icons/baseline/high.svg
  client/src/assets/icons/baseline/limited-dark.svg
  client/src/assets/icons/baseline/limited.svg
  client/src/assets/icons/baseline/low-dark.svg
  client/src/assets/icons/baseline/low.svg
  client/src/assets/icons/feedback.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
  client/src/ui/base/_themes.scss
  libs/types/document.ts
  libs/types/web-features.ts
  package.json
  tsconfig.json
  type-fixes/web-features.ts
  yarn.lock
Labels: dependencies, metrics

#10153 fix(workflows): use Node.js version from .nvmrc file
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

#10172 fix(baseline): update icons, add text to feedback link
  client/src/assets/icons/baseline/browser-check.svg
  client/src/assets/icons/baseline/browser-cross.svg
  client/src/assets/icons/baseline/chrome.svg
  client/src/assets/icons/baseline/edge.svg
  client/src/assets/icons/baseline/firefox.svg
  client/src/assets/icons/baseline/high-dark.svg
  client/src/assets/icons/baseline/high.svg
  client/src/assets/icons/baseline/limited-dark.svg
  client/src/assets/icons/baseline/limited.svg
  client/src/assets/icons/baseline/low-dark.svg
  client/src/assets/icons/baseline/low.svg
  client/src/assets/icons/baseline/safari.svg
  client/src/assets/icons/feedback.svg
  client/src/document/baseline-indicator.scss
  client/src/document/baseline-indicator.tsx
  package.json
  yarn.lock
Labels: dependencies

#10183 fix(macros/CSSSupport): support nested @webref/css values
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Labels: macros

#10185 chore(pong): set forwardedip/useragent on click/view requests
  cloud-function/src/handlers/proxy-bsa.ts
  libs/pong/pong2.d.ts
  libs/pong/pong2.js
Labels: placement, cloud-function

#10205 fix(ai-help): use GPT-3.5 for free users
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/landing.scss
  client/src/plus/ai-help/landing.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  copy/plus/features/ai-help.md
Labels: plus, copy, plus:ai-help
