Repository mdn/yari, pull requests merged in 2023-07, with the labels that each got.

#9137 chore: pride month 2023 is over :(
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/atoms/logo/index.scss
  client/src/ui/atoms/logo/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Labels: internal

#9215 fix(ai-help): add short and extended explanatory guidance
  client/src/plus/ai-help/index.tsx
Labels: plus

#9238 feat(ai-help): add "Report issue with this answer on GitHub" link
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Labels: plus

#9212 fix(macros/AddonSidebar): inline "Using_the_JavaScript_APIs" redirect
  kumascript/macros/AddonSidebar.ejs
Labels: macros

#9223 chore(ai-help): update thumbs copy
  client/src/plus/ai-help/index.tsx
Labels: plus

#9203 fix(playground): don't extract inline css
  client/src/document/code/playground.ts
Labels: plus:playground

#9261 fix(ai-help): add beta disclaimer banner
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Labels: plus

#9262 fix(ai-help): enhance issue reporting
  client/src/plus/ai-help/index.tsx
Labels: plus

#8884 fix(macros/cssxref): use en-US page to fetch front matter key
  kumascript/macros/cssxref.ejs
Labels: macros

#9156 chore(macros): deprecate {{xref_cssvisual}} macro
  kumascript/macros/xref_cssvisual.ejs
Labels: macros

#9304 Bump Prettier from 2.8.8 to 3.0.0
  .prettierrc
  build/blog.ts
  build/cli.ts
  build/flaws/index.ts
  build/index.ts
  client/public/index.html
  client/public/runner.html
  client/src/document/mathml-polyfill/mathml-font.scss
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/index.tsx
  client/src/playground/index.tsx
  client/src/playground/loader.scss
  client/src/plus/ai-help/index.scss
  client/src/plus/index.scss
  client/src/search.tsx
  client/src/site-search/search-results.tsx
  client/src/ui/base/_typography.scss
  client/src/ui/molecules/search/index.scss
  content/document.ts
  content/utils.ts
  package.json
  server/document.ts
  tool/cli.ts
  tool/sync-translated-content.ts
  yarn.lock
Labels: dependencies, flaw-system, plus

#9264 chore(macros): delete {{Interwiki}} macro
  kumascript/macros/Interwiki.ejs
  kumascript/src/info.ts
Labels: macros

#7917 fix(build): copy images that are only in default locale to l10n folder
  build/check-images.ts
  build/cli.ts
  build/index.ts
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/foo/index.md
Labels: tx

#9307 fix(macros/CSSRef): Update links to the pages they redirect to
  kumascript/macros/CSSRef.ejs
Labels: macros

#9080 fix(flaws): stop reporting absolute MDN blog links as broken
  build/flaws/broken-links.ts
Labels: flaw-system, internal

#9242 chore(sidebar-filter): remove feedback footer
  client/src/document/organisms/sidebar/filter.scss
  client/src/document/organisms/sidebar/filter.tsx
  client/src/document/organisms/sidebar/index.scss
Labels: internal

#9335 chore(deps-dev): remove @types/hast
  package.json
  yarn.lock
Labels: dependencies

#9336 chore(deps): remove html-react-parser
  package.json
  yarn.lock
Labels: dependencies

#9338 fix(deps-dev): add @babel/plugin-proposal-private-property-in-object
  package.json
  yarn.lock
Labels: dependencies

#9339 enhance(release-please): include chore/enhance commits
  .github/workflows/npm-publish.yml
Labels: github-actions

#8950 chore(server): remove dev middlewares + merge start:{dev-server,server} scripts
  Procfile.dev
  package.json
  server/dev.ts
  server/middlewares.ts
  yarn.lock
Labels: dependencies

#9341 chore(deps-dev): migrate to stylelint-config-recommended-scss
  .stylelintrc.json
  package.json
  yarn.lock
Labels: dependencies

#8996 fix(deployer): escape markdown markup in link text
  deployer/src/deployer/analyze_pr.py
  deployer/src/deployer/test_analyze_pr.py
Labels: python, deployer
