Repository mdn/yari, pull requests merged in 2023-02, with the labels that each got.

#8100 Merge {{optionalGeneric}} into {{optional_inline}}
  kumascript/macros/optionalGeneric.ejs
  kumascript/macros/optional_inline.ejs
Labels: macros

#8101 Merge {{Non-standardGeneric}} into {{Non-standard_Header}}
  kumascript/macros/Non-standardGeneric.ejs
  kumascript/macros/Non-standard_Header.ejs
Labels: macros

#8024 chore(macros/LearnSidebar): add Cascade layers
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#7941 chore(deps): replace browser-specs with web-specs
  build/extract-specifications.ts
  package.json
  yarn.lock
Labels: dependencies

#7901 remove(plus): remove notifcations and watching
  build/spas.ts
  client/public/assets/collections.png
  client/public/assets/collections_light.png
  client/public/assets/offline.png
  client/public/assets/offline_settings_light.png
  client/public/assets/plus-docs/updates/collections.png
  client/public/assets/plus-docs/updates/updates.png
  client/public/assets/plus-docs/updates/updates_bcd.png
  client/public/assets/plus-docs/updates/updates_collection.png
  client/public/assets/plus-docs/updates/updates_filter.png
  client/public/assets/plus-docs/updates/updates_search.png
  client/public/assets/updates.png
  client/src/constants.ts
  client/src/homepage/homepage-hero/index.scss
  client/src/plus/common/api.tsx
  client/src/plus/common/tabs.tsx
  client/src/plus/index.tsx
  client/src/plus/notifications/index.scss
  client/src/plus/notifications/index.tsx
  client/src/plus/notifications/notification-card-list-item.tsx
  client/src/plus/notifications/notification-card.tsx
  client/src/plus/notifications/notification-select.tsx
  client/src/plus/notifications/notifications-tab.tsx
  client/src/plus/notifications/utils.ts
  client/src/plus/notifications/watched-items-tab.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/atoms/limit-banner/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions/index.tsx
  client/src/ui/organisms/article-actions/manage-upgrade-dialog/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/index.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.scss
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-item.tsx
  client/src/ui/organisms/article-actions/notifications-watch-menu/menu-start.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  copy/plus/faq.md
  copy/plus/features/notifications.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
  copy/plus/features/updates.md
Labels: plus

#8110 chore(workflows/pr-commit-signatures): use GitHub CLI + tee
  .github/workflows/pr-commit-signatures.yml
Labels: github-actions

#7867 feat(quicksearch): boost exact matches
  client/src/search.tsx
Labels: ux, 🔎 search

#7971 chore(macros): add Korean translations
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/CanvasSidebar.ejs
  kumascript/macros/DeprecatedBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/ObsoleteGeneric.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebGLSidebar.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/jsOverrides.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/spec2.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
  kumascript/macros/xref_cssvisual.ejs
Labels: macros

#8118 chore(lint-staged): don't run check:tsc
  lint-staged.config.js
Labels: p1, dx

#8115 fix(Button): pass through ARIA attrs
  client/src/plus/collections/index.tsx
  client/src/plus/icon-card/index.tsx
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/button/index.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/ui/molecules/user-menu/index.tsx
  client/src/ui/organisms/article-actions-container/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/ui/organisms/top-navigation/index.tsx
Labels: ♿ a11y, plus

#8123 fix(macros/MDNSidebar): remove repeated `<details>` tag
  kumascript/macros/MDNSidebar.ejs
Labels: macros

#8041 enhance(bcd): add release date label to timeline
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
Labels: ux

#8072 chore(macros): deprecate {{page}} + remove test cases
  kumascript/macros/page.ejs
  kumascript/tests/index.test.ts
  testing/content/files/en-us/_wikihistory.json
  testing/content/files/en-us/chicken_and_egg/chicken/index.html
  testing/content/files/en-us/chicken_and_egg/egg/index.html
  testing/content/files/en-us/chicken_and_egg/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/grid/stuff/index.html
  testing/content/files/en-us/web/foo/index.html
  testing/content/files/en-us/web/fubar/index.html
  testing/tests/index.test.ts
Labels: macros

#8059 chore(sidebars): move status badges to the right side of links
  kumascript/macros/APIListAlpha.ejs
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/ListGroups.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/api/page.ts
  kumascript/src/environment.ts
  kumascript/src/lib/badges.ts
Labels: ux, macros, sidebar/toc

#8116 fix(client): resolve .env properly + move testing/.env to .env.testing + improve how ENV_FILE works
  .env.testing
  .github/workflows/testing.yml
  client/config/env.js
  client/config/paths.js
  package.json
  scripts/testing.sh
  testing/README.md
  testing/scripts/functional-test.sh
  testing/tests/index.test.ts
  yarn.lock
Labels: dependencies, github-actions

#8128 chore(kumascript): remove BUILD_MACROS_USED_LOGFILE feature
  docs/envvars.md
  kumascript/src/templates.ts
Labels: macros

#8127 chore(macros): remove translations for retired locales
  docs/kumascript/README.md
  kumascript/macros/DeprecatedGeneric.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/ObsoleteBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/spec.ejs
  kumascript/macros/unimplementedGeneric.ejs
  kumascript/src/api/mdn.ts
  testing/content/files/jsondata/L10n-CSS.json
  testing/content/files/jsondata/L10n-Common.json
  testing/content/files/jsondata/L10n-JavaScript.json
Labels: macros

#8120 feat(plus/search-filter): add clear button
  client/src/plus/search-filter/index.tsx
  client/src/ui/atoms/search/index.scss
  client/src/ui/atoms/search/index.tsx
Labels: plus

#8131 fix(plus): clicking "learn more" links caused stale or broken pages
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/ui/molecules/menu/index.tsx
Labels: plus

#8142 MP-202 Fix update state on removal
  client/src/ui/organisms/article-actions/bookmark-menu/index.tsx
Labels: plus:updates

#7828 feat(sidebars): use status meta for badges
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/ListGroups.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

#8129 chore(macros): remove usage of the obsolete tag
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSS_Ref.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/macros/HTMLRefTable.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
Labels: macros

#8151 chore(surveys): run web compat survey for 2 more days
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#8153 enhance(deployer): prefix lambda for stage
  .github/workflows/stage-build.yml
  deployer/src/deployer/constants.py
  deployer/src/deployer/update_lambda_functions.py
Labels: python, deployer, github-actions

#8152 chore(macros): remove {{ARIARole}} macro
  kumascript/macros/ARIARole.ejs
Labels: macros

#8172 chore(macros): remove unused `{{WebGLSidebar}}` macro
  content/translation.ts
  kumascript/macros/WebGLSidebar.ejs
Labels: macros

#8173 chore(deps): remove rehype-remark
  package.json
  yarn.lock
Labels: dependencies

#8162 fix(kumascript/ListGroups): get page's metadata from default locale only
  kumascript/macros/ListGroups.ejs
  kumascript/src/lib/badges.ts
  kumascript/tests/macros/ListGroups.test.ts
Labels: macros

#8175 fix(npm-published-simulation): stale dependencies when installing tar
  .github/workflows/npm-published-simulation.yml
Labels: github-actions

#8007 chore(macros/LearnSidebar): add Web Performance pages
  kumascript/macros/LearnSidebar.ejs
Labels: macros, sidebar/toc

#8174 chore(deps): remove rehype-minify-whitespace
  package.json
  yarn.lock
Labels: dependencies

#8184 deployer(fix): fix lambda update + update python
  .github/workflows/dev-build.yml
  .github/workflows/pr-deployer.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/poetry.lock
  deployer/pyproject.toml
  deployer/src/deployer/update_lambda_functions.py
  testing/integration/poetry.lock
  testing/integration/pyproject.toml
Labels: dependencies, python, deployer, github-actions

#8188 chore(deps): bump NodeJS from Node v16 to v18
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  .nvmrc
  package.json
Labels: github-actions

#8197 fix(macros/JSRef): add missing `await` keyword for async function call
  kumascript/macros/JSRef.ejs
Labels: macros

#8198 Remove deleted page from GamesSidebar
  kumascript/macros/GamesSidebar.ejs
Labels: macros

#8211 refactor(macros): remove {{CanvasSidebar}} macro
  kumascript/macros/CanvasSidebar.ejs
Labels: macros

#8212 chore(macros): remove {{gecko}} macro
  kumascript/macros/gecko.ejs
Labels: macros

#8014 chore(macros): add missing CSS selectors pages to sidebars
  kumascript/macros/CSSRef.ejs
  kumascript/macros/LearnSidebar.ejs
Labels: macros, sidebar/toc

#8213 feat: add placements
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/spas.ts
  client/public/assets/afree.png
  client/src/advertising/about/index.scss
  client/src/advertising/about/index.tsx
  client/src/advertising/index.tsx
  client/src/advertising/with_us/index.scss
  client/src/advertising/with_us/index.tsx
  client/src/app.tsx
  client/src/community/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/document/organisms/toc/placement.scss
  client/src/document/organisms/toc/placement.tsx
  client/src/env.ts
  client/src/hooks.ts
  client/src/plus/common/api.tsx
  client/src/plus/index.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/settings/index.scss
  client/src/settings/index.tsx
  client/src/settings/manage.tsx
  client/src/settings/newsletter.tsx
  client/src/setupProxy.js
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/ui/_vars.scss
  client/src/ui/atoms/signin-link/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/grids/_document-page.scss
  client/src/ui/organisms/footer/index.tsx
  client/src/user-context.tsx
  client/src/writers-homepage/hooks.tsx
  client/src/writers-homepage/viewed-documents.tsx
  deployer/aws-lambda/kevel/.gitignore
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/cc2ip.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  server/index.ts
  testing/tests/headless.auth.spec.ts
  testing/tests/headless.plus.bookmarks.spec.ts
Labels: dependencies, plus, deployer, github-actions

#7921 fix(ssr): use different language tag when with duplicate langs
  ssr/render.ts
  testing/tests/index.test.ts
  testing/translated-content/files/zh-cn/web/foo/index.md
Labels: localization

#8240 ci(builds): print cpuinfo
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#8249 chore(macros): deprecate HTMLRefTable
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

#8257 Remove {{fx_minversion_note}} macro
  kumascript/macros/fx_minversion_note.ejs
Labels: macros

#8252 fix(kumascript): load badge templates by locale
  kumascript/src/lib/badges.ts
Labels: macros

#8284 Remove Browser_compatibility_and_scroll_snap page from CSSRef
  kumascript/macros/CSSRef.ejs
Labels: macros

#8256 chore(macros/LearnSidebar): translate command_line in Japanese
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#7825 feat(macros): support short-title frontmatter + use it in APIRef
  build/document-utils.ts
  build/index.ts
  kumascript/macros/APIRef.ejs
  kumascript/src/info.ts
  libs/types/document.ts
Labels: macros

#8293 feat(telemetry): add sidebar_click measurement
  build/cli.ts
  build/extract-sidebar.ts
  client/src/document/organisms/sidebar/index.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/sidebar-click.ts
  kumascript/macros/APIRef.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/QuickLinksWithSubpages.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  libs/types/document.ts
Labels: macros, metrics

#8300 refactor(kumascript): add mdn.deprecatedParams() for deprecated macro parameters
  kumascript/macros/Compat.ejs
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/macros/Specifications.ejs
  kumascript/src/api/mdn.ts
  tool/macro-usage-report.ts
Labels: macros

#8298 refactor(macros): Deprecate {{bug}} and {{WebkitBug}} macros
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/bug.ejs
Labels: macros

#8311 fix(macros): add data-macro to JSRef/SVGRef
  kumascript/macros/JSRef.ejs
  kumascript/macros/SVGRef.ejs
Labels: macros

#8312 fix(telemetry/sidebar-click): ignore mobile TOC clicks
  client/src/telemetry/sidebar-click.ts
Labels: sidebar/toc

#8315 chore(short-survey): MDN Web Docs content discovery
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: chore, github-actions

#8134 fix(macros/JSRef): rewrite and show correct subpages
  kumascript/macros/JSRef.ejs
Labels: macros
