Repository mdn/yari, pull requests merged in 2023-04, with the labels that each got.

#8553 fix(macros/LearnSidebar): remove duplicated accessibility section
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#8551 chore(macros): deprecate htmlattrdef + htmlattrxref macros
  kumascript/macros/htmlattrdef.ejs
  kumascript/macros/htmlattrxref.ejs
  testing/content/files/en-us/web/bar/index.html
  testing/content/files/en-us/web/fixable_flaws/index.html
  testing/tests/destructive.test.ts
  testing/tests/index.test.ts
Labels: macros

#8258 refactor(macros): Merge {{secureContextGeneric}} into {{secureContext_header/inline}}
  kumascript/macros/secureContextGeneric.ejs
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/secureContext_inline.ejs
Labels: macros

#8238 feat(macros): create a PWA sidebar
  kumascript/macros/PWASidebar.ejs
Labels: macros, sidebar/toc

#8540 ci(stage-build): deploy Cloud Function in multiple regions
  .github/workflows/stage-build.yml
Labels: github-actions

#8498 fix(deployer): add content-encoding if mimetypes infers one
  deployer/src/deployer/upload.py
Labels: python, deployer

#8592 chore(macros): delete {{mediawiki.external}} macro
  kumascript/macros/mediawiki.external.ejs
Labels: macros

#8563 refactor(macros/CSSSyntax): extract to lib + add snapshot tests
  kumascript/macros/CSSSyntax.ejs
  kumascript/src/api/page.ts
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
  kumascript/tests/lib/css-syntax.test.ts
Labels: macros

#8630 ci(prod-build): sync build with GCS
  .github/workflows/prod-build.yml
Labels: github-actions

#8632 fix(prod-build): add required secrets, environment and permissions
  .github/workflows/prod-build.yml
Labels: github-actions

#8611 Add "attribute values" guide to MathML sidebar
  kumascript/macros/MathMLRef.ejs
Labels: macros

#8641 chore(macros): delete `{{HTMLRefTable}}` macro
  kumascript/macros/HTMLRefTable.ejs
Labels: macros

#8633 refactor(whatsdeployed): move from deployer to tool
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  deployer/src/deployer/main.py
  deployer/src/deployer/whatsdeployed.py
  tool/cli.ts
  tool/whatsdeployed.ts
Labels: p2, python, deployer, github-actions, gcp-migration

#8642 ci(stage,prod): build all locales concurrently on 4core runner
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: p2, github-actions, gcp-migration

#8640 feat(user-context): show maintenance message if whoami failed
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/ui/atoms/avatar/index.tsx
  client/src/user-context.tsx
  client/src/utils.ts
  server/index.ts
Labels: p1, plus, gcp-migration

#8649 KS Macros: Remove fx differentiators from sidebar as a companion of mdn/content#26242
  kumascript/macros/AddonSidebar.ejs
Labels: macros

#8366 feat(cloud-function): implement Cloud Function + deploy to stage/prod
  .eslintignore
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .prettierignore
  cloud-function/.env-dist
  cloud-function/.gcloudignore
  cloud-function/.gitignore
  cloud-function/Procfile
  cloud-function/README.md
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/build-redirects.ts
  cloud-function/src/constants.ts
  cloud-function/src/env.ts
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-api.ts
  cloud-function/src/handlers/proxy-content.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/handlers/proxy-telemetry.ts
  cloud-function/src/headers.ts
  cloud-function/src/index.ts
  cloud-function/src/middlewares/lowercase-pathname.ts
  cloud-function/src/middlewares/not-found.ts
  cloud-function/src/middlewares/redirect-fundamental.ts
  cloud-function/src/middlewares/redirect-leading-slash.ts
  cloud-function/src/middlewares/redirect-locale.ts
  cloud-function/src/middlewares/redirect-moved-pages.ts
  cloud-function/src/middlewares/redirect-trailing-slash.ts
  cloud-function/src/middlewares/require-origin.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/proxy.ts
  cloud-function/src/stripe-plans/index.ts
  cloud-function/src/stripe-plans/prod.ts
  cloud-function/src/stripe-plans/stage.ts
  cloud-function/src/utils.ts
  cloud-function/tsconfig.json
  libs/locale-utils/index.js
  libs/locale-utils/package.json
  libs/locale-utils/yarn.lock
  package.json
Labels: dependencies, p0, github-actions, gcp-migration

#8673 chore(deployer): remove aws-lambda
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/aws-lambda.yml
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/testing.yml
  deployer/README.md
  deployer/aws-lambda/README.md
  deployer/aws-lambda/content-origin-request/.gitignore
  deployer/aws-lambda/content-origin-request/build.js
  deployer/aws-lambda/content-origin-request/index.js
  deployer/aws-lambda/content-origin-request/package.json
  deployer/aws-lambda/content-origin-request/redirects.json
  deployer/aws-lambda/content-origin-request/yarn.lock
  deployer/aws-lambda/content-origin-response/index.js
  deployer/aws-lambda/content-origin-response/package.json
  deployer/aws-lambda/content-origin-response/yarn.lock
  deployer/aws-lambda/kevel/.gitignore
  deployer/aws-lambda/kevel/build.js
  deployer/aws-lambda/kevel/index.js
  deployer/aws-lambda/kevel/package.json
  deployer/aws-lambda/kevel/yarn.lock
  deployer/aws-lambda/mdn-stripe-price-ids/index.js
  deployer/aws-lambda/mdn-stripe-price-ids/package.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-prod-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/plans-stage-lookup.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-prod-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/__mocks__/plans-stage-lookup-test.json
  deployer/aws-lambda/mdn-stripe-price-ids/tests/handler.test.js
  deployer/aws-lambda/mdn-stripe-price-ids/yarn.lock
  deployer/aws-lambda/tests/package.json
  deployer/aws-lambda/tests/server.js
  deployer/aws-lambda/tests/server.test.js
  deployer/aws-lambda/tests/yarn.lock
  deployer/src/deployer/constants.py
  deployer/src/deployer/main.py
  deployer/src/deployer/update_lambda_functions.py
Labels: dependencies, python, deployer, github-actions, gcp-migration

#8678 chore(macros): delete {{WebkitBug}} macro
  kumascript/macros/WebkitBug.ejs
  kumascript/macros/unimplementedGeneric.ejs
Labels: macros

#8677 ci(stage,prod): stop deploying to AWS
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions
