Repository mdn/yari, pull requests merged in 2023-09, with the labels that each got.

#8872 chore(banners): remove unused cta code
  client/public/index.html
  client/src/banners/README.md
  client/src/banners/active-banner.tsx
  client/src/banners/banner-utils.ts
  client/src/banners/banner.scss
  client/src/banners/ids.ts
  client/src/banners/index.tsx
  client/src/document/index.scss
  client/src/telemetry/constants.ts
Labels: internal

#9621 chore(deps): bump @webref/css from 5.4.4 to 6.0.0
  kumascript/src/lib/css-syntax.ts
  package.json
  yarn.lock
Labels: dependencies, macros

#9708 chore(plus): prepare account rebranding
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/settings/manage.tsx
Labels: github-actions

#9202 chore(macros/LearnSidebar): add "HTML forms in legacy browsers"
  kumascript/macros/LearnSidebar.ejs
Labels: macros, sidebar content

#9730 fix(macros/WebExtExamples): update branch name
  kumascript/macros/WebExtExamples.ejs
Labels: macros

#9250 fix(client): make alt text on images appear in dark mode
  client/src/document/index.scss
Labels: ux, contrast

#9738 fix(macros/LiveSampleLink): add fallback to prebuilt samples
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  kumascript/macros/LiveSampleLink.ejs
Labels: macros, live-samples, github-actions
