Repository mdn/yari, pull requests merged in 2023-06, with the labels that each got.

#7605 feat(docs): allow audio (mp3/ogg), video (mp4/webm) and font (woff2) attachments
  .github/workflows/testing.yml
  build/check-images.ts
  build/flaws/broken-links.ts
  build/index.ts
  build/utils.ts
  client/src/react-app.d.ts
  client/src/setupProxy.js
  cloud-function/src/app.ts
  cloud-function/src/utils.ts
  content/file-attachment.ts
  content/index.ts
  filecheck/checker.ts
  libs/constants/index.d.ts
  libs/constants/index.js
  libs/constants/index.test.ts
  package.json
  server/index.ts
  server/react-app.d.ts
  ssr/react-app.d.ts
Labels: flaw-system, github-actions, wx, internal

#8997 feat(macros): add GlossarySidebar macro
  kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
Labels: macros

#8383 feat(client/env): split CRUD_MODE into WRITER_MODE and DEV_MODE
  .env-dist
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  client/src/app.tsx
  client/src/banners/README.md
  client/src/banners/index.tsx
  client/src/blog/index.tsx
  client/src/blog/post.tsx
  client/src/contributor-spotlight/index.tsx
  client/src/document/index.tsx
  client/src/document/toolbar/edit-actions.tsx
  client/src/document/toolbar/flaws.tsx
  client/src/document/toolbar/index.tsx
  client/src/env.ts
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/homepage/featured-articles/index.tsx
  client/src/homepage/latest-news/index.tsx
  client/src/homepage/recent-contributions/index.tsx
  client/src/homepage/static-page/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/site-search/search-results.tsx
  client/src/sitemap/index.tsx
  client/src/telemetry/glean-context.tsx
  docs/envvars.md
  docs/npm-packaging.md
  scripts/developing.sh
  testing/README.md
Labels: plus, github-actions, internal

#9023 style(sass): disallow concatenated selectors
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/updates/index.scss
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/molecules/dropdown/index.scss
  client/src/ui/molecules/pagination/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
Labels: plus

#9038 Revert "style(sass): disallow concatenated selectors"
  .stylelintrc.json
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
  client/src/document/toolbar/index.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/updates/index.scss
  client/src/ui/atoms/avatar/index.scss
  client/src/ui/atoms/toast/index.scss
  client/src/ui/molecules/dropdown/index.scss
  client/src/ui/molecules/pagination/index.scss
  client/src/ui/organisms/article-actions/index.scss
  client/src/ui/organisms/footer/index.scss
Labels: plus

#8995 refactor(macros/AddonSidebar): use page titles + cleanup
  kumascript/macros/AddonSidebar.ejs
  kumascript/tests/macros/addonsidebar.test.ts
Labels: macros

#9050 fix(gcp): cache volatile content for 1h
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  cloud-function/src/headers.ts
Labels: github-actions

#9136 fix(prod): set ORIGIN_PLAY for cloud function
  .github/workflows/prod-build.yml
Labels: github-actions

#9129 chore(macros): update MDN Sidebar strings for zh-CN
  kumascript/macros/MDNSidebar.ejs
Labels: macros

#9158 fix(livesamples): use correct legacy url
  kumascript/macros/LiveSampleURL.ejs
  kumascript/tests/macros/EmbedLiveSample.test.ts
  kumascript/tests/macros/LiveSampleURL.test.ts
Labels: macros

#9173 feat(surveys): add Blog Feedback survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

#9176 fix(playground): only initialize once
  client/public/runner.html
Labels: internal

#9116 feat(plus): add AI Help frontend
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  build/spas.ts
  client/public/assets/ai-help.png
  client/public/assets/plus-docs/ai-help/ask-question.png
  client/public/assets/plus-docs/ai-help/code-example.png
  client/public/assets/plus-docs/ai-help/context.png
  client/public/assets/plus-docs/ai-help/sources.png
  client/src/app.scss
  client/src/assets/icons/chatgpt.svg
  client/src/assets/icons/send.svg
  client/src/constants.ts
  client/src/document/organisms/sidebar/filter.scss
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/login-banner.scss
  client/src/plus/ai-help/login-banner.tsx
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/ai-help/utils.ts
  client/src/plus/common/api.tsx
  client/src/plus/index.scss
  client/src/plus/index.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/plus-docs/index.tsx
  client/src/plus/updates/index.scss
  client/src/telemetry/constants.ts
  client/src/ui/atoms/icon/index.scss
  client/src/ui/atoms/thumbs/index.scss
  client/src/ui/atoms/thumbs/index.tsx
  client/src/ui/base/_themes.scss
  client/src/ui/molecules/main-menu/index.tsx
  client/src/ui/molecules/plus-menu/index.tsx
  client/src/ui/organisms/placement/index.tsx
  client/src/ui/organisms/top-navigation-main/index.scss
  client/src/ui/organisms/top-navigation-main/index.tsx
  cloud-function/src/constants.ts
  copy/plus/features/ai-help.md
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  scripts/ai-help.sql
  scripts/ai-help.ts
  server/index.ts
  yarn.lock
Labels: dependencies, plus, github-actions, internal

#9188 feat(ai-explain): add ai-explain to code blocks
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  build/syntax-highlight.ts
  client/src/blog/post.tsx
  client/src/document/code/ai-explain.ts
  client/src/document/code/copy.ts
  client/src/document/code/playground.ts
  client/src/document/code/render-md.ts
  client/src/document/hooks.ts
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  yarn.lock
Labels: dependencies, github-actions

#9174 chore(blog): stylise sponsored content indicator
  client/src/blog/index.scss
  client/src/blog/index.tsx
  client/src/blog/post.scss
Labels: internal

#9192 Update PWA sidebar
  kumascript/macros/PWASidebar.ejs
Labels: macros
