Repository mdn/yari, pull requests merged in 2023-10, with the labels that each got.

#9762 chore(redirects): remove broken redirect rules
  libs/fundamental-redirects/index.js
  testing/integration/headless/map_301.py
  testing/integration/headless/test_redirects.py
  testing/tests/redirects.test.ts
Labels: python

#9630 chore(macros/LearnSidebar): update zh-CN translation of LearnSidebar
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#9790 chore(macros/HTMLSidebar): update zh-CN translation of HTMLSidebar
  kumascript/macros/HTMLSidebar.ejs
Labels: macros

#8413 feat(docs): add anchor links on description terms
  client/src/document/index.scss
  kumascript/src/api/util.ts
  markdown/m2h/handlers/dl.ts
  testing/content/files/en-us/markdown/tool/m2h/expected.html
Labels: macros, markdown

#9792 chore(ai-help): fix typo in modal
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#9789 chore(macros): delete {{htmlattrxref}} macro
  kumascript/macros/htmlattrxref.ejs
Labels: macros

#9811 fix(docs): restore behavior of description term links
  client/src/document/index.scss
  kumascript/src/api/util.ts
Labels: macros

#9595 chore(glean): add page's UTM parameters to pings
  client/src/telemetry/generated/page.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Labels: metrics

#9839 chore(flaws): exclude /en-US/blog/* from broken-link flaw
  build/flaws/broken-links.ts
Labels: flaw-system

#9851 fix(a11y): fix tab order reset in the header
  client/src/ui/molecules/search/index.scss
Labels: ♿ a11y

#9775 Pong2
  .github/workflows/stage-build.yml
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
  cloud-function/README.md
  cloud-function/src/app.ts
  cloud-function/src/env.ts
  cloud-function/src/handlers/proxy-bsa.ts
  cloud-function/src/handlers/proxy-pong.ts
  libs/pong/cc2ip.js
  libs/pong/click.d.ts
  libs/pong/click.js
  libs/pong/fallback.d.ts
  libs/pong/fallback.js
  libs/pong/get.d.ts
  libs/pong/index.d.ts
  libs/pong/index.js
  libs/pong/pong.d.ts
  libs/pong/pong.js
  libs/pong/pong2.d.ts
  libs/pong/pong2.js
  libs/pong/types.d.ts
  libs/pong/viewed.d.ts
  libs/pong/viewed.js
Labels: github-actions, placement, cloud-function

#9882 fix(flaws): ignore casing of text fragments
  build/flaws/broken-links.ts
Labels: flaw-system

#9883 feat(pong): bottom banner
  client/src/document/index.tsx
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong.js
Labels: placement

#9862 fix(docs): make description terms clickable in postprocessing
  kumascript/src/api/util.ts
  markdown/m2h/handlers/dl.ts
  testing/content/files/en-us/markdown/tool/m2h/expected.html
  testing/tests/index.test.ts
Labels: p1, macros, markdown

#9827 chore(macros/Non-standard_Header): remove "Firefox OS"
  kumascript/macros/Non-standard_Header.ejs
Labels: macros

#9828 test(build): avoid race condition in destructive test
  testing/tests/destructive.test.ts
Labels: p2, dx

#9325 feat(theme): sync body background-color with theme-color meta tag
  client/src/ui-context.tsx
  client/src/ui/molecules/theme-switcher/index.tsx
  client/src/utils.ts
Labels: 🧑‍🤝‍🧑 community

#9858 fix: correct typos
  client/pwa/src/db.ts
  client/src/settings/db.ts
  client/src/ui/README.md
  copy/plus/features/collections.md
  deployer/src/deployer/search/models.py
  kumascript/macros/SVGElement.ejs
Labels: macros, python, plus, plus:offline, deployer, copy

#9915 chore(macros/MathMLRef): update zh-CN translation
  kumascript/macros/MathMLRef.ejs
Labels: macros

#9916 fix(mandala): remove rotation and color animation
  client/src/homepage/homepage-hero/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/plus/collections/index.tsx
  client/src/plus/offer-overview/offer-hero/index.tsx
  client/src/plus/updates/index.tsx
  client/src/ui/molecules/mandala/index.scss
  client/src/ui/molecules/mandala/index.tsx
Labels: ux, plus, plus:updates, plus:ai-help

#9919 chore(telemetry): measure TOC clicks
  client/src/document/organisms/toc/index.tsx
  client/src/telemetry/constants.ts
Labels: metrics

#9849 chore(macros/JsSidebar): update zh-CN translation
  kumascript/macros/JsSidebar.ejs
Labels: macros

#9918 chore(telemetry): measure menu clicks
  client/src/telemetry/constants.ts
  client/src/ui/molecules/menu/index.tsx
  client/src/ui/molecules/submenu/index.tsx
Labels: metrics
