Repository mdn/yari, pull requests merged in 2024-10, with the labels that each got.

#11888 chore(macros): add "except shared" condition to AvailableinWorkers
  kumascript/macros/AvailableInWorkers.ejs
Labels: macros

#11887 fix(build): don't run bundlesize action on PRs from forks
  .github/workflows/pr-bundlesize-compare.yml
Labels: github-actions

#11877 enhance(seo): link technologies in homepage hero
  client/src/homepage/featured-articles/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/homepage/index.scss
  client/src/homepage/recent-contributions/index.scss
  client/src/telemetry/constants.ts
Labels: metrics

#11753 chore(macros/HTTPSidebar): Reorg HTTP sidebar after doc reshuffle, delete 'Basics of HTTP'
  kumascript/macros/HTTPSidebar.ejs
  kumascript/tests/macros/HTTPSidebar.test.ts
Labels: macros

#11920 chore(deps): bump cookie from 0.5.0 to 0.7.2 in /cloud-function
  cloud-function/package-lock.json
Labels: cloud-function

#11930 fix(m2h): don't delete p's in li's
  client/src/curriculum/index.scss
  client/src/document/index.scss
  markdown/m2h/handlers/index.ts
Labels: markdown

#11394 enhance(server): introduce SERVER_HOST variable
  docs/envvars.md
  server/index.ts
  server/static.ts
Labels: idle

#11508 chore(deps): migrate from inquirer to @inquirer/prompts 7.0.0
  build/cli.ts
  package.json
  tool/cli.ts
  yarn.lock
Labels: dependencies

#11947 chore(observatory): remove links to old observatory
  client/src/observatory/landing.tsx
  copy/observatory/faq.md
Labels: copy

#11653 feat(community): new community page design
  build/spas.ts
  client/src/app.tsx
  client/src/assets/community/community-calls-dark.svg
  client/src/assets/community/community-calls.svg
  client/src/assets/community/discord-dark.svg
  client/src/assets/community/discord.svg
  client/src/assets/community/people-dark.svg
  client/src/assets/community/people.svg
  client/src/assets/community/quote-end-dark.svg
  client/src/assets/community/quote-end.svg
  client/src/assets/community/quote-start-dark.svg
  client/src/assets/community/quote-start.svg
  client/src/assets/community/video-bg-dark.svg
  client/src/assets/community/video-bg.svg
  client/src/assets/community/video-thumbnail.png
  client/src/assets/community/youtube-play.svg
  client/src/community/contributor-list.scss
  client/src/community/contributor-list.ts
  client/src/community/index.scss
  client/src/community/index.tsx
  client/src/react-app.d.ts
  client/src/ui/atoms/button/_mixins.scss
  client/src/utils.ts
  copy/community/community.md
  deployer/src/deployer/search/__init__.py
  libs/constants/index.js
  ssr/react-app.d.ts
Labels: dependencies, python, deployer, copy

#11831 chore(macros/WebExtAllExamples): update zh-* translation
  kumascript/macros/WebExtAllExamples.ejs
Labels: macros

#11954 chore(observatory): update the FAQ for the new API V2
  copy/observatory/faq.md
Labels: copy

#11840 chore(macros/LearnSidebar): add Japanese translations for HTML and CSS
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11988 chore(macros/LearnSidebar): add Japanese translations for JavaScript
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11972 chore(curriculum): add metrics to measure scrimba funnel
  client/src/curriculum/landing.tsx
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim-inline.ts
  client/src/hooks.ts
  client/src/telemetry/constants.ts
  client/src/ui/organisms/placement/index.tsx
Labels: metrics, placement

#11981 enhance(telemetry): measure all external link clicks
  client/src/telemetry/constants.ts
  client/src/telemetry/glean-context.tsx
Labels: metrics

#12000 enhance(telemetry): measure search source + change
  client/src/search.tsx
Labels: metrics

#12010 fix(placement): hide ad-free link if plus isn't available
  client/src/placement-context.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/ui/organisms/placement/index.tsx
  cloud-function/src/handlers/handle-stripe-plans.ts
  cloud-function/src/handlers/proxy-bsa.ts
  cloud-function/src/handlers/proxy-kevel.ts
  libs/pong/pong.d.ts
  libs/pong/pong2.d.ts
Labels: plus, placement, cloud-function

#12032 chore(deps): migrate to googleapis/release-please-action
  .github/workflows/npm-publish.yml
Labels: github-actions

#12045 fix(various): small fixes from diffing with rari
  build/flaws/broken-links.ts
  build/git-history.ts
  build/utils.ts
  kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/InheritanceDiagram.ejs
  kumascript/macros/MathMLElement.ejs
  kumascript/macros/PreviousNext.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/SVGAttr.ejs
  kumascript/src/api/util.ts
  kumascript/tests/macros/fixtures/apiref/commonl10n.json
  kumascript/tests/macros/svgattr.test.ts
  testing/content/files/en-us/learn/css/css_layout/introduction/flex/index.html
  testing/content/files/en-us/learn/css/css_layout/introduction/index.html
  testing/tests/headless.index.spec.ts
  testing/tests/index.test.ts
  tool/cli.ts
Labels: flaw-system, macros

#12058 fix(npm-publish): use default github token
  .github/workflows/npm-publish.yml
Labels: github-actions

#12059 fix(macros): correct anchor-link encoding
  kumascript/src/api/util.ts
Labels: macros

#12052 chore(deps)!: bump NodeJS from v18 to v20
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  .nvmrc
  build/cli.ts
  package.json
Labels: github-actions
