Repository mdn/yari, pull requests merged in 2024-12, with the labels that each got.

#12216 fix(livesamples): livesamples must not use port from parent
  client/src/playground/utils.ts
Labels: plus:playground

#12224 fix(playground): run code even if it doesn't change
  client/src/playground/index.tsx
Labels: plus:playground

#12237 chore(scrimba): remove past banner and update link
  client/src/ui/organisms/placement/index.tsx
Labels: placement

#12228 chore(placement): add hpTop
  client/src/placement-context.tsx
  client/src/ui/organisms/placement/index.tsx
Labels: placement

#12212 fix(search-index): use en-US popularities for German
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  scripts/reorder-search-index.mjs
Labels: github-actions

#12221 chore(lit): add linting and fix
  .gitignore
  client/config/webpack.config.js
  client/package.json
  client/pwa/webpack.config.js
  client/src/community/contributor-list.js
  client/src/community/types.d.ts
  client/src/curriculum/scrim-inline.js
  client/tsconfig.json
  package.json
  ssr/theme.js
  ssr/webpack.config.js
  yarn.lock
Labels: dependencies

#12248 feat(spas): streamline 404
  build/spas.ts
  client/src/app.tsx
  client/src/page-not-found/fallback-link.tsx
  client/src/page-not-found/index.tsx
  cloud-function/src/handlers/proxy-content.ts
  docs/spas.md
  package.json
  server/index.ts
  server/static.ts
  testing/tests/index.test.ts
Labels: cloud-function

#12227 fix(playground): use localhost if on localhost
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  client/src/setupProxy.js
Labels: plus:playground

#12068 chore: move copy to external generic-content repo
  .env-dist
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  build/spas.ts
  copy/community/community.md
  copy/config.json
  copy/observatory/faq.md
  copy/observatory/tests_and_scoring.md
  copy/plus/faq.md
  copy/plus/features/ai-help.md
  copy/plus/features/collections.md
  copy/plus/features/offline.md
  copy/plus/features/overview.md
  copy/plus/features/playground.md
  copy/plus/features/updates.md
  docs/envvars.md
  libs/env/index.d.ts
  libs/env/index.js
Labels: plus, github-actions, copy

#12069 feat: new about page
  build/spas.ts
  client/src/about/_mixins.scss
  client/src/about/custom-elements.js
  client/src/about/index.scss
  client/src/about/index.tsx
  client/src/about/testimonial/index.scss
  client/src/about/testimonial/index.tsx
  client/src/about/testimonial/quote.svg
  client/src/app.scss
  client/src/app.tsx
  client/src/assets/about/accurate-sm.svg
  client/src/assets/about/accurate.svg
  client/src/assets/about/building-dark.svg
  client/src/assets/about/building.svg
  client/src/assets/about/collaborative-sm.svg
  client/src/assets/about/collaborative.svg
  client/src/assets/about/dot-dark.svg
  client/src/assets/about/dot.svg
  client/src/assets/about/education.svg
  client/src/assets/about/global-impact-dark.svg
  client/src/assets/about/global-impact.svg
  client/src/assets/about/handshake.svg
  client/src/assets/about/inclusive-sm.svg
  client/src/assets/about/inclusive.svg
  client/src/assets/about/line-dot.svg
  client/src/assets/about/sparkle.svg
  client/src/assets/about/text-box-check-outline.svg
  client/src/assets/about/web-check.svg
  client/src/assets/lines.svg
  client/src/community/index.scss
  client/src/community/index.tsx
  client/src/telemetry/constants.ts
  libs/constants/index.js
Labels: plus, github-actions, copy, metrics

#12183 fix(i10n): localize secureContext header and inline text in ko
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/secureContext_inline.ejs
Labels: macros

#12275 chore(playground): add comment to keep in sync
  client/src/playground/utils.ts
  libs/play/index.js
Labels: plus:playground

#12291 fix(cloud-function): add libs/play as dependency
  cloud-function/package-lock.json
  cloud-function/package.json
Labels: github-actions, cloud-function

#12251 chore(playground): migrate console to web component
  client/src/playground/console.js
  client/src/playground/console.scss
  client/src/playground/console.tsx
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/playground/types.d.ts
Labels: plus:playground

#12294 fix(deployer): limit comment length
  deployer/src/deployer/analyze_pr.py
Labels: python, deployer

#12270 fix(scripts/reorder-search-index): no null values
  .github/workflows/stage-build.yml
  scripts/reorder-search-index.mjs
Labels: github-actions

#12322 feat(rari): use rari as default
  .eslintignore
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/prod-build.yml
  .github/workflows/testing.yml
  Procfile.rari.dev
  bins/build.mjs
  bins/server.mjs
  bins/tool.mjs
  docs/cli-tool.md
  package.json
  scripts/testing.sh
  testing/README.md
  testing/scripts/functional-test.sh
  testing/tests/destructive.test.ts
  testing/tests/developing.spec.ts
  testing/tests/index.test.ts
  yarn.lock
Labels: dependencies, github-actions

#12323 fix(ci): fix prod deployment
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#12335 fix(cloud-function): fix en-us asset fallback
  cloud-function/src/handlers/proxy-content-assets.ts
Labels: cloud-function
