Repository mdn/yari, pull requests merged in 2024-09, with the labels that each got.

#11724 chore(telemetry): renew metrics (and remove some)
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Labels: metrics

#11747 fix(macros/WebExtAllExamples): update branch name
  kumascript/macros/WebExtAllExamples.ejs
Labels: macros

#11751 fix(ai-help): set chatId on user message
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/use-ai.ts
Labels: plus, plus:ai-help

#11680 chore(macros/LearnSidebar): add Japanese translation MathML section
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11621 fix(layout): avoid sidebar overflow beyond footer
  client/src/document/organisms/sidebar/index.scss
Labels: dependencies

#11620 chore(deps-dev): add @types/js-yaml 4.0.9
  package.json
  yarn.lock
Labels: dependencies

#11756 chore(deps): bump micromatch from 4.0.5 to 4.0.8 in /cloud-function
  cloud-function/package-lock.json
Labels: security, cloud-function

#11754 chore(deps): bump nodemon from 2.0.22 to 3.1.4 in /cloud-function
  cloud-function/package-lock.json
  cloud-function/package.json
Labels: security, cloud-function

#11678 fix(ai-help): handle invalid chat ids correctly
  client/src/plus/ai-help/use-ai.ts
Labels: plus, plus:ai-help

#11787 enhance(ad-free): hide all banners completely
  client/src/ui/organisms/placement/index.scss
Labels: placement

#11789 chore(deps): run yarn upgrade
  yarn.lock
Labels: dependencies

#11790 chore(macros): delete DOMAttributeMethods + unimplemented_inline macros
  kumascript/macros/DOMAttributeMethods.ejs
  kumascript/macros/unimplemented_inline.ejs
Labels: macros

#11795 fix(placement): use variable for horizontal banner
  client/src/playground/index.scss
Labels: plus:playground

#11785 chore(placement): add scrimba discount
  client/src/ui/organisms/placement/index.tsx
Labels: placement

#11806 fix(build): use pipefail to fail function deployments
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#11654 feat(syntax-highlight): do client side
  build/blog.ts
  build/code-headers.ts
  build/curriculum.ts
  build/index.ts
  build/syntax-highlight.ts
  client/src/blog/post.tsx
  client/src/document/code/syntax-highlight.tsx
  client/src/document/hooks.ts
  client/src/document/index.tsx
  client/src/plus/ai-help/index.tsx
  package.json
  yarn.lock
Labels: dependencies, plus, github-actions, placement, blog, plus:ai-help

#11815 fix(test-build): enable BSA
  .github/workflows/test-build.yml
Labels: github-actions

#11824 chore(origin-trial): update tokens
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#11757 enhance(build): show bundle size diff on PRs
  .github/workflows/pr-bundlesize-compare.yml
  client/config/webpack.config.js
  package.json
  yarn.lock
Labels: dependencies, plus, github-actions

#11823 feat(curriculum): add scrim-inline custom element
  client/config/webpack.config.js
  client/public/assets/curriculum/scrim.png
  client/src/assets/curriculum/scrim-bg.png
  client/src/assets/curriculum/scrim-play.svg
  client/src/curriculum/index.scss
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.tsx
  client/src/curriculum/scrim-inline.ts
  client/src/curriculum/scrim.scss
  client/src/curriculum/scrim.tsx
  client/src/react-app.d.ts
  client/src/telemetry/glean-context.tsx
  package.json
  ssr/react-app.d.ts
  ssr/webpack.config.js
  yarn.lock
Labels: dependencies, metrics

#11518 feat(language-menu): add "Remember language" experiment
  client/src/telemetry/constants.ts
  client/src/ui/organisms/article-actions/language-menu/index.scss
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  client/src/utils.ts
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/canonicals.ts
  cloud-function/src/middlewares/redirect-non-canonicals.ts
  cloud-function/src/middlewares/redirect-preferred-locale.ts
Labels: redirects, metrics, cloud-function

#11869 fix(macros/jsxref): fix dot handling
  kumascript/macros/jsxref.ejs
Labels: macros

#11866 enhance(curriculum): add inline scrim design to custom element
  client/config/webpack.config.js
  client/package.json
  client/src/assets/curriculum/landing-scrim.png
  client/src/assets/curriculum/scrim-bg.png
  client/src/assets/curriculum/scrim-hexagons.svg
  client/src/assets/curriculum/scrim-play.svg
  client/src/assets/curriculum/scrimba-logo.svg
  client/src/assets/fonts/BarlowCondensed-SemiBold.woff2
  client/src/curriculum/index.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/scrim-inline.global.css
  client/src/curriculum/scrim-inline.scss
  client/src/curriculum/scrim-inline.ts
  client/src/react-app.d.ts
  client/tsconfig.json
  ssr/react-app.d.ts
  ssr/webpack.config.js
Labels: github-actions
