Repository mdn/yari, pull requests merged in 2024-02, with the labels that each got.

#10456 fix(workflows): cache `@vscode/ripgrep` bin
  .github/workflows/developing.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-published-simulation.yml
  .github/workflows/performance.yml
  .github/workflows/pr-kumascript.yml
  .github/workflows/testing.yml
Labels: github-actions

#10460 chore(deps): bump fast-xml-parser from 4.1.3 to 4.3.4
  yarn.lock
Labels: dependencies

#10461 chore(deps-dev): bump dependencies of react-dev-utils
  yarn.lock
Labels: dependencies

#10462 chore(deps): resolve http-cache-semantics to >=4.1.1
  package.json
  yarn.lock
Labels: dependencies

#10463 chore(deps): resolve semver-regex to ^3.1.4
  package.json
  yarn.lock
Labels: dependencies

#10471 fix(workflows): cache `@vscode/ripgrep` bin in test job
  .github/workflows/testing.yml
Labels: github-actions

#10474 chore(deps): bump semver v5 + v7 in /cloud-function
  cloud-function/package-lock.json
Labels: cloud-function

#10484 chore(ai-help): remove old index script
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  libs/env/index.d.ts
  libs/env/index.js
  package.json
  scripts/ai-help.ts
  yarn.lock
Labels: dependencies, github-actions

#10241 fix(macros/CSS_Ref): fix special cases
  kumascript/macros/CSS_Ref.ejs
Labels: macros

#10478 chore(deps): bump web-specs from 2.79.0 to 3.0.0
  build/web-specs.ts
  package.json
  yarn.lock
Labels: dependencies

#10486 chore(macros): Mark 'unimplemented_inline' as deprecated
  kumascript/macros/unimplemented_inline.ejs
Labels: macros

#10037 chore(build): remove the translation_of metadata
  build/index.ts
  content/document.ts
  kumascript/tests/macros/fixtures/documentData1.json
  libs/types/document.ts
  testing/translated-content/files/fr/web/foo/index.html
  testing/translated-content/files/zh-cn/web/foo/index.md
  testing/translated-content/files/zh-tw/web/foo/index.html
  tool/cli.ts
Labels: macros, idle

#10511 fix(ai-help): send correct context when editing question
  client/src/plus/ai-help/rust-types.ts
  client/src/plus/ai-help/use-ai.test.ts
  client/src/plus/ai-help/use-ai.ts
Labels: plus, plus:ai-help

#10531 chore(ai-help): update Usage Guidance copy
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10034 chore(macros/Firefox_for_developers): remove the parameter and add zh-CN translation
  kumascript/macros/Firefox_for_developers.ejs
Labels: macros

#10591 chore(deps-dev): bump fork-ts-checker-webpack-plugin from 6.5.0 to 9.0.2
  client/config/webpack.config.js
  package.json
  yarn.lock
Labels: dependencies

#10592 chore(deps-dev): bump @typescript-eslint/* from 5.62.0 to 7.0.2
  .eslintrc.cjs
  package.json
  yarn.lock
Labels: dependencies

#10602 fix(curriculum): add CURRICULUM_ROOT
  .github/workflows/prod-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

#10424 fix(ai-help): nicer error message
  client/src/assets/icons/alert-circle.svg
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10409 feat(macros/MDNSidebar): add Feature status page
  kumascript/macros/MDNSidebar.ejs
Labels: macros

#10609 docs: reflect Glean-derived nature of popularities.json
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  docs/popularities.md
  tool/cli.ts
  tool/popularities.ts
Labels: github-actions

#10520 fix(ai-help): remove decorative images from a11y tree
  client/src/plus/ai-help/landing.tsx
Labels: ♿ a11y, plus, plus:ai-help

#10532 enhance(ai-help): disable top banner if quota banner is visible
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10530 fix(ai-help): hide "Stop answering" before we respond
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10580 enhance(ai-help): improve stopped state
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
  client/src/ui/_vars.scss
  client/src/ui/base/_themes.scss
Labels: plus, plus:ai-help

#10611 chore(macros/CSSRef): add Containment guides
  kumascript/macros/CSSRef.ejs
Labels: macros
