Repository mdn/yari, pull requests merged in 2024-07, with the labels that each got.

#11383 fix(macros/LearnSidebar): add missing entry
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11384 fix(pong): fix invalid default value
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong2.js
Labels: placement

#11395 chore(macros/LearnSidebar): add Event bubbling guide
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11393 fix(pong): remove div/p
  client/src/playground/index.scss
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Labels: placement, plus:playground

#11229 fix(cloud-function): sanitize pong/get input
  libs/pong/pong2.js
Labels: idle, placement

#11407 fix(observatory): update typo about highest possible score
  copy/observatory/tests_and_scoring.md
Labels: copy

#11413 fix(observatory): update FAQ question about move
  copy/observatory/faq.md
Labels: copy

#11412 enhance(ad-free): hide top-banner completely
  client/public/index.html
  client/src/ui/organisms/placement/index.scss
  client/src/user-context.tsx
  libs/constants/index.js
Labels: placement

#11406 chore(flaws): exclude /en-US/observatory/* from broken-link flaw
  build/flaws/broken-links.ts
  kumascript/macros/HTTPSidebar.ejs
Labels: flaw-system, macros

#11419 chore(workflows): remove xyz-build
  .github/workflows/xyz-build.yml
  libs/constants/index.js
Labels: github-actions

#11304 fix(playground): preserve HTML comments
  client/public/runner.html
Labels: plus:playground

#11426 feat(curriculum): update curriculum
  build/curriculum.ts
  client/public/assets/curriculum/curriculum-partner-banner-illustration-large-dark.svg
  client/public/assets/curriculum/curriculum-partner-banner-illustration-large-light.svg
  client/public/assets/curriculum/fullscreen-enter.svg
  client/public/assets/curriculum/scrim.png
  client/src/assets/curriculum-landing-arrow.svg
  client/src/assets/curriculum-partner-bg.svg
  client/src/assets/curriculum-scrim-bg.svg
  client/src/assets/icons/curriculum-partner-underline-large.svg
  client/src/assets/icons/curriculum-partner-underline-small.svg
  client/src/assets/icons/fullscreen-enter.svg
  client/src/curriculum/default.tsx
  client/src/curriculum/index.tsx
  client/src/curriculum/landing.scss
  client/src/curriculum/landing.tsx
  client/src/curriculum/module.scss
  client/src/curriculum/modules-list.scss
  client/src/curriculum/overview.tsx
  client/src/curriculum/partner-banner.scss
  client/src/curriculum/partner-banner.tsx
  client/src/curriculum/scrim.scss
  client/src/curriculum/scrim.tsx
  client/src/curriculum/utils.ts
  client/src/telemetry/constants.ts
  client/src/ui/base/_themes.scss
  libs/constants/index.js
  libs/types/curriculum.ts
Labels: metrics

#11063 enhance(sidebar,toc): improve style of current item
  client/src/curriculum/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/document/organisms/toc/index.scss
Labels: ux

#11441 fix(cloud-function): avoid redirecting curriculum/index.json to curriculum//index.json
  cloud-function/src/middlewares/redirect-non-canonicals.ts
Labels: redirects, cloud-function

#11447 chore(deps-dev): remove style-dictionary
  client/src/ui/README.md
  package.json
  sd-config.js
  yarn.lock
Labels: dependencies

#11108 fix(markdown): Fix GFM rendering if blank line right after magic keyword
  markdown/m2h/handlers/index.ts
Labels: markdown

#11500 chore(plus): remove fxa rebranding
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
Labels: github-actions

#11507 chore(macros/LearnSidebar): add Japanese translation for 5 locations
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11536 fix(baseline): support ranged dates, use upstream types
  build/web-features.ts
  client/src/document/baseline-indicator.tsx
  libs/types/document.ts
  libs/types/web-features.ts
  package.json
  tsconfig.json
  type-fixes/web-features.ts
  yarn.lock
Labels: dependencies

#11540 fix(placement): reuse TextColor/BackgroundColor for "AD" link
  client/src/ui/organisms/placement/index.scss
Labels: placement

#11547 fix(baseline): hide when feature status differs from BCD key status
  build/index.ts
  build/web-features.ts
  package.json
  yarn.lock
Labels: dependencies
