Repository mdn/yari, pull requests merged in 2024-11, with the labels that each got.

#12033 feat(de): launch German translation experiment
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-de-build.yml
  client/src/document/baseline-indicator.tsx
  client/src/document/index.scss
  client/src/document/molecules/localized-content-note/index.tsx
  client/src/document/molecules/note-banner/index.tsx
  client/src/document/on-github.tsx
  client/src/document/organisms/article-footer/index.tsx
  client/src/document/organisms/toc/index.tsx
  client/src/types/notecards.ts
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
  client/src/ui/organisms/article-actions/language-menu/index.scss
  client/src/ui/organisms/article-actions/language-menu/index.tsx
  kumascript/macros/AccessibilitySidebar.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/AvailableInWorkers.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/Deprecated_Header.ejs
  kumascript/macros/Deprecated_Inline.ejs
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/macros/ExperimentalBadge.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/MDNSidebar.ejs
  kumascript/macros/MathMLElement.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/Non-standard_Header.ejs
  kumascript/macros/NonStandardBadge.ejs
  kumascript/macros/PreviousMenuNext.ejs
  kumascript/macros/ReadOnlyInline.ejs
  kumascript/macros/SVGAttr.ejs
  kumascript/macros/SVGRef.ejs
  kumascript/macros/SeeCompatTable.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebExtAllExamples.ejs
  kumascript/macros/WebExtExamples.ejs
  kumascript/macros/js_property_attributes.ejs
  kumascript/macros/no_tag_omission.ejs
  kumascript/macros/secureContext_header.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
  libs/constants/index.js
  libs/l10n/l10n.ts
  libs/types/core.ts
  ssr/render.tsx
Labels: macros, github-actions

#12086 chore(deps-dev): remove bfj
  package.json
  yarn.lock
Labels: dependencies

#12030 enhance(telemetry): measure BCD table views, link clicks, cell expansions
  client/src/document/ingredients/browser-compatibility-table/feature-row.tsx
  client/src/document/ingredients/browser-compatibility-table/index.tsx
  client/src/document/ingredients/browser-compatibility-table/utils.ts
  client/src/telemetry/constants.ts
Labels: metrics

#12115 feat(survey): homepage survey 2024
  .github/workflows/prod-build.yml
  client/src/homepage/homepage-hero/index.scss
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/molecules/document-survey/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

#12132 feat(survey): webdx editing survey
  .github/workflows/prod-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

#12146 chore(deps-dev): bump lint-staged from 13.2.3 to 15.2.10
  package.json
  yarn.lock
Labels: dependencies

#12131 fix(flaws): re-add href to broken links as data
  build/flaws/broken-links.ts
Labels: flaw-system

#12145 chore(deps): run yarn upgrade
  yarn.lock
Labels: dependencies

#12162 fix(playground): fix layout in chrome when all editors are collapsed
  client/src/playground/index.scss
Labels: plus:playground

#12136 feat(playground): playground backend v2
  client/public/runner.html
  client/src/document/hooks.ts
  client/src/playground/index.tsx
  client/src/playground/utils.ts
  cloud-function/src/app.ts
  cloud-function/src/handlers/proxy-content-assets.ts
  cloud-function/src/handlers/proxy-runner.ts
  cloud-function/src/headers.ts
  cloud-function/src/middlewares/resolve-runner-html.ts
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/macros/LiveSampleLink.ejs
  kumascript/tests/macros/EmbedLiveSample.test.ts
  libs/constants/index.js
  libs/play/index.d.ts
  libs/play/index.js
  libs/play/package-lock.json
  libs/play/package.json
  libs/play/tsconfig.json
  server/index.ts
  server/middlewares.ts
  server/search-index.ts
  testing/tests/index.test.ts
Labels: macros, cloud-function, plus:playground

#12168 feat(playground): support state param in playground
  client/src/playground/index.tsx
  client/src/playground/utils.ts
Labels: plus:playground

#12169 fix(livesamples): fix data attribute for path
  client/src/playground/utils.ts
Labels: plus:playground

#12170 fix(playground) use src for path
  client/src/playground/index.tsx
Labels: plus:playground

#12184 chore(scrimba): add end of year banners
  client/src/ui/organisms/placement/index.tsx
Labels: placement

#12193 chore(survey): keep hp survey one more week
  .github/workflows/prod-build.yml
Labels: github-actions

#12197 feat(placement): new gradient
  client/src/playground/index.scss
  client/src/playground/index.tsx
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong2.js
Labels: placement, plus:playground

#12198 chore(deps-dev): bump cross-spawn from 6.0.5 to 6.0.6
  cloud-function/package-lock.json
Labels: cloud-function

#12206 fix(stage-build): abort main merge on conflict
  .github/workflows/stage-build.yml
Labels: github-actions

#12207 chore(workflows): remove test-de build
  .github/workflows/test-de-build.yml
Labels: github-actions
