Repository mdn/yari, pull requests merged in 2024-06, with the labels that each got.

#11244 fix(macros/MDNSidebar): fix typo in Korean translation
  kumascript/macros/MDNSidebar.ejs
Labels: macros

#9655 chore(cloud-function): migrate `url.parse()` to `new URL()`
  cloud-function/src/handlers/proxy-bsa.ts
  cloud-function/src/handlers/proxy-kevel.ts
  cloud-function/src/middlewares/lowercase-pathname.ts
  cloud-function/src/middlewares/resolve-index-html.ts
  cloud-function/src/middlewares/resolve-runner-html.ts
Labels: cloud-function

#11228 chore(build): remove the redirection of legacy images that start with `/@api/deki/`
  build/check-images.ts
  build/utils.ts
  testing/integration/headless/test_cdn.py
Labels: python

#11155 chore(macros/AvailableInWorkers): add + fix Japanese translation
  kumascript/macros/AvailableInWorkers.ejs
Labels: macros

#11070 fix(css-syntax): link types with brackets + prefer main spec for at-rules
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Labels: macros

#11271 fix(cloud-function): use URL.pathname to resolve index.html only
  cloud-function/src/middlewares/resolve-index-html.ts
Labels: cloud-function

#11272 feat(surveys): add German locale survey
  client/src/ui/molecules/document-survey/surveys.ts
Labels: metrics

#11273 feat(telemetry): measure survey actions
  client/src/telemetry/constants.ts
  client/src/ui/molecules/document-survey/index.tsx
Labels: metrics

#11259 fix(macros/AccessibilitySidebar): list subpages via en-US
  kumascript/macros/AccessibilitySidebar.ejs
Labels: macros

#11302 feat(workflows): add test-de-build stub
  .github/workflows/test-de-build.yml
Labels: github-actions

#11292 fix(macros/EmbedLiveSample): move sandbox attr behind ending tag
  kumascript/macros/EmbedLiveSample.ejs
  kumascript/tests/macros/EmbedLiveSample.test.ts
Labels: macros

#11295 chore(macros/XsltRef) update zh-CN translation
  kumascript/macros/XsltRef.ejs
Labels: macros

#11309 feat(ppa): add origin trial token
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  cloud-function/src/env.ts
  cloud-function/src/headers.ts
Labels: github-actions, cloud-function

#11231 chore(macros/AddonSidebar*): update zh-CN translation
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
Labels: macros

#11314 chore(deps): bump braces from 3.0.2 to 3.0.3 in /cloud-function
  cloud-function/package-lock.json
Labels: cloud-function

#11151 feat(cloud-function): redirect non-canonical URLs
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  build/cli.ts
  build/sitemaps.ts
  build/spas.ts
  cloud-function/.gcloudignore
  cloud-function/.gitignore
  cloud-function/package.json
  cloud-function/src/app.ts
  cloud-function/src/build-canonicals.ts
  cloud-function/src/middlewares/redirect-non-canonicals.ts
  cloud-function/src/utils.ts
Labels: redirects, github-actions, cloud-function

#11236 chore(macros/HTTPSidebar): update Observatory links
  kumascript/macros/HTTPSidebar.ejs
Labels: macros

#11312 feat(workflows): add test-build workflow
  .github/workflows/test-build.yml
Labels: github-actions

#11323 chore(types): narrow string to Locale where possible
  build/blog.ts
  build/index.ts
  build/spas.ts
  content/document.ts
  content/redirect.ts
  libs/constants/index.d.ts
  libs/l10n/l10n.ts
  libs/types/curriculum.ts
  libs/types/document.ts
  markdown/m2h/cli.ts
  markdown/m2h/handlers/index.ts
  markdown/m2h/index.ts
Labels: markdown

#11315 chore(deps): bump @google-cloud/functions-framework from 3.1.3 to 3.4.0 in /cloud-function
  cloud-function/package-lock.json
  cloud-function/package.json
Labels: cloud-function

#11148 chore(redirects): remove retiredLocale parameter
  client/src/document/index.tsx
  client/src/document/molecules/retired-locale-note/index.tsx
  libs/fundamental-redirects/index.js
  testing/integration/headless/test_redirects.py
  testing/tests/headless.index.spec.ts
  testing/tests/redirects.test.ts
Labels: redirects, python

#11351 chore(macros/LearnSidebar): add Japanese translation for 4 locations
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11368 fix(package): run render:html on prepack
  .github/workflows/npm-published-simulation.yml
  package.json
Labels: github-actions

#11374 chore(test-build): enable placements
  .github/workflows/test-build.yml
Labels: github-actions

#11367 feat(pong): new design experiment
  client/src/app.scss
  client/src/blog/post.scss
  client/src/playground/index.scss
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
  libs/pong/pong2.js
  libs/pong/types.d.ts
Labels: placement, blog, plus:playground

#11382 fix(pong): no padding in mobile sidebar
  client/src/ui/organisms/placement/index.scss
Labels: placement
