Repository mdn/yari, pull requests merged in 2024-04, with the labels that each got.

#10806 fix(playground): rename reset to clear
  client/src/playground/index.tsx
Labels: plus:playground

#9319 enhance(dev-dashboard): reuse Paginator molecule in flaws and translation dashboards
  client/src/flaws/index.scss
  client/src/flaws/index.tsx
  client/src/translations/differences/index.scss
  client/src/translations/differences/index.tsx
  client/src/translations/missing/index.tsx
  client/src/ui/molecules/paginator/index.tsx
Labels: 🧑‍🤝‍🧑 community

#10843 chore(macros/AvailableInWorkers): add zh-CN translation
  kumascript/macros/AvailableInWorkers.ejs
Labels: macros

#9930 fix(sidebar): unify sections by declaring them with CSS classes
  client/src/document/organisms/sidebar/index.scss
  kumascript/macros/APIRef.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/GlossarySidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/LearnSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/PWASidebar.ejs
  kumascript/macros/SVGRef.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/macros/XsltSidebar.ejs
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  kumascript/tests/macros/apiref.test.ts
Labels: involves: UX, macros, sidebar/toc, layout, idle, refactor

#10860 fix(curriculum): fix typo on landing page.
  client/src/curriculum/landing.tsx
Labels: curriculum

#10866 fix(xyz): update xyz build
  .github/workflows/xyz-build.yml
Labels: github-actions, cloud-function

#10873 fix(cloud-function): use ts-node via NODE_OPTIONS
  cloud-function/package-lock.json
  cloud-function/package.json
Labels: cloud-function

#10912 feat(sidebar-filter): measure when user types in the filter
  client/src/document/organisms/sidebar/filter.tsx
  client/src/telemetry/constants.ts
Labels: metrics

#10925 enhance(ai-help): add model to issue reports
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10659 feat(macros): add Accessibility sidebar
  kumascript/macros/AccessibilitySidebar.ejs
Labels: macros

#10679 fix(macros/CSSRef): include level two functions
  kumascript/macros/CSSRef.ejs
Labels: macros

#10910 fix(interactive-examples): grant clipboard-write permission to iframe
  kumascript/macros/EmbedInteractiveExample.ejs
  kumascript/tests/macros/EmbedInteractiveExample.test.ts
Labels: macros

#10931 fix(stage-build): trigger next version of workflow on schedule
  .github/workflows/stage-build.yml
Labels: github-actions

#10932 fix(stage-build): provide GH_TOKEN + specify repo in trigger job
  .github/workflows/stage-build.yml
Labels: github-actions

#10812 enhance(macros/PreviousMenuNext): use the actual title of the document by default
  kumascript/macros/PreviousMenuNext.ejs
Labels: macros

#10948 chore(macros/AccessibilitySidebar): add zh-cn translation
  kumascript/macros/AccessibilitySidebar.ejs
Labels: macros

#10947 enhance(macros/CSSInfo): add "Animation type" link
  kumascript/macros/CSSInfo.ejs
Labels: dependencies, macros

#10973 fix(macros/APIRef): skip duplicate entries in Related pages
  kumascript/macros/APIRef.ejs
Labels: macros

#10935 fix(playground): disable Share/Clear buttons if empty
  client/src/playground/index.scss
  client/src/playground/index.tsx
Labels: plus:playground

#10983 enhance(telemetry): enable Glean automatic page load events
  client/src/telemetry/glean-context.tsx
Labels: metrics

#10985 enhance(telemetry): enable Glean automatic page load events
  client/src/telemetry/glean-context.tsx
Labels: metrics

#10885 feat(ssr): remove external files dependencies
  .env.testing
  .gitignore
  client/config/webpack.config.js
  client/public/index.html
  client/scripts/build.js
  client/scripts/postprocess-client-build.js
  client/scripts/start.js
  client/src/homepage/contributor-spotlight/index.tsx
  client/src/ui/atoms/avatar/index.tsx
  package.json
  ssr/.gitignore
  ssr/ga.ts
  ssr/include.d.ts
  ssr/index.ts
  ssr/mozilla.dnthelper.min.js
  ssr/prepare.ts
  ssr/render.ts
  ssr/webpack.config.js
  tool/cli.ts
Labels: dependencies

#10945 chore(macros/CSSRef): add color guides
  kumascript/macros/CSSRef.ejs
Labels: macros

#10984 chore(macros/GamesSidebar): add Russian translation
  kumascript/macros/GamesSidebar.ejs
Labels: macros

#10964 chore(macros/LearnSidebar): add Japanese translation for Cross browser testing, Git and GitHub, Server-side website programming, First steps, Django web framework (Python), Express Web Framework (Node.js/JavaScript)
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#8502 enhance(macros/JSRef): refactor + update inheritance data + separate instance/static methods/properties
  kumascript/macros/JSRef.ejs
Labels: macros, sidebar content

#10986 enhance(stage-build): always build from next + trigger from main
  .github/workflows/stage-build.yml
Labels: github-actions

#11014 refactor(macros): use smartLink() in sidebars
  kumascript/macros/AccessibilitySidebar.ejs
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/AddonSidebarMain.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/WebAssemblySidebar.ejs
  kumascript/tests/macros/WebAssemblySidebar.test.ts
  kumascript/tests/macros/addonsidebar.test.ts
  kumascript/tests/macros/firefoxsidebar.test.ts
  kumascript/tests/macros/gamessidebar.test.ts
Labels: macros

#11040 fix(macros/AccessibilitySidebar): remove deleted Annotations page
  kumascript/macros/AccessibilitySidebar.ejs
Labels: macros
