Repository mdn/yari, pull requests merged in 2024-01, with the labels that each got.

#10286 fix(pong): gcp sends gb cc rather than uk
  libs/pong/cc2ip.js
Labels: placement

#10303 fix(macro): update CSSRef macro
  kumascript/macros/CSSRef.ejs
Labels: macros

#10229 chore(macros/CSSRef): update zh-CN translation
  kumascript/macros/CSSRef.ejs
Labels: macros

#10343 fix(history): show outline on focus-visible
  client/src/plus/ai-help/history.scss
Labels: plus, plus:ai-help

#10366 fix(ai-help): example header highlighting
  client/src/document/code/playground.ts
  client/src/document/hooks.ts
  client/src/playground/queue/index.tsx
  client/src/plus/ai-help/index.tsx
  client/src/ui-context.tsx
Labels: plus, plus:playground, plus:ai-help

#10364 fix(plus): scroll to anchor hook
  client/src/app.scss
  client/src/hooks.ts
  client/src/plus/offer-overview/index.tsx
  client/src/settings/index.tsx
Labels: plus

#10225 fix(macros/CSSSyntax): cache parsed webref data
  kumascript/src/lib/css-syntax.ts
Labels: macros

#10344 fix(ai-help): don't allow empty questions
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10275 chore(macros/CSSSyntax): add zh-CN translation
  kumascript/src/lib/css-syntax.ts
Labels: macros

#10214 chore(macros/secureContext_inline): replace notecard with badge
  kumascript/macros/secureContext_inline.ejs
Labels: macros

#10231 chore(macros/GamesSidebar) init zh-CN translation of GamesSidebar
  kumascript/macros/GamesSidebar.ejs
Labels: macros

#10387 chore(workflows): use default runners
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
Labels: github-actions

#10329 feat(macro/MDNSidebar): rewrite macro + add missing pages
  kumascript/macros/MDNSidebar.ejs
  kumascript/tests/macros/mdnsidebar.test.ts
Labels: macros

#10386 chore(macros/CSSRef): add missing media query guide
  kumascript/macros/CSSRef.ejs
Labels: macros

#10330 feat(ai-help): index content as markdown
  markdown/h2m/index.ts
  markdown/index.ts
  package.json
  scripts/ai-help-macros.ts
  scripts/ai-help.sql
  yarn.lock
Labels: dependencies, markdown
