Repository mdn/yari, pull requests merged in 2024-05, with the labels that each got.

#9757 enhance(macros/APIRef): show badges on all links
  kumascript/macros/APIRef.ejs
  kumascript/tests/macros/apiref.test.ts
Labels: macros

#10996 enhance(l10n): localize "(en-US)" indicator
  build/flaws/broken-links.ts
  client/src/document/index.scss
  kumascript/src/api/web.ts
Labels: flaw-system, macros

#11011 enhance(l10n): localize en-US link title
  build/flaws/broken-links.ts
  kumascript/src/api/web.ts
  libs/l10n/l10n.ts
  libs/types/core.ts
  testing/tests/index.test.ts
Labels: flaw-system, macros

#11042 fix(macro): make smartLink() error message more informative
  kumascript/src/api/web.ts
Labels: macros

#11003 feat(css-syntax): render more constituents
  kumascript/src/lib/css-syntax.ts
  kumascript/tests/lib/__snapshots__/css-syntax.test.ts.snap
Labels: macros

#10168 feat(markdown): add support for GFM noteblocks proposal
  markdown/m2h/handlers/index.ts
Labels: involves: UX, markdown

#10934 feat(playground): add Reset button
  client/src/playground/index.tsx
Labels: plus:playground

#10828 fix(fonts): ensure italic looks like italic in Safari
  client/src/about/index.scss
  client/src/curriculum/index.scss
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/organisms/sidebar/index.scss
  client/src/homepage/contributor-spotlight/index.scss
  client/src/minimal-prism.scss
  client/src/plus/ai-help/landing.scss
  client/src/plus/collections/collection.scss
  client/src/plus/common/login-banner.scss
  client/src/plus/icon-card/index.scss
  client/src/plus/offer-overview/offer-overview-subscribe/index.scss
  client/src/plus/plus-docs/index.scss
  client/src/site-search/index.scss
  client/src/site-search/search-results.scss
  client/src/ui/base/_prism.scss
  client/src/ui/base/_reset.scss
  client/src/ui/molecules/quote/index.scss
  client/src/ui/molecules/search/index.scss
Labels: plus, plus:ai-help

#9981 fix(placement): adjust hover states for links
  client/src/ui/organisms/placement/index.scss
Labels: idle, placement

#10504 enhance(macros/EmbedYouTube): add optional title attribute
  kumascript/macros/EmbedYouTube.ejs
Labels: macros, idle

#11051 fix(curriculum): highlight "Getting started" in module overview
  client/src/curriculum/about.tsx
  client/src/curriculum/overview.tsx
Labels: curriculum

#11081 fix(macro): Fix two flaws in CSSRef.ejs
  kumascript/macros/CSSRef.ejs
Labels: macros

#11099 chore(webpack): simplify our webpack config
  client/config/modules.js
  client/config/paths.js
  client/config/webpack.config.js
  client/config/webpackDevServer.config.js
  client/package.json
  client/scripts/build.js
  client/scripts/start.js
  client/src/setupTests.js
  package.json
  yarn.lock
Labels: dependencies

#10858 feat(csp): allow shared assets
  libs/constants/index.js
Labels: idle

#11069 fix(telemetry): remove Glean migration flag
  client/src/telemetry/glean-context.tsx
Labels: metrics

#11082 fix(macros): fix URL issues in sidebar macros
  kumascript/macros/AddonSidebar.ejs
  kumascript/macros/FirefoxSidebar.ejs
  kumascript/macros/GamesSidebar.ejs
Labels: macros

#11123 chore(webpack): further simplify our config
  client/config/env.js
  client/config/getHttpsConfig.js
  client/config/jest/babelTransform.js
  client/config/paths.js
  client/config/webpack.config.js
  client/config/webpackDevServer.config.js
  client/scripts/build.js
  client/scripts/start.js
  client/src/react-app.d.ts
  package.json
  server/react-app.d.ts
  ssr/react-app.d.ts
  yarn.lock
Labels: dependencies

#10968 enhance(macros/AvailableInWorkers): add "only available in Web Workers" case
  kumascript/macros/AvailableInWorkers.ejs
Labels: macros

#11101 fix(css-syntax): explicitly order specs
  kumascript/src/lib/css-syntax.ts
Labels: macros

#11052 fix(l10n): improve style of en-US links
  client/src/document/index.scss
Labels: ux

#11152 chore(macros/LearnSidebar): add Japanese translation for Games section
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#11189 fix(i10n): localize deprecated header text in ko
  kumascript/macros/Deprecated_Header.ejs
Labels: macros

#11149 fix(seo): prevent contributors.txt from indexing and crawling
  client/src/document/organisms/article-footer/index.tsx
  cloud-function/src/headers.ts
  tool/build-robots-txt.ts
Labels: cloud-function

#11201 fix(filechecker): revert imagemin-svgo
  package.json
  yarn.lock
Labels: dependencies

#11065 feat(telemetry): measure user preferred languages
  client/src/telemetry/generated/element.ts
  client/src/telemetry/generated/navigator.ts
  client/src/telemetry/generated/page.ts
  client/src/telemetry/generated/pings.ts
  client/src/telemetry/glean-context.tsx
  client/src/telemetry/metrics.yaml
Labels: metrics

#11166 refactor(macros): use smartLink() in sidebars (cont'd)
  kumascript/macros/Firefox_for_developers.ejs
  kumascript/macros/HTMLSidebar.ejs
  kumascript/macros/HTTPSidebar.ejs
  kumascript/macros/JsSidebar.ejs
  kumascript/macros/MathMLRef.ejs
  kumascript/macros/SVGRef.ejs
  kumascript/macros/xref_csscomputed.ejs
  kumascript/macros/xref_cssinherited.ejs
  kumascript/macros/xref_cssinitial.ejs
  kumascript/tests/macros/HTTPSidebar.test.ts
Labels: macros

#11212 fix(pong): avoid duplicate "https:"
  libs/pong/pong2.js
Labels: placement

#11217 fix(seo): identify sponsored links
  client/src/ui/organisms/placement/index.tsx
Labels: placement

#11222 fix(cloud-function): skip next() on fundamental redirect
  cloud-function/src/middlewares/redirect-fundamental.ts
Labels: redirects, cloud-function

#11223 chore(fundamental-redirects): add more /docs/ prefix redirects
  libs/fundamental-redirects/index.js
  testing/tests/redirects.test.ts
Labels: redirects
