Repository mdn/yari, pull requests merged in 2024-08, with the labels that each got.

#11570 chore(survey): august 2024 web app survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

#9486 feat(cli): Fix recursive document deletion
  content/document.ts
  tool/cli.ts
Labels: idle

#11230 feat(cloud-function): migrate to @sentry/google-cloud-serverless
  cloud-function/package-lock.json
  cloud-function/package.json
  cloud-function/src/index.ts
Labels: cloud-function

#11586 chore(ai-help): replace GPT-3.5 Turbo with GPT-4o mini
  client/src/plus/ai-help/banners.tsx
  client/src/plus/ai-help/history.scss
  client/src/plus/ai-help/index.tsx
  client/src/plus/ai-help/landing.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  copy/plus/features/ai-help.md
Labels: plus, copy, plus:ai-help

#11615 chore(survey): extend august 2024 web app survey by a few days
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#11637 fix(build): use pipefail to fail builds
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#11664 Revert "chore(deps): bump cheerio from 1.0.0-rc.12 to 1.0.0"
  build/check-images.ts
  build/extract-sections.ts
  build/flaws/broken-links.ts
  build/flaws/pre-tags.ts
  build/flaws/unsafe-html.ts
  build/utils.ts
  client/scripts/postprocess-client-build.js
  kumascript/src/api/util.ts
  kumascript/src/info.ts
  kumascript/src/live-sample.ts
  kumascript/tests/macros/svginfo.test.ts
  package.json
  testing/tests/index.test.ts
  yarn.lock
Labels: dependencies, flaw-system, macros

#11699 feature(placement): changed top banner fallback to scrimba
  client/src/telemetry/constants.ts
  client/src/ui/organisms/placement/index.tsx
Labels: metrics, placement

#11700 fix(sidebars): change slugs for URI documents in HTTP sidebar
  kumascript/macros/HTTPSidebar.ejs
Labels: macros
