Repository mdn/yari, pull requests merged in 2024-03, with the labels that each got.

#10575 feat(ai-help): show canned answer without sources for off-topic questions
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10615 fix(ai-help): refetch quota after an ai error
  client/src/plus/ai-help/use-ai.ts
  client/src/plus/common/api.tsx
Labels: plus, plus:ai-help

#10502 chore(macros/DOMAttributeMethods): add ko locale
  kumascript/macros/DOMAttributeMethods.ejs
Labels: macros

#10634 fix(build/matches): remove unnecessary type imports
  build/matches.ts
  package.json
  yarn.lock
Labels: dependencies

#10624 fix(featured-articles): improve how Blog articles are shown
  build/spas.ts
  client/src/homepage/featured-articles/index.scss
Labels: homepage, blog

#10625 feat(article-footer): redesign footer + add feedback buttons
  client/src/assets/article-footer/article-footer.svg
  client/src/document/index.scss
  client/src/document/index.tsx
  client/src/document/ingredients/browser-compatibility-table/index.scss
  client/src/document/on-github.tsx
  client/src/document/organisms/article-footer/index.scss
  client/src/document/organisms/article-footer/index.tsx
  client/src/document/organisms/metadata/index.scss
  client/src/document/organisms/metadata/index.tsx
  client/src/plus/collections/collection.tsx
  client/src/telemetry/constants.ts
  client/src/ui/_vars.scss
  client/src/ui/atoms/limit-banner/index.scss
  testing/tests/headless.index.spec.ts
Labels: plus, metrics

#10652 fix(logo): set width to width of largest logo
  client/src/ui/atoms/logo/index.scss
Labels: ux

#10567 fix(types): pass types through memoize properly
  build/blog.ts
  build/curriculum.ts
  content/document.ts
  content/translations.ts
  content/utils.ts
  kumascript/index.ts
  libs/types/document.ts
Labels: macros

#10614 feat(latest-news): fetch metadata from Blog articles + update list
  build/spas.ts
Labels: homepage

#10654 fix(cloud-function): redirect blog/curriculum/play without locale
  cloud-function/src/middlewares/redirect-locale.ts
Labels: redirects, cloud-function

#10666 feat(blog): remove playground queue
  client/src/blog/post.tsx
Labels: blog

#10527 chore(telemetry): remove and migrate GA measurements to Glean
  client/src/document/index.tsx
  client/src/site-search/index.tsx
  client/src/site-search/search-results.tsx
  client/src/telemetry/constants.ts
  client/src/ui/molecules/a11y-nav/index.tsx
  client/src/ui/organisms/article-actions/language-menu/index.tsx
Labels: metrics

#10707 fix(telemetry): measure link/button clicks properly
  client/src/telemetry/glean-context.tsx
Labels: metrics

#10698 chore(telemetry): measure theme switcher clicks
  client/src/telemetry/constants.ts
  client/src/ui/molecules/theme-switcher/index.tsx
Labels: metrics

#9408 fix(flaws): don't report link to missing translation as broken if en-US fallback exists
  build/flaws/broken-links.ts
  testing/tests/index.test.ts
Labels: flaw-system, idle

#10632 fix(ai-help): show stopped message once + restore search animation
  client/src/plus/ai-help/index.scss
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10697 chore(macros/EmbedLiveSample): deprecate screenshot URL parameter
  kumascript/macros/EmbedLiveSample.ejs
Labels: macros

#10644 fix(search): remove "not" from stopwords
  deployer/src/deployer/search/models.py
Labels: python, 🔎 search, deployer

#10718 fix(cli): add popularities to "yarn start" script
  package.json
Labels: dx

#10129 fix(document): do not break the line of the metadata
  content/document.ts
Labels: idle

#10710 chore(macros/HTTPSidebar): improve Spanish locale
  kumascript/macros/HTTPSidebar.ejs
  kumascript/tests/macros/HTTPSidebar.test.ts
Labels: macros

#10687 feat(google-analytics): migrate to gtag.js with dual tagging
  .env.testing
  .github/workflows/dev-build.yml
  .github/workflows/performance.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/xyz-build.yml
  client/src/document/index.tsx
  client/src/ga-context.tsx
  client/src/site-search/index.tsx
  docs/envvars.md
  docs/google-analytics.md
  libs/constants/index.js
  libs/env/index.d.ts
  libs/env/index.js
  ssr/render.ts
  testing/tests/index.test.ts
  tool/cli.ts
Labels: github-actions

#10763 fix(curriculum): don't flag curriclum links
  build/flaws/broken-links.ts
Labels: flaw-system

#10773 fix(macros/LearnSidebar): update titles for consistency
  kumascript/macros/LearnSidebar.ejs
Labels: macros

#10019 chore(macros/LearnSidebar): add Japanese translation retake
  kumascript/macros/LearnSidebar.ejs
Labels: macros, idle, needs review from l10n teams

#10796 fix(ai-help): limit input to 25k characters
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10797 enhance(ai-help): improve off-topic response handling
  client/src/plus/ai-help/constants.tsx
  client/src/plus/ai-help/index.tsx
Labels: plus, plus:ai-help

#10003 chore(macros): remove deprecated bug/htmlattrdef/xref_cssvisual macros
  kumascript/macros/bug.ejs
  kumascript/macros/htmlattrdef.ejs
  kumascript/macros/xref_cssvisual.ejs
Labels: macros, idle

#10752 fix(playground): remove redundant vertical scroll bar
  client/src/playground/index.scss
Labels: plus:playground

#8766 fix(macros/cssxref): correct URL generation for data types and functions
  kumascript/macros/cssxref.ejs
  kumascript/tests/macros/cssxref.test.ts
Labels: macros

#9759 fix(contributor-spotlight): show PageNotFound on error
  client/src/contributor-spotlight/index.tsx
Labels: idle

#8241 fix(kumascript): add translations() to page info
  kumascript/macros/APIRef.ejs
  kumascript/macros/CSSRef.ejs
  kumascript/macros/DefaultAPISidebar.ejs
  kumascript/macros/JSRef.ejs
  kumascript/macros/ListSubpagesForSidebar.ejs
  kumascript/macros/WebExtAPISidebar.ejs
  kumascript/src/info.ts
  kumascript/tests/macros/DefaultAPISidebar.test.ts
  kumascript/tests/macros/apiref.test.ts
  kumascript/tests/macros/fixtures/apiref/subpages.json
  kumascript/tests/macros/utils.ts
Labels: macros

#8854 enhance(macros/cssxref): strip extra content from displayed link name
  kumascript/macros/cssxref.ejs
Labels: macros, idle

#10735 chore(macros/JsSidebar): update Russian locale
  kumascript/macros/JsSidebar.ejs
Labels: macros, sidebar content

#10029 feat(macros/AvailableInWorkers): support more distinct cases
  kumascript/macros/AvailableInWorkers.ejs
Labels: macros, involves: Content

#10315 enhance(breadcrumbs): show current and parent (not root) on mobile + add padding
  client/src/ui/molecules/breadcrumbs/index.scss
Labels: idle

#10810 chore(deps-dev): Remove unused tailwindcss dependency
  client/config/webpack.config.js
  package.json
  yarn.lock
Labels: dependencies
