Repository mdn/yari, pull requests merged in 2025-08, with the labels that each got.

#13355 chore(workflows): add nonprod cloud deploy actions
  .github/workflows/stage-cloud-deploy.yaml
  .github/workflows/test-cloud-deploy.yml
Labels: github-actions

#13360 fix(collections): prevent space-only collection names
  client/src/plus/collections/new-edit-collection-modal.tsx
Labels: plus

#13365 chore: update nonprod deploy scripts for fred
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  libs/constants/index.js
Labels: github-actions

#13375 chore(test-build): allow building other fred refs
  .github/workflows/test-build.yml
Labels: github-actions

#13369 chore: add prod-cloud-deploy workflow
  .github/workflows/prod-cloud-deploy.yml
Labels: github-actions

#13337 feat(cloudfunction): new formats support in cloud function
  libs/pong/pong.js
  libs/pong/pong2.js
  libs/pong/types.d.ts
Labels: placement

#13400 chore(build): copy fred service worker into correct place
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#13401 fix(plus): update staging/test base URLs for subscription platform
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#13399 ci(build): remove GA3 measurement id
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#13385 chore(build): set nonprod updates url
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: plus:offline, github-actions

#13398 feat(build): launch fred
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  cloud-function/src/handlers/proxy-content.ts
  libs/constants/index.js
  libs/pong/pong.js
  libs/pong/pong2.js
  libs/pong/types.d.ts
Labels: github-actions, placement, cloud-function
