Repository mdn/yari, pull requests merged in 2025-07, with the labels that each got.

#13238 ci(npm-published-simulation): use content node version
  .github/workflows/developing.yml
  .github/workflows/npm-published-simulation.yml
Labels: github-actions

#13240 fix(plus/offer-overview): fix typo on MDN Plus page
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
Labels: plus

#13255 fix(dotenv): set `quiet: true` everywhere
  bins/build.mjs
  bins/server.mjs
  bins/tool.mjs
  build/build-options.ts
  client/config/env.js
  cloud-function/src/build-canonicals.ts
  libs/env/index.js
  server/cli.ts
Labels: cloud-function

#13244 ci(build): avoid install in content
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#13257 chore(deps-dev): bump @types/node from 18.19.115 to 20.19.4
  package.json
  yarn.lock
Labels: dependencies

#13258 ci(build): increase GitHub API rate limit
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#13259 chore(lint): migrate to lefthook from lint-staged + husky
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lefthook.yml
  lint-staged.config.js
  package.json
  yarn.lock
Labels: dependencies

#13223 chore(deps)!: bump NodeJS from v20 to v22
  .github/workflows/prod-build.yml
  .github/workflows/review-deploy.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  .nvmrc
  package.json
  yarn.lock
Labels: dependencies, github-actions

#13286 ci(test-build): run daily like stage-build
  .github/workflows/test-build.yml
Labels: github-actions

#13314 chore(plus): remove deprecated offline from copy and feature list
  client/public/assets/afree.png
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  client/src/plus/plus-docs/index.tsx
Labels: plus
