Repository mdn/yari, pull requests merged in 2025-04, with the labels that each got.

#12839 feat(survey): add JavaScript proposals survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/ui/molecules/document-survey/surveys.tsx
Labels: github-actions

#12904 fix(survey): show JavaScript proposals survey only to 5%
  .github/workflows/prod-build.yml
Labels: github-actions

#12823 chore(compat): port BCD table view measurement
  client/src/lit/compat/compat-table.js
  client/src/lit/viewed-controller.js
Labels: browser-compat

#12913 fix(cloud-function): serve `favicon.icon` + `robots.txt`
  .github/workflows/prod-build.yml
  .github/workflows/review-deploy.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  cloud-function/package-lock.json
  cloud-function/package.json
Labels: github-actions, cloud-function

#12953 chore(deps): bump dependencies in /cloud-function
  cloud-function/package-lock.json
  cloud-function/package.json
Labels: cloud-function
