Repository mdn/yari, pull requests merged in 2025-03, with the labels that each got.

#12689 fix(deps): replace watify with @mdn/watify
  client/src/lit/play/runner.js
  package.json
  yarn.lock
Labels: dependencies

#12711 chore(play): allow new review host
  cloud-function/README.md
  libs/play/index.js
Labels: cloud-function

#12723 fix(cloud-function): run with non default service account
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#12729 ci: simplify cron expression
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#12730 fix(cloud-function): improve 404 fallback handling
  cloud-function/src/handlers/proxy-content.ts
Labels: cloud-function

#12742 fix(cloud-function): override Cache-Control for Review environment
  cloud-function/src/headers.ts
Labels: cloud-function

#12766 chore(pong): update cc2ip
  libs/pong/cc2ip.d.ts
  libs/pong/cc2ip.js
  libs/pong/validate-cc2ip.js
Labels: placement

#12787 ci(dev-build): grant permission to comment PR
  .github/workflows/dev-build.yml
Labels: github-actions

#12811 fix(lit): polyfill Constructable Stylesheet Objects
  client/src/app.tsx
  package.json
  yarn.lock
Labels: dependencies

#12831 chore(deps): bump @mdn/browser-compat-data from 5.7.6 to 6.0.0
  package.json
  yarn.lock
Labels: dependencies
