Repository mdn/yari, pull requests merged in 2025-01, with the labels that each got.

#12385 chore(placement): update Scrimba banner
  client/src/ui/organisms/placement/index.tsx
Labels: placement

#12351 fix(ci): use legacy for whatsdeployed
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
Labels: github-actions

#12402 House survey
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/homepage/homepage-hero/index.tsx
  client/src/ui/molecules/document-survey/surveys.ts
Labels: github-actions

#12412 chore(deps): bump elasticsearch from 7.17.9 to 7.17.12 in /deployer
  deployer/poetry.lock
Labels: dependencies, deployer

#12411 fix(deployer): stream bulk actions to avoid rate limit
  deployer/src/deployer/search/__init__.py
Labels: python, deployer

#12422 fix(npm-package): use build:legacy:prepare
  .github/workflows/npm-publish.yml
Labels: github-actions

#12436 chore(survey): keep house survey a bit longer
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Labels: github-actions

#12432 chore(test-build): support specificying rari and content branch
  .github/workflows/test-build.yml
Labels: github-actions

#12467 fix(playground): separate "Legacy css" prologue from included variable
  libs/play/index.js
Labels: plus:playground

#12508 fix(blog): avoid overflow + double padding
  client/src/blog/post.scss
Labels: blog

#12510 chore(deps-dev): remove react-is
  package.json
  yarn.lock
Labels: dependencies

#12525 chore(deps): bump path-to-regex from 0.1.10 to 0.1.12 in /cloud-function
  cloud-function/package-lock.json
Labels: cloud-function

#12107 chore(ui): Update firefox.svg and simple-firefox.svg to use browser logo
  client/src/assets/icons/firefox.svg
  client/src/assets/icons/simple-firefox.svg
Labels: idle

#12499 feat(newletter): deprecate newsletter
  client/src/blog/index.tsx
  client/src/blog/post.tsx
  client/src/newsletter/index.tsx
  client/src/settings/newsletter.tsx
Labels: blog

#12516 chore(deployer): migrate to dependency groups
  .github/workflows/pr-deployer.yml
  deployer/README.md
  deployer/poetry.lock
  deployer/pyproject.toml
Labels: dependencies, deployer, github-actions
