Repository mdn/yari, pull requests merged in 2025-02, with the labels that each got.

#12429 fix(deployer): avoid GitHub mentions
  deployer/src/deployer/analyze_pr.py
Labels: python, deployer

#12104 chore(placements): consolidate placement's ad overlay design
  client/src/ui/organisms/placement/index.scss
  client/src/ui/organisms/placement/index.tsx
Labels: placement

#12495 chore(workflows/build): use static robots.txt
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  .github/workflows/test-build.yml
  assets/nonprod/robots.txt
  assets/prod/robots.txt
  package.json
  testing/tests/index.test.ts
  tool/build-robots-txt.ts
  tool/cli.ts
Labels: github-actions

#12647 enhance(libs/play): allow runner embedded on review pages
  cloud-function/README.md
  libs/play/index.js
Labels: cloud-function

#12563 chore(deps): bump dependencies in /cloud-function
  cloud-function/package-lock.json
Labels: cloud-function

#12653 fix(playground): remove duplicate editor scrollbar
  client/src/playground/index.scss
Labels: plus:playground

#12654 feature(interactive-examples): add support for WAT examples
  client/src/lit/interactive-example/index.js
  client/src/lit/interactive-example/index.scss
  client/src/lit/play/editor.js
  client/src/lit/play/runner.js
  libs/play/index.js
  libs/watify/.gitignore
  libs/watify/Cargo.lock
  libs/watify/Cargo.toml
  libs/watify/LICENSE
  libs/watify/README.md
  libs/watify/index.html
  libs/watify/pkg/LICENSE
  libs/watify/pkg/README.md
  libs/watify/pkg/package.json
  libs/watify/pkg/watify.d.ts
  libs/watify/pkg/watify.js
  libs/watify/pkg/watify_bg.js
  libs/watify/pkg/watify_bg.wasm
  libs/watify/pkg/watify_bg.wasm.d.ts
  libs/watify/src/lib.rs
  package.json
  yarn.lock
Labels: dependencies

#12678 fix(deps): use the published watify package
  libs/watify/.gitignore
  libs/watify/Cargo.lock
  libs/watify/Cargo.toml
  libs/watify/LICENSE
  libs/watify/README.md
  libs/watify/index.html
  libs/watify/pkg/LICENSE
  libs/watify/pkg/README.md
  libs/watify/pkg/package.json
  libs/watify/pkg/watify.d.ts
  libs/watify/pkg/watify.js
  libs/watify/pkg/watify_bg.js
  libs/watify/pkg/watify_bg.wasm
  libs/watify/pkg/watify_bg.wasm.d.ts
  libs/watify/src/lib.rs
  package.json
  yarn.lock
Labels: dependencies
