Repository mdn/yari, pull requests merged in 2025-06, with the labels that each got.

#13133 feat(npm): modify package for use in fred
  .npmignore
  package.json
  yarn.lock
Labels: dependencies

#13142 fix: various fixes when using yari in fred
  client/src/env.ts
  client/src/plus/collections/collection.tsx
  client/src/plus/offer-overview/offer-overview-feature/index.tsx
  client/src/settings/index.tsx
Labels: plus

#13168 enhance(deps): require exact rari version
  package.json
  yarn.lock
Labels: dependencies

#13164 fix(plus): remove PR from plans
  cloud-function/src/stripe-plans/prod.ts
  cloud-function/src/stripe-plans/stage.ts
Labels: cloud-function

#13199 chore(plus): upgrade to SubPlat 3.0
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
  client/src/env.ts
  client/src/plus/offer-overview/offer-overview-subscribe/index.tsx
  docs/envvars.md
Labels: plus, github-actions

#13225 chore(deps): replace got with fetch
  build/flaws/index.ts
  build/spas.ts
  build/utils.ts
  kumascript/src/api/mdn.ts
  package.json
  testing/tests/developing.spec.ts
  testing/tests/redirects.test.ts
  tool/popularities.ts
  yarn.lock
Labels: dependencies, flaw-system, macros
